[2019-02-25 15:19] clevertension commented on #16023
in my opinion,  we can have a notation that `spring.profiles.include` is a special property that it will merge instead of overwrite the values in property source or config files, and then it will load all the profile-specific config files as `application-{values}` with YAML or properties

[2019-02-25 15:23] clevertension commented on #16023
in `org.springframework.core.env.AbstractEnvironment`, we can see both `spring.profiles.active` and `spring.profiles.default`  to get property value,  but in the spring boot `org.springframework.boot.context.config.ConfigFileApplicationListener`, it only handle the  `spring.profiles.active`, so i think we should load config file with `spring.profiles.default` in spring boot

[2019-02-25 15:59] wilkinsona commented on #15675
Thanks for the report and for the sample. This appears to be a bug in `MongoReactiveAutoConfiguration`. We use Mongo client's `NettyStreamFactoryFactory` but do not customise its `EventLoopGroup`. The javadoc of the `eventLoopGroup` method on its `Builder` states the following:

[2019-02-25 16:23] revkov commented on #15810
Why closed? Now  in 2.1.3.RELEASE
"C:\Program Files\Java\jdk-11.0.2\bin\java.exe" --module-path target/springmodule-1.0.0.jar --module swaechter.springmodule/ch.swaechter.springmodule.SpringModule
Error occurred during initialization of boot layer
java.lang.module.FindException: Error reading module: target\springmodule-1.0.0.jar
Caused by: java.lang.module.InvalidModuleDescriptorException: Packag

[2019-02-25 16:45] ljacomet commented on #16001
Same surprise, assumptions on the reasons and ignorance here 😉

[2019-02-25 17:27] wilkinsona commented on #15810
The issue was closed as a fix has been committed. The fix was to stop moving `module-info.class` into `BOOT-INF/classes` during fat jar creation.

2.1.2 did not work fine as shown by the example @swaechter posted above. With 2.1.2, `--describe-module` did not find the module info and derived an automatic module instead. With 2.1.3, `--describe-module` now finds the descriptor and describes the mod

[2019-02-25 19:11] btravers opened #16029 "JSR-380 Collection validation returns an internal error"
Spring boot version: 2.1.3.RELEASE

I would like to validate the payload which is a `Collection<E>`. That kind of validation is not supported by the JSR-303 but the JSR-380 does.

After some research, I found this issue https://github.com/spring-projects/spring-framework/issues/18061. So I suppose Spring supports the JSR-380.

I implement it in my application but the application returns a 500 inte

[2019-02-25 19:35] philwebb opened #16030 "Add default no-op method implementations to SpringApplicationRunListener"
See https://github.com/reactor/BlockHound/pull/8#discussion_r259947085

[2019-02-25 19:55] revkov opened #16031 "Java 11. Spring boot 2.1.3 package not found when run as module"
I use windows 10, Oracle JDK-11.0.2, Maven 3.6, Spring-boot 2.1.3.RELEASE
Hello. After #15810 fix module-info.class now place in root folder in fat-jar, but is broken jar running process. Before module-info.class was in /BOOT-INF/classes folder and jar was as automatic-module with name of jar. But now fat-jar is a normal module, but folder structure is not valid, and packages not found by JVM when

[2019-02-25 19:57] mbhave commented on #16023
Yeah, this is what I tried to describe above. I think I prefer this option to 1 because that's how I've seen quite a few people use `spring.profiles.include`. See #13299 and [some of our tests](https://github.com/spring-projects/spring-boot/blob/c44a1e129dc4985d6a72d4da085534435544c99f/spring-boot-project/spring-boot/src/test/java/org/springframework/boot/context/config/ConfigFileApplicationListen

[2019-02-25 21:16] wilkinsona commented on #16031
If you want your application to be an automatic module you should not have a module-info.class file. It was not causing a problem in the past as repackaging was incorrectly moving it to a location where it could not be found. That’s been fixed in 2.1.3. Deleting your module-info.java file should restore the behaviour you had with 2.1.2.

[2019-02-25 21:16] #16031 closed

[2019-02-25 21:17] xak2000 opened #16032 "Database migrations may not have run before NamedParameterJdbcTemplate is used"
This is a variation of already fixed issue with `JdbcTemplate` #13155. But this is for `NamedParameterJdbcTemplate`.

The fix (4881925) doesn't take into account another kind of `JdbcTemplate` - `NamedParameterJdbcTemplate`, which implements `NamedParameterJdbcOperations` (and doesn't implement `JdbcOperations`).

So, if an application doesn't create `JdbcTemplate` bean but only creates `NamedPara

[2019-02-25 22:15] mbhave opened #16033 "Clarify documentation related to Spring Security's content-negotiation"
This line in the docs can seem a bit ambiguous `Form-based login or HTTP Basic security (depending on Content-Type)`. We should clarify what `depending on Content-Type` means.

[2019-02-25 22:24] mbhave commented on #15996
Closing in favor of PR #16013.

[2019-02-25 22:24] #15996 closed

[2019-02-25 23:37] mbhave commented on #15456
Actually, it doesn't look like there's a way to skip test execution if Docker isn't available without using `TestRule`.

@bsideup any pointers on how we'd achieve that with the JUnit5 `@Container`?

[2019-02-26 03:47] axiopisty commented on #9923
Did you question ever get resolved @hoon720823? If you created a stack overflow question for this, will you link to it here?

[2019-02-26 06:11] revkov commented on #16031
@wilkinsona I don't want what my application will be a automatic module. I want a normal Java 11 spring boot application with module-info.class. How I can do that without removing module-info.class? If I remove module-info.class this is not correct Java 11 module. Please reopen and fix this. Or spring boot doesn't support this?

[2019-02-26 06:21] revkov commented on #16031
It turns out that now modules which build with spring-boot are fully invalid and uselesses because has wrong structure and can't be running correctly or use as required for other modules. Maybe this is bug?

[2019-02-26 06:56] thorntonrp commented on #16031
A Spring Boot jar is designed to package an application, not a module. It was never intended for use as a dependency that exports packages to other modules. As it is not a library or module jar, there is little, if anything, to be gained by having a module-info.java in the project.

[2019-02-26 06:58] wtjperi2003 opened #16034 "a request to empty css file return 404"
there is a css file whick is empty(no code) in the resources/static repository, and a request to this file, server will return 404. how can I let it return 200?

[2019-02-26 07:01] wilkinsona commented on #16031
That’s what you had with 2.1.2. The `module-info.class` was moved to `BOOT-INF/classes` which effectively removed it and turned your jar into an automatic module.

I don’t think there is anything more for us to fix. In 2.1.2 and earlier we moved the `module-info.class` file, effectively removing it. This made it impossible for a fat jar to be a module. In 2.1.3 it is now possible for a fat jar to

[2019-02-26 07:08] amcghie opened #16035 "Expose properties to enable conditional logging for Tomcat Access Logs"
The Tomcat `AccessLogValve` supports conditional logging via two properties:
* `conditionIf`
* `conditionUnless`

Unfortunately these are not yet supported via the `ServerProperties.Tomcat.AccessLog` configuration class.

[2019-02-26 07:14] wilkinsona commented on #16034
This is by design in Spring Framework. A resource with a content length of 0 is not considered to be readable. Please see https://github.com/spring-projects/spring-framework/issues/21372 for some background information. If you would like to pursue this and would like the current behaviour to be reconsidered, please open a Spring Framework issue as the behaviour is out of Spring Boot’s control. Bef

[2019-02-26 07:14] #16034 closed

[2019-02-26 07:22] revkov commented on #16031
@wilkinsona OK something understand. Will try. Thank you

[2019-02-26 08:28] revkov commented on #16031
@wilkinsona

But now (in 2.1.3) it's not possible for a fat jar to be a module, because he has wrong structure and java doesn't recognize it. Try my application. I think you don't need move module-info.class to root folder because you got wrong java module + invalid fat spring-boot jar (not working). Maybe you need remove module-info.class at all on repackage ?

[2019-02-26 08:49] snicoll opened #16036 "Restructure configuration metadata generator"
The annotation processor that we use to generate configuration metadata has evolved quite a lot and we're about to add more features with the support of immutable properties.

To prepare that work, it would nice to build a proper abstraction for property descriptor so that each contributor can be isolated and tested.

[2019-02-26 08:52] wilkinsona commented on #16031
As a I tried to explain above, there’s little point in trying to make a Spring Boot fat jar be a module. If you still wish to do so, you’ll need to ensure that you provide module info that is compatible with a fat jar’s structure. That will require you to only reference Boot’s launcher and then rely on it to create a ClassLoader that can load classes from `BOOT-INF/classes` and from the jars in `B

[2019-02-26 09:01] clevertension commented on #16032
@snicoll are you working to fix this bug? if not, i can provide a PR ASAP

[2019-02-26 09:03] snicoll commented on #16032
Thanks for the offer. Please proceed and I am happy to review your contribution.

[2019-02-26 09:11] #16036 closed

[2019-02-26 09:42] wilkinsona commented on #16035
Thus far, we've taken an incremental approach to configuring Tomcat's AccessLogValve. I think it would be good to use this issue to review the properties that we have, the properties that the valve offers, and decide which of them we want to support.

We currently have the following properties:

- `server.tomcat.accesslog.buffered`
- `server.tomcat.accesslog.directory`
- `server.tomcat.accesslog.e

[2019-02-26 09:58] amcghie commented on #16035
I've got a PR ready to submit with the two properties `conditionIf` and `conditonUnless` I'm happy to include the other properties if you would like. Let me know.

Cheers

[2019-02-26 10:02] revkov commented on #16031
I don't want what fat-jar be a module, i want what this is run correctly. if in documentation says what spring-boot jar is not a dependency, then it is not a module. I suggest remove module-info.class at all on repackage cycle. if i manually delete module-info.class from my project it works correctly, but received jar is not a java module (it's standalone unique spring-boot fat jar, we are undesta

[2019-02-26 10:06] wilkinsona commented on #16031
If you don't want it to be a module, why do you have a `module-info.java` file?

That would make it impossible for @swaechter to do what they were trying to do. You can achieve the same result by removing `module-info.java` and it won't cause problems for anyone else.

[2019-02-26 10:13] wilkinsona commented on #16035
Thanks for the offer. I've added the team attention label so that we can discuss which properties we want to expose. I'm leaning towards all of them other than `condition`.

[2019-02-26 10:14] wilkinsona commented on #16030
I've changed this to an enhancement as the proposed change will allow users who've implemented `SpringApplicationRunListener` to delete some code.

[2019-02-26 10:24] wilkinsona commented on #16029
I think the distinction between JSR-303 and JSR-380 is a red herring. The same behaviour is exhibited when consuming a `String` and validating that it is not empty:

[code]

[code]

[code]

In both cases the exception that is thrown is the following:

[code]

As far as I can tell this is a duplicate of https://github.com/spring-projects/spring-boot/issues/10471.

[2019-02-26 10:24] #16029 closed

[2019-02-26 10:26] wilkinsona commented on #15457
This has been fixed by the switch to the auto-generated tables (
https://github.com/spring-projects/spring-boot/issues/8237).

[2019-02-26 10:26] #15457 closed

[2019-02-26 10:39] wilkinsona commented on #15677
Thus far, we've taken an incremental approach to exposing configuration properties for Jetty's access log. I think it would be good to use this issue to review the configuration properties that we have, the additional properties that `NCSARequestLog` has, and decide which ones we want to expose.

We currently have the following properties:

- `server.jetty.accesslog.append`
- `server.jetty.accessl

[2019-02-26 10:49] wilkinsona commented on #15384
The metrics are Jersey-specific and rely on the API provided by `ResourceConfig` to register the `org.glassfish.jersey.server.monitoring.ApplicationEventListener` that, in turn, allows Micrometer's `MetricsRequestEventListener` to record timings for Jersey server requests. Without any `ResourceConfig` beans there is no way for us to hook in Micrometer's metrics.

Why are you exposing them as `java

[2019-02-26 10:55] revkov commented on #16031
They custom jre will not worked anyway, because module is corrupted! Try youself.

`/usr/lib/jvm/jdk-12/bin/jlink --no-header-files --no-man-pages --compress=2 --module-path target/springmodule-1.0.0.jar --add-modules springmodule --launcher launch=springmodule/ch.swaechter.springmodule.SpringModule --output custom_jre`:

Error: Error reading module: target\springmodule-1.0.0.jar !

[2019-02-26 11:05] wilkinsona commented on #16031
This isn't going anywhere.

That command is incorrect. When you've built a fat jar and are trying to use it as a module, you can't launch its main class directly. As I said [above](https://github.com/spring-projects/spring-boot/issues/16031#issuecomment-467351730), you need to launch it using the `JarLauncher` and that may not even be possible given the current capabilities of the module system.

[2019-02-26 11:20] revkov commented on #16031
Because I want write a correct Java modules code. Modules can be execute as standalone application how a default jar.
java - jar spring-boot.jar - old way
java - p spring-boot.jar - m mymodule - new way

Spring boot now does not support second way if I has a correct Java module. I think what #15810 solves nothing. All cases in this task never been running. It's fix only break fat jar and made it c

[2019-02-26 11:26] axtavt opened #16038 "Unexpected constructor-based initialization of @ConfigurationProperties leads to inconsistent behavior"
Consider the following test case:

[code]

`BindingTest.properties`:

[code]

I expected `fooProperties.bar` to be populated, or, at least, `@NotNull` validation error to be thrown.

However, in presence of single argument constructor (1) and conflicting property (2) (it may be, for example, a totally unrelated system environment variable), I got the following:
 * `fooProperties.bar` is `null`
 *

[2019-02-26 12:16] wilkinsona commented on #16031
We're still going round in circles.

Writing a module for the sake of writing a module doesn't make sense to me as there is no benefit to running a Spring Boot fat jar as a module. If that's your goal then, unfortunately, I can't justify spending any more time trying to help you. With 2.1.2 you were running your application as an automatic module. You can achieve exactly the same end result by rem

[2019-02-26 12:29] revkov commented on #16031
Ok. Thank you.

[2019-02-26 12:37] wilkinsona commented on #16038
Thanks for the test case. For our future reference, here's a slightly modified version that is standalone and doesn't rely on Lombok:

[code]

A few comments about the example:

It's unusual for a `@ConfigurationProperties` to have a constructor. They're generally expected to be JavaBeans with a default constructor and getters and setters. What purpose is the constructor serving?

Having both `foo

[2019-02-26 12:51] wilkinsona commented on #15875
Allowing an unbounded number of log files to be written doesn't seem like a particularly good default to me, so I agree we should take a look at changing it. We may also want to consider adding `<totalSizeCap>` as well. I don't think we should change things in a maintenance release, but I think it would be reasonable to make a change in 2.2.x. We just need to decide what that change should be.

[2019-02-26 12:53] wilkinsona commented on #15672
I think an attribute for configuring `loadOnStartup` makes sense and a PR would be most welcome. Thanks.

[2019-02-26 13:00] wilkinsona commented on #15972
Thanks for the suggestion. There's a tiny (but non-zero) chance that trimming may break someone's application. As such, I don't think we should start trimming the context path in a maintenance release, but could do so in 2.2 with an appropriate entry in the release notes.

[2019-02-26 13:09] wilkinsona commented on #15986
Closing in favour of #16018.

[2019-02-26 13:09] #15986 closed

[2019-02-26 13:40] wilkinsona commented on #15382
We could add something [here](https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/reference/htmlsingle/#using-boot-devtools).

[2019-02-26 13:58] wilkinsona commented on #15630
I don't think that things would necessarily contradict. We could create and set a `ClusterClientOptions` based on various properties before calling the customisers. They could then further tune things as they do today.

Looking at `ClusterClientOptions` and `ClusterTopologyRefreshOptions`, we could add a lot of properties here, and, if we went down that route, I wonder if a user-provided `LettuceC

[2019-02-26 14:06] wilkinsona opened #16040 "AprLifecycleListener is configured even though Tomcat's native library is not available"
When an app using Tomcat starts up, due to the presence of the `AprLifecycleListener`, it logs the following info message:

[code]

I think, and it's only an educated guess, that this is causing some confusion and leading people to believe that Tomcat isn't going to perform well in production. The listener was added in https://github.com/spring-projects/spring-boot/commit/5f57578b714576f68589fbfc7

[2019-02-26 14:11] rhamedy commented on #15672
@wilkinsona if not already taken can I work on this issue?

[2019-02-26 14:36] mp911de commented on #15630
FTR: `LettuceClientConfigurationBuilderCustomizer` is already in place.

Not exactly. From the reported requests, each deployment uses different configuration settings. From a configuration perspective and how refresh is used, the most common options are:

* not enable topology refresh at all (that's what happens today)
* enable a light-weight refresh version (`ClusterTopologyRefreshOptions.builde

[2019-02-26 14:57] btravers commented on #16029
OK, you are right, thanks for your time.

[2019-02-26 15:40] wilkinsona commented on #15630
Thank you, @mp911de. So, how about the following properties:

- `spring.redis.cluster.refresh.period` (`Duration`)
- `spring.redis.cluster.refresh.all-adaptive-triggers` (`boolean`)

We would only create and set a `ClusterClientOptions` with a custom `ClusterTopologyRefreshOptions` if  `all-adaptive-triggers` is `true` or `period` in not `null`.

Why would this require another property to be set?

[2019-02-26 15:42] wilkinsona commented on #15672
Thank you for the offer. I'd like to give @juliojgd them a little while to prepare something if they're still interested in doing so. Let's give them a week or so and see where we are.

[2019-02-26 16:08] wilkinsona commented on #16040
I think we could create an instance, call `AprLifecycleListener.isAvailable()` (it's a static method but creating the instance has a side-effect that affects the result of `isAvailable()`) and then only add the listener if the result is `true`.

[2019-02-26 16:12] mp911de commented on #15630
Let's rename the second property to `spring.redis.cluster.refresh.adaptive` as this makes a good story for adaptive and periodic refresh.

You're right, maybe it's better to just rely on a single property.

[2019-02-26 16:18] stevechk opened #16041 "jetty doesnt start with 2.0.6.RELEASE or later"
I have a spring boot application which works fine with jetty with 2.0.5.RELEASE, but not 2.0.6.RELEASE:

Relevant gradle configuration is:
[code]

Jetty starts up fine after boot, which you can see in the log file e.g.
[code]

however after updating to 2.0.6.RELEASE, jetty doesnt start. You also get a reference to `GenericWebApplicationContext` instead of `AnnotationConfigServletWebServerApplicati

[2019-02-26 16:28] wilkinsona commented on #16041
No, 2.0.6 should work exactly as 2.0.5 does in this regard. We see this sort of problem quite often with Maven when it has corrupted a jar file during download which makes it appear as if a dependency is not on the classpath. AFAIK, Gradle does not suffer from the same problem although I am not 100% sure that is the case. There are two things worth trying:

1. Delete Gradle's cache and rebuild you

[2019-02-26 16:59] gwcary commented on #13493
A local user was starting a Spring Boot 1.5.19 app with -javaagent:\\rdcx200\EDM\tpj\aspectjweaver.jar and getting the IllegalArgumentException. This appears to be a change from earlier versions of Spring Boot.

[2019-02-26 17:28] wilkinsona commented on #13493
@gwcary I can't see the connection between your comment and this issue. The change made in this issue was only made in 2.0.4 and later. If you believe you've seen a change between 1.5.19 and an earlier version, I don't think it's related to this issue. If you would like us to investigate, please open a new issue with a minimal sample that reproduces the problem.

[2019-02-26 17:44] ddcruver opened #16042 "Support for Spring Boot DevTools YAML Configuration"
DevTools should support DevTools overrides formatted with yaml.

So in addition to reading in .spring-boot-devtools.properties it should also read in
_.spring-boot-devtools.yaml_.  It could also read _.spring-boot-devtools.yml_ but when both are provided then an order would need to be determined.

See [DevToolsHomePropertiesPostProcessor](https://github.com/spring-projects/spring-boot/blob/master/

[2019-02-26 20:19] bsideup commented on #15456
Hi @mbhave,

`@Container` works by detecting `Startable` interface:
https://github.com/testcontainers/testcontainers-java/blob/c58a6f10670a43c31f50586502a0722a449ad2e6/modules/junit-jupiter/src/main/java/org/testcontainers/junit/jupiter/TestcontainersExtension.java#L95

You can migrate your custom rule to this annotation and it should work the same as it was with JUnit 4 I guess

[2019-02-26 22:23] garyrussell opened #16043 "The recent upgrade to Httpclient 4.5.7 broke URLs with encoded forward slashes (%2F)."
This upgrade breaks any apps using a URL with an encoded `/`.

This is the most common virtual host for RabbitMQ.

`http://localhost:15672/api/queues/%2F/foo` becomes `GET /api/queues/foo HTTP/1.1`

The issue is [fixed in 4.5.8](https://issues.apache.org/jira/browse/HTTPCLIENT-1968) which is not yet released.

Consider dropping back to 4.5.6 until 4.5.8 is available.

[2019-02-26 22:40] wilkinsona commented on #16043
How did you become aware of the problem, @garyrussell?

4.5.7 contains [10 changes, 5 of them major](https://issues.apache.org/jira/projects/HTTPCLIENT/versions/12343595). I’m not sure that we should drop back to 4.5.6 and cause people to miss out on those changes just to avoid this problem. It’s a tough call to make.

[2019-02-26 23:37] garyrussell commented on #16043
@wilkinsona I found it because some tests in `spring-cloud-stream-binder-kafka` started failing, where we use the RabbitMQ `http-client` (which uses `RestTemplate`) to check some provisioning activity.

I have worked around it by adding the 4.5.6 version (in test scope) to the rabbit binder, so I think it's ok to close this.

I just wanted to bring it to your attention.

[2019-02-27 03:53] luiz290788 opened #16044 "NullPointerException with empty X-Forwarded-For header."
spring-boot: 2.1.3
spring-boot-actuator: 2.1.3

A NullPointerException is thrown in [line 49](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator/src/main/java/org/springframework/boot/actuate/web/trace/reactive/ServerWebExchangeTraceableRequest.java#L49) of [ServerWebExchangeTraceableRequest](https://github.com/spring-projects/spring-boot/blob/maste

[2019-02-27 05:03] ketsorbit opened #16045 "ServletWebRequest getHeaderValues throwing Null Pointer when header is null"
in ServletWebRequest class -> getHeaderValues() method:

getRequest().getHeaders(headerName) may return null .. and so, StringUtils.tostringArray() throws Null Pointer Exception.

[2019-02-27 06:38] vprudnikov commented on #13077
Any results on this? I followed all the related issues and all of them are closed so this is probably the one which is opened.

Anyway I would like to add some details that can be helpful:

I found out that first, LogbackMetrics registers a logback filter which should work fine:

[code]

But then, LoggingApplicationListener receives a ApplicationEnvironmentPreparedEvent and re-initializes logging

[2019-02-27 06:45] wilkinsona commented on #16045
Can you please share the stack trace of the exception? `ServletWebRequest` is part of Spring Framework so the problem may need to be fixed there rather than in Spring Boot.

[2019-02-27 07:30] shaileshoptimizeq commented on #13796
<packaging>jar</packaging>
<packaging>war</packaging>
choose any of the above if you don't have any sub module in project.

[2019-02-27 10:15] juliojgd commented on #15672
Still interested. Working on it.

[2019-02-27 10:38] snicoll commented on #15397
Unfortunately there's not much we can do at the moment, please vote for [KT-30164](https://youtrack.jetbrains.net/issue/KT-30164). In the meantime, we could attempt to detect that the source model is a Kotlin class and then deactivate default handling to avoid writing wrong value in the metadata.

[2019-02-27 11:10] Simon3 commented on #15397
Ok, yes I guess it would be a good idea to do that in the meantime.
Thanks for everything!

[2019-02-27 14:06] snicoll commented on #16032
Closing in favour of PR #16047

[2019-02-27 14:06] #16032 closed

[2019-02-27 14:22] snicoll commented on #15976
Closing in favour of PR #15978

[2019-02-27 14:22] #15976 closed

[2019-02-27 14:35] khteh opened #16049 "2.1.2.RELEASE ElasticSearch 6.6.0 actuator ElasticsearchRestHealthIndicator returns connection refused"
[code]

[2019-02-27 14:46] imitrabhanu opened #16050 "Rest service with Spring Boot and Jersey incorrectly returns HTTP Status 404 even though resource exists."
All my get methods are working fine, however, I am getting 404 for post. Following are my spring boot and jersey version.
springBootVersion = '1.5.19.RELEASE'
springVersion = '4.3.22.RELEASE'
jerseyVersion = '1.19.4'
Thanks!
![screen shot 2019-02-27 at 8 14 21 pm](https://user-images.githubusercontent.com/5598323/53498427-57114600-3acc-11e9-8af0-dffbbeefb198.png)

[2019-02-27 14:49] wilkinsona commented on #16049
This looks a lot like #16007. How have you configured the nodes to which the Elasticsearch client will connect?

[2019-02-27 14:51] wilkinsona commented on #16050
Without knowing how you've configured Jersey and how you've configured the mappings for your POST requests, I don't think we're going to be able to diagnose the problem. If you would us to spend some time trying to help you, please spend some time providing sufficient details for us to do so. A complete and minimal example that reproduces the problem in the form of a zip attached to this issue or

[2019-02-27 14:54] wilkinsona commented on #15898
There's a change coming in Framework (thanks, @jhoeller) but we should review our use of `BeanFactoryUtils#beanNamesForTypeIncludingAncestors` and try to avoid triggering eager initialisation nonetheless.

[2019-02-27 15:00] khteh commented on #16049
I configure my AWS ALB target group periodic healthcheck to /<myapp>/actuator/health and that cascades down to Elasticsearch which fails.

[2019-02-27 15:09] imitrabhanu commented on #16050
My apologies.
Hope the below details will help you understand the configuration and mapping.
// Jersey Configuration Class

@Configuration
public class WebXmlConfiguration {

    @Bean
    public Filter springSecurityFilterChain() {
        return new DelegatingFilterProxy();
    }

    @Bean
    public ServletRegistrationBean jersey() {
        Servlet jerseyServlet = new SpringServlet();

[2019-02-27 15:10] wilkinsona commented on #16049
Thanks for the response. Unfortunately that doesn't answer the question that I tried to ask.

How is your application using Elasticsearch? How have you configured the client(s) that it uses to connect to the Elasticsearch nodes? From the stack trace, I can tell that there's a `org.elasticsearch.client.RestClient` bean that is configured with a host and port that is not accepting connections. That

[2019-02-27 15:11] khteh commented on #16049
I use these maven dependencies:
[code]

[2019-02-27 15:15] khteh commented on #16049
My application has no issue at all accessing the Elasticsearch. I don't know why the /health endpoint fails. It's not programmatic but HTTP calls from the AWS ALB. I don't configure anything for the ES healthcheck endpoint.

[2019-02-27 15:19] khteh commented on #16049
When I configure management.elasticsearch.enabled = false, everything works as usual. However, it's good to have actuator check the ES since it is a critical component of my application.

[2019-02-27 15:20] wilkinsona commented on #16049
How have you configured it to access Elasticsearch? Have you configured it using the `spring.data.elasticsearch.cluster-nodes` property or by defining your own client beans?

[2019-02-27 15:21] khteh commented on #16049
I have this in my application.yml:
[code]

[2019-02-27 15:50] khteh commented on #16049
I fix that to `svc-elasticsearch:9300` but to no avail. Inside my ES pod this is what I get:
[code]

[2019-02-27 15:54] spring-issuemaster commented on #15817
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-27 15:54] #15817 closed

[2019-02-27 16:20] wangnanyang commented on #11227
I suffered the same problem. Can you attach a link to the solution? Thank you.

[2019-02-27 16:25] wilkinsona commented on #11227
This is the Spring Framework issue that was opened: https://github.com/spring-projects/spring-framework/issues/20799.

[2019-02-27 16:26] wilkinsona commented on #16050
Using the above, I have tried to piece together an application that reproduces the problem and have been unable to do so. With the following resource:

[code]

A POST request produces a 200 response with `hello` as its body:

[code]

If you would like us to spend any more time on this please take the time to provide a zip file or Git repository that contains a minimal application that reproduces t

[2019-02-27 16:26] wilkinsona commented on #16049
It looks like the `RestClient` bean in your application is not picking up the configuration in application.yml. If curl is receiving `This is not an HTTP port` then it is managing to connect but `svc-elasticsearch:9300` is [using Elasticsearch's TCP transport](https://github.com/elastic/elasticsearch/blob/a9861f45c9857d45a4e452b954a6b08989c37d2c/server/src/main/java/org/elasticsearch/transport/Tcp

[2019-02-27 16:56] snicoll commented on #15397
@Simon3 that doesn't match my analysis. Can you please share a sample where other Kotlin fields have a proper default value in the generated metadata? (a small project I can run would be ideal). Thanks!

[2019-02-27 17:00] subalakr commented on #15914
Hi @wilkinsona, we just released 2.7.4 with a fix for this issue, it would be great to know how the upgrade goes with it.

[2019-02-27 17:02] Simon3 commented on #15397
What I meant is that the "name", "description", type" fields are all correct. But the "defaultValue" field is always incorrect. It is illustrated by the example in my first post.

[2019-02-27 17:03] snicoll commented on #15397
Cool, we're on the same page now. Thanks for the feedback.

[2019-02-27 17:36] lfru553ll opened #16051 "Spring Boot (2.1.3) appears to be re-attempting a failed "insert", in a different section of code"
Spring Boot 2.1.3 (Release)
JDK  1.8.0_191
JUnit 5.4.0

When testing the repository (FooRepository extends from CrudRepository) for a constraint exception (attempting to insert a Foo tuple with non-unique "name" value), it seems like Spring is remembering and rethrowing the exception on  a subsequent call to the repository. Either that, or there is an issue with Hibernate, but I thought that invok

[2019-02-27 18:25] jnizet commented on #16051
The Hibernate [documentation about exceptions](http://docs.jboss.org/hibernate/orm/5.4/userguide/html_single/Hibernate_User_Guide.html#pc-exception-handling) say:

You're violating this principle in your test: after an exception has been thrown in the test, you try to keep using the entity manager in the `removeFooTuples` method, as if nothing happened.

Removing the tuples is useless anyway, sinc

[2019-02-27 19:32] anshumt opened #16052 "Spring Boot creates two beans for MongoDataAutoConfiguration when using @RefreshScope Annotation"
I have defined the following configuration class in my Spring boot project:

[code]

When I start my spring boot app, it fails with the following reason:

The reason I added @RefreshScope annotation is because I have externalized the property file using spring cloud config.

The property file is in a remote github repo and when I over-write that file with some changes, the @refreshScope annotation

[2019-02-27 20:08] spencergibb commented on #16052
Boot folks, he posted in spring cloud, we'll handle it there.

[2019-02-27 21:45] markt-asf commented on #16035
Although part of me thinks if no-one has noticed if 5 years we can probably just hard-code it, that does looks like a bug to me. I'll add the getter/setter back.

[2019-02-27 22:41] wilkinsona commented on #16052
Thanks, @spencergibb.

[2019-02-27 22:41] #16052 closed

[2019-02-27 22:43] wilkinsona commented on #16051
Thank you, @jnizet.

[2019-02-27 22:43] #16051 closed

[2019-02-28 00:37] amartinm7 commented on #13562
Read this: http://engineering.pivotal.io/post/spring-boot-application-with-kotlin/

My problem was ./gradlew bootRun doesn't work because the public static void **main** wasn't found.
things to do:
1.-define an springboot Kotlin file

`
@SpringBootApplication
class Application

fun main(args: Array<String>) {
    runApplication<Application>(*args)
}
`

2.-setup the mainClassName property in the bu

[2019-02-28 02:23] wangnanyang commented on #11227
I know why. thank you.  I'm using Springboot 1.5.9 now. The cost of updating is very high. Besides the method in the link, how can I solve this problem?

[2019-02-28 02:30] caojiele opened #16055 "The lack of punctuation in a document"
Hi, The lack of punctuation in document that links is [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-docs/src/main/asciidoc/documentation-overview.adoc). "Working with Spring Boot"-"Running your code" Should be added behind the colon.

[2019-02-28 02:36] khteh commented on #16049
Which port should this health endpoint use? 9200 or 9300?

[2019-02-28 02:39] mbhave commented on #16055
@caojiele Thanks but there's no need to create an issue and a PR for the same thing. Closing in favor of PR #16056.

[2019-02-28 02:39] #16055 closed

[2019-02-28 02:53] khteh commented on #16049
Yes, my YAML is correct. it is child element of `spring`

[2019-02-28 04:15] bethunebtj commented on #14307
Agree with @mp911de .
This is not a Spring issue, cause I've been using Lettuce separately and I got this too. It's just you have netty 4.0( or lower ) and 4.1 on your classpath. Maybe lettuce should mention it in the documentation.

[2019-02-28 04:43] NikoTung opened #16057 "CPU utilization over 100% during startup"
I created a spring-boot project from [https://start.spring.io/](https://start.spring.io/) and set the version to 2.1.1.RELEASE. I had not add any code but the following maven dependences.

    <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>org.springframewo

[2019-02-28 05:01] caojiele commented on #16055
@mbhave ok, and these documents need to translate? I have recently been writing about spring boot.

[2019-02-28 06:16] wilkinsona commented on #16049
The `HealthIndicator` uses a `RestClient` to check Elasticsearch’s health. It should use the HTTP port which is 9200 by default.

If you would like us to continue to spend time trying to help you, please take the time to provide the information that I asked for above:

[2019-02-28 06:22] wilkinsona commented on #16057
Spring Boot uses more than one thread during startup so it is normal for CPU usage to peak at over 100%.

[2019-02-28 06:22] #16057 closed

[2019-02-28 06:42] wilkinsona commented on #15672
Closing in favour of #16053.

[2019-02-28 06:42] #15672 closed

[2019-02-28 06:51] khteh commented on #16049
Just grep through the source code. Yes we created a @Service:
[code]

[2019-02-28 07:14] wilkinsona commented on #16049
Thanks. The client created there is not being exposed as a bean so it will not be used by the health indicator. Instead, the health indicator will be using the auto-configured RestClient. This, I believe, is why the health indicator can not connect but your own application code can connect.

You may want to define your own `RestClient` bean configured using your `
iconverse.elasticsearch.host` and

[2019-02-28 07:14] #16049 closed

[2019-02-28 08:04] khteh commented on #16049
How to inject the auto-configured restclient?

I have this @Configuration bean:
[code]
and @Autowired it in my @Service:
[code]
but to no avail. The exception persists.

[2019-02-28 08:32] wilkinsona commented on #16049
You have exposed a `RestHighLevelClient` as a bean. The health indicator needs a `RestClient` so that's what needs to be exposed as a bean. Boot's auto-configuration achieves this by exposing the `RestClientBuilder` as a bean and then using that to create the `RestClient` and `
RestHighLevelClient` beans.

Unfortunately, I don't have any more time to spend on this so I won't be able to respond aga

[2019-02-28 08:36] wilkinsona commented on #11227
In addition to being fixed in Spring Framework 5.0.x, the fix was back-ported to 4.3.14 which is included in Spring Boot 1.5.10. 1.5.10 should be a drop-in replacement for 1.5.9. I would strongly encourage you to upgrade to the latest 1.5.x release which, the time time of writing, is 1.5.19. You should also start preparing to upgrade to Spring Boot 2 as 1.5 will reach the end of its life in August

[2019-02-28 09:39] spring-issuemaster commented on #16007
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-28 09:57] shai125 opened #16058 "Issue with spring boot v2.1.2 with DocumentBuilderFactory.setFeature(String)"
Hello,
I tried to upgrade my spring boot application from version 2.1.1 to 2.1.2 and encounter with this error:

[code]

I seems that the some jar has problem with the following java 8 method:
DocumentBuilderFactory.setFeature(Ljava/lang/String)
These are the relevant dependencies in my pom.xml :

[code]

[code]

[2019-02-28 10:31] wangnanyang commented on #11227
The problem hasn't been solved. I upgraded Springboot to 1.5.10 and the version that relies on spring-web packages to 4.3.14, but I still can't. Do you need any other configuration?

[2019-02-28 10:35] wilkinsona commented on #11227
Please open a new Spring Framework issue with a minimal sample that reproduces the problem.

[2019-02-28 11:37] wangqiJoinGitHub commented on #4276
ok

[2019-02-28 11:38] wilkinsona opened #16060 "Add Bomr upgrade and verify metadata to streamline dependency upgrade and verification process"
Bomr now has support for upgrade policies. We should add metadata (in `.bomr/bomr.yaml`) to configure the appropriate policy for each branch.

[2019-02-28 11:52] wilkinsona commented on #16058
It appears that the concrete `javax.xml.parsers.DocumentBuilderFactory` subclass that you have on the classpath does not implement `
javax.xml.parsers.DocumentBuilderFactory.setFeature(Ljava/lang/String;Z)V`. That is not the case by default and also is not the case with the dependencies that you have shown above so I suspect the problem is being caused by another dependency that you have not shown

[2019-02-28 13:47] snicoll commented on #16044
Closing in favour of PR #16046

[2019-02-28 13:47] #16044 closed

[2019-02-28 14:15] Hasnaa-Ibraheem commented on #10342
To be specific, as this may save the day for any other develop..
This error: _CodecConfigurationException: Can't find a codec for class xxx_ means that your mongo driver is not able to handle/parse the data you sent in the object you made of that xxx class and accordingly can't generate the mongo query you want.
The resolution in that case would be either to use the right class (in my case replaci

[2019-02-28 14:19] quantum-fusion commented on #4276
I am glad it helped someone.

[2019-02-28 14:43] MonsieurMan opened #16061 "Migration guide multipart"
Hello this change in the application configuration file has not been documented in the migration guide :
`spring.`**http**`.multipart`
`spring.`**servlet**`.multiparts`

We just broke one production feature aha 🛠

[2019-02-28 14:52] snicoll commented on #16061
Not all keys need to be documented as we offer a tool that would warn you in case you're not using an IDE with Spring Boot support, see [the first section of the migration guide](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide#before-you-start).

The full changelog for changed configuration keys [is also available](https://github.com/spring-projects/spring-boot/

[2019-02-28 14:52] #16061 closed

[2019-02-28 14:56] MonsieurMan commented on #16061
It sure makes sense, thanks for the quick reply ! Cheers 👍

[2019-02-28 17:11] #16060 closed

[2019-02-28 18:00] stevechk commented on #16041
@wilkinsona FYI I tracked this down to this change in `SpringBootContextLoader.isEmbeddedWebEnvironment()`:

https://github.com/spring-projects/spring-boot/commit/77afe76ed56b2016c0720b38d3677053c2baab11#diff-f3693d56f0e4f12351bb183ee0258c2a

our test was annoted with `@IntegrationTest` but not `@SpringBootTest`, which caused the web environment not to load in 2.0.6.

[2019-02-28 18:00] #16041 closed

[2019-02-28 18:55] wilkinsona commented on #16041
I’m pleased to here you got to the bottom of it. Thanks for letting us know.

I’d recommend reviewing your dependency management and dependency versions. `@IntegrationTest` was removed in Spring Boot 1.5. To compile successfully, your code that was using it must have had Spring Boo 1.4 or earlier on the classpath.

[2019-02-28 21:17] #13822 closed

[2019-03-01 03:12] neut-funahashi opened #16062 "Logs of java.util.logging.Logger are not output when war is deployed to tomcat."
Spring boot 2.0.4.RELEASE
apache tomcat 8.5.38

SLF4JBridgeHandler.install will not run because the isJulUsingASingleConsoleHandlerAtMost method is false at runtime on org.springframework.boot.logging.Slf4JLoggingSystem class configureJdkLoggingBridgeHandler.

In order to prevent log duplication, how about installing after uninstalling in advance?

It is confirmed that it is output normally with S

[2019-03-01 03:32] hendisantika commented on #12569
Dear @philwebb & @wilkinsona
I am facing this issue also after upgrading from Spring Boot 1.5 to 2.1.3. Should I create a new issue, or update the details here?

I am using Flyway with Postgres.

I create migration script like this :
[code]

And second script like this :
[code]

The schema, table & record are inserted well.

But, I always got this error :
[code]

So that, my app always stop.

Coul

[2019-03-01 06:51] wilkinsona commented on #16062
While not ideal, this is working as designed.

In a multi-application environment, such as standalone Tomcat, bridging JUL into SLF4J results in any logging using JUL (by Tomcat itself or any of the applications) being routed into the application-specific log. To avoid this problem we deliberately do not install the bridge in such environments. Please see https://github.com/spring-projects/spring-

[2019-03-01 07:01] ZhouChaoqun opened #16063 "Spring annotation @ComponentScan affects the loading order of SpringBoot AutoConfiguration classes"
I created a project with Spring Initializr. I know the Spring annotation `@ComponentScan` is repeatable. I tried to add `@ComponentScan ("*. *")` to the SpringBook startup class (we do have such scenes), and my application failed to start properly.

- Code
[code]
- Starting result
[code]
 I guess this is probably because I scanned a wide range including the autoconfig package, so that these AutoCo

[2019-03-01 07:02] wilkinsona commented on #12569
I think it’s unlikely to be a caused by Spring Boot. A configuration error is the most likely cause, IMO. Please take a look at https://github.com/spring-projects/spring-boot/issues/13626 for an example. If reading that issue does not help you to determine the cause, please post a question on Stack Overflow, providing a [minimal, complete, and verifiable example](https://stackoverflow.com/help/mcv

[2019-03-01 07:08] wilkinsona commented on #16063
There should be a warning message logged that states that your application is unlikely to start due to the packages that it has been configured to scan. Can you please share the full output?

[2019-03-01 07:17] Raheela1024 commented on #16038
@wilkinsona I want to work on it. Please let me know if I can start working on it ?

[2019-03-01 07:36] ZhouChaoqun commented on #16063
debug=true is set

[code]

[2019-03-01 07:40] ZhouChaoqun commented on #16063
@wilkinsona
I haven't see such a warning message.

[2019-03-01 07:45] snicoll commented on #16038
@Raheela1024 thank you for the offer. Please go ahead and let us know if you need assistance.

[2019-03-01 07:57] ZhouChaoqun commented on #16063
@wilkinsona
Oh, sorry, I found it at the end of a warning message.

**"This can also happen if you are @ComponentScanning a springframework package (e.g. if you put a @ComponentScan in the default package by mistake)"**

[code]

you mean I can't use the @ComponentScan annotation in the Spring Boot startup class？

[2019-03-01 08:04] #16063 closed

[2019-03-01 08:26] wilkinsona commented on #16063
No, that’s fine. `@SpringBootApplication` is annotated with `@ComponentScan` so you just need to ensure that your startup class is in a named package (rather than the default package). If you customise the scanned packages, either using `@ComponentScan` or the attributes on `@SpringApplication`, you should ensure that you do not scan anything other than your application’s own classes.

If you have

[2019-03-01 09:22] imitrabhanu commented on #16050
Thanks for your time, Andy.
I tried creating a sample project to reproduce the issue and I was able to do so. Using spring mapping it is working without any issue however with jersey it is not working. Please find the attached project for your reference.
[SpringBootJerseyTest.zip](https://github.com/spring-projects/spring-boot/files/2918759/SpringBootJerseyTest.zip)

[2019-03-01 09:36] wilkinsona commented on #16050
When you're using Jersey 1, you need to register Jersey's `Filter` or `Servlet` yourself and your sample doesn't do that. As a result, neither `GET` nor `POST` works which doesn't match the behaviour that you described above why you said that `GET` requests worked and `POST` requests did not.

If I add the following bean to your sample:

[code]

Both `GET` and `POST` requests work as expected:

[c

[2019-03-01 10:16] wilkinsona opened #16064 "Add Bomr metadata to prohibit unwanted upgrades"

[2019-03-01 10:38] #16064 closed

[2019-03-01 14:53] hendisantika commented on #12569
OK. Thank You.

[2019-03-01 17:04] nhomble commented on #15677
Sounds good @wilkinsona - and I'd be more than happy to follow up with a pr to add the property mappings.

[2019-03-01 19:30] anshumt opened #16067 "How to Flatten dynamic field with parent document in Spring data Mongo DB"
In my Spring boot project have a Document like so:

[code]

where properties is a dynamic field i.e. it can take in as many different key-value pairs.

I use MongoRepository to store this value:

[code]

Now when I store it in the Collection it looks like this:

<img width="705" alt="spring_mongo_ques" src="https://user-images.githubusercontent.com/20654747/53661451-52fd3980-3c2e-11e9-9155-1f8d33a

[2019-03-01 20:39] philwebb opened #16068 "Gradle plugin does not write all required manifest entries"
The Java buildpack relies on a few manifest entries to detect Spring Boot archives. With the Maven Plugin these are written [here](
https://github.com/spring-projects/spring-boot/blob/25bf0c2493a5b21c8ff2233c4751d3d06eb6613e/spring-boot-project/spring-boot-tools/spring-boot-loader-tools/src/main/java/org/springframework/boot/loader/tools/Repackager.java#L307).

Since Spring Boot 2.0 the Gradle plu

[2019-03-01 21:32] rhamedy commented on #16068
@philwebb how is this for a ‘first-timer’ contribution?

[2019-03-01 23:37] mbhave commented on #16067
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-03-01 23:37] #16067 closed

[2019-03-02 07:42] ayudovin commented on #16030
@philwebb,  @wilkinsona, I want to work on it. Please let me know if I can start working on it?

[2019-03-02 07:49] ayudovin commented on #15802
@wilkinsona,  I want to do this task, let's me know if I can start?

[2019-03-02 08:34] snicoll opened #16071 "Generate configuration keys metadata for immutable POJOs"
Follow up of #8762

We need to generate proper metadata for the immutable style as the rules are different. We currently check for the presence of a setter to determine what needs to be exposed. In the immutable case, constructor arguments will be used for this.

[2019-03-02 09:11] niyaode opened #16072 "In a microservice environment, spring-data-jpa paging queries cannot backfill the query data"
I'm asking a question on [stackoverflow](https://stackoverflow.com/questions/54956863/in-a-microservice-environment-spring-data-jpa-paging-queries-cannot-backfill-th), help me with it.
## In a microservice environment, spring-data-jpa paging queries cannot backfill the query data
Paging query on the client server requests resources server, server resources query results and return org.springframew

[2019-03-02 10:20] wilkinsona commented on #16072
Please do not cross-post. Stack Overflow is the right place for a question like this.

[2019-03-02 10:20] #16072 closed

[2019-03-02 13:04] wilkinsona opened #16073 "Auto-configured PrometheusPushGatewayManager cannot be configured to use HTTPS to connect to the gateway"
The String-based `PushGateway` constructor that we use hardcodes an `http` scheme to the `URL`. We should switch to the `URL`-based constructor instead to allow users to specify an `https` URL via `management.metrics.export.prometheus.pushgateway.base-url`. We'll have to take care to do so in a backwards-compatible manner, probably by preserving the existing assumption that the scheme should be `h

[2019-03-02 13:29] neilstevenson opened #16074 "Support YAML for Hazelcast configuration"
Hazelcast has been traditionally configured with an XML file, `hazelcast.xml` for servers and `hazelcast-client.xml` for clients, and this is supported by Spring Boot Autoconfiguration.

Hazelcast is enhancing this to allow the same to be done with YAML, see https://docs.hazelcast.org/docs/latest-dev/manual/html-single/#configuring-declaratively-yaml

As an enhancement, Spring Boot should auto-con

[2019-03-02 13:30] neilstevenson commented on #16074
I'd be happy to implement this feature, just checking the PR would be accepted first, as it's a reasonable amount of work

[2019-03-02 19:37] vsfalexanderpilch opened #16075 "[Feature Request/Project Code Handover] Lightweight support of RBAC"
Summary
Support of a simple rbac approach would be great. It doesn't have to be a full blown implementation, but just the basic role to privileges mapping would be sufficient in a lot of cases.

We've implemented something like this at https://github.com/vsfexperts/rbac . Would you be interested in taking over the code/providing something similar?

There's also a ticket with spring-security projec

[2019-03-03 08:36] naivefun opened #16076 "No primary or default constructor found for interface org.springframework.web.server.ServerWebExchange"
[api 2.zip](https://github.com/spring-projects/spring-boot/files/2922904/api.2.zip)

[code]
got exception
[code]
This just cannot run, the exchange object would not get injected. I tried stackoverflow but found no help. Is this a bug? The attachment is my source code project. Thanks.

[2019-03-03 10:22] wilkinsona commented on #16076
`spring-boot-starter-groovy-templates` depends on `spring-boot-starter-web` which is pulling in Spring MVC and Tomcat. As a result, your app is using the blocking Servlet-based web stack rather than the reactive stack. You can't use Groovy Templates in a reactive application as, AFAIK, they cannot be used in a non-blocking manner. If you remove the dependency on `spring-boot-starter-groovy-templat

[2019-03-03 10:22] #16076 closed

[2019-03-03 10:23] wilkinsona commented on #16075
Please don't cross-post issues in multiple places. It divides the discussion and makes it harder to follow. I think this is more likely to belong in Spring Security than in Spring Boot so I am going to close this issue. If that changes, we can move the issue once we've had a chance to discuss it in one place.

[2019-03-03 10:23] #16075 closed

[2019-03-03 13:13] melloware opened #16077 "Provide configuration properties for more of Undertow's server options"
Currently for Undertow I don't see a way of setting many of the HTTP connector settings such as Max Request Parameters and Max Header size.  The only Parameters I see available are here:

https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html

Many applications have the need to increase the maximum number of request parameters above the defaults set by Un

[2019-03-03 16:30] shai125 commented on #16058
Thanks for replying so quickly.
You were correct to identifying the problem. Indeed some old third party jar was the issue. It implemented DocumentBuilderFactory that crashes my application.

[2019-03-04 02:33] brucelwl opened #16078 "Why choose CGLIB proxying as the default after SpringBoot 2.0"
Why choose CGLIB proxying as the default after SpringBoot 2.0 ? What are the advantages? thanks

[2019-03-04 03:47] kazuki43zoo opened #16079 "ThymeleafAutoConfiguration fails if thymeleaf-spring5 is not present"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2019-03-04 06:32] wilkinsona commented on #16078
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-03-04 06:32] #16078 closed

[2019-03-04 06:34] wilkinsona commented on #16058
Thanks for letting us know. You’ll need to exclude or update that dependency.

[2019-03-04 06:34] #16058 closed

[2019-03-04 07:48] snicoll opened #16081 "Update documentation to mention how to retain parameter names with Kotlin"
If a user crafts a custom endpoint, they have to make sure that parameter names are retained in the bytecode so that we can map things properly.

Since we are looking this up on the Java side, there is an extra step for Kotlin users that we should document, see [this answer for more details](https://stackoverflow.com/questions/36093019/does-kotlin-compiler-always-retain-parameter-names-in-bytecode

[2019-03-04 08:01] snicoll commented on #16074
Thanks for reaching out and letting us know about this feature. I'd be more than happy to review a PR.

[2019-03-04 08:10] wmyteacher opened #16082 "config-client no need @RefreshScope"
clould :  Finchley.RELEASE
boot   :  2.0.2.RELEASE
refreshing configuration files at the receiving end without no need @RefreshScope  annotation

this is my public git address ： https://git.imooc.com/wmy/private-error-order.git
contain eureka    config-server(config)  config-client(order)
demo url in order  project         http://192.168.0.118:9002 /girl/print
configuration  file  use order-dev.ym

[2019-03-04 08:47] snicoll commented on #16082
This issue tracker does not manage Spring Cloud issues. Please consider asking a question on StackOverflow first. If you're convinced you've found a bug in the way configuration is refreshed by Spring Cloud, please open an issue [in the appropriate issue tracker](https://github.com/spring-cloud/spring-cloud-commons).

[2019-03-04 08:47] #16082 closed

[2019-03-04 09:44] clevertension commented on #16068
@philwebb @rhamedy  are you working to fix this issue? if not, i can provide a PR :stuck_out_tongue:

[2019-03-04 10:38] wmyteacher commented on #16082
o....thks

[2019-03-04 10:41] kandebouya commented on #16079
I will work there

[2019-03-04 10:41] wilkinsona commented on #16030
@ayudovin A PR would be most welcome. Thanks for the offer.

[2019-03-04 10:43] snicoll commented on #16079
Great! Thank you. Please let us know if you have any questions.

[2019-03-04 11:15] balaji-tech87 opened #16085 "Issue in spring-boot-legacy apps while migrating spring-boot from 2.0.5 to 2.1.3"
I am migrating spring-boot from 2.0.5 to 2.1.3.
Some of our applications uses **spring-boot-legacy** support (2.0.0.RELEASE).
While migrating the application, we face below issue, as there is some update in the "ServletContextInitializerBeans:constructor"

Please advice, if this is an issue or any configurations needs to be done.

**Error details:**
04-Mar-2019 16:32:40.487 INFO [localhost-startSt

[2019-03-04 12:11] snicoll commented on #16085
Sorry but this is the wrong place to ask, this extension is not handed here, see https://github.com/dsyer/spring-boot-legacy

[2019-03-04 12:11] #16085 closed

[2019-03-04 12:23] wilkinsona commented on #16077
While we don't offer properties for those, they can be configured programatically using an `UndertowBuilderCustomizer` added to the Undertow factory and setting the relevant server option on the `Builder`.

We'll review the settings where we don't have a configuration property and see which of them, if any, we want to add one for.

[2019-03-04 12:57] melloware commented on #16077
@wilkinsona Excellent I appreciate the consideration.  I would think the 3 "max" parameters would definitely make sense as for the others maybe not so much.

[2019-03-04 13:38] snicoll commented on #16071
Interesting to look at this from a metadata angle. I was wondering how we could infer default values. In a getter/setter arrangement, if you define a value with a primitive type, it gets its default value unless specified otherwise (i.e. a `boolean` flag is `false` by default).

With the constructor arrangement, it gets a tad more complex. If we ignore validation (`@NotNull`) we could probably inf

[2019-03-04 14:17] dkroehan opened #16088 "Document how to structure configurations so that @Bean methods are included in slice tests"
Hi!

I just updated several services to **SpringBoot 2.1.3** and observed a different behavior regarding integration tests in  **WebFlux** and **WebMVC** in combination with **spring-security**.

In both services a custom SecurityConfig exists.

In the WebMVC service the config looks like:

[code]
In the WebFlux service the config looks like:

[code]

When implementing an integration test using `@

[2019-03-04 14:34] rhamedy commented on #16077
Should the team decide to add props then I would be happy to work on unless  @melloware wants to do it ☺️

[2019-03-04 14:47] snicoll commented on #16081
Duplicate of #12641

[2019-03-04 14:47] #16081 closed

[2019-03-04 14:58] #15382 closed

[2019-03-04 14:58] #16017 closed

[2019-03-04 14:59] dkroehan commented on #16088
Related to: https://github.com/spring-projects/spring-boot/issues/6514

[2019-03-04 15:05] snicoll commented on #16017
for the record I meant to move this one to a code snippet that we could compile but the fact it's pseudo-code at the moment makes it quite hard for that kind of setup. We can reopen if we think that we're missing an opportunity to align.

[2019-03-04 15:14] Oguzyildirim commented on #16079
oh i am late again :( i will be here next time! :)

[2019-03-04 15:54] velicanerdem opened #16089 "boot.autoconfigure doesn't work when using default boot library in Maven"
Enhancement

Hello

I am a new user of Spring and Maven, so when I tried to use default  [spring-boot](https://mvnrepository.com/artifact/org.springframework.boot/spring-boot) I encountered a problem where I couldn't import boot.autoconfigure. There were couple of questions and answers but none of them solved the problem.

I solved the problem by using [spring-boot-autoconfigure](https://mvnreposi

[2019-03-04 16:06] bclozel opened #16090 "Disable JMX by default"
This feature doesn't seem to be widely used and takes a significant amount of resources so we're reconsidering this default for the 2.2 line.

This option is not only about switching `spring.jmx.enabled`, but also about checking that the other features relying on that option don't fail as a result.

[2019-03-04 16:09] snicoll commented on #16090
The admin feature that's used by the IDE and the Maven plugin comes to mind.

[2019-03-04 16:20] snicoll commented on #16089
Those are simply two different maven modules. Classes in the `org.springframework.boot.autoconfigure` package are in the `spring-boot-autoconfigure` module so if you add `spring-boot` to your project, you won't have those on the classpath. Applications usually rely on [starters](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using-boot-starter). if you're getting started, yo

[2019-03-04 16:20] #16089 closed

[2019-03-04 17:03] melloware commented on #16077
@rhamedy It's all yours!

[2019-03-04 19:57] beijing1 commented on #13125
how did you find this out? I am having similar issue but not sure which third party lib is causing this? Does the weblogic server log say it somewhere? I could not find it in AdminServer.log, maybe I am not checking the right log?

[2019-03-04 21:51] pmihalcin commented on #13125
@beijing1 You can see that when you try to deploy war using deployer (it is used e.g. when you deploy from Intellij IDEA using weblogic run configuration).

[2019-03-04 22:09] dakotamaker opened #16092 "Spring boot starter mail add subject property"
**Enhancement:**

When using spring boot's mail service to send out an email (in my case, for health checks for my services) it would be nice to be able to set a custom subject line in my `application.properties` file, the same way I can the mailing address to be sent to, the port, the host, etc. that way I can have different subject lines based on which environment my service is on.

[2019-03-04 22:13] #16092 closed

[2019-03-04 22:43] bclozel opened #16093 "Refine Actuator Endpoint conditions now that JMX is disabled by default"
Since #16090, the `spring.jmx.enabled` property has been set to `false` by default.

With that change, we should re-evaluate default enablement of Actuator endpoints since:

* by default only `"info"` and `"health"` are exposed over HTTP
* it doesn't make sense to consume resources to create those endpoints if they're not exposed in any way (JMX nor HTTP)

We could in this case avoid creating endp

[2019-03-05 02:46] beijing1 commented on #13125
Hi thanks for the reply!
I did not use any IDE to deploy, just directly dropped it to autodeployed folder or through console. I checked in the server log, did not seem find anything obvious.

Sent from Yahoo Mail for iPhone

On Monday, March 4, 2019, 3:54 PM, Patrik Mihalcin <notifications@github.com> wrote:

@beijing1 You can see that when you try to deploy war using deployer (it is used e.g. whe

[2019-03-05 03:16] HongKing opened #16095 "lost session in BasicErrorController"
version: Spring Boot (v2.0.6.RELEASE)

In MyControoler, the session in `HttpServletRequest request` is not null, but when MyController throw an exception, in `org.springframework.boot.autoconfigure.web.servlet.error.BasicErrorController` session is null, this may be a bug or I use wrong? how can I get the session when I catch all excetpion in spring boot?

MyControoler
![1](https://user-images.git

[2019-03-05 05:09] mbhave commented on #16088
@dkroehan `@WebFluxTest` should pick up the custom security configuration. Can you provide a minimal sample that we can run to reproduce the issue?

[2019-03-05 06:46] wilkinsona commented on #16095
Thanks for the report. Unfortunately, I can’t tell if you are using something wrongly from a few screenshots. If you would like us to spend some time trying to help you please spend some time providing a complete and minimal sample that reproduces the problem.

[2019-03-05 06:56] wilkinsona commented on #16093
I’m not sure about point 3. Exposure and enablement are two distinct concepts at the moment and I think that’s a good thing. Exposure builds on top of enablement – an endpoint has to be enabled for it to be possible for it to be exposed. If the enabled condition take exposure into account we’ll lose the distinction and it feels the wrong way round for enablement to be aware of exposure.

I wonder

[2019-03-05 07:07] snicoll opened #16096 "AbstractRefreshableApplicationContext should not appear in the type hierarchy of our application context implementations"
Several `ApplicationContext` implementations we use inherits from `AbstractRefreshableApplicationContext` which is a hierarchy we shouldn't be using in modern-day arrangements:

* `AnnotationConfigWebApplicationContext`
* `AnnotationConfigReactiveWebApplicationContext`

While the latter is in our code base, the former is in the framework code base with no clear sign we shouldn't be using it anymor

[2019-03-05 07:08] snicoll commented on #16011
This issue is blocked by #16096

[2019-03-05 08:04] snicoll commented on #16090
IntelliJ IDEA gracefully handles the fact beans are not there but the error message could be improved a bit. They also have a "Enable JMX agent" that could be used to set the property. I'll reach out to the team.

[2019-03-05 08:13] C644753271 opened #16097 "Spring boot Actuator conflicts with shiro"
When i use Spring Boot with shiro , Spring Boot Actuator doesnt publish jvm metric。

I use Spring Boot with Shiro , but i starting Application and navigating to /actuator/metrics displays a list of available meter names:

[code]
Just 17 items!!!

Then , i shield shiro config :

[code]

I starting Application again and i get all.

I want to use both Actuator and Shiro. Thanks for any helps.

[2019-03-05 08:30] ShannonHickey commented on #4657
@wilkinsona (or others), I'm wondering if you can answer something about the spring-boot/Tomcat case. I completely understand the need to stop accepting new connections [i.e. connector.pause()] before allowing the application context to be stopped. But what is the significance of waiting for the tomcat thread pool to shut down? Assume a spring-boot/Tomcat service that does nothing to implement gra

[2019-03-05 09:21] snicoll commented on #15979
I've submitted a PR in the hop this can speed up that process.

[2019-03-05 09:22] dkroehan commented on #16088
@mbhave I added a sample application here: https://github.com/dkroehan/webfluxtest

[2019-03-05 09:24] martinlippert commented on #16090
The Spring Tools 4 feature to show live hovers for boot apps heavily relies on this JMX actuator endpoints being available and enabled - and having them enabled by default makes those live hovers appear "magically", which is a quite nice user experience. So to be honest, I am not a big fan of flipping the default to disabled.

Of course devs could still enable that, but it would turn our live hove

[2019-03-05 09:31] snicoll commented on #16088
@dkroehan your Webflux security does not inherit from `ServerHttpSecurity` so we can't detect it (notice that the MVC counterpart is extending from Spring Security's base class).

[2019-03-05 09:39] wilkinsona commented on #4657
As [explained above](
https://github.com/spring-projects/spring-boot/issues/4657#issuecomment-161354811), the application context is stopped and then the embedded container is closed. This means that the context may be closed while requires are in-flight. When Tomcat is the embedded container, it will, by default, wait for 5 seconds for in-flight requests to complete before it closes the connectio

[2019-03-05 09:43] wilkinsona commented on #16090
Unfortunately, slowing down startup for everyone isn't a nice user experience either. Given that IDE tooling has the means to enable JMX (Spring Tools also have an `Enable JMX` option), I believe that disabling JMX by default and allowing those that want to use it to enable it is the right choice as it means that only those that want to use JMX pay the cost of using it.

[2019-03-05 09:47] symphony-thibault opened #16098 "Filters are not applied to Actuator endpoints when management port is different"
I noticed that some of my custom filters are not applied to Actuator endpoints when a different management port is defined.

Even using :
[code]
The `TestFilter` is successfully applied when `management.server.port == server.port` but never applied when `management.server.port != server.port`.

[2019-03-05 09:47] wilkinsona commented on #16097
Thanks for the report. From the information you've provided thus far, it's not clear to me that this is a problem with Spring Boot rather than with Shiro or your configuration. If you would like us to spend some time trying to help you, please spend some time to provide a minimal sample that reproduces the behaviour you have described.

[2019-03-05 09:53] wilkinsona commented on #16098
#9560 is related to this. We have an inconsistent story around what is and isn't applied and configured when a separate management port has been configured that we'd like to straighten out. This is another part of that.

[2019-03-05 09:59] dkroehan commented on #16088
Where is this documented?

I checked spring-security docs:
https://docs.spring.io/autorepo/docs/spring-security/current/reference/htmlsingle/#minimal-webflux-security-configuration
https://docs.spring.io/autorepo/docs/spring-security/current/reference/htmlsingle/#test-webflux

and the Javadoc:
https://docs.spring.io/spring-security/site/docs/current/api/org/springframework/security/config/annotati

[2019-03-05 10:03] wilkinsona commented on #16088
I don't think it should. The `ServerHttpSecurity` bean is provided by Spring Security, not a user's application.

[2019-03-05 10:04] snicoll commented on #16088
🤷‍♂️

[2019-03-05 10:13] martinlippert commented on #16090
I see your point. But looking from the tooling perspective, it looks different. I need to mention that enabling this in the IDEs might not be as easy as it sounds, just to get back to the point where we are at the moment where this feature of the tooling just works out-of-the-box as soon as you have the actuators on your project. Of course users could click the checkbox to enable it (in Spring Too

[2019-03-05 10:54] wilkinsona commented on #16090
It's not just about Actuator. Enabling JMX by default has a cost when Actuator isn't in the picture. We don't have any numbers specifically for JMX, but we can make some educated inferences from the data that we do have.

Judging by download numbers, we know that only ~33% of Boot's users use the Actuator. IMO, that alone is reason enough not to enable JMX by default just for the Actuator's benefi

[2019-03-05 10:54] spring-issuemaster commented on #15384
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-05 10:57] aymeric-soubrouillard opened #16100 "org.springframework.beans.propertyeditors.PathEditor doesn't handle windows absolute path"
Consider a windows absolute path in a property file:
`repository.directory=C:/Users/myUser/AppData/Local/Temp`
We want to inject directly a Path using @Value:
[code]
PathEditor has the following behavior:
- Converting this string to an URI, which is strange because URI and Windows Path are not compliant.
- Adding a "/" because it don't understand that's it's a Windows path
- Concat the relative pa

[2019-03-05 11:08] wilkinsona commented on #16100
`PathEditor` is part of Spring Framework rather than Spring Boot. If you have a question about its functionality, please ask on Stack Overflow. If you believe you have found a bug, please open a [Spring Framework issue](https://github.com/spring-projects/spring-framework/issues).

[2019-03-05 11:08] #16100 closed

[2019-03-05 11:10] aymeric-soubrouillard commented on #16100
Ok, sorry, i will open a bug on their project.
Kind regards

[2019-03-05 11:39] HongKing commented on #16095
sorry. my usage error. I cleared the session before it's in BasicErrorController.

[2019-03-05 11:39] #16095 closed

[2019-03-05 11:42] wilkinsona commented on #16095
Thanks for letting us know.

[2019-03-05 12:03] wilkinsona opened #16101 "@WebFluxTest does not enable auto-configuration for any reactive template engines"
Mustache, FreeMarker, and Thymeleaf all support reactive web apps and should be included in `@WebFluxTest`

[2019-03-05 12:12] martinlippert commented on #16090
I agree that JMX should not be enabled by default in the framework. I would argue that having JMX enabled if you have actuators on the classpath would make a lot of sense to me - if possible - and would serve our ease-of-use-needs.

[2019-03-05 12:33] wilkinsona commented on #16090
It's technically possible, but, other than DevTools, we don't have any other situation where adding a dependency changes the default value of a property. It would be confusing to make Actuator and `spring.jmx.enabled` an exception to that.

As I've tried to explain above, I don't think changing a default for everyone or everyone who uses Actuator can be justified purely to serve the ease-of-use ne

[2019-03-05 13:59] bclozel commented on #16093
Good points @wilkinsona , I'll rework that with a `OnExposedEndpointCondition`. Mixing both concerns in a single condition would make things hard to test and reason about.

[2019-03-05 14:06] gkonupek opened #16102 "Random management.server.port gets set to the same value as local.server.port"
A minimum project to reproduce this issue is available here: https://github.com/gkonupek/SpringBootActuatorIssue

The project is a basic Spring Boot web application with Actuator. A problem occurs in tests when using Spring Boot version 2.1.x. In this case, I'm using version 2.1.3.RELEASE.

In the mentioned project, on branch "master" there is the following situation:

- `DemoApplicationTests` I'm

[2019-03-05 14:13] tomaszmil opened #16103 "Default login page - Could not verify the provided CSRF token because your session was not found."
Spring boot version: 2.1.3

**Dependencies:**
* spring-boot-starter-security
* spring-boot-starter-web

**Issue**
Default login page does not work as the session is not created.

**How to reproduce:**
* Generate project from https://start.spring.io/ with *web* and *security* dependencies.
* Build and start the boot application
* Access your project root page
* On login page provide any credentials

[2019-03-05 14:51] wilkinsona commented on #16102
This sounds like it may be a bug in [`SpringBootTestRandomPortEnvironmentPostProcessor`](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-test/src/main/java/org/springframework/boot/test/web/SpringBootTestRandomPortEnvironmentPostProcessor.java) that was introduced in 2.1 to fix
https://github.com/spring-projects/spring-boot/issues/4424.

[2019-03-05 15:07] martinlippert commented on #16090
I will file an issue in our tracker to somehow deal with this upcoming change in Boot 2.2 then.

[2019-03-05 17:06] dnsymphony commented on #16098
This is a pretty big deal. That linked ticket is from 2017. It doesn't seem like this is getting the attention it deserves.  Having the actuator endpoints on a different port is a critical security requirement for us (I work with Thibault).  Not being able to configure our standard filters that add tracing, logging, auditing, etc. on these endpoints is a serious problem.

[2019-03-05 17:42] wilkinsona commented on #16098
A filter defined in a `@ManagementContextConfiguration` class works for me when a separate management port has been configured. Can you please provide a minimal sample that reproduces the behaviour you're seeing where it's only effective when the server and management ports are the same?

[2019-03-05 18:02] #16090 closed

[2019-03-05 18:19] snicoll commented on #16011
The feature is now available at a different level in framework so we should be able to use it without requiring to change the hierarchy. I guess it's probably going to be easier if we fix #16096 first though

[2019-03-05 18:33] zhuchenwang commented on #15384
`javax.ws.rs.core.Application` is JAX-RS spec which doesn't tie to any implementation. I think `@ConditionOnClass(ResourceConfig.class)` is enough to detect whether Jersey is in the classpath. `@ConditionOnBean(ResourceConfig.class)` is to strict.

[2019-03-05 18:47] wilkinsona commented on #15384
I disagree that `@ConditionOnBean(ResourceConfig.class)` is too strict. As I said above, we need a `ResourceConfig` to be able to plug in the metrics. Here's the code that does that, using a `ResourceConfigCustomizer`:

https://github.com/spring-projects/spring-boot/blob/ce9626d00fcaf12621278ac0a008813f61cbbff3/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframewor

[2019-03-05 18:57] zhuchenwang commented on #15384
In my case, `ResourceConfig` is created dynamically from `javax.ws.rs.core.Application` bean. And it is registered to servlet in my own code. In the same sense, I can inject the `ResourceConfigCustomizer` and customize the `ResourceConfig` created from `javax.ws.rs.core.Application`. However, since there is no `ResourceConfig` bean, the `ResourceConfigCustomizer` is not even there for me to inject

[2019-03-05 19:05] wilkinsona commented on #15384
That was the missing piece in the puzzle. Thanks for the extra information.

I'm in two minds about this. While I can see that it would be useful for you to be able to apply the `ResourceConfigCustomizer` yourself, I think your use case is probably an unusual one. Auto-configuring something when, in the majority of cases, it won't be used is something that we try to avoid. Given that you're alread

[2019-03-05 19:05] dnsymphony commented on #16098
@ManagementContextConfiguration was the first approach I had tried but it didn't work.  I went back and looked at it again since you said it was working and realized that my class with that annotation was still being scanned by the main application context scanner even though I thought I had excluded it.  Once I fixed the exclusion, it worked.  Thanks for verifying it was working with two differen

[2019-03-05 19:12] wilkinsona commented on #16098
Great, thanks for following up. We'll leave the issue open as we'd like to offer an alternative that doesn't require the use of `@ManagementContextConfiguration`.

[2019-03-05 19:52] imitrabhanu commented on #16050
I tried multiple ways to reproduce the issue with some small application, but I am not able to do so.
The issue is only coming in our main application which is pretty big for sharing.
I have enabled debug and able to get some more logs, hope it might help in finding the issue.

Debug logs:-
13:19:54.161 [https-jsse-nio-8443-exec-2] DEBUG o.s.b.w.f.OrderedRequestContextFilter - Bound request contex

[2019-03-05 20:11] dnsymphony commented on #16098
OK.  Any idea what I need to do to get my custom ErrorController to work for the management port?

[2019-03-05 20:17] wilkinsona commented on #16050
The `POST` request has been routed into Spring MVC's `DispatcherServlet` rather than into Jersey. That routing is performed by Tomcat (assuming you're using the default embedded container). You could try using a debugger and some breakpoints in `org.apache.catalina.mapper.Mapper` to determine why the `POST` request is apparently being routed differently.

[2019-03-06 00:39] spring-issuemaster commented on #15874
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-03-06 00:39] #15874 closed

[2019-03-06 02:29] C644753271 commented on #16097
Thank you for your help, but I think I should find the problem, but the specific reason is not very clear to me, I think the following website will make you more understand my problem, by the way, can you tell me the specific reason。
https://stackoverflow.com/questions/52943089/when-i-use-spring-boot-with-shiro-spring-boot-actuator-doesnt-publish-jvm-metr

[2019-03-06 02:49] mbhave commented on #16103
@tomaszmil I don't think I fully understand the issue from the above description. I created an app with `spring-boot-starter-security` and `spring-boot-starter-web` and was able to login successfully.

Please provide a minimal sample application that we can run to reproduce the issue.

[2019-03-06 05:25] philwebb opened #16105 "Check for multiple processors in OnClassCondition"
`OnClassCondition` currently splits the work in half and runs two threads. I have a feeling that much like the background pre-initializer this might suffer if `Runtime.getRuntime().availableProcessors()` returns 1.

[2019-03-06 05:33] mbhave commented on #16088
@wilkinsona is right. This is a bug in `WebFluxTypeExcludeFilter`. It should include `SecurityWebFilterChain` beans rather than `ServerHttpSecurity`.

[2019-03-06 05:40] mbhave commented on #16073
Closing in favor of PR #16084.

[2019-03-06 05:40] #16073 closed

[2019-03-06 05:47] ShannonHickey commented on #4657
@wilkinsona thanks for the quick response! How unfortunate. I really look forward to a solution arriving within spring-boot. In the meantime, I hope you don't mind one more question: we have found that with async requests, the protocol handler's executor might be empty even in the face of in-flight requests. To deal with this we first wait for the protocol handler's connection count to drop to 0 a

[2019-03-06 06:02] mhewedy opened #16107 "Include spring.profiles in additional-spring-configuration-metadata.json"
The file https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/resources/META-INF/additional-spring-configuration-metadata.json
missing an entry for `spring.profiles`

So, intellij says the key `spring.profiles` is not correct, however according to https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-change-configuration-dependin

[2019-03-06 06:49] spring-issuemaster commented on #16045
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-06 06:57] wilkinsona commented on #16097
It sounds like a bug in MyBatis that is triggering eager initialisation of some beans. If a meter binder is initialised too early it will not have a chance to bind its meters to the meter registry and they will disappear.

The above is only an educated guess. Given how popular MyBatis is, I’d like to fully understand the cause so that, hopefully, it can be fixed. Could you please provide a sample

[2019-03-06 07:22] tomaszmil commented on #16103
Please find the code I am using in this repository: https://github.com/tomaszmil/spring-boot-login-issue

**note** Application port is 4991 (I changed that because I've docker image running under 8080)

[2019-03-06 08:34] snicoll commented on #16107
It is specific to YAML sub-document and can't be used anywhere else so it's a tough call. This also one more example of why we shouldn't be using a property matching a group name, see #12510

[2019-03-06 09:31] wilkinsona commented on #16103
Thanks for the sample. Unfortunately, it does not reproduce the behaviour that you have described and I can log in successfully.

Are you sure that you have cookies enabled in your browser?

[2019-03-06 09:55] C644753271 commented on #16097
Thank you for taking time out of your busy schedule to deal with this problem. I think this is not a bug of mybatis, because the same problem still exists when I replace mybatis with JPA. Therefore, I think this should be shiro's problem

[2019-03-06 09:55] jrushto1 opened #16109 "When using WebFlux /actuator/health/{component} returns a 200 response when the component is down"
When using the spring-boot-starter-webflux dependency custom health indicators return a status code of 200 when navigating to /actuator/health/{custom} despite the health object being down.

Sample project [here](https://github.com/jrushto1/springbootactuatortest).

[2019-03-06 09:56] tomaszmil commented on #16103
You are right! This is the problem with my browser. Apology for not checking that earlier.

[2019-03-06 09:56] wilkinsona commented on #4657
That's where things start getting tricky, and is one reason why we've yet to implement something.

Tomcat will timeout all async requests by calling `timeoutAsync(-1)` on the endpoint's underlying processor. You may want to consider doing something similar or you may want to wait a while for them to complete.

There's also keep-alive connections to consider. They could prevent the connection count

[2019-03-06 09:57] wilkinsona commented on #16103
Thanks for letting us know.

[2019-03-06 09:57] #16103 closed

[2019-03-06 09:58] wilkinsona commented on #16097
Great. Thank you. I'll look forward to taking a look at the sample.

[2019-03-06 10:07] mrifni commented on #15972
Hi, I would like to pick this up and start contributing to spring boot. Please let me know....

[2019-03-06 10:22] wilkinsona commented on #16109
Thanks for the sample. The problem isn't specific to a custom health indicator and can be recreated by, for example, setting a very large threshold for `diskSpace` health:

[code]

Both `ReactiveHealthIndicator` and `HealthIndicator` implementations are affected.

The problem does not occur when using the Servlet-based stack:

[code]

[2019-03-06 10:26] wilkinsona commented on #15972
Great! Thank you, @mrifni. A pull request that trims the whitespace and checks that it has been trimmed would be most welcome.

[2019-03-06 10:30] mrifni commented on #15972
sure, doing now..

[2019-03-06 10:58] vpavic opened #16110 "Consider disabling auditing by default"
Out-of-the-box auditing is backed by `InMemoryAuditEventRepository` which I believe, as already expressed in [#11605 (comment)](https://github.com/spring-projects/spring-boot/issues/11605#issuecomment-358665845), isn't appropriate for production use due to:

- limited storage capabilities
- memory consumption
- not being cluster ready

I would propose to disable this by default and make the whole

[2019-03-06 11:13] wilkinsona opened #16111 "Switch to Jakarta EE API dependencies where possible"
As part of its move to Eclipse and rebranding from Java EE to Jakarta EE some of the API dependencies have been published with new versions under a `jakarta.*` group ID. Furthermore, some of the reference implementations have switched from Java EE API dependencies to Jakarta EE API dependencies in their latest maintenance releases (#15689 and #15915). We've avoided those upgrades in 2.1.x as we do

[2019-03-06 11:16] wilkinsona opened #16112 "Switch from org.glassfish:javax.el to org.glassfish:jakarta.el"

[2019-03-06 11:17] wilkinsona opened #16113 "Switch from com.sun.mail:javax.mail to com.sun.mail:jakarta.mail"

[2019-03-06 11:28] #16112 closed

[2019-03-06 11:28] #16113 closed

[2019-03-06 11:28] #15689 closed

[2019-03-06 11:28] #16111 closed

[2019-03-06 11:38] jhoeller commented on #16111
@wilkinsona, are there any known issues with the dependencies that we declare in the Spring Framework POMs for your Jakarta EE purposes in Boot 2.2? Do you have to apply any manual excludes there?

For the time being, it seems sensible to stick with the original Java EE artifacts in the Spring Framework build since we need to compile against EE 7 level in a few places... and those older API versio

[2019-03-06 11:44] mhewedy commented on #16107
Can't it be just solved as the `logging.file` case?

[code]

[2019-03-06 11:50] wilkinsona commented on #16111
Thanks for asking, @jhoeller. I didn't have to exclude anything from our Framework dependencies to make the switch.

[2019-03-06 11:53] wilkinsona opened #16114 "Upgrade to Jersey 2.28"
This is a bit more than a straight dependency upgrade as it should also allow us to remove some Java EE API dependency exclusions.

[2019-03-06 12:23] imitrabhanu commented on #16050
As starting from Spring Security 4.x the CSRF protection is enabled by default the post requests were blocked by CSRF filter.
Disabling the filter resolved the issue.

[2019-03-06 12:24] #16050 closed

[2019-03-06 12:27] wilkinsona commented on #16050
I'm glad to hear that you've figured it out. Thanks for letting us know.

[2019-03-06 12:59] mp911de commented on #15197
Summary of dependency upgrades to consider
* Elasticsearch 6.5.4 -> 6.6.1
* MongoDB 3.8.2 -> 3.10.1
* Lettuce 5.1.4.RELEASE -> 5.1.5.RELEASE
* Spring Hateoas 1.0.0.BUILD-SNAPSHOT -> 1.0.0.M1
* Spring Plugin 2.0.0.BUILD-SNAPSHOT -> 2.0.0.M1

Skipped dependencies that already match versions used for Spring Data Moore M2.

[2019-03-06 13:00] #16114 closed

[2019-03-06 13:13] snicoll commented on #16107
This property is specific to YAML sub-documents as far as I can see so I am not keen for it to show as a valid property anywhere else. We can fix whatever needs fixing the way you've just described but that wasn't my point.

[2019-03-06 13:17] akunchen opened #16116 "Problems when deploy servel spring-boot projects"
I write 2 projects with spring-boot. There are some problems when I deploy them on the server(CentOS 7).See my operations:

- Firstly, I start project A, it works well.
- Then, I start project B, it works well too.
- But, project A was stopped!
- Then, I restart project A, it works welle, but project B was stopped!

I was confused, who can help me???

[2019-03-06 13:23] wilkinsona commented on #16116
I suspect you're being affected by CentOS's OOM killer. See [this forum thread](https://centos.org/forums/viewtopic.php?t=64526) for some more details. If that doesn't help, please follow up on Stack Overflow or Gitter. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues

[2019-03-06 13:23] #16116 closed

[2019-03-06 13:25] #16109 closed

[2019-03-06 13:27] wilkinsona opened #16117 "Upgrade to H2 1.4.198"

[2019-03-06 13:27] wilkinsona opened #16118 "Upgrade to Jetty 9.4.15.v20190215"

[2019-03-06 13:27] wilkinsona opened #16119 "Upgrade to Slf4j 1.7.26"

[2019-03-06 13:27] wilkinsona opened #16120 "Upgrade to Spring Security Oauth 2.0.17.RELEASE"

[2019-03-06 13:27] wilkinsona opened #16121 "Upgrade to Spring Ws 2.4.5.RELEASE"

[2019-03-06 13:27] wilkinsona opened #16122 "Upgrade to Jedis 2.9.3"

[2019-03-06 13:30] wilkinsona opened #16123 "Upgrade to Elasticsearch 5.6.15"

[2019-03-06 13:30] wilkinsona opened #16124 "Upgrade to Hibernate Validator 6.0.15.Final"

[2019-03-06 13:30] wilkinsona opened #16125 "Upgrade to Neo4j Ogm 3.1.8"

[2019-03-06 13:30] wilkinsona opened #16126 "Upgrade to Spring Integration 5.0.12.RELEASE"

[2019-03-06 13:30] wilkinsona opened #16127 "Upgrade to Spring Ws 3.0.7.RELEASE"

[2019-03-06 13:33] snicoll commented on #15979
Superseded by #16122

[2019-03-06 13:33] #15979 closed

[2019-03-06 13:33] wilkinsona opened #16128 "Upgrade to Hazelcast 3.11.2"

[2019-03-06 13:33] wilkinsona opened #16129 "Upgrade to Lettuce 5.1.5.RELEASE"

[2019-03-06 13:33] wilkinsona opened #16130 "Upgrade to Netty Tcnative 2.0.22.Final"

[2019-03-06 13:33] wilkinsona opened #16131 "Upgrade to Rxjava2 2.2.7"

[2019-03-06 13:33] wilkinsona opened #16132 "Upgrade to Undertow 2.0.19.Final"

[2019-03-06 13:33] wilkinsona opened #16133 "Upgrade to Jetty Reactive Httpclient 1.0.3"

[2019-03-06 13:34] wilkinsona opened #16134 "Upgrade to Infinispan 9.4.8.Final"

[2019-03-06 13:38] wilkinsona opened #16135 "Upgrade to Caffeine 2.7.0"

[2019-03-06 13:38] wilkinsona opened #16136 "Upgrade to Hazelcast Hibernate5 1.3.2"

[2019-03-06 13:38] wilkinsona opened #16137 "Upgrade to Rabbit Amqp Client 5.6.0"

[2019-03-06 13:38] wilkinsona opened #16138 "Upgrade to Hikaricp 3.3.1"

[2019-03-06 13:38] wilkinsona opened #16139 "Upgrade to Commons Codec 1.12"

[2019-03-06 13:38] wilkinsona opened #16140 "Upgrade to Rxjava2 2.2.7"

[2019-03-06 13:38] wilkinsona opened #16141 "Upgrade to Rest Assured 3.3.0"

[2019-03-06 13:38] wilkinsona opened #16142 "Upgrade to Htmlunit 2.34.1"

[2019-03-06 13:38] wilkinsona opened #16143 "Upgrade to Commons Dbcp2 2.6.0"

[2019-03-06 13:38] wilkinsona opened #16144 "Upgrade to Kafka 2.1.1"

[2019-03-06 13:38] wilkinsona opened #16145 "Upgrade to Assertj 3.12.1"

[2019-03-06 13:38] wilkinsona opened #16146 "Upgrade to Ehcache3 3.7.0"

[2019-03-06 13:38] wilkinsona opened #16147 "Upgrade to Elasticsearch 6.6.1"

[2019-03-06 13:38] wilkinsona opened #16148 "Upgrade to Influxdb Java 2.15"

[2019-03-06 13:38] wilkinsona opened #16149 "Upgrade to Junit Jupiter 5.4.0"

[2019-03-06 13:38] wilkinsona opened #16150 "Upgrade to Mariadb 2.4.0"

[2019-03-06 13:38] wilkinsona opened #16151 "Upgrade to Mockito 2.25.0"

[2019-03-06 13:38] wilkinsona opened #16152 "Upgrade to Mongodb 3.10.1"

[2019-03-06 13:38] wilkinsona opened #16153 "Upgrade to Selenium Htmlunit 2.34.0"

[2019-03-06 13:38] wilkinsona opened #16154 "Upgrade to Webjars Locator Core 0.37"

[2019-03-06 13:38] wilkinsona opened #16155 "Upgrade to Snakeyaml 1.24"

[2019-03-06 13:38] wilkinsona opened #16156 "Upgrade to Maven Invoker Plugin 3.2.0"

[2019-03-06 13:38] wilkinsona opened #16157 "Upgrade to Maven Javadoc Plugin 3.1.0"

[2019-03-06 13:39] #16117 closed

[2019-03-06 13:39] #16119 closed

[2019-03-06 13:39] #16120 closed

[2019-03-06 13:39] #16121 closed

[2019-03-06 13:39] #16122 closed

[2019-03-06 13:39] #16123 closed

[2019-03-06 13:39] #16124 closed

[2019-03-06 13:39] #16125 closed

[2019-03-06 13:39] #16126 closed

[2019-03-06 13:39] #16127 closed

[2019-03-06 13:39] #16128 closed

[2019-03-06 13:39] #16129 closed

[2019-03-06 13:39] #16130 closed

[2019-03-06 13:39] #16131 closed

[2019-03-06 13:39] #16132 closed

[2019-03-06 13:39] #16133 closed

[2019-03-06 13:39] #16134 closed

[2019-03-06 13:39] #16135 closed

[2019-03-06 13:39] #16136 closed

[2019-03-06 13:39] #16137 closed

[2019-03-06 13:39] #16138 closed

[2019-03-06 13:39] #16139 closed

[2019-03-06 13:39] #16140 closed

[2019-03-06 13:39] #16141 closed

[2019-03-06 13:39] #16142 closed

[2019-03-06 13:39] #16143 closed

[2019-03-06 13:39] #16144 closed

[2019-03-06 13:39] #16146 closed

[2019-03-06 13:39] #16147 closed

[2019-03-06 13:39] #16148 closed

[2019-03-06 13:39] #16149 closed

[2019-03-06 13:39] #16150 closed

[2019-03-06 13:39] #16151 closed

[2019-03-06 13:39] #16152 closed

[2019-03-06 13:39] #16153 closed

[2019-03-06 13:39] #16154 closed

[2019-03-06 13:39] #16155 closed

[2019-03-06 13:39] #16156 closed

[2019-03-06 13:39] #16157 closed

[2019-03-06 13:41] #15939 closed

[2019-03-06 13:41] #15940 closed

[2019-03-06 13:41] wilkinsona commented on #15915
Closed by d6a869fa98eaeb3c180a8a3d94dcce8e3f51e204.

[2019-03-06 13:41] #15915 closed

[2019-03-06 13:42] wilkinsona commented on #15197
Thanks, @mp911de. We should be aligned there now. Do you have any plans to upgrade to the latest Reactive Mongo driver?

[2019-03-06 14:25] wilkinsona commented on #16145
This appears to contain some unexpected breaking API changes. Re-opening to investigate.

[2019-03-06 14:39] mhewedy commented on #16107
btw, I can send a PR

[2019-03-06 14:41] mp911de commented on #15197
Missed that one, here's our [upgrade ticket DATAMONGO-2220](https://jira.spring.io/browse/DATAMONGO-2220).

[2019-03-06 15:06] ayudovin commented on #16101
@wilkinsona, I want to work on it. Please let me know if I can start working on it?

[2019-03-06 15:08] wilkinsona commented on #16118
This appears to contain some SSL-related regressions. Re-opening to investigate.

[2019-03-06 15:58] wilkinsona commented on #16043
We discussed this today, and we want to stay on the latest maintenance release of the client. It may be worth lobbying the HTTP Client team for a 4.5.8 release if it causes problems when working with Rabbit. Thanks for bringing it to our attention.

[2019-03-06 15:58] #16043 closed

[2019-03-06 16:02] wilkinsona commented on #16035
Superseded by #16039.

[2019-03-06 16:02] #16035 closed

[2019-03-06 16:18] nalin-sharma-freshworks commented on #14307
what if I'm using netty for GRPC? how to solve this issue then?

[2019-03-06 16:26] wilkinsona commented on #15875
We're going to default to a max history of 7. We'll leave `<totalSizeCap>` as-is for now.

[2019-03-06 16:27] wilkinsona commented on #15677
We'd like to add both of the missing properties. @nhomble A PR that does that would be most welcome.

[2019-03-06 16:31] wilkinsona commented on #15384
We've discussed this and we're in agreement that we don't want to auto-configure the customizer and that you should configure the metrics yourself. Thanks anyway.

[2019-03-06 16:31] #15384 closed

[2019-03-06 17:25] wilkinsona commented on #16145
Re-opening as `org.assertj.core.api.AbstractObjectAssert.isEqualToComparingFieldByField(Object)` appears to be broken. When comparing two `CacheControl` instances, the `noCache()` method that returns a `CacheControl` instance is being used to extract the value of the `noCache` field which is a `boolean`.

[2019-03-06 17:28] DontSeeSharp commented on #10233
@wilkinsona is this still relevant? I'd like to work on this.

[2019-03-06 17:31] wilkinsona commented on #16145
3.12 [adds](https://github.com/joel-costigliola/assertj-core/pull/1360) support for bare-named properties that is enabled by default. This results in it considering `noCache()` to be an accessor for the `noCache` property. Previously only `getNoCache()` and `isNoCache()` were tried.

[2019-03-06 17:36] wilkinsona commented on #16101
@ayudovin Thanks for asking, @ayudovin. Yes, you can start working on this. A PR would be much appreciated.

[2019-03-06 17:49] viktoriya-kutsarova commented on #15753
@snicoll If @behrangsa is not going to tackle this issue, I would like to take it.

[2019-03-06 17:50] wilkinsona commented on #10233
@DontSeeSharp Great, thanks. As far as I know this is still relevant. A contribution that fixes it would be much appreciated.

[2019-03-06 17:54] DontSeeSharp commented on #10233
Great, I'll start working.

[2019-03-06 18:03] rgnanase opened #16158 "Exception in thread "main" java.lang.AbstractMethodError: org.springframework.boot.context.config.ConfigFileApplicationListener.supportsSourceType(Ljava/lang/Class;)Z"
I'm getting this error message when trying to run a .java file using Spring Boot. This is my first project, I checked the resolution from previous posts -- https://github.com/spring-projects/spring-boot/issues/15020, but that has not helped. Please advise
![image](https://user-images.githubusercontent.com/11338828/53902782-f4f69a80-400f-11e9-9053-f40e51bcf435.png)

[2019-03-06 18:28] PascalSchumacher commented on #16149
Hi Andy,

what about adding dependency management for the new `junit-jupiter` artifact (see: https://junit.org/junit5/docs/current/release-notes/index.html#new-features-and-improvements-2 for details)?

[2019-03-06 18:33] snicoll commented on #15753
Thanks for the offer @viktoriya-kutsarova. Please go ahead and let us know if you need anything.

[2019-03-06 18:41] wilkinsona commented on #16149
There's nothing for us to add. We import their bom which contains the new artifact.

[2019-03-06 18:42] wilkinsona commented on #16158
You have mismatched versions of your dependencies on the classpath. If you need some help figuring out what they are and why it's happening, please follow up on Stack Overflow or Gitter.
As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-03-06 18:42] #16158 closed

[2019-03-06 19:45] #16145 closed

[2019-03-06 19:51] wilkinsona opened #16159 "Upgrade to Mongo Driver Reactivestreams 1.11.0"

[2019-03-06 19:51] #16159 closed

[2019-03-06 19:53] wilkinsona commented on #15197
Thanks again. We're aligned there too now. One last one (I hope). How about Cassandra's driver? Boot and SDC are currently on 3.6.0 but the latest is 3.7.1.

[2019-03-06 22:15] wilkinsona opened #16160 "LogbackLoggingSystemTests.testBasicConfigLocation() fails when run in isolation"
It was added for #585. It fails when run in isolation in 1.5.x and later (I haven't tried earlier branches). The file that it was interested in, `basic-logback.xml`, no longer exists so it's not clear what it's trying to test and it currently relies of side-effects from other tests. I _think_ it's checking that the default configuration includes a console appender but I'm not yet 100% sure.

[2019-03-07 02:55] leiyazhen opened #16161 "springboot with security @EnableGlobalMethodSecurity got create bean error,and fail to start application"
i config security like this

[code]

and application is

[code]
console error log is here.

[code]

anybody can help me

[2019-03-07 03:14] C644753271 commented on #16097
Hey, wilkinsona, when I delved into this issue, I made some other findings. At first, I always thought that it was the external injection of JPA beans or Mybatis Mapper into the custom ShiroRealm that caused the problem, but when I delved into it, I found that the problem might be where to get the source data. I have written the specific instructions in the following samples. Please tell me as soo

[2019-03-07 04:33] ShannonHickey commented on #4657
@wilkinsona what a tangled mess :-)

For what it's worth, I did some testing on keep-alive and it appears that after the pause(), any subsequent request on a keep-alive connection results in a close. Of course, that doesn't help if there are no subsequent requests on the keep-alive connection.

[2019-03-07 06:10] mp911de commented on #15197
Spring Data Cassandra is now upgraded to Cassandra driver 3.7.1 and Spring Data Couchbase now also uses Couchbase Client 2.7.4.

[2019-03-07 06:14] timmyz commented on #15774
hi @wilkinsona , i've seen apache accepted your suggestion and make the patch for fix this. when will springboot followup with a new release for it?

[2019-03-07 06:29] wilkinsona commented on #16161
I suspect that the problem is related to the context hierarchy that results from using Spring Cloud. To allow us to investigate can you please provide a complete and minimal sample that reproduces the problem?

[2019-03-07 06:35] wilkinsona commented on #9616
As of Tomcat 9.0.17 and 8.5.39, Tomcat will have opt-in support for creating the necessary directories when saving an upload. We can use this issue to opt in and update the documentation.

[2019-03-07 06:39] wilkinsona commented on #15774
We don’t know yet as the new Tomcat versions have not yet been released. You may want to subscribe to https://github.com/spring-projects/spring-boot/issues/9616.

[2019-03-07 06:47] timmyz commented on #9616
looking forwards to springboot's follow up.
i've seen apache had push the commit for this option (not released yet)
https://github.com/apache/tomcat/commit/267b8d8852db44dbad249453099ef6e9c26a4e9f

[2019-03-07 08:34] taypo commented on #15382
The way I do this is with maven profiles. A profile that includes devtools, and active by default. And a docker profile that defines jib parameters. Locally I have devtools, and a jenkins build uses -Pdocker to disable devtools and build images to my registry.

[code]

[2019-03-07 09:26] #16160 closed

[2019-03-07 09:34] wilkinsona opened #16162 "LogbackLoggingSystemTests fails intermittently"
The intermittent failure looks like this:

[code]

The NPE is occurring because Logback is listing all the files in a directory that has been deleted. This results in null being returned which Logback does not handle correctly. The directory has been deleted by JUnit's TemporaryFolder rule at the end of a test. The NPE occurs in a subsequent test when Logback is stopped and reset as part of its in

[2019-03-07 09:39] spring-issuemaster commented on #16007
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-03-07 09:39] #16007 closed

[2019-03-07 09:43] #16162 closed

[2019-03-07 09:44] wilkinsona opened #16163 "Upgrade to Cassandra Driver 3.7.1"

[2019-03-07 09:50] mdeinum commented on #6913
The `JndiDataSourceAutoConfiguration` is different from other JNDI based configurations like `MailSenderJndiConfiguration` in that it doesn't have the `@ConditionalOnJndi` applied. Would still be nice that this would be consistenly applied on the different JNDI dependend configuration classes.

[2019-03-07 10:21] #16163 closed

[2019-03-07 10:33] wilkinsona commented on #15197
Thanks again, @mp911de. We're aligned on Cassandra's driver now too.

[2019-03-07 10:57] wilkinsona commented on #16097
Thanks for the sample. The root cause of the problem is Shiro's `ShiroFilterFactoryBean` which is both a `FactoryBean` and a `BeanPostProcessor`. It's the latter that is causing the problem. `BeanPostProcessor`s are needed very early in the application's lifecycle so that the can post-process each bean as it's created. This means that injecting dependencies into a `BeanPostProcessor` should be avo

[2019-03-07 10:57] #16097 closed

[2019-03-07 13:08] gonzalad opened #16164 "JVM doesn't terminate when using Spring Batch and RestClientAutoConfiguration"
I'm running a Spring Boot Application containing a single batch job.

The batch job uses the REST ElasticsearchRestTemplate.

When running the application, i.e. via command line:
[code]

The batch is executed, but the JVM doesn't exit.

Versions:
* Spring Boot Version: 2.1.2.RELEASE
* Spring Data Elasticsearch: 3.2.0.M1
* Elasticsearch client: 6.5.0

I've done a thread dump (see [1])

The issue se

[2019-03-07 14:12] mmitropolitsky commented on #15426
Hi, can I contribute to this issue?
If not, is there another one that I can help with?

[2019-03-07 14:51] mrifni commented on #15972
@wilkinsona Please find the fix [here](https://github.com/spring-projects/spring-boot/pull/16165).

Happy to contribute.

[2019-03-07 15:20] wilkinsona commented on #15972
Thank you. I'll close this in favour of your PR.

[2019-03-07 15:20] #15972 closed

[2019-03-07 15:26] wilkinsona commented on #15426
@mmitropolitsky Thanks very much for the offer. A contribution would be most welcome.

[2019-03-07 15:35] wilkinsona commented on #16164
Thanks for the detailed analysis. I don't yet understand the behaviour that you have described. Both `RestClient` and `RestHighLevelClient` have `close()` methods. Those methods should be called automatically as part of application context shutdown.

[2019-03-07 15:44] wilkinsona commented on #16164
Are you relying on the shutdown hook to close the context? The shutdown hook will only run if there are no non-daemon threads alive and that won't be the case here. You'll need to close the application context to ensure that everything gets tidied up.

For Batch applications, we typically recommend doing something like this:

[code]

This will use any `ExitCodeGenerator` beans to determine the app

[2019-03-07 15:44] #16164 closed

[2019-03-07 17:59] gonzalad commented on #16164
Thanks @wilkinsona, adding the exit instruction after SpringApplication.run just fixed my issue.

[code]

Thanks very much, I was doing a horrible hack for such a simple thing :(

[2019-03-07 18:45] 62mkv commented on #7897
Just a guess - from what I've read so far, how can one be sure that `@DirtiesContext` actually *closes* the context? To me it reads as the context is thrown out of the cache, and is guaranteed to not be re-used but that does not (or does it) that it's gracefully closed before next test class is being executed?

As of the H2 in-memory database, it's documentation actually says that even without exp

[2019-03-07 19:21] #16093 closed

[2019-03-07 21:06] wilkinsona opened #16167 "Investigate problem with Maven Flatten Plugin and Maven 3.6.0"
When using Maven 3.6.0, the Flatten Plugin fails to create an effective pom as it is unable to resolve a milestone dependency. This failure occurs because it only has Maven Central available as a repository.

In Maven 3.5.4, all of the repositories configured in the pom are available because the project's remote repositories have been [set](https://github.com/apache/maven/blob/maven-3.5.4/maven-co

[2019-03-08 02:48] ketsorbit commented on #16045
Hi,
Sorry for the delay !

Here's the stacktrace:

`java.lang.NullPointerException
        java.util.Collections.list(Collections.java:5239)
org.springframework.util.StringUtils.toStringArray(StringUtils.java:980)
org.springframework.web.context.request.ServletWebRequest.getHeaderValues(ServletWebRequest.java:143)
org.springframework.web.accept.HeaderContentNegotiationStrategy.resolveMediaTypes(He

[2019-03-08 07:28] numsu opened #16168 "No error message when server.ssl.keyAlias doesn't match an entry"
Hello!

This is a feature request to handle an error.

I ran into an issue when updating my project from version 1.x.x to 2.x.x. Seems like the property `server.ssl.keyAlias` was turned case sensitive and the application couldn't load the key from the keystore on startup. The application is still able to startup with no error or warn log about it but clients cannot complete a handshake.

**Example

[2019-03-08 08:17] wilkinsona commented on #16167
Our use of `${revision}` appears to be crucial to it working in 3.5.4. Swapping that out and setting the version directly results in the same failure with 3.5.4 as is occurring with 3.6.0. My hunch is that we were relying on a quirk of Maven's behaviour that's been fixed in 3.6. Hopefully the Flatten Plugin issue will shed some light on things. In the meantime, we can roll back to 3.5.4.

[2019-03-08 08:20] bclozel commented on #16093
The current implementation is completely separating enablement and exposure.
For now, `@ConditionalOnEnabledEndpoint` and `@ConditionalOnExposedEndpoint` are used together. It might make sense to revisit that in the next milestone and make `@ConditionalOnExposedEndpoint` call the other. Right now I'm wondering if it's still best to keep those separated as they are different concepts and there migh

[2019-03-08 08:24] #15197 closed

[2019-03-08 08:34] snicoll commented on #16093
@bclozel should we move that comment to a new issue targeted to M2?

[2019-03-08 09:55] wilkinsona commented on #15870
Reopening as DevTools restart does not work with lazy initialization enabled.

[2019-03-08 10:06] #15870 closed

[2019-03-08 10:16] bclozel opened #16169 "Review @ConditionalOnExposedEndpoint"
Since #16093, a new conditional annotation has been introduced to guard Actuator endpoints and only instantiate infrastructure when endpoints are exposed.

Given [this comment on the issue](https://github.com/spring-projects/spring-boot/issues/16093#issuecomment-470845127):

For now, @ConditionalOnEnabledEndpoint and @ConditionalOnExposedEndpoint are used together. It might make sense to revisit t

[2019-03-08 10:50] mrifni commented on #16110
Hi, I would like to work on this if possible with some guidance. Please let me know.

[2019-03-08 11:24] simionAndrei commented on #15991
@wilkinsona I would like to contribute in solving this issue, but I have a question about it. Where in the project structure can I find the Actuator API adoc files, since in spring-boot-project/spring-boot-actuator or in spring-boot-docs I wasn't able to identify it.  If this issue is not suitable for contribution, could you please guide me to another one?

[2019-03-08 12:19] wilkinsona commented on #16105
Closing in favour of #16115.

[2019-03-08 12:19] #16105 closed

[2019-03-08 12:21] DontSeeSharp commented on #10233
@wilkinsona, I could not reproduce this on my local Windows machine with [OpenDJK 9.04](https://developers.redhat.com/products/openjdk/download/) from RedHat nor with [Java SE 9](https://jdk.java.net/java-se-ri/9) from Oracle. Tried on sample tomcat project with Spring Boot 2.2.0.

Tried to run in fashion similar to this:
`"C:\Program Files\Java\jdk-9.0.4\bin\java.exe" -jar target/spring-boot-samp

[2019-03-08 12:25] wilkinsona commented on #10233
@DontSeeSharp Thanks for taking a look. The problem only happens when the application is run using the module path. See the two examples in the opening description. It doesn't work in the first example which uses the module path, but works in the second second which uses the classpath (java -jar).

[2019-03-08 12:25] DontSeeSharp commented on #10233
Oh, I see now, thanks for the feedback.

[2019-03-08 12:38] wilkinsona commented on #15991
Thanks for the offer.

The Actuator's API documentation can be found [here](https://github.com/spring-projects/spring-boot/tree/2bd3d19bee6f504b1a7e0742f6703908fa751784/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/asciidoc). This issue might be a little bit tricky for a first-time contribution, but if you're interested in having a go, the end result of [this commit](https://gith

[2019-03-08 12:40] wilkinsona commented on #16101
Closing in favour of #16170.

[2019-03-08 12:40] #16101 closed

[2019-03-08 12:42] wilkinsona commented on #6913
@mdeinum I think that makes sense. Please open a new issue or, even better, a pull request, and we'll take a look.

[2019-03-08 12:48] wilkinsona commented on #16110
Thanks for the offer, @mrifini. I think we might need to do a bit of design work until we're ready to implement something here. One option is to do as `@vpavic` suggests. Another would be to make `AuditAutoConfiguration` conditional on a property that's `false` by default. Whatever we do will need to consider #15039 at the same time so that things are consistent. Please leave it with us for now wh

[2019-03-08 12:57] snicoll commented on #16079
@kandebouya checking in to see if there is anything we can do to help. Please let us know.

[2019-03-08 13:08] tloist opened #16171 "Printer<T> are not autoconfigured when exposed as a bean"
## Status Quo

[The `WebMvcAutoConfiguration`](https://github.com/spring-projects/spring-boot/blob/48e781181e497a4ae7cd49373b9b79eebe7ab50d/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration.java#L309) auto detects beans of type:

* `Converter`
* `GenericConverter`
* `Formatter`

and automatically registers them fo

[2019-03-08 13:36] snicoll commented on #15809
Looks like that exclude has been a bit agressive :(

[2019-03-08 13:37] Pmenasigi commented on #9089
dffd

[2019-03-08 13:42] Pmenasigi commented on #9089
Hi
While enabling HTTPS for spring boot project i am getting like this please need help
Caused by: org.springframework.boot.context.embedded.tomcat.ConnectorStartFailedException: Connector configured to listen on port 8477 failed to start
my ssl configuration
# The format used for the keystore. It could be set to JKS in case it is a JKS file
server.ssl.key-store-type=PKCS12
# The path to the keyst

[2019-03-08 14:19] wilkinsona commented on #9089
@Pmenasigi If you're looking for some help, please ask on Gitter or Stack Overflow. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-03-08 14:24] mrifni commented on #16110
sure

[2019-03-08 15:15] snicoll opened #16172 "Let Hibernate detect the dialect to use"
Spring Boot detects the dialect to use based on the `DataSource`. Unfortunately, the defaults in framework are quite conservative and Hibernate is doing a good job at detecting the right dialect anyway.

As suggested in https://github.com/spring-projects/spring-boot/issues/15342#issuecomment-461001649 we should stop doing that upfront and let Hibernate do its thing.

[2019-03-08 15:17] wilkinsona opened #16173 "Upgrade to Spring Framework 5.2.0.M1"

[2019-03-08 15:52] DontSeeSharp commented on #10233
@wilkinsona As suggested, 975c005 fixes the problem, but it is within `spring-boot-gradle-plugin` module. Is it okay, if I just copy the code over to the `spring-boot` module? (It would create a small amount of duplicate code.)

[2019-03-08 16:00] wilkinsona commented on #10233
Yes, I think that's fine. In this case it's better to have the duplicated code than to place it somewhere that can be shared and that would then need to be public API.

[2019-03-08 16:12] dansomething commented on #15112
I'm really surprised there is no mention of the change to Groovy 2.5 in any of the Spring Boot 2.1 release notes?

https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes
https://spring.io/blog/2018/10/30/spring-boot-2-1-0

[2019-03-08 17:04] snicoll opened #16175 "Update document to reference constructor binding"
There are a few things that will change now we have constructor binding in place: choices for the user how metadata can be generated, classpath scanning, etc.

Let's make sure the doc is updated once those features are available.

[2019-03-08 17:14] wilkinsona opened #16176 "Simplify starter validation dependencies and make validation easier to exclude from web applications"
The move to Jakarta EE API dependencies has made it a little bit harder to exclude validation. Rather than just excluding Hibernate Validator it's now also necessary to exclude the Jakarta EE validation API as well.

We currently have `spring-boot-starter-validation` that pulls in Hibernate Validator without the Java EE validation API, the Jakarta EE validation API, and Tomcat's EL implementation.

[2019-03-08 17:16] wilkinsona opened #16177 "WebFlux or MVC app with the Validation API and no implementation fails to start"
[code]

[2019-03-08 17:29] wilkinsona commented on #16096
Our move to Framework 5.2 is related to this. In 5.2, `AnnotationConfigRegistry` has two new methods.  `AnnotationConfigReactiveWebApplicationContext` implements `AnnotationConfigRegistry` and, as a result, does not compile against 5.2 snapshots. `AnnotationConfigReactiveWebServerApplicationContext` has the same problem.

@snicoll Did you have anything in mind here? Will it help with implementing

[2019-03-08 17:39] sdeleuze commented on #8762
Thanks a lot Boot team for fixing that!

[2019-03-08 17:56] #16176 closed

[2019-03-08 19:17] mbhave commented on #16102
Closing in favor of PR #16108.

[2019-03-08 19:17] #16102 closed

[2019-03-08 19:25] mbhave commented on #15753
Closing in favor of PR #16166.

[2019-03-08 19:25] #15753 closed

[2019-03-08 19:30] garyrussell commented on #16043
Pinged them [here](https://issues.apache.org/jira/browse/HTTPCLIENT-1968?focusedCommentId=16788228&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16788228). Let's see if we get a reply in time for 2.1.4.

[2019-03-08 19:31] krm1312 commented on #16043
Thanks.  Just spent 2 hours tracking this down w/ https://github.com/rabbitmq/hop.

[2019-03-08 19:33] gandrade opened #16179 "Support parallel test execution with @AutoConfigureMockMvc"
I've created a small project running atop of Spring Boot `2.2.0.BUILD-SNAPSHOT` version and using `JUnit 5` as the test runner. There, running a single-test available, repeated times, using `@Repeated` annotation, and in [parallel](https://junit.org/junit5/docs/current/user-guide/#writing-tests-parallel-execution), I've been facing the following stack trace, when an assertion fails because it took

[2019-03-08 21:49] mbhave commented on #16088
Actually, the problem is broader than just fixing the type in `WebFluxTypeExcludeFilter`. `WebFluxTypeExcludeFilter` only applies to beans created by component scanning. When you have something like this:

[code]

The `WebFluxTypeExcludeFilter` doesn't include `@Configuration` classes and `SecurityWebFilterChain` which is not created by component scanning doesn't get picked up.

@dkroehan As a wor

[2019-03-09 05:32] zhangjiaxin281 opened #16181 "Mybatis-spring-boot-starter：1.3.2升级2.0.0程序错误"
**gradle info**
[code]
**application.yml**
[code]
**mybatis-config.xml**
[code]
**error info**
[code]
https://github.com/zhangjiaxin281/rabbitmq-hello.git

[2019-03-09 08:05] wilkinsona commented on #16181
Thanks for the report. Given that the `NullPointerException` is occurring in MyBatis code, I think this should be investigated by the MyBatis team to begin with. Can you please raise an issue with them? If it turns out that the problem is caused by Spring Boot we can re-open this issue and take another look.

[2019-03-09 08:05] #16181 closed

[2019-03-09 15:27] jnizet opened #16183 "JsonTest isn't annotated with @ExtendWith(SpringExtension.class)"
Spring Boot 2.1.3.RELEASE: unlike other XxxTest annotations, `JsonTest` isn't annotated with `@ExtendWith(SpringExtension.class)`, and I haven't seen any indication in the documentation or the developer guide that it shouldn't be.

[2019-03-09 16:40] jhaeyaert opened #16184 "Skip lazy initialization of beans that explicitly set the lazy attribute to false"
Hi,

The suspected issue described below is related to the version 2.2.0.M1 of Spring Boot.

It appears that the management endpoints are not reachable when using the new lazy initialization feature with actuator endpoints exposed on another port than the default one.

Steps to reproduce :

- Create a new project from spring initializr with the new Spring Boot 2.2.0.M1 version
- Add Reactive Web a

[2019-03-09 20:01] wilkinsona commented on #16183
Looks like I missed this when I added `@ExtendWith(SpringExtension.class)` to all the `@…Test` annotations. Thanks for spotting and reporting it.

[2019-03-09 20:02] #16183 closed

[2019-03-09 20:03] wilkinsona commented on #16184
Thanks for trying out the milestone. This sounds like a bug to me. We caught a similar one that switched off DevTools restart just before we released but this one slipped through.

[2019-03-09 20:26] wilkinsona commented on #16184
Adding the following bean to your app should work around the problem for now:

[code]

This will ensure that the logic that creates the child context for the management server is not lazy and that the server is created and started.

There's a secondary problem here. The beans in the separate management context that's used when the management port does not match the server port are all initialised

[2019-03-10 00:43] zhangjiaxin281 commented on #16181
Thank you very much for your patient answer. I have submitted the questions to the MyBatis team. Thanks again.

[2019-03-10 02:34] joshlong opened #16185 "please register `WebSocketHandlerAdapter` by default"
It seems like I almost never need to do anything with `WebSocketHandlerAdapter` when using WebFlux and websockets. I just need to register it, like this:

[code]

I can see why i need to register the `WebSocketHandler`  (that's where my custom websocket logic lives) and I can see why I need to register the `SimpleUrlHandlermapping` bean (that's where my custom routing lives). But why the `WebSocke

[2019-03-10 12:40] wilkinsona opened #16186 "Review need for `@Autowired` on `@ConfigurationProperties` class's constructor"
The new support for constructor binding of configuration properties has introduced a need for `@Autowired` on a `@ConfigurationProperties` class's constructor. I find it a little confusing when the class only has a single constructor as, since Framework 4.3 (I think), `@Autowired` has not been necessary when the class only has a single constructor. I'd like to see if we can drop the requirement. I

[2019-03-10 14:49] Freeongoo opened #16187 "@MockMvc does not work with validation annotated with @Valid"
https://stackoverflow.com/questions/55088583/mockmvc-does-not-work-with-validation-annotated-with-valid

I cannot understand why, with default settings, tests for validation with the @Valid annotation do not work correctly

[2019-03-10 16:49] wilkinsona commented on #16187
To avoid wasted effort, let’s keep things in one place for now. We can re-open if the question on Stack Overflow identifies a bug.

[2019-03-10 16:49] #16187 closed

[2019-03-10 19:38] wilkinsona commented on #8762
Re-opening so that we can update the reference docs. I’d also like to take another look at the occasional need for `@Autowired` although I am not sure there’s a better alternative.

[2019-03-10 19:39] wilkinsona commented on #16186
We can do this is part of the original issue as it hasn’t been in a release yet.

[2019-03-10 19:39] #16186 closed

[2019-03-10 20:35] snicoll commented on #16186
There is already a doc issue #16175 - as for the use of autowired this may evolve once we implement classpath scanning that also has a dedicated issue.

[2019-03-11 06:39] joshiste opened #16188 "logfile endpoint returns HTTP 406 on Accept: text/plain"
The logfile endpoint responds with a content of type `text/plain`.
When doing the get request with `Accept: text/plain` a HTTP 406 (Not Acceptable) is returned. I'd expected such a request to succeed.

[2019-03-11 06:42] joshiste commented on #16188
It looks like that only `Accept: */*` (or omitting the header) works.

[2019-03-11 08:10] wilkinsona commented on #16188
Thanks for the report, @joshiste. Looks like this affects all three web stacks. Here's an addition to `LogFileWebEndpointWebIntegrationTests` that fails on Jersey, Spring MVC, and Reactive:

[code]

[2019-03-11 08:32] #16188 closed

[2019-03-11 08:44] zl7261 opened #16189 "Clients with incompatible default encoding may corrupt output from log file endpoint as it does not specify the charset that it produces"
I download a plugin for chrome before.
And the default encoding for chrome doesn't support very well.
And convert to utf-8 by plugin,the Chinese display right.

I assume it's a browser problem. But I found Firefox it's the same.

By browser default encoding without

···
meta charset="UTF-8"
···

"enterpriseName":"企业名称" is be corrupted  as  "enterpriseName":"浜胯仈缃戠粶" which is unreadable.

[2019-03-11 09:49] wilkinsona commented on #16189
Thanks for the report. Unfortunately, the problem that you are describing isn't clear to me. Can you please describe it in some more detail or, ideally, provide a minimal sample that reproduces the problem?

[2019-03-11 10:23] snicoll commented on #16096
This is related indirectly. We have contexts in the hierarchy that ultimately do not depend on `GenericApplicationContext` and some methods where not available. @jhoeller provided a pragmatic fix for that that explains why there are two new methods to implement in 5.2.

It looks like this will be interesting for `AnnotationConfigReactiveWebApplicationContext`.  `AnnotationConfigReactiveWebApplicat

[2019-03-11 10:51] wilkinsona opened #16190 "Ensure that `@Bean` is only used on `@Configuration` classes"
We have a few places across the codebase where we are accidentally using lite configuration mode with `@Bean` methods on a class that is not annotated with `@Configuration`. To avoid unexpected behaviour and to pave the way for #9068, we should make sure that we're only using `@Bean` on `@Configuration` classes.

[2019-03-11 11:26] sdeleuze opened #16191 "Evaluate "clever" lazy bean initialization"
This proposal intend to make Spring Boot applications more efficient by default and have startup time and memory consumption stable regardless of the amount of user classes and beans.

Lazy bean initialization available in Boot 2.2 M1 is an interesting improvement, but its impact is limited by the fact that it is not enabled by default (for good reasons).

I tend to think that if we improve this f

[2019-03-11 11:47] elue opened #16192 "Jackson2ObjectMapperBuilder's modulesToInstall function does not eventually override the default configuration"
**Spring Boot version: 2.1.2.RELEASE**

The Jackson2ObjectMapperBuilder's modulesToInstall  documentation says

	 *Specify one or more modules to be registered with the {@link ObjectMapper}.
	 * <p>Modules specified here will be registered after
	 * Spring's autodetection of JSR-310 and Joda-Time, or Jackson's
	 * finding of modules (see {@link #findModulesViaServiceLoader}),
	 * allowing to event

[2019-03-11 11:56] wilkinsona commented on #16192
`Jackson2ObjectMapperBuilder` is part of Spring Framework and just auto-configured by Spring Boot. From what you've described thus far, it's not clear if the problem is caused by how Spring Boot is configuring `Jackson2ObjectMapperBuilder`, a bug in Spring Framework, or a problem in your own code. To help us to home in on the problem, can you please provide a complete and minimal sample that repro

[2019-03-11 11:59] elue commented on #16192
@wilkinsona , thanks for the response. I will put it as a separate repository as soon as possible.

[2019-03-11 12:15] hantsy commented on #15008
Spring Boot 2.2 M1 lacks auto-configuration for reactive data Elasticsearch,  currently I have to [enable it maunally](https://github.com/hantsy/spring-reactive-sample/blob/master/boot-data-elasticsearch/src/main/java/com/example/demo/DemoApplication.java#L36). And the latest Spring data Elasticsearch(Moore) has included reactive repository and template APIs.

[2019-03-11 13:22] sdeleuze commented on #16191
As suggested by @snicoll, this issue concerns more Spring Framework than Spring Boot and should be probably discussed and evaluated in https://github.com/spring-projects/spring-framework.

[2019-03-11 13:39] venkatnpedada opened #16194 "Upgrading spring boot returning 'text/html' response in case of error response 5XX/4XX"
Error 5XX/4XX returns `text/html` response type instead of JSON after Spring Boot 2 upgradation. Please find the sample code in below repo.

Even tried with excluding Auto-config "ErrorMvcAutoConfiguration.class".

https://github.com/venkatnpedada/gradle-spring-boot-project

[2019-03-11 14:34] snicoll opened #16195 "Upgrade to Kotlin 1.3.21"

[2019-03-11 14:57] #16195 closed

[2019-03-11 15:01] snicoll commented on #16173
We've migrated master to 5.2 snapshots with several changes we'll have to revisit once we hear back from @jhoeller. This should be fixed as part of #16096 that I've flagged for the next milestone.

[2019-03-11 15:38] metalpalo opened #16196 "bean with annotation @MockBean is used in next SpringBootTest"
Hi all,

I'm using spring boot 1.5.8 and developing one simple microservice. In order to test it, I implemented two spring boot test annotated with @SpringBootTest(webEnvironment = WebEnvironment.RANDOM_PORT)

SecondTest which shouldn't use any mock (for dataService) is executed always after FirstTest. Problem is that second test reuses this mocked bean, and then real bean(two times called bean's

[2019-03-11 15:40] snicoll commented on #16196
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-03-11 15:40] #16196 closed

[2019-03-11 16:16] tkvangorder commented on #15870
Hi Andy,

I am glad to see this in the official codebase.

Back when I had originally purposed the idea in the context of integration tests,
we had run into some issues with the Spring Integration DSL:

https://github.com/spring-projects/spring-boot/issues/9685

Once we migrate to Boot 2.2, will we still have to exclude the flows or was there some other workaround?

Thanks!

[2019-03-11 16:20] wilkinsona commented on #15870
I'd forgotten about the problems that you encountered with the Spring Integration DSL. Sorry. I'm not aware of any changes in Spring Integration so the problem may still exist. Please give 2.2 M1 a try and let us know how you get on. There may be something that we can do to improve the situation, or we may be able to do something in conjunction with the Spring Integration team. If the problem you

[2019-03-11 16:22] bclozel commented on #16194
I've tested your application and it seems to work as expected.

With `ErrorMvcAutoConfiguration` excluded, the error response is the Servlet container error one, in HTML format in every case.

Once `ErrorMvcAutoConfiguration` is "un-excluded", I'm seeing the following behavior:

[code]

[code]

Please clarify what is the expected behavior here and why this should be considered as a bug.
Thanks!

[2019-03-11 16:40] #16190 closed

[2019-03-11 16:44] #9486 closed

[2019-03-11 17:03] tkvangorder commented on #15870
It might be a bit before we move to 2.2, we JUST finished moving to 2.1. If I get some time I will try to come up with a sample to test things out.

[2019-03-11 17:31] philwebb opened #16197 "Investigate fat jar unpack options"
There's always going to be a certain overhead with our fat jar format so we should investigate what works best in terms of running an unpacked jar. This might overlap a little with #12545.

We should consider:

* Do users want a zip from the build, or do they want to convert a fat jar
* What happens with the embedded startup scripts
* How does it effect PaaS and K8S deployments
* How do we not ove

[2019-03-11 17:37] emax19 opened #16198 "PropertySource and arrays of string"
l tried to use configuration file(another-prop.yml) using PropertySource annotation. But in including file doesn't parse an array of string like in main file configuration(application.yml).
In application yml, arrays is working with separating each line via '-', for another-prop.yml it is not working

It has been tested in spring boot version of 2.2.0.M1, 2.2.0.BUILD-SNAPSHOT and 2.1.3.RELEASE...

[2019-03-11 17:40] snicoll opened #16199 "Use Kotlin metadata to retrieve parameter names of Endpoints"
Thanks to @sdeleuze I was able to [improve the logic to extract parameters name](https://github.com/spring-projects/spring-boot/blob/fed145e195cea413b5c8e461eda580c06c8251ad/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/context/properties/bind/ConstructorParametersBinder.java#L176-L199) of `@ConfigurationProperties` constructors with Kotlin. This results in a simpler setup

[2019-03-11 17:55] wilkinsona commented on #16198
`@PropertySource` is part of Spring Framework and does not support YAML.

[2019-03-11 17:55] #16198 closed

[2019-03-11 18:37] philwebb commented on #16096
`AnnotationConfigReactiveWebApplicationContext` intentionally mirrors the hierarchy of frameworks `AnnotationConfigWebApplicationContext` and I think it's mainly used in tests. We should follow the lead of Spring Framework, but I doubt we can change it to not extend `AbstractRefreshableConfigApplicationContext` at this point.

[2019-03-11 18:49] philwebb commented on #16185
If we're talking about `org.springframework.web.reactive.socket.server.support.WebSocketHandlerAdapter` then I'm not sure we have a strong classpath signal that websockets are being used since that class is part of `spring-webflux`.

@joshlong or @rstoyanchev Do you know if a `spring-websocket` jar dependency is also needed? Or do reactive websockets work differently?

[2019-03-11 18:51] 62mkv commented on #7897
talking to myself here.. so, if spring-boot-devtools are on the classpath, (and they ,are if you run JHipster-generated microservice in "dev" profile), there's autoconfigured bean InMemoryDatabaseShutdown, which has `destroy` method that issues "SHUTDOWN" command into database handle, so if you're using `@DirtiesContext` without overriding `spring.datasource.url`, then well, get ready for "fun" ..

[2019-03-11 18:52] philwebb commented on #10233
Closing in favor of PR #16182 (thanks @DontSeeSharp!)

[2019-03-11 18:52] #10233 closed

[2019-03-11 19:36] mbhave commented on #15872
The corresponding [changes in Spring Security](https://github.com/spring-projects/spring-security/issues/5200) will be available in `5.2.0.M2` which is scheduled for April 15th at the time of writing. Boot 2.0.0.M2 is scheduled for April 9th so we'll have to wait for M3 to do this one.

[2019-03-11 20:15] sdeleuze commented on #16199
+1, `java-parameters` is not an attribute commonly used in Kotlin since this information is already available via Kotlin reflection.

[2019-03-11 20:20] wilkinsona opened #16200 "Rework o.s.b.a.couchbase.CouchbaseConfiguration to avoid the need for bean method proxying"

[2019-03-11 20:20] wilkinsona commented on #9068
I've opened https://github.com/spring-projects/spring-boot/issues/16200 to rework `CouchbaseConfiguration`.

[2019-03-11 20:23] wilkinsona opened #16201 "Expose proxyBeanMethods as an alias on SpringBootConfiguration, SpringBootApplication, and ManagementContextConfiguration"
Spring Framework 5.2 allows proxying of `@Bean` methods to be disabled via an attribute on `@Configuration`. As things stand, such proxying cannot be disabled when using `@SpringBootApplication`, `@SpringBootConfiguration`, or `@ManagementContextConfiguration` which are all meta-annotated with `@Configuration`. We should introduce an alias for the `proxyBeanMethods` attribute of `@Configuration` t

[2019-03-11 21:14] stevenlyde opened #16202 "Including finalName in plugin configuration results in StackOverflowError"
This bug is present in version 2.1.3.RELEASE.

Trying to run a jar created with the maven plugin where finalName has been specified results in a StackOverflowError during class loading. To reproduce the error, see the attached sample and run the following commands.

[sample.tar.gz](https://github.com/spring-projects/spring-boot/files/2954205/sample.tar.gz)

[code]

The finalName property is no lon

[2019-03-11 22:40] maciejwalkowiak commented on #6570
@michelzanini I had similar issue and I since I did not want my tests to take ages with `@DirtiesContext` I solved it by using anonymous queues during tests. You can have a look at full sample with description here: https://github.com/maciejwalkowiak/spring-boot-spring-amqp-java8-lombok-sample

[2019-03-11 23:18] #15445 closed

[2019-03-11 23:54] hendisantika commented on #12033
So, What should I to get issue `Field version_rank doesn't have a default value on Spring Boot 2.1.3` get solved @axelfontaine ?

Sorry, Maybe I misleading.
Thanks

[2019-03-12 06:01] philwebb opened #16204 "Investigate why spring-boot-autoconfigure tests take so long to compile"
Compiling the auto configure tests takes a long time on my machine. It took 5 minutes to move from `ConditionalOnResourceTests` to `FlywayPropertiesTests`:

[code]

JStack at the time shows:

[code]

[code]

[2019-03-12 06:30] zl7261 commented on #16189
my project use mybatis and slf4j.
when the slf4j print the log on the ide's console ,the Chinese condition param is showing well.
[code]
the "enterpriseName" is readable.

but when I open /logfile endpoint.the log which is showing on browser which dont contains
[code]
is

2019-03-12 00:10:00.012  INFO 32363 --- [scheduling-1] c.y.sz.ytms.task.EnterprisePollTask      : Param:{"enterpriseName":"浜胯仈缃

[2019-03-12 06:33] zl7261 commented on #16189
btw,It's a scheduler log which use apache httpclient to poll some information for each 5 minutes.
I set the http content-type to 'application/json,charset=utf8'.
the task works well.
just the chinese param of /logfile endpoint doesn't work.

[2019-03-12 06:55] philwebb opened #16205 "Rollback to Maven Invoker 3.1.0"
Unfortunately 3.2.0 fails for me locally with the following:

[code]

The error appears to have been fixed by https://github.com/apache/maven-invoker-plugin/commit/e99a189e99cc655ed2f399cbb3d9f3a36625db4a but as yet not released.

See #16156

[2019-03-12 07:01] philwebb commented on #16205
Reopening in case @wilkinsona can add a bomr exclude.

[2019-03-12 07:10] Walliee opened #16206 "Binder can fail when multiple overloaded setters exist"
If a `ConfigurationProperties` class has a `String` property but two setters for that property, one that takes a `String` and sets it and another that takes in a `int` coverts value to a `String` and then sets it.

[code]
and the properties files has a `String` value
[code]
At startup, the `Binder` sometimes uses the setter with the `int` param and fails with an error as follows:
[code]

Turning o

[2019-03-12 08:17] wimdeblauwe opened #16207 "Typo in 'Testing Spring Boot Applications' note on JUnit 5"
There is a typo in the documentation. It currently states:

The `.class` is missing, so it should be:

[2019-03-12 08:21] jrushto1 opened #16208 "WebFluxTags defaults uri label to "UNKNOWN" on http_server_request metrics despite path being none empty"
http_server_requests metrics uri label shows up as "UNKNOWN" on gateway routes when using spring cloud gateway with spring boot release 2.1.3. This seems to have been introduced between spring boot 2.1.1 and 2.1.2 releases. Sample project [here](https://github.com/jrushto1/springbootactuatortest).

```http_server_requests_seconds_count{exception="SSLHandshakeException",method="GET",outcome="SERVER

[2019-03-12 08:30] wilkinsona commented on #16208
Unfortunately this is unavoidable. Please see https://github.com/spring-projects/spring-boot/pull/15609 for details.

[2019-03-12 08:30] #16208 closed

[2019-03-12 08:45] michael-simons opened #16210 "Neo4jRepositoriesAutoConfiguration uses old style of checking whether repositories are enabled"
`org.springframework.boot.autoconfigure.data.neo4j.Neo4jRepositoriesAutoConfiguration` uses `@ConditionalOnProperty` to check whether Neo4j repositories are enabled or not.

Since Spring Boot 2.0.0 there is a dedicated condition for it: `@ConditionalOnRepositoryType`. This condition makes the intentions clearer. It also explicitly states the type of the repository (at the moment, Neo4j supports on

[2019-03-12 09:19] snicoll commented on #16202
Thanks for the report. Making it read only is exactly what I thought would happen (see #12608) but for some reason Maven still allows for the field to be changed so I must have misunderstood the purpose of `readOnly`.

[2019-03-12 09:35] #16201 closed

[2019-03-12 09:35] #16205 closed

[2019-03-12 10:20] wilkinsona commented on #16204
I've tried to reproduce this just building `spring-boot-autoconfigure` and have been unable to do so. I've tried with both 1.8.0_202 and 1.8.0_181. Does it only happen when running a full build?

[2019-03-12 10:26] wilkinsona opened #16211 "Test the Gradle plugin against Gradle 5.3-rc-3"

[2019-03-12 10:50] wilkinsona commented on #16211
This is revealed what may be a regression in Gradle. I've opened https://github.com/gradle/gradle/issues/8748.

[2019-03-12 12:05] gatesjd commented on #16202
Since finalName is missing from the spring-boot:repackage goal's [parameters](https://docs.spring.io/spring-boot/docs/current/maven-plugin//repackage-mojo.html), and [usage examples](https://docs.spring.io/spring-boot/docs/current/maven-plugin//examples/repackage-classifier.html), I understood it was no longer supported in the plugin configuration. The [Spring Boot 2.1 Release Notes](https://githu

[2019-03-12 13:11] wilkinsona opened #16212 "Set up CI for JDK 12"
It's scheduled for released later this month. We should decide what version we want to start supporting it on and set up CI accordingly.

[2019-03-12 14:47] sebasira commented on #12105
Sorry to bother here. I know this team cannot fixed as said in the previous message but don't know where else to post it and I don't have a twitter account.

I'm getting 502 as well right now since several minutes ago

[2019-03-12 14:56] snicoll commented on #12105
@sebasira thank you but this has been reported several times already.

[2019-03-12 14:57] wilkinsona commented on #16189
Thanks for the additional information. I've reproduced the behaviour you have described. It's really a client-side presentation problem. The contents of the log file are served correctly but are then corrupted by the browser as it makes an incorrect assumption about the encoding of the file. With Safari's default encoding set to ISO Latin 1, corruption occurs. With its default encoding changed to

[2019-03-12 14:59] wilkinsona commented on #12105
Thanks, but there's no need to tell us. Pingdom monitors repo.spring.io for us so we're already aware of the outage.

[2019-03-12 15:01] orangeroad0922 commented on #16207
Hi. Can I work this issue?

[2019-03-12 15:04] orangeroad0922 commented on #16207
Hi. Can I work this issue?

[2019-03-12 15:04] orangeroad0922 commented on #16207
Hi. Can I work this issue?

[2019-03-12 15:19] wilkinsona commented on #16192
Thanks for the sample. It can be made quite a bit more minimal, removing Spring Boot's involvement entirely:

[code]

`testFailingObjectMapperForZoneOffset` will fail because the registration of the default `JavaTimeModule` prevents the custom module with the same `typeId` from being registered. This looks like a bug in `Jackson2ObjectMapperBuilder` to me. Well-known modules are registered first w

[2019-03-12 15:27] wilkinsona commented on #16207
I see you already have. Thanks very much for the PR. I'll close this issue in favour of it.

[2019-03-12 15:27] #16207 closed

[2019-03-12 15:50] elue commented on #16192
Thanks for the feedback. Shall I register this bug at springframework then? Or would you proceed with it?

[2019-03-12 15:53] elue commented on #16192
Thanks for the feedback. Would you raise an issue for the spring framework then?

[2019-03-12 16:05] wilkinsona commented on #16192
I've asked @philwebb to move this issue over to spring-projects/spring-framework.

[2019-03-12 16:26] wilkinsona commented on #16206
@Walliee Thanks for the sample. Unfortunately, I can't reproduce the exact behave that you have described. The binder consistently selects the `setProperty(String)` method for me and fails consistently as a result. I've tried both running the app repeatedly and recompiling and running the app repeatedly. What JVM are you using and exactly how are you running the example?

[2019-03-12 16:34] snicoll commented on #16079
@kandebouya we haven't heard back from you and are available if you need help. If we don't hear from you by the end of the week, we'll let someone else have a crack at it. Thanks!

[2019-03-12 16:36] wilkinsona commented on #16206
Regardless of not being able to reproduce the exact behaviour, I still think there's room for some improvement in the binder here. Looking in the debugger there's a `JavaBeanBinder$BeanProperty` instance with a `String` field but a setter that takes an `int`. Given that there's a setter that matches the field's type, it feels reasonable for it to be preferred.

[2019-03-12 16:54] Walliee commented on #16206
So OpenJDK jdk8u172-b11 is one of the JVMs I have seen this on. Also, it happens for me while running the app in IDE (Intellij 2018.2) and also while running the Spring Boot executable jar.

It's interesting that it consistently fails for you. The behavior I saw was that it would pick the String overloaded setter most of the times and only int overloaded one once in a while.

[2019-03-12 17:13] wilkinsona commented on #16206
I have a possible fix [here](https://github.com/wilkinsona/spring-boot/tree/gh-16206). The implementation relies on the getters and setters being considered before the fields, so, rather than trying to invert that ordering, matching against the field is done lazily.

@mbhave or @philwebb could you please take a look and see if I've missed a more straightforward solution?

[2019-03-12 17:22] wilkinsona commented on #9068
There was a quirk in Spring Framework that meant that a few configuration classes that defined factory beans still had to be proxied. That quirk has been fixed now. Re-opening to make the necessary updates once repo.spring.io is back on its feet and we can get at a new Framework snapshot.

[2019-03-12 17:24] wilkinsona commented on #15426
Closing in favour of the PR from @mmitropolitsky (thank you!).

[2019-03-12 17:24] #15426 closed

[2019-03-12 17:31] wilkinsona opened #16214 "Auto-configure reactive Elasticsearch components introduced in Spring Data Moore"
We should auto-configure the new reactive Elasticsearch components, including a `ReactiveElasticsearchTemplate` and `ReactiveElasticsearchClient`, when the necessary dependencies are on the classpath.

[2019-03-12 17:31] wilkinsona commented on #15008
@hantsy Thanks, but that's not really related to what's being tracked here. I opened https://github.com/spring-projects/spring-boot/issues/16214 to track the new auto-configuration.

[2019-03-12 18:04] mbhave commented on #16206
This is the only way I can think of other than inverting the evaluation of fields and methods. If we did that, we might be able to create a `BeanProperty` with the field and methods and save having to call `determineSetter` and `determineGetter` in multiple places.

[2019-03-12 18:11] mbhave commented on #16210
It's slightly different because the property that the two conditions check are different (`spring.data.neo4j.repositories.enabled` vs `spring.data.neo4j.repositories.type`). #11134 has some history around why the enabled flag was kept around for repositories that do not have a reactive option.

[2019-03-12 18:20] mbhave commented on #16030
Closing in favor of PR #16104.

[2019-03-12 18:20] #16030 closed

[2019-03-12 18:29] BertCC commented on #15899
Looks like repo is down again today 3/12/2019

[2019-03-12 19:30] michael-simons commented on #16210
Oh that's a good point!

Would it be an idea to throw an `InvalidConfigurationPropertyValueException` in a case where the reactive variant is not supported?

[2019-03-12 19:57] pas2al commented on #15035
I would love to give it a try.

[2019-03-12 19:59] atulkulkarni18 commented on #15035
I would like to fix this issue.

[2019-03-12 20:10] mbhave commented on #15035
@pas2al It's all yours! Please let us know if you have any questions.

@atulkulkarni18 Thanks, we'll reach out to you if @pas2al isn't able to work on it for some reason.

[2019-03-12 20:16] koziolk commented on #16079
@snicoll I can work on it if @kandebouya is not available

[2019-03-12 22:28] dacamocr opened #16215 "r"

[2019-03-13 00:15] #16215 closed

[2019-03-13 00:30] philwebb commented on #16204
Yeah, it's super odd. It doesn't even happen each time with a full build. Running `mvn clean install` from the checkout root causes it. If I kill `java` and run again with `-fr :spring-boot-autoconfigure` it's fine.

[2019-03-13 00:34] philwebb opened #16216 "Restore AnyEdit by hosting it on Bintray"
We had to drop AnyEdit because it wasn't on an HTTP host but I guess we could put a copy on Bintray.

[2019-03-13 00:36] philwebb commented on #16216
Actually, forget it. I think we originally installed it to deal with trailing whitespace but the formatter now deals with that.

[2019-03-13 00:37] #16216 closed

[2019-03-13 02:33] MohitSharma6989 opened #16217 "After compile maven project " Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile)" error is coming"

[2019-03-13 02:34] MohitSharma6989 commented on #16217
Pom
<?xml version="1.0" encoding="UTF-8"?>
<project xmlns="http://maven.apache.org/POM/4.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/POM/4.0.0 http://maven.apache.org/xsd/maven-4.0.0.xsd">
  <modelVersion>4.0.0</modelVersion>

  <groupId>App</groupId>
  <artifactId>Maven</artifactId>
  <version>1.0-SNAPSHOT</version>

  <name>com.Maven</

[2019-03-13 03:02] Blackdread opened #16218 "Cannot scan classpath"
Spring version used (but any version should have same issue): 2.0.5.RELEASE
Use java 8

Similar issues:
https://github.com/spring-projects/spring-boot/issues/4375

While using [ClassPath](https://google.github.io/guava/releases/snapshot/api/docs/com/google/common/reflect/ClassPath.html) from Guava, it is not possible to find classes once the code is compiled into a jar via spring boot maven plugin

[2019-03-13 03:25] mhewedy commented on #15035
I like the idea 😃

[2019-03-13 06:25] wilkinsona commented on #16217
A compilation problem when building with Maven is almost certainly not caused by Spring Boot. For that reason, this, unfortunately, isn’t the right place for this. If you need some help I would recommend asking on Stack Overflow. If you do so, please provide more details than you have done here. To be able to help you, people will need to know what error you are getting. You should also provide ev

[2019-03-13 06:25] #16217 closed

[2019-03-13 06:28] wilkinsona commented on #16204
I wonder if it’s a memory leak (in Maven?) and it’s GC overhead that slows it to a crawl.

[2019-03-13 06:38] wilkinsona commented on #16218
Thanks for the report. From a Spring Boot perspective, things have not changed since
https://github.com/spring-projects/spring-boot/issues/5338 and if Guava ClassPath has not addressed its limitations, I would still recommend using something else. It sounds like that may not be possible in your case. Unfortunately that is out of Spring Boot’s control.

You may want to investigate using an alternat

[2019-03-13 06:38] #16218 closed

[2019-03-13 07:14] snicoll commented on #13586
I am not keen to have an accessor that exposes the `InfoContributor` and a direct link to the `InfoEndpoint` there. In the past, we've used the same strategy to get things in multiple places if need to be. If that doesn't work, then we can have a `InfoIndicator` or something?

[2019-03-13 07:26] rstoyanchev commented on #16185
No, `spring-websocket` is not need/used for this but we could probably register `WebSocketHandlerAdapter` automatically with the `@EnableWebFlux` setup, and perhaps add some extra convenience methods to `SimpleUrlHandlerMapping` to improve the above sample. @philwebb feel free to transfer to spring-framework.

[2019-03-13 07:41] snicoll commented on #16079
Thanks @koziolk, you're third. @Oguzyildirim is next if we don't hear from @kandebouya

[2019-03-13 07:44] snicoll commented on #16210
IMO we should not move to `type` if there is no reactive support, offering a configuration option and then throwing an option seems nasty unless I misunderstood your proposal @michael-simons?

[2019-03-13 08:03] michael-simons commented on #16210
Yeah, one could call this nasty :) I wasn't sure how important a unified configuration is.
So, without having us reactive support, we should close this and leave stuff the way it is.

[2019-03-13 08:07] #16210 closed

[2019-03-13 08:34] snicoll commented on #16204
@philwebb do you have any `MAVEN_OPTS` ?

[2019-03-13 09:10] SammyVimes commented on #15446
Is there still no assignee? If so, I'd like to work on that task

[2019-03-13 09:26] FDelporte commented on #15035
@philwebb @mbhave great idea! You can add me to the waiting list :-)

[2019-03-13 09:29] wilkinsona commented on #15446
@SammyVimes Thanks for the offer, but Flyway 6 has not yet been released so nothing can be done here at the moment.

[2019-03-13 09:58] SammyVimes commented on #15446
@wilkinsona Yes, but it's possible to use Java migrations in Flyway Beta, so I thought I can add support for it and merge when the release comes out :)

[2019-03-13 10:02] wilkinsona commented on #15446
Cool. If you'd like to prepare something against the beta, ready to be updated to the GA when it's released and then merged, that'd be much appreciated.

[2019-03-13 10:20] saket88 commented on #15035
I am on the waitlist :)

[2019-03-13 11:02] wilkinsona opened #16220 "Rework ConfigurationBeanFactoryMetadata to remove use of ReflectionUtils.doWithMethods"
Ideally, we'd get rid of the public API altogether but it's used by Spring Cloud and the config props endpoint. Let's see if we can rework the internals instead to avoid the use of reflection.

[2019-03-13 12:57] wilkinsona opened #16222 "Update Gradle bootRun to launch JVM with flags to enable development-time optimisations"
Both IDEA and Spring Tools launch Boot apps during development with customised tiered compilation and the verifier disabled to reduce startup time. We should do the same with `spring-boot:run` in Maven and `bootRun` in Gradle.

[2019-03-13 14:08] anddero opened #16223 "ErrorController external access should be disabled by default?"
Not sure if a bug or a feature.

Let's say you create a custom implementation of the `ErrorController` and add a `@RequestMapping` to `/error` to handle all application errors.

This resource is also accessible externally, meaning, anyone can send requests to it just like any other resource.

Should it not be for only internal use of the application and error handling?

[2019-03-13 14:57] wilkinsona commented on #16220
Framework doesn't quite give us everything we need yet. There are still cases where we cannot get at the `@Bean` method without resorting to a reflection-based search.

[2019-03-13 16:33] wilkinsona commented on #16077
Thanks for the offer, @rhamedy. We've decided that we'd like to add all of the missing properties. Are you still interested in contributing this change?

[2019-03-13 18:35] #16220 closed

[2019-03-13 18:50] #15780 closed

[2019-03-13 19:09] dosdebug commented on #16079
I will be 4th :)

[2019-03-13 19:23] dosdebug commented on #16222
@wilkinsona Can we get a reference to study for IDEA and Spring Tools about customising tiered compilation and the disabled verifier?

[2019-03-13 19:56] wilkinsona commented on #16222
@dosdebug You can just launch an app using their Spring Boot support and take a look at the JVM options. I'm not sure if it's documented anywhere in either case. The relevant code in Spring IDE is [here](https://github.com/spring-projects/spring-ide/blob/fe67913fd69947bfdab266e55b8b0a233c0ce566/plugins/org.springframework.ide.eclipse.boot/src/org/springframework/ide/eclipse/boot/core/BootPreferenc

[2019-03-13 20:18] #13586 closed

[2019-03-13 20:34] dosdebug commented on #16079
@snicoll If this issue is done (was trying to see if I can really do it or not and well luckily, I did), should we still wait for the turn or can we submit the PR?

[2019-03-13 23:56] rhamedy commented on #16077
Yes @wilkinsona, I would love to make my first spring boot contribution. Is there anything I should keep in mind when working on this?

[2019-03-14 00:28] joshlong opened #16226 "Please auto configure the WebSocketHandlerAdapter"
I haven’t yet had to override the WebSockethandlerAdapter. Normally, in order to use websockets for reactive web apps I need to register:

- `WebSocketHandlerAdapter` (no-arg bean, same every time)
- `WebSocketHandler` - the business logic
- `SimpleUrlHandlerMapping` - mounts the `WebSocketHandler` at a particular URL

The last two i can understand having to register, but the `WebSocketHandlerAdap

[2019-03-14 06:29] spring-issuemaster commented on #16161
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-14 06:39] xgz1981 opened #16227 "JmsMessagingTemplate should reuse JmsTemplate's default destination"
The configuration "spring.jms.template.default-destination"  is for  JmsTemplate.  JmsMessagingTemplate should reuse the configuraion automatically.

[2019-03-14 06:55] Duncan-tree-zhou commented on #4657
the following code work for me in `spring-boot-starter-web -> 2.1.3.RELEASE` with the default embedded container tomcat

[code]

[2019-03-14 07:01] wilkinsona commented on #16226
I have a strong feeling of deja vu: https://github.com/spring-projects/spring-framework/issues/22587.

[2019-03-14 07:01] #16226 closed

[2019-03-14 08:13] snicoll commented on #16079
@dosdebug as you've indicated yourself, you are 4th so pushing the solution without giving a chance to others to try doesn't seem fair. Once the issue is done you can check if it matches your solution.

[2019-03-14 08:28] wilkinsona commented on #16077
Thanks, @rhamedy. I don't think there are any major gotchas to keep in mind. Not sure if you'll need them, but here are a few pointers for where the changes need to go:

 - Fields and accessors should be added to [`Undertow`](https://github.com/spring-projects/spring-boot/blob/c4b8328a2bcd4606c2cba5b7968a5d1701af9c55/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/b

[2019-03-14 08:44] sundarraj4u commented on #15035
Can you put me on the waiting list for future issue fix.

[2019-03-14 09:00] snicoll commented on #15035
@sundarraj4u sorry but that's not how this works. We don't have a waiting list, please watch for future issues flagged with `first-timers-only`.

[2019-03-14 09:02] xkcoding commented on #15860
how to solve this problem??

[2019-03-14 09:04] snicoll commented on #15860
@xkcoding there is already some context in this very issue. If you need assistance, please ask on StackOverflow or come chat with the community on Gitter. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-03-14 09:55] snicoll opened #16228 "Rationalize JMX's default domain semantic"
We essentially have three places right now where we contribute things to JMX:

* Admin MBean used by tools and IDE
* The auto-configuration that exposes beans annotated with `@ManagedResource`
* Actuator endpoints

The first must have a fixed name as tooling rely on it so it currently goes in the `org.springframework.boot` domain. The same is applied for actuator endpoints.

The auto-configuration

[2019-03-14 10:26] slyoldfox commented on #2001
@wilkinsona
Sorry to dig up an old issue. But we have been seeing the same thing in our setup. I suppose it is a bit of a niche issue, since not many people actually turn off the default whitelabel behaviour, or just implement their own error view right away.

Much like the original issue report we have `server.error.whitelabel.enabled=false` and a `@Controller` throwing a `RuntimeException`.
This

[2019-03-14 12:33] wimdeblauwe opened #16229 "Document using AssertJ's satisfies together with extractingJsonPathNumberValue"
I am using `extractingJsonPathNumberValue` to test a double value in my JSON:

     assertThat(json.write(message))
       .extractingJsonPathNumberValue("@.stopTime.percentage").isEqualTo(0.16666666666666666)

However, this does not work because of different types:

What is the recommended way to do this? Should there be other methods like `extractingJsonPathDoubleValue` or `extractingJsonPathFlo

[2019-03-14 12:50] wilkinsona commented on #16229
We can consider adding some more methods, but I'm not sure that we need to increase the surface area of the API. You can use AssertJ's `satisfies` and your knowledge of the type of the `Number` to then use `isCloseTo`:

[code]

[2019-03-14 13:03] wilkinsona commented on #13415
In a minimal web app, the condition evaluation report adds ~140KB to the heap with no benefit. Aside from the GC pressure mentioned above, we could consider making the report a no-op if it's not going to be logged or if you haven't got Actuator on the classpath.

[2019-03-14 16:18] odrotbohm opened #16230 "Considered new defaults for JPA repository bootstrap"
Spring Boot  2.1 exposes a property `spring.data.jpa.repositories.bootstrap-mode` that can be set to `default` (default) `deferred` or `lazy`. I suggest do change the default value for property to be changed in the following scenarios:

- Change the general default to `deferred` – it parallelizes the bootstrap of the `EntityManagerFactory` and delays repository initialization to the end of the `Ap

[2019-03-14 16:40] xak2000 opened #16231 "Ability to customize log file name when logging.path is set"
With the current implementation, when `logging.path` is set to some value and `logging.file` is not set, the logging file name is always `spring.log`.

https://github.com/spring-projects/spring-boot/blob/c115ee1550ecf4bc8164e59a4f69b59addd50cc6/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/logging/LogFile.java#L105-L108

https://github.com/spring-projects/spring-boot/blob/

[2019-03-14 17:10] Treehopper opened #16232 "Inconsistent behavior turning off the check for the change log location: Liquibase fails anyway"
Using spring-boot-autoconfigure 2.1.2 and liquibase-core-3.6.2, I would have expected that missing change logs are handled gracefully when checkChangeLogLocation/checkLocation is set to false.
This is the case for Flyway, however, for Liquibase it only means that the LiquibaseAutoConfiguration won't complain, though Liquibase will fail slightly later.
What is the use case for setting checkChangeLo

[2019-03-14 17:29] wimdeblauwe commented on #16229
Using `satisfies` is indeed a very good way to do it. Maybe this could be added to the https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-testing.html#boot-features-testing-spring-boot-applications-testing-autoconfigured-json-tests documentation instead of adding those extra methods to the API ?

[2019-03-14 17:31] dosdebug commented on #16222
@wilkinsona There will definitely be a better solution but can you please see and suggest if it's the right direction or where should I focus on.

https://github.com/dosdebug/spring-boot/commit/d712978571c79195ab5f0d0d396d4633848cb390

I never have tried contributing before but trying to see if I can really do it.

[2019-03-14 17:40] wilkinsona commented on #16222
Thanks for taking a look at this, @dosdebug. I'm not sure we're quite ready to implement this yet as we have some design decisions to make. For example, we need to decide when the arguments should be applied (always, when the user doesn't specify anything, always unless they've been disabled, etc).

[2019-03-14 17:46] dosdebug commented on #16222
@wilkinsona Okay sure. No worries. But thank you for your time.

[2019-03-14 18:00] dsyer opened #16233 "Make WebMvcAutoConfigurationAdapter.FaviconRequestHandler package private"
There's a new private class in `spring-boot-autoconfigure`. Can I ask that `WebMvcAutoConfigurationAdapter.FaviconRequestHandler` be package private please?

[2019-03-14 19:46] cameronxm opened #16234 "Inner class @Configuration prevents application context startup"
It appears that trying to use a static inner class as a configuration prevents context startup (at least in the Spring Boot test world; I haven't tested it for an actual application). A standalone configuration class (i.e., in its own file) works just fine.

I created a project (Initializr with Boot 2.1.3 and only web dependency) which shows this behavior; you should just be able to run as JUnit t

[2019-03-14 19:50] wilkinsona commented on #16234
This is covered [in the documentation](https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/reference/htmlsingle/#boot-features-testing-spring-boot-applications-detecting-config):

[2019-03-14 19:50] #16234 closed

[2019-03-14 20:04] cameronxm commented on #16234
Wow, thanks for the quick response! I did actually search the documentation but missed that. Apologies.

[2019-03-14 21:00] tkvangorder commented on #16184
Is it possible to skip any bean definitions that explicitly set their lazy attribute to false? `@Lazy(false)`

[2019-03-14 21:09] philwebb commented on #16184
@tkvangorder That's a really nice idea, but I think we might need a framework change to be able to do it. Currently `AbstractBeanDefinition.lazyInit` is a `boolean` so we don't know if the value is `false` because that's the default, or if it's because `setLazyInit` has been called.

[2019-03-15 01:46] xak2000 commented on #9882
I just want to add that the issue is not only with high memory usage, but (in my case) with high CPU usage. On Windows 7 x64 `File Watcher` thread consistently uses 5-10% of 4-core CPU.

The classpath contains around 1000 files (resources (js+css+ftl) + classes).

The application is just doing nothing, but consumes so many CPU resources because of devtools. Constantly. If I run several application

[2019-03-15 02:06] pas2al commented on #15035
I have problems setting up the project. I did import the project using the root `pom.xml` in IntelliJ and selected the modules i want to work on:
* `spring-boot/spring-boot-project/spring-boot`
* `spring-boot/spring-boot-project/spring-boot-autoconfigure`

Before, i built the whole project from the root with `mvn clean install`. Some test were failing due to dependency problems. This is the error

[2019-03-15 02:27] saket88 commented on #15035
@pas2al Please make sure you have a stable internet connection and you are not having  a proxy. Also check your settings.xml. Your build is failing because it is not able to download com.squareup.okhttp3.
Cheers

[2019-03-15 02:36] pas2al commented on #15035
I don't have any proxy configuration or a settings.xml (there is nothing to configure right now). The `spring-boot-autoconfigure` build was successful when running a build on the whole project (see the log above, the module was included in the list of successfully built modules) and it is successful when running it separately. But i don't get it why IntelliJ is not able to figure out the dependenc

[2019-03-15 02:45] saket88 commented on #15035
If you are able to build entire project from terminal, there shouldn't be any problem. I would build the project first from terminal and then reimport the entire project.

[2019-03-15 02:56] pas2al commented on #15035
Yep, it should :-). I imported the project now separately in IntelliJ. I imported multiple modules before and that crashed somehow. But now i can work.

[2019-03-15 07:59] SammyVimes commented on #15446
[Done](https://github.com/SammyVimes/spring-boot/commit/838046f9dcf1ac4842780cef9acf753efc0d7658)! Waiting for GA (looks like it will happen in the beginning of april).

Also, there has been slight API changes in Flyway6, so I had to fix the compatibility.

[2019-03-15 08:24] wilkinsona opened #16236 "When using Log4j2 log4j2.properties files are not detected"

[2019-03-15 08:45] mrifni commented on #16236
Can i pick this up ?

[2019-03-15 08:45] mrifni commented on #16233
Can I pick this up please ?

[2019-03-15 08:46] jamesDemo commented on #9983
Tomcat. file is always generated in the TMP directory after the project is started. How to control how tomcat. file will not be generated in the TMP directory?

[2019-03-15 09:25] wilkinsona commented on #9983
@jamesSkyDream That question has been answered by @snicoll two comments above yours:
https://github.com/spring-projects/spring-boot/issues/9983#issuecomment-355227395.

[2019-03-15 09:27] wilkinsona commented on #15446
Great! Thanks very much. Would you mind splitting the changes into two separate commits? One that does the upgrade and makes the necessary changes for breaking API changes, and one that adds support for Java migrations?

[2019-03-15 09:31] snicoll commented on #16233
@mrifni please go ahead, the issue is not assigned.

[2019-03-15 09:35] SammyVimes commented on #15446
Ofcourse!

[2019-03-15 09:44] mrifni commented on #16233
sure doing it..

[2019-03-15 10:25] cvienot commented on #2895
I submitted a pull request to support zip64 jars. I added a test that successfully scan the 65537 files. However it might not be enough for such a change. Any feedback is welcome

[2019-03-15 10:29] jhoeller commented on #16184
We could turn this into a `Boolean` field indeed and provide a Boolean `getLazyInit()` accessor on `AbstractBeanDefinition`... allowing Boot to check whether the flag has been set at all before trying to override it. If this sounds feasible for your purposes, please create a spring-framework issue for it.

[2019-03-15 13:31] notfication opened #16237 "Http sessions replication"
What is the best way to provide http session replication in springboot. For example:
- 5.000 users and 6x springboot app nodes with HA proxy loadbalancer

[2019-03-15 13:33] snicoll commented on #16237
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-03-15 13:33] #16237 closed

[2019-03-15 18:44] mbhave commented on #14022
@eddumelendez Are you still interested in working on this? If not, we'll go ahead and pick it up.

[2019-03-15 18:56] eddumelendez commented on #14022
@mbhave I have an initial draft which I can share it later today.

[2019-03-15 19:03] SammyVimes commented on #15446
[Flyway6](https://github.com/SammyVimes/spring-boot/commit/f0e42cec2b50cdb1e9db580d327ad11bce163653)

[AutoConfiguration](https://github.com/SammyVimes/spring-boot/commit/aca76148c6816e084ab1ef32b21731fcc3209cc3)

To clarify: I've put them to different branches, so I can rebase and squash `Flyway6` branch when it will be released and then `autoconfiguration` brench could be rebased onto it.

[2019-03-15 19:16] anddero opened #16238 "BasicErrorController used even with custom implementation"
I have a custom implementation of `ErrorController` and I know it works, because when any exceptions are thrown in my `@RequestMapping`  controller methods, they get successfully handled by it.

However, I have a custom implementation of a `javax.servlet.Filter` to preprocess **all** requests sent to the application. And when an exception is thrown inside this filter *before* the request reaches t

[2019-03-15 19:32] anddero commented on #16238
Oops, my bad. I totally forgot that **I actually disabled** my custom `ErrorController` temporarily for debugging, and my brain apparently.

[2019-03-15 19:33] #16238 closed

[2019-03-15 19:46] mbhave commented on #14022
great, thanks!

[2019-03-15 20:24] jnizet commented on #16230
I wonder if going lazy for `SpringBootTest` and `DataJpaTest` is a good idea.

When creating a brand new project using initializr, a single test is typically created: `contextLoads`.

This test, as far as I understand, is meant to check that the context loads correctly, and thus that the application won't throw any exception once executed.

I understand that this is of course only one test, and th

[2019-03-15 20:56] meetshahblogs commented on #14080
Was this ever fixed? I am using Spring boot version 2.0.6 and @valid annotation not working.

[2019-03-15 21:40] azizsonawalla opened #16239 "Upgrade to Spring Cloud Connectors 1.2.8"
New version released: https://github.com/spring-cloud/spring-cloud-connectors/releases/tag/v1.2.8.RELEASE

[2019-03-15 21:45] thaneeshshanand commented on #15035
I would like to give it a try.

[2019-03-15 23:33] anddero commented on #5612
I have the same issue. I have a huge project with an `ErrorController` and an `@ExceptionHandler` method inside the `@ControllerAdvice` bean. But when an exception is thrown from a controller, it is handled by my `ErrorController` implementation without reaching the `@ExceptionHandler`. But we know the `@ExceptionHandler` is detected, because only if the `ErrorController` further throws the except

[2019-03-15 23:39] mbhave commented on #16231
I think this would be a generally useful feature. Let's see what the rest of the team thinks.

[2019-03-15 23:42] mbhave commented on #16239
Thanks but we have a semi-automated process to upgrade dependencies. We'll process this in due course and therefore don't need an issue for it.

[2019-03-15 23:42] #16239 closed

[2019-03-16 06:25] snicoll commented on #14080
@meetshahblogs please take the time to read the issue you're commenting on. This was raised as a question that we redirected to StackOverflow. I suggest you do the same. If you believe you've found a bug in Spring Boot (nothing here indicates so), create a separate issue with a sample we can run ourselves (zip or repo link).

[2019-03-16 06:27] snicoll commented on #15035
@thaneeshshanand please read the whole thread before commenting. [This comment](https://github.com/spring-projects/spring-boot/issues/15035#issuecomment-472761177), in particular, gives you some information

[2019-03-16 10:52] Maxvgrad commented on #8441
https://stackoverflow.com/a/55195925/9215813

[2019-03-16 10:53] wilkinsona commented on #16230
I'm not in favour of any default that increases the risk of deploying something that's broken. Fast startup is all well and good, but I don't think it should be done at the expense of correctness. Other frameworks have made a different choice, and that may work turn out to work well for their users, but I think it would be a mistake for us to follow suit purely to speed up startup time or test exe

[2019-03-16 13:19] mxab opened #16241 "Gradle BootJar Task has a strange behaviour when there are dependencies with the same name"
Hi,
we had a project where we had two subprojects as dependency that had the same name, see this showcase
https://github.com/mxab/gradle-bootjar-problem

Therefore the two `client.jar` files were build and copied into the `BOOT-INF/lib` and therefore this cause problems.
My workaround solution is the name by subprojects unique.

So far so obvious... but I tried to create a unit test to showcase th

[2019-03-16 15:43] wilkinsona commented on #16241
We do that in the Maven plugin, but cannot do so with Gradle as there's no guarantee that a file in the jar will have come from a resolved artifact with Maven coordinates. For example, it may have come from a flat file repository.

Gradle already provides two tools to handle this situation:

1. The jar's [duplicates strategy](https://docs.gradle.org/current/javadoc/org/gradle/api/tasks/AbstractCop

[2019-03-16 15:54] pkostrzewa commented on #16211
Gradle [v5.3.0-RC3](https://github.com/gradle/gradle/releases/tag/v5.3.0-RC3) has been released. I can verify plugin with this newly released version.

[2019-03-16 17:03] pkostrzewa commented on #9109
I can take a look at this with some guidance.

Are you asking to extend `NestedConfigurationProperty's` target with `ElementType.METHOD`?

Additionally, should configuration processor check whether a method annotated with `NestedConfigurationProperty` is actually a getter?

[2019-03-17 03:35] rfelgent opened #16249 "@ConditionalOnProperty within Java Config on same method names fails"
Hello poeple,

I lost some time configuring a bean with same id "postgresqlContainer" but different properties in java config, as the raised error was not very helpful.
The bean in question must be created, as it is required via declarative @DependsOn("postgresqlContainer") configuration.

The error
[code]

This config fails:
[code]

This conig works:
[code]

If you name both methods differently (

[2019-03-17 08:26] snicoll commented on #16233
Closing in favour of PR #16250

[2019-03-17 08:26] #16233 closed

[2019-03-17 08:26] mrifni commented on #16233
@snicoll please find the simple PR for this task [here](https://github.com/spring-projects/spring-boot/pull/16250).

Happy to contrtibute.
@pkostrzewa thanks.

[2019-03-17 11:03] thombergs commented on #12601
I noticed that `ignoreUnknownFields=false` does not work when `ignoreInvalidFields` is set to `true`.

It seems that as soon as invalid fields are ignored, unknown fields are also ignored, no matter what the value of `ignoreUnknownFields`, which is not what I would expect.

Since `ignoreUnknownFields` will be deprecated, I didn't want to raise a new issue, but wanted to document it here in case an

[2019-03-17 20:04] mkurcius opened #16251 "Document how to configure devtools with the Gradle Kotlin DSL"
Hi,
currently documentation says how to configure devtools using maven and gradle (groovy), but missing how to configure it using gradle with Kotlin DSL :)

For people who are just starting with gradle and Kotlin DSL, as myself 😉, I can say it is not straightforward to migrate from Groovy DSL.
After some time struggling with it, I think that I finally managed to configure devtools using Kotlin DSL

[2019-03-18 04:36] eddumelendez commented on #14022
sorry for the delay. I have submitted #16252

[2019-03-18 08:46] arganzheng commented on #15630
mark

[2019-03-18 10:54] sbrannen opened #16253 "Include link to running web application in startup log output"
When starting a Spring Boot web application from the local command line, one sees log output similar to the following once the application has successfully started.

[code]

It would be very convenient if Spring Boot emitted an additional log statement (or amended one of the previous two) to print something like the following, where the `<scheme>`, `<port>`, and `<context path>` would be substitut

[2019-03-18 11:24] johnhunt commented on #2895
So I spent a lot of last week pulling my hair out over this issue. We need to include the groupdocs conversion package in our jar file, which appears to be impossible because of the file limit. We ended up being unable to do this, can anyone explain what workarounds there are? Maybe they're aren't any, perhaps we hit a brick wall?

[2019-03-18 11:39] destebanm opened #16254 "Boolean ENV variables properties precedence"
Hi!

I am having a possible issue related with precedence when loading properties with ENV variables. I have checked with these versions:
v2.1.1.RELEASE
v1.3.1.RELEASE

The problem arises when I define properties in application.properties of a library, and then I add the library as a dependency of a spring boot app. After then, I override this properties in the spring boot app.

_application.prope

[2019-03-18 13:39] huihaiwang opened #16255 "When use the getForEntity() method of restTemplate will failed to parse the value of passed parameter"
🐞 Bug report
[code]

[code]
[code]

🎁 Enhancement
I want to send a get request through resttemplate to get the result, but the parameter is parsed incorrectly during the sending process.

The problem is due to the getVariableValueAsString method of UriComponents.

springboot version is 2.1.3.RELEASE;
 <groupId>org.springframework.boot</groupId>
  <artifactId>spring-boot-starter-web</artifactId>

[2019-03-18 13:45] DontSeeSharp commented on #15990
I'll look into this.

[2019-03-18 14:02] #16255 closed

[2019-03-18 14:04] huihaiwang commented on #16255
I found that the result of [] caused by LinkedMultiValueMap getting value is not related to spring.

[2019-03-18 14:12] pkostrzewa commented on #16253
Can I work on this one if accepted by team?

[2019-03-18 15:06] snicoll commented on #16255
@huihaiwang those icons and issue title have a "Do not copy/paste" mention next to them so please don't.

[2019-03-18 15:53] harezmi commented on #6626
Support to exclude some of those resources moving into BOOT-INF/classes is also needed when someone aims to place JSP files under root jar path /META-INF/resources (According to JSP spec, you are allowed to place JSPs under that folder in your jar file). Currently files placed within src/main/resources/META-INF/resources are all moved into BOOT-INF/classes which causes embedded tomcat to fail thos

[2019-03-18 15:59] harezmi commented on #6626
Support to exclude some of those resources moving into BOOT-INF/classes is also needed when someone aims to place JSP files under root jar path /META-INF/resources (According to JSP spec, you are allowed to place JSPs under that folder in your jar file). Currently files placed within src/main/resources/META-INF/resources are all moved into BOOT-INF/classes which causes embedded tomcat to fail thos

[2019-03-18 16:09] kelapure commented on #6626
This is a very common use case in replatforming legacy apps where we need to package files outside the app itself for instance when the app relies on the location of a certain file in the   container.

[2019-03-18 16:25] spring-issuemaster commented on #16194
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-18 18:40] ayudovin commented on #16200
@wilkinsona, I want to work on it. Please let me know if I can start working on it?

[2019-03-18 19:29] romeo16971 commented on #9324
i have same problem with java -jar. it not working properly like spring-boot:run

[2019-03-18 20:36] YuanhuiQu commented on #2471
@maxsap I am facing the same problem, how did you resolve the AWS beanstalk deployment issue?

[2019-03-18 20:50] anddero commented on #5612
Okay, I have found the reason.

### The Issue

Your `@ControllerAdvice` extends `ResponseEntityExceptionHandler` which defines several methods to handle different kind of exceptions (including your 404 case).

Therefore, if you use that class as your base class, **without overriding** those methods, then they will get handled in the default way.

### The Solution

Either remove the `extends Respon

[2019-03-18 21:00] mbhave commented on #16254
@destebanm This is the expected behavior. As mentioned in the [docs](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-external-config), environment variables have higher precedence than config files such as `application.properties`.

If you have other questions about property source precedence, please join us on Gitter.

[2019-03-18 21:00] #16254 closed

[2019-03-18 22:26] mbhave commented on #16251
This is probably wider than just devtools. We have other gradle examples in the doc that are in groovy. I think if we decide to do this, we should have general strategy for how to document gradle snippets in groovy and Kotlin (similar to the [Spring Boot Gradle Plugin](https://docs.spring.io/spring-boot/docs/2.1.0.BUILD-SNAPSHOT/gradle-plugin/reference/html/)). Let's see what the rest of the team

[2019-03-18 22:27] mbhave commented on #16236
@mrifni Sure, the issue is currently unassigned.

[2019-03-18 22:53] schuch opened #16256 "spring-boot-actuator solr health indicator reports solr down when solr client baseUrl contains core"
Using 2.1.3.RELEASE and the `SolrHealthIndicator` reports `down` when the `SolrClient` is created with a particular core specified in the baseUrl, e.g. http://localhost:8983/solr/techproducts`

The health indicator tries to use `http://localhost:8983/solr/techproducts/admin/cores` (`CoreAdminRequest`) which is a 404.

Example Project: https://github.com/schuch/spring-boot-actuator-solr-issue

To s

[2019-03-18 23:35] mbhave commented on #16249
@rfelgent I was able to replicate this behavior. It appears to be happening because of [this](https://github.com/spring-projects/spring-framework/blob/master/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassBeanDefinitionReader.java#L188) in Spring Framework. That check can cause unpredictable behavior because it depends on the order in which the bean definitio

[2019-03-18 23:57] mbhave commented on #15443
Closing in favor of PR #15982.

[2019-03-18 23:57] #15443 closed

[2019-03-19 02:05] iPhotoner opened #16257 "configuration processor not working"
hi,i am using spring boot 2.1.3,custom property via configuration processor,
Expecting a 'String' but got a 'Mapping' node,it works fine such as server.serverlet.context-path
it works on previous version such as boot 2.0.3

environment:
Eclipse IDE for Java Developers
Version: 2018-12 (4.10.0)
Build id: 20181214-0600
Sts 4.10 Plugin

@see https://github.com/iPhotoner/demonstration-repository.git d

[2019-03-19 02:59] iPhotoner commented on #16181
@zhangjiaxin281 我没出现这个问题，从mybatis-spring-boot-starter.2.0.0.SNAPSHOT，到现在RELEASE,一直工作正常，防火墙啥的放行没？

[2019-03-19 06:34] wilkinsona commented on #16257
Thanks for the sample. The problem is that you have defined `cp` as a string property in your additional metadata.

[2019-03-19 06:34] #16257 closed

[2019-03-19 07:57] alimate commented on #13627
@mbhave Does the `WebFluxTest` support the exception handlers?

[2019-03-19 08:10] alimate opened #16258 "@WebFluxTest Doesn't Import the ErrorWebFluxAutoConfiguration"
Synopsis
---
As I was experimenting with the `@WebFluxTest`s to test Reactive controllers, I noticed that the provided test _auto-configurations_ do not import the default `ErrorWebExceptionHandler`, so the following test would fail:
[code]

This can be easily fixed just by importing the `ErrorWebFluxAutoConfiguration`:
[code]

Suggestion
---
Although the problem is so easy to fix, that'd be great

[2019-03-19 09:05] wilkinsona commented on #16258
Well spotted. This seems like a bug to me, particularly as `@WebMvcTest` imports the equivalent auto-configuration for the servlet stack. Do you agree, @bclozel?

[2019-03-19 09:10] wilkinsona commented on #16249
Framework's behaviour should be predictable thanks to [this logic](https://github.com/spring-projects/spring-framework/blob/0fc0849c0a13eb504cd2f308d3824148f8f36806/spring-context/src/main/java/org/springframework/context/annotation/ConfigurationClassParser.java#L394-L422).

I think it's worth moving this to Framework to consider an enhancement to use something more distinct than the method name w

[2019-03-19 09:11] altro3 commented on #6385
Hi! What about this issue? Are you planning add okHttp3 to BOM file in version 2.2.0?

I see, this library already uses in your some projects - https://github.com/spring-projects/spring-framework/blob/master/spring-webflux/spring-webflux.gradle.
[code]
I need it for the same reason :-) - for testing WebFlux client.

[2019-03-19 09:18] wilkinsona commented on #16251
I'm not sure that we should try and cover both Groovy and Kotlin Gradle configuration in the main reference documentation, particularly when it's something that's standard Gradle rather than being specific to our plugin. Gradle's own documentation already [shows](https://docs.gradle.org/5.2/userguide/managing_dependency_configurations.html#defining_custom_configurations) how to do this.

[2019-03-19 09:21] wilkinsona commented on #9324
@romeo16971 "not working properly" is unlikely to provide enough information for anyone to be able to help you. If you would like some help, please ask on Stack Overflow and provide a [minimal, complete, and verifiable example](https://stackoverflow.com/help/mcve) of your problem.

[2019-03-19 09:21] wilkinsona commented on #16200
@ayudovin You are more than welcome to start working on it, but please be aware that I don't think this is going to be an easy one to fix. I suspect that changes may be needed in Spring Data.

[2019-03-19 09:23] bclozel commented on #16258
Yes, we should align with our existing MVC setup here.

[2019-03-19 09:29] alimate commented on #16258
@bclozel @wilkinsona May I provide a PR to fix that?

[2019-03-19 09:32] wilkinsona commented on #6626
Right now, for those for whom this is important, I would recommend using Gradle rather than Maven to build your application. Alternatively, you can achieve this in a few different ways using Maven as shown in the comments above such as [this one](
https://github.com/spring-projects/spring-boot/issues/6626#issuecomment-291507210) from @gabhardt.

As described by @nebhale above, neither the Boot tea

[2019-03-19 09:32] wilkinsona commented on #16258
@alimate Yes, please. That would be much appreciated.

[2019-03-19 09:43] wamaco opened #16259 "Cannot read properties when use profiles"
I have defined AutoDatasourceConfiguration which use EnumerablePropertySource read application.yml, but cannot read `spring.datasource.*` properties when add profiles.

[code]

AutoDatasourceConfiguration code :
[code]

[2019-03-19 09:49] #16259 closed

[2019-03-19 10:30] wilkinsona commented on #16253
@pkostrzewa Thanks for the offer. I think we'll need to do a bit of design work before anyone could work on this one.

[2019-03-19 10:34] wilkinsona commented on #16231
This sounds useful to me too.

This approach won't be possible as logging configuration is needed before any beans are available.

[2019-03-19 10:54] lkc513 opened #16260 "Upload File Size not working after increase size"
Hi Experts..

I tried increase **spring.servlet.multipart.max-file-size and max-request-size** in **SpringBoot2** application.yml file but seem like not working...

Below is SpringBoot2 version in pom.xml

[code]

Below is application.yml setting

[code]

Error message:

[code]

[2019-03-19 11:16] wilkinsona commented on #16260
Thanks for the report but I cannot reproduce the behaviour you have described. I have successfully uploaded a 300MB file when the max request and file sizes are set to `-1`. If you would like us to spend some more time investigating, please spend some time to provide a complete and minimal example that reproduces the problem.

[2019-03-19 11:29] mrifni commented on #16236
any suggestions on where to begin to make a fix for this ? A class entry point would be nice.

[2019-03-19 11:41] wilkinsona commented on #16236
The files that are looked for are configured [here](https://github.com/spring-projects/spring-boot/blob/0611eb49c87f367d3e34a1a3bcf04eb70150d180/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/logging/log4j2/Log4J2LoggingSystem.java#L113). Note that it will be important to consider `.properties` file in the same order as [Log4j2 normally uses](https://logging.apache.org/log4

[2019-03-19 11:59] wilkinsona commented on #6385
@altro3 Assuming you are not using the mobile UI, you can see above and to the right that the issue is currently assigned to the 2.2.x milestone so, yes, the current plan is to include dependency management in 2.2.

[2019-03-19 12:20] wilkinsona commented on #15446
This looks great. Thanks very much @SammyVimes. We'll look forward to Flyway 6's release so that we can get those changes merged.

[2019-03-19 12:21] altro3 commented on #6385
thank! I just clarified, because The issue, as I understand it, has been hanging for a long time, but for the first time I decided to test WebClient and, unfortunately, neither in Spring-test nor spring boot test there are no ready-made convenient Mock servers, only MockRestServiceServer, which is well suited to restTemplate. I saw that people from the project We bFlux use okhttp for testing

[2019-03-19 12:31] bitsal commented on #14655
The proposed solution doesn't work if you try to get request. I've got
[code]

[2019-03-19 12:34] guanchao-yang opened #16261 "Do we plan to support GraalVM with native image like Spring Framework Planned？"
Do we plan to support GraalVM with native image like Spring Framework Planned？

Spring [GraalVM](https://www.graalvm.org/) Issues ： https://github.com/spring-projects/spring-framework/issues?utf8=✓&q=GraalVM

[2019-03-19 12:37] #16211 closed

[2019-03-19 12:48] wilkinsona commented on #16261
Thanks for your interest but, as mentioned in the guidelines for contributing, we prefer to use issues only for bugs and enhancements. A question like to is better-suited to Gitter.

With that said, yes, we do plan to support Graal. Support will largely come from Spring Framework with few, if any, changes to be made in Spring Boot. [Spring Fu](https://github.com/spring-projects/spring-fu) may be o

[2019-03-19 12:48] #16261 closed

[2019-03-19 13:52] mrifni commented on #16236
Not sure why the PR is failing with this error

[code]

[2019-03-19 14:14] romeo16971 commented on #9324
@wilkinsona I solved the problem. I use jsf ( i knew jsf is lame and stateful but customer's requirement ) spring boot for my project. I add folder "META-INF/resources" under "src/main/resources" in order to act like "webapp" like normal maven web project. When i run it in "mvn spring-boot:run" or run project in IDE, it works perfectly but when i build it to jar file to distribute to EC2. It not r

[2019-03-19 14:54] TobiasPfeifer commented on #13163
@bclozel I have a similar problem.
A Controller is registered for path `/api/test` that produces `text/csv`. It has a GET-mapping to `/existing`
When a client calls `/api/test/non_existing` the response has a status code 406 and no body.
In this case I would expect to get a response with status code 404 and no body.

I can follow the points you gave if a client queries an url that is mapped, but t

[2019-03-19 16:21] bclozel commented on #13163
@TobiasPfeifer I you believe this is a bug, please create a new issue with a project reproducing the problem. If this is more of a question, please create a StackOverflow question and feel free to point to it from here. In all cases, a description is not enough and a working sample is always better.

[2019-03-19 16:40] samo-esure commented on #13042
I'm able to work around this issue by specifying management.server.port different than the server.port

[2019-03-19 16:40] samo-esure commented on #13406
I'm able to work around this issue by specifying management.server.port different than the server.port

[2019-03-19 16:58] mxab commented on #16241
I think adding the `fail` would make sense even if it would break your build as otherwise there was something off before.

Regarding the the coordinates, wouldn't it possible to check the type of `ComponentIdentifier` and use its values to infer somekind of naming?
https://github.com/mxab/gradle-bootjar-problem/blob/dep-analysis/app/build.gradle#L45

[2019-03-19 18:46] junejosheeraz opened #16264 "Failed to get nested archive for entry BOOT-INF/lib for jar created with maven-shaded-plugin"
I am using `spring-boot-maven-plugin:2.1.0.RELEASE` to package my main line application. This application has all common dependencies etc packaged

In a separate project, I am building a shaded jar using `maven-shade-plugin:2.4.3` and injecting into my spring boot application under BOOT-INF/lib directory using `org.codehaus.mojo:truezip-maven-plugin:1.1`. Now when I start my spring-boot applicatio