[2019-03-19 20:00] wilkinsona commented on #16264
As the error message says, jars in `BOOT-INF/lib` must not be sorted in the jar file uncompressed. I’m not familiar with the true zip plugin. Perhaps t has an option for controlling the compression of any entry when it adds it to a zip file? If you need any further guidance, please follow up on Stack Overflow or Gitter. As mentioned in [the guidelines for contributing](https://github.com/spring-pr

[2019-03-19 20:00] #16264 closed

[2019-03-19 21:08] garyrussell opened #16267 "Add more anchors in the properties appendix"
Thanks for adding anchors to the [appendix](https://docs.spring.io/spring-boot/docs/2.2.x/reference/html/appendix.html#integration-properties) (#8237).

This is a big improvement, but I wonder if it could be a bit more granular; for example Integration Properties covers many technologies and properties.

It would be nice if we could jump directly to `rabbitmq` or `kafka` instead of having to scrol

[2019-03-19 23:04] junejosheeraz commented on #16264
FYI: https://stackoverflow.com/questions/55250684/failed-to-get-nested-archive-for-entry-boot-inf-lib-for-jar-created-with-maven-s

[2019-03-19 23:25] juanmbellini opened #16268 "Missing jaxb-api dependency in spring-boot-starter-jersey"
Similar to what is described in #14287, when including the ```spring-boot-starter-jersey``` dependency, the application won't start as expected as there are some classes that are not present in the classpath.
Here is an example stacktrace:

[code]

Maybe adding the ```jaxb-api ``` dependency to ```spring-boot-starter-jersey``` would make it easier to bootstrap a Jersey application.

[2019-03-20 00:12] #16229 closed

[2019-03-20 00:29] #16033 closed

[2019-03-20 03:36] lkc513 commented on #16260
Hi Wil

i'm using web to call the api for upload, below is my web code design

[code]

Below is my API Controller write in kotlin

[code]

it's success when uploading 100MB file but i do need to upload up to 500MB file daily so i tried to set the application yml as below but seem like it's not capture...
[code]

[2019-03-20 03:48] brucelwl opened #16271 "spring.redis.cluster.max-redirects is ineffective"
spring.redis.cluster.max-redirects  is ineffective when user the LettuceConnectionFactory, This value is always the default 5

[2019-03-20 05:06] rhamedy commented on #16077
@wilkinsona thanks for the pointers.
Before I push my changes up, would be nice to hear your feedback in regards to the following

- `io.undertow.UndertowOptions` of `undertow-core-2.0.19.Final.jar` does not have list `disallowed-methods` as a result cannot map the property in `UndertowWebServerFactoryCustomizer`. Should we leave it out or there is an alternative way to achieve it?

- In `Undertow

[2019-03-20 06:56] wilkinsona commented on #16260
Thanks for the code snippets. Unfortunately I can’t afford the time it would take to create an app from them, particularly as some bits are still missing. There’s no pom, for example. If you would like us to spend more time on this, please provide a zip attached to this issue or separate Git repo that contains a minimal app that we can run without modification to reproduce the problem.

[2019-03-20 07:09] lkc513 commented on #16260
Hi Wil,

i found the issue...

[code]

i think one of my colleague set this on WebConfig class and clauses the issue after disable this piece of method, my problem solved.

Thanks and sorry for trouble...

[2019-03-20 07:13] #16260 closed

[2019-03-20 07:20] iPhotoner commented on #16257
i remove /META-INF/additional-spring-configuration-metadata.json,
yes,it works now,add this json file cause there will be a yellow underline on String property,
so i add it hand-actuated.thank you,@wilkinsona

[2019-03-20 08:59] snicoll commented on #16268
Thanks for the report. We do have a check for `JaxbAnnotationIntrospector` that's provided by default with the starter. We should probably extend the check for JAXB itself now as it may not be present depending on your target runtime.

[2019-03-20 09:41] snicoll commented on #16271
@brucelwl thanks for the report but @mp911de just confirmed this was an issue in Spring Data Redis, see [DATAREDIS-949](https://jira.spring.io/browse/DATAREDIS-949).

[2019-03-20 09:41] #16271 closed

[2019-03-20 10:37] avyyaaggarwal commented on #16109
Hello @wilkinsona : I am trying to understand which commit introduced the bug. Can help me which line in the current fix commit fixed the bug? is it line number 63 in the file healthendpointwebIntegrationTests.java? Thanks

[2019-03-20 12:04] wilkinsona commented on #16241
Unfortunately not, not without introducing a large amount of complexity anyway. `BootJar` uses a `FileCollection` to control its contents. While that collection may be a `Configuration` it cannot be assumed that it will be.

I've just reminded myself that Gradle uses a `null` duplicates strategy by default in its [war plugin](https://docs.gradle.org/current/dsl/org.gradle.api.tasks.bundling.War.ht

[2019-03-20 13:04] wilkinsona commented on #16077
`disallowed-methods` is an interesting one as it's configured differently to the other options. It's implemented using a `DisallowedMethodsHandler`. I'm not certain that `TRACE` is disallowed by default in Undertow and suspect that may be a JBoss Wildfly default. @melloware, what's the source of the text in the table in your opening comment?

None at all. I like the idea of the customization being

[2019-03-20 13:16] melloware commented on #16077
Source docs are here: https://docs.jboss.org/author/display/WFLY/Undertow+subsystem+configuration

[2019-03-20 13:23] wilkinsona commented on #16268
In addition to tightening up the class conditions, I think we should consider adding the JAX-B API to the Jersey starter by default as we did for JPA in https://github.com/spring-projects/spring-boot/issues/14287.

@juanmbellini Is adding a dependency on the API sufficient for your app to work, or did you need to add the runtime as well? Also which JDK are you running on?

[2019-03-20 14:01] mp911de commented on #16271
As workaround: Configure yourself `ClusterClientOptions` with the appropriate `maxRedirects` value and apply it through `LettuceClientConfigurationBuilderCustomizer` .

[2019-03-20 14:09] brucelwl commented on #16271
@mp911de Thank you for your reply. this is a solution, but I still hope to modify this bug.

[2019-03-20 14:55] snicoll opened #16272 "Upgrade to Solr 8.0.0"

[2019-03-20 15:15] snicoll opened #16273 "Upgrade to Solr 7.7.1"

[2019-03-20 15:33] wilkinsona commented on #16241
We're going to stay with our current arrangement and remain aligned with Gradle. Thanks anyway.

[2019-03-20 15:33] #16241 closed

[2019-03-20 15:38] mbhave opened #16274 "Document slice test behavior with @Configuration classes"
See [this](https://github.com/spring-projects/spring-boot/issues/16088#issuecomment-471087755) for more details. We should document that the exclude filters only apply to only beans created by component scanning and not those created via `@Bean`.

[2019-03-20 15:39] mbhave commented on #16088
We discussed this and it would be quite a big change for `2.1.x`. We'll document the limitation for now.

[2019-03-20 15:44] snicoll commented on #16228
In retrospect, `org.springframework.boot` looks a bit odd for user's MBeans as default. We also need two different properties to control the actuator endpoints and user's MBeans.

[2019-03-20 15:44] #16228 closed

[2019-03-20 16:13] wilkinsona commented on #15437
This is in a similar vein to #9560, #14302, #15673, and #16098.

[2019-03-20 16:22] snicoll commented on #16079
@kandebouya we haven't heard from you for two weeks so I suggest that @Oguzyildirim takes over now. @Oguzyildirim, can you please confirm your interest?

[2019-03-20 16:25] #16273 closed

[2019-03-20 17:00] wilkinsona commented on #16272
This appears to have broken `master`. The Data Solr starter fails to build with duplicate classes:

[code]

[2019-03-20 17:15] wilkinsona commented on #15813
We're stripping too many components on 2.0.x. We end up with `java` in the right place as it comes from a more nested directory for the JRE but `javac` ends up in the wrong place.

[2019-03-20 17:17] #15813 closed

[2019-03-20 17:33] mbhave commented on #15035
How's it going, @pas2al? If you have any questions, please feel free to ask them here and we'll do our best to help.

[2019-03-20 19:16] juanmbellini commented on #16268
@wilkinsona I'm using OpenJDK 11.
I think that just adding the jaxb-api dependency was sufficient, but as I came with the error in a large app, I'm not sure.
Let me create a sample app using only the jersey starter and I'll tell you what happens.

[2019-03-20 19:46] mbhave commented on #16038
@Raheela1024 How's it going? Let us know if there is anything we can help with.

[2019-03-20 23:37] mkyrychenko opened #16277 "SpringBootTest doesn't resolve @Validated @ConfigurationProperties"
SpringBoot 2.1.3.RELEASE

I have following set:

[code]

[code]

[code]

[code]

In normal cases, during application start, in the `GroupLoader` an autowired `GroupProperties` contains value from `application.yml` properties file.<br/>
But in `@SpringBootTest`, the instance of `GroupProperties` is autowired, but field `property` is null.<br/>
If `@Validated` and optionally `@NotBlank` annotations

[2019-03-20 23:50] mbhave commented on #16277
@mkyrychenko Can you provide a minimal sample that we can run to reproduce the issue?

[2019-03-21 00:49] #16274 closed

[2019-03-21 02:49] ankurbhakta commented on #16230
What are your thoughts of adding this optimizations as defaults in just spring boot devtools to improve the development experience?

[2019-03-21 03:02] kevhussey commented on #16088
@mbhave - Thank you for this. I also ran into this problem.
I finally got my test to work by adding
`@Import(SecurityConfig.class)`
`@WithMockUser`
on class level.

[2019-03-21 03:44] rhamedy commented on #16077
Depending on what decision will be made in regards to `disallowed-methods` I will update the PR accordingly. For now I pushed the PR without `disallowed-methods` properties.
@wilkinsona ^

[2019-03-21 06:30] spring-issuemaster commented on #16161
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-03-21 06:30] #16161 closed

[2019-03-21 06:47] srinathlivetolearn commented on #16079
I'd love to take it up please let me know if my turn's up.

[2019-03-21 07:58] pas2al commented on #15035
@mbhave It looks good. I started with the implemention. I am going to submit a wip pull request on the weekend. If i have questions we can take that pr as a basis.

[2019-03-21 09:42] mkyrychenko commented on #16277
In which form should I provide this sample? Some project in GitHub or .zip with sources?
The minimal reproduce set is already described.

[2019-03-21 09:45] snicoll commented on #16277
@mkyrychenko code in text is not really helpful as we'd have to copy all the bits one by one in the hope of reproducing what you're describing. A link to a github project or the zip of the project is what we're after.

[2019-03-21 10:37] #16272 closed

[2019-03-21 10:37] snicoll commented on #16272
Solr 8 brings the Jetty HTTP client that has a ` about.html` file in the root in all its jars. I've moved the check in the parent for the time being as the Jetty client may be added to more starters in the future and is generic enough to be ignored the same way changelog is now.

[2019-03-21 12:11] odrotbohm commented on #16230
Thanks for the feedback everyone. Very good points included. I guess I've been focussing too much on the how, whereas my actual concern was to make it very easy to make use of these configuration options.

I totally agree that we by no means should change the defaults in a way that currently working scenarios (like the general application bootstrap test that @jnizet described) should start to beha

[2019-03-21 12:55] snicoll commented on #15713
@mbhave do we still want to do that for `2.0.x`?

[2019-03-21 17:00] bclozel opened #16280 "Auto-configure RSocket client / RSocketRequester"
As of Spring Framework 5.2, Spring Messaging supports RSocket with the `@MessageMapping` annotations, but also `RSocketRequester`.

Spring Boot should provide an easy way to build an RSocket client, targeting an existing RSocket server over a specific transport, and wrap that client with a `RSocketRequester` to send requests.

[2019-03-21 17:05] bclozel opened #16281 "Consider Protobuf codecs auto-configuration for RSocket support"
As of #16021, Spring Boot supports RSocket as a server. Protobuf is a popular solution for messages (de)serialization and it seems to align well with the RSocket paradigm.

This issue should consider whether and how we should:

* auto-configure Protobuf codecs for RSocket
* provide configuration properties
* provide dependency management
* do additional work in the Spring Boot application builds

[2019-03-21 17:06] bclozel opened #16282 "Add actuator support for RSocket"
Since #16021, Spring Boot supports RSocket as a type of server applications (meaning there's a single RSocket server available and no HTTP server).

We should try and expose actuator endpoints in a meaningful way over RSocket.

[2019-03-21 17:14] spencergibb commented on #16282
I'm very interested in this as well. It will be interesting to see how this gets done as the routing in Framework is still basic (simple string). Spring Cloud Gateway needs similar functionality.

[2019-03-21 17:26] Raheela1024 commented on #16038
@mbhave  Sorry i was busy but now looking into will update shortly.

[2019-03-21 17:42] DontSeeSharp commented on #15990
@wilkinsona I have some questions:

1) It seems that the `switch--item`, `switch--item selected` and `switch` CSS classes need a change in spring-doc-resources. I couldn't find the `spring.css` file in the spring-doc-resources github page. Where is the proper place I can create an issue for this?

2) Documentation is also generated to pdf right now for Spring Gradle Plugin Documentation. Is that n

[2019-03-21 20:52] #12602 closed

[2019-03-21 21:44] larsgrefer opened #16289 "Split the appendices into multiple pages and include a table of contents in each"
The "Appendices" section in the new documentation has no table of contents which makes the whole page very hard to use: https://docs.spring.io/spring-boot/docs/2.2.0.M1/reference/html/appendix.html#appendix

All other pages seem to have a table of contents on their left side, which always highlights the current headline: https://docs.spring.io/spring-boot/docs/2.2.0.M1/reference/html/howto.html#ho

[2019-03-22 02:48] tan9 commented on #16189
+1 for producing `text/plain; charset=UTF-8` instead for `text/plain`. Since there is no Boot-way to customize underlying logging framework to output log file with another charset encoding :)

[2019-03-22 06:26] maolujun commented on #15630
@mp911de  Using the jedis client is successful
pom.xml：
		<dependency>
			<groupId>org.springframework.boot</groupId>
			<artifactId>spring-boot-starter-data-redis</artifactId>
			<exclusions>
				<exclusion>
					<groupId>io.lettuce</groupId>
					<artifactId>lettuce-core</artifactId>
				</exclusion>
			</exclusions>
		</dependency>
		<dependency>
			<groupId>redis.clients</groupId>
			<artifact

[2019-03-22 06:45] schuch commented on #16256
According to the response on the solr-user mailing ist, this is expected behavior

| `HttpSolrClient` baseUrl points to... | PingRequest| CoreAdminRequest |
| --- | --- | --- |
| context, e.g. `/solr`  | ❌ | ✔️  |
| core, e.g. `/solr/techproducts`| ✔️  | ❌ |

I think there is no way to tell, if the base URL is actually points to the context or the core when when looking at a `SolrClient` bean.

Wh

[2019-03-22 08:23] torsten-github commented on #6768
Same pitfall for me. Thanks.

Why does Spring not search in the class hierarchy for nested Configurations, but does for other annotations, like `@SpringBootTest` and `@ActiveProfiles` etc. That's really wired.

[2019-03-22 09:29] snicoll commented on #6768
@torsten-github the reason why is explained in the comment just above yours. As for `@Import`, if you're explicitly requesting a class to be added, I don't see anything weird that it's being added.

The comment just above yours also state that questions must be asked on StackOverflow. So if you need more help, please do that.

[2019-03-22 09:32] mschallar opened #16290 "Binding to collection fails with unbound elements error if collection overridden in another property source"
Hello,

after migrated from Spring Boot 1.5.3.RELEASE to 2.1.3.RELEASE we've encountered a bug(?) with property binding.

The example code can be found [here](https://github.com/mschallar/spring-boot-configurationproperties-bug). It's a simple application with one property class that receives values from the application.yml via the @ConfigurationProperties annotation.

Starting the DemoApplication

[2019-03-22 09:35] antergone opened #16291 "ElementsParser can not parse asterisk"
- SpringBoot: 2.1.3.RELEASE

Test Code:
[code]

application.properties:
[code]

Exception:
[code]

[2019-03-22 09:41] snicoll commented on #16290
Thanks for the sample, that is very useful.

We've tighten the mechanism to merge complex types, see [the documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-external-config-complex-type-merge).

I am not sure if we intended to throw an exception if you combine that with `ignoreUnknownFields`. If I add a `string6` in the test profile, the exception go

[2019-03-22 09:54] #16291 closed

[2019-03-22 09:57] mschallar commented on #16290
Correct, I've forgot to mention if you remove "ignoreUnknownFields" (--> will be set to true) from the ConfigurationProperties annotation, no exception will occur.

[2019-03-22 11:10] dome313 opened #16292 "Using @SpyBean with @Qualifer does not work in Spring 1.5.x"
Hello all
In the Spring boot docs [here](https://docs.spring.io/spring-boot/docs/1.5.19.RELEASE/api/org/springframework/boot/test/mock/mockito/SpyBean.html) it says

[code]

This is not working for me on Spring boot 1.5.19.RELEASE. The simple example is
[code]
The test is
[code]
The test only works if I put `@SpyBean(name = "simpleService2")`.
If i remove `@Primary` it fails with
[code]

You can f

[2019-03-22 13:15] viktoriya-kutsarova commented on #16289
Can I take this issue?

[2019-03-22 13:45] DontSeeSharp commented on #15991
I'll look into this, since this should be similar to #15990.

[2019-03-22 14:40] #16071 closed

[2019-03-22 14:43] snicoll opened #16293 "Detect primary constructor to generate metadata for Kotlin immutable types"
Configuration keys metadata for immutable Kotlin types are likely not to be generated as a single constructor in Kotlin may lead to several constructor on the Java side.

We should detect the primary constructor, if any and, for that, we need to access the metadata available only in binary format for now.

A couple of libraries could help with that:

* https://github.com/JetBrains/kotlin/blob/mast

[2019-03-22 14:44] snicoll commented on #16071
The metadata on the Java side has been improved to detect immutable types. When a `@DefaultVaue` is set, we try to coerce for primitive types and generate a better representation of it in the metadata.

Kotlin types are not supported as kapt still exposes several limitations. I've created #16293 to follow-up and try to improve this as much as we can.

[2019-03-22 15:41] bclozel commented on #16289
I'm wondering if we should add a TOC there, or if we should go back to splitting the appendix into pieces. The appendix page is just huge, with a lot of auto-generated content. Not very friendly to people (nor browsers).

We could:
* turn [this page](https://docs.spring.io/spring-boot/docs/current-SNAPSHOT/reference/html/appendix.html) into a page listing all the appendix topics. We'd need to rewr

[2019-03-22 18:13] mbhave commented on #16290
I think it's a bug and we shouldn't throw an exception since the list is completely overridden.

[2019-03-22 18:43] mbhave commented on #16292
Thanks for the sample. This looks like a bug to me. It's probably [this](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-test/src/main/java/org/springframework/boot/test/mock/mockito/MockitoPostProcessor.java#L313) bit which should look at the qualifier when determining the bean name.

[2019-03-22 18:54] mbhave commented on #16258
Closing in favor of PR #16266.

[2019-03-22 18:54] #16258 closed

[2019-03-22 19:03] mbhave commented on #16236
Closing in favor of PR #16262.

[2019-03-22 19:03] #16236 closed

[2019-03-22 19:39] larsgrefer commented on #16289
Some additional ideas:

- The properties appendix could be a bit less "huge" by going back to a `.properties`-file style instead of the current (2.2.0.M1) table like this: https://docs.joinfaces.org/4.0.3/reference/#properties

- I think the [documentation overview](https://docs.spring.io/spring-boot/docs/2.2.0.M1/reference/html/documentation-overview.html#boot-documentation) page would be a bette

[2019-03-22 19:46] larsgrefer opened #16295 "2.2.x has no htmlsingle documentation variant anymore."
Since version 2.2.x, the spring boot documentation has no `htmlsingle` variant anymore.

This will cause all links across the web pointing to `https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/` to break, once 2.2.0 goes GA.

I propose to put a placeholder `index.html` under `reference/htmlsingle/` which either redirects to the new documentation or shows at least a nice informat

[2019-03-22 21:26] #15713 closed

[2019-03-22 22:18] #15640 closed

[2019-03-22 23:19] mbhave commented on #16177
@wilkinsona Not sure if this was intended to be WebFlux specific? I was able to reproduce this for an MVC app as well

[code]

[2019-03-23 10:57] LannyYao opened #16296 "Invoke the init() method repeatedly after implementing the Filter interface if the filter's name is self-defined"
Spring boot version: 1.5.16.RELEASE
dependency: 'org.springframework.boot:spring-boot-starter-web'

    Like the code below, there is a SimpleFilter class and I define the filter name as 'myFilter' in the WebFilter annotation. And then when I run the application, I find that the init() method is invoked twice. And also, the same as doFilter() method when request arrived.
    After investigating, I

[2019-03-23 10:59] #16296 closed

[2019-03-23 11:00] LannyYao opened #16297 "Invoke the init() method repeatedly after implementing the Filter interface if the filter's name is self-defined"
Spring boot version: 1.5.16.RELEASE
dependency: 'org.springframework.boot:spring-boot-starter-web'

Like the code below, there is a SimpleFilter class and I define the filter name as 'myFilter' in the WebFilter annotation. And then when I run the application, I find that the init() method is invoked twice. And also, the same as doFilter() method when request arrived.

After investigating, I found

[2019-03-23 15:03] rhamedy commented on #16290
I would be happy to work on this issue should the `team` decide that it should be fixed 🙂

[2019-03-23 15:13] rhamedy commented on #16292
@mbhave can I work on a fix for this `bug`?

[2019-03-23 15:21] rhamedy commented on #16231
Depending on the `outcome` of the `design work` as well as `complexity` of the fix, I would be happy to work on this issue 🙂

[2019-03-24 07:51] wilkinsona commented on #16297
With only a single class to look at it is difficult to be certain, but I suspect that `SimpleFilter` is being found by both normal component scanning and `@ServletComponentScan`. Given your use of `@WebFilter` you could remove `@Component`. Alternatively you could remove `@WebFilter` and use a `FilterRegistrationBean` to configure its name and patterns.

I am going to close this issue as there is

[2019-03-24 07:51] #16297 closed

[2019-03-24 07:52] wilkinsona commented on #16177
It wasn’t. Thanks for spotting that MVC is affected too.

[2019-03-24 08:03] jnizet commented on #16295
Losing the htmlsingle would be really sad. It's extremely useful to be able to Ctrl-F in the complete documentation to find what we want.

[2019-03-24 08:34] ayudovin commented on #16200
@wilkinsona, I want to clarify this task. As far as I understand this class `CocuhbaseConfigurashion` has `@Bean` methods which called directly and these methods should be replaced on bean injection.
is it correct?

[2019-03-25 05:38] Raheela1024 commented on #16038
@mbhave I need some help regarding the fix should we need to revert

 or we need to fix into `ConfigurationPropertiesBinder `bind method.

[2019-03-25 06:58] wilkinsona commented on #16200
Yes, that’s right. To be suitable for having bean method producing disabled, calling `@@Bean` methods directly must be avoided. That may require some more complex restructuring than just moving to injection.

[2019-03-25 07:47] snicoll commented on #16038
@Raheela1024 I'd like to help but I don't see the link. We should not revert the change, it's part of an ongoing effort that a property name should not match the name of a group. Can you please expand a bit of what the problem is? You can share what you have on your fork.

[2019-03-25 08:07] wilkinsona commented on #15990
@DontSeeSharp Thanks for your work on this.

1. We can avoid changing that file. See 3.
2. Let’s keep the PDF, unchanged, please.
3. We can use the same approach as I used in the dependency management plugin’s documentation by adding CSS [like this](
https://github.com/spring-gradle-plugins/dependency-management-plugin/commit/b95614c66bd56b273bbba1568ef82c7faa2524ab#diff-1690f4c22a8c81c44bbe1fcf3c

[2019-03-25 08:07] snicoll commented on #16292
@rhamedy thanks for the offer. We're releasing this Friday and I'd like this to be fixed beforehand. If you have time to propose something in the next 2 days, please go ahead.

[2019-03-25 08:40] snicoll commented on #16079
In the interest of getting this fixed this week, I'd like to move to the third person on the list (and please answer ASAP if you won't be able to work on it this week). @koziolk are you available to work on it this week? Thanks!

[2019-03-25 09:38] koziolk commented on #16079
@snicoll Yes, I'm available. Will start working on this Today.

[2019-03-25 10:18] Numbernick commented on #10129
So to be honest we have the same problem. Our infrastructure is homogenous with servlet and webflux components. Our guideline for our ingres is to route to a specific context path. Sure I can workarround this with annotating ALL my Controllers with this prefix. An equivalent mechanism for reactive would be a good help for migrating. (Also this option exists for webflux for the actuator endpoint ->

[2019-03-25 10:25] sdeleuze commented on #16293
Notice that unlike what is mentioned in the documentation, `kotlinx-metadata-jvm` is available from Maven Central without requiring addition repository configuration.

As discussed with @snicoll, I think the ideal solution would be a version of `kotlinx-metadata-jvm` without a dependency on `kotlin-stdlib` (using Proguard maybe) that we could shade in `spring-boot-configuration-processor`.

[2019-03-25 12:36] trish-tt opened #16300 "Difficulty deploying a Spring Boot app as a jar file."
Hi everyone,

I have developed a Spring Boot application for Jira - a proprietary issue tracking product.

I have run the application on my Eclipse and deployed it on my NGINX server. I am then successfully able to install it on Jira as an add-on. However, when I do the same using a .jar (Java -jar <jar name>) I am unable to install it on Jira.

Is there a difference between running my application

[2019-03-25 13:05] wilkinsona commented on #16300
There are minimal differences when running an application using `spring-boot:run` and `java -jar`. If you have an application that works with one and not with the other, you may have found a bug.

Not without a lot more information. If you would like us to spend some time trying to help you, please take the time to provide a complete and minimal sample (as a zip file or in a separate repository on

[2019-03-25 13:20] pilak opened #16301 "[INFO] Is `spring-boot-configuration-processor` dependency only for IDE support ?"
Hi Spring Boot,

I just wanted to know what officially the `spring-boot-configuration-processor` dependency is for.

I use it in the dependencies, whom are used in a microservice and I want to have autocompletion to manage my configurations, in Spring Tool Suite. It works fine, and it is useful.

Nevertheless, I wonder if there is another utility to that dependency. I can imagine a usage like dash

[2019-03-25 13:26] wilkinsona commented on #16301
Please do not use GitHub issues to ask questions. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. In the future, please ask questions like this on Stack Overflow or Gitter.

With that said, you can learn more about the purpose of `sprin

[2019-03-25 13:26] #16301 closed

[2019-03-25 14:56] snicoll commented on #16212
I have updated the pipeline locally but I'll double check the build before pushing that.

[2019-03-25 15:14] #16212 closed

[2019-03-25 15:18] pilak commented on #16301
@wilkinsona, the documentation does not answer my question at all. And only Spring tech leaders could answer it I guess. And an answer in any forum wouldn't be relevant. That's why I posted it here.
I really wonder if the dependency is only for IDE purpose. In other word, this is used elsewhere ? (Spring Cloud, Dashboard, ...)
Basically, would it be useful if I add it in a batch, for example, that

[2019-03-25 15:21] snicoll commented on #16301
@pilak have you read [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues) that Andy referenced? Please make sure to review them before contributing again.

As we've already requested, please ask that question on StackOverflow.

[2019-03-25 15:25] pilak commented on #16301
Ok I'll ask on StackOverflow, but I'm not a big user of that tool.
Thank you anyway

[2019-03-25 15:38] Raheela1024 commented on #16038
@snicoll thanks for your reply. I have debugged the issue by changing test case into `ConfigurationPropertiesAutoConfigurationTests` file by setting environment as` "foo:"` and observed that in Binder class  `containsNoDescendantOf ` method returns true while I am not providing Descendant fields. Should I need to update this method i am in right direction or not ?

[2019-03-25 16:23] spring-issuemaster commented on #16194
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-03-25 16:23] #16194 closed

[2019-03-25 17:03] wilkinsona opened #16302 "Upgrade to Spring Kafka 2.3.0.M1"

[2019-03-25 17:53] wilkinsona commented on #16077
Thank you, @melloware. As suspected, that documentation is describing Wildfly's defaults rather than Undertow's.

@rhamedy I don't think we need to do anything about `disallowed-methods` right now. Thanks for your PR, I'll close this issue in favour of it.

[2019-03-25 17:53] #16077 closed

[2019-03-25 18:03] #15898 closed

[2019-03-25 20:06] bondj opened #16303 "Problem when including spring profiles with logical operators"
Spring Boot v2.1.3.RELEASE

I have an application.yml where I want to include profiles based on logical conditions on what profiles are active. I've attached my application.yml

[code]

When I run

I get

The following profiles are active: a,includeA,b,includeB

This seems inconsistent, I was expecting a,includeA,b,includeB,includeAandB or possible a,b if the includes were not supported.

[2019-03-25 20:31] mbhave commented on #16290
Thanks for the offer @rhamedy but I'm already looking into this.

[2019-03-25 20:36] mbhave commented on #16038
@Raheela1024 As @wilkinsona mentioned [here](https://github.com/spring-projects/spring-boot/issues/16038#issuecomment-467422010), we want to ignore any property that matches the prefix of the `@ConfigurationProperties` bean that we're binding to. For example, we want to bind `foo.*` to something with a `foo` prefix, but to ignore a `foo` property if one is set. This would be a change in the `Binde

[2019-03-25 22:35] pas2al commented on #15035
@mbhave Just want to let you know that i am making progress with the implementation. I just need some time to get my head around the details and finish it. Expect a PR within the next days.

[2019-03-25 23:04] #16290 closed

[2019-03-25 23:41] filiphr opened #16309 "Content strategy does not work with Thymeleaf and WelcomePageHandlerMapping"
When the `WelcomePageHandlerMapping` is used to resolve the `index.html` from Thymeleaf and `spring.resources.chain.strategy.content.enabled=true` is set then the resolving of the `th:src` and `th:href` does not work as expected. The reason for that is that the `ResourceUrlEncodingRequestWrapper` does not have the `ResourceUrlProvider` set. The reason for it not having set is that `ResourceUrlProv

[2019-03-26 00:09] mbhave commented on #16303
Profile expressions (and negated profiles) get processed last, i.e. once we already know the profiles activated and included by the config files. If the YAML document that's activated by a profile expression itself contains a `spring.profiles.include`, that doesn't get processed at the moment.

We'd have to go over the config files again to look for documents matching the profiles included by the

[2019-03-26 04:18] ddoubleday opened #16310 "Not possible to use two beans extending MongoConfigurationSupport without allowing bean overriding"
Using Spring Boot 2.1.2 spring-boot-starter-data-mongodb. I would like to do things right and avoid allowing bean overriding, but it won't work if I have two Mongo data sources.

I extend from Spring Data MongoConfigurationSupport for both my primary and secondary data sources. MongoConfigurationSupport creates internal beans like
@Bean
public MappingMongoConverter mappingMongoConverter() without

[2019-03-26 08:45] wilkinsona commented on #16310
Thanks for the report. I think this is really a usability problem with Spring Data Mongo that's being highlighted by Boot disabling bean overriding.

With bean overriding enabled, you may still run into difficulties as, for example, one `MongoMappingContext` will override the other which will cause problems if they should have had different base packages. Please open a [Data Mongo issue](https://j

[2019-03-26 08:45] #16310 closed

[2019-03-26 08:54] rhamedy commented on #16292
@snicoll I looked into the `determineBeanName` mentioned in the above comment by @mbhave and I could not figure out how to access the `@Qualifier` annotation's value in there. The `SpyDefinition` does not expose anything.

I also came across this issue https://github.com/spring-projects/spring-boot/pull/11077 and while it's not related to this `bug` it is relating to the `@Primary`.

I could look

[2019-03-26 12:42] fsw0422 opened #16324 "@MockBean methods cannot be stubbed inside test"
[code]
So I am testing the above class and it seems that the MockBean itself is created without any problems. but the stubs inside test is not getting properly setup. if I use `@Testconfiguration` with `@Bean` methods, it works but I do want to stub these behavior dynamically throughout the test just like using plain mockito. are the Mockbean's behavior fixed an cannot be stubbed?

[2019-03-26 13:22] wilkinsona commented on #16324
You haven't provided enough information to know for sure, but I'd make an educated guess that you're trying to configure behaviour that's relied up during application context refresh. If that's the case, configuring it in a test method is too late as the context will have been created by then. Using a `@Bean` method to create and configure the mock is the recommended approach in this situation.

A

[2019-03-26 14:41] fsw0422 commented on #16324
@wilkinsona in that case, how do I dynamically stub methods? or even throughout each test? so for each test when I want my mock bean to behave differently, how do I make this happen?

[2019-03-26 14:44] wilkinsona commented on #16324
I can't answer that without knowing more about what you're trying to do. If you'd like me to spend some more time trying to help you, please spend some time describing the components that you are mocking and how and when they are used.

[2019-03-26 14:47] fsw0422 commented on #16324
[code]

[2019-03-26 15:14] viktoriya-kutsarova commented on #16289
@bclozel Sure, just let me know what you have decided!

[2019-03-26 16:32] antonalechnovic opened #16328 "For @SpringBootTest @Import of @TestConfiguration class does nothing, while @ContextConfiguration overrides as expected"
I've asked this on SO, to confirm that others have the same behaviour and indeed it is the case:

https://stackoverflow.com/questions/55326492/for-springboottest-import-of-testconfiguration-class-does-nothing-while-con

**Summary:** this is for `@TestConfiguration` being `@Import` ed from another sibling package class annotated as `@SpringBootTest`

Thanks,

[2019-03-26 16:40] OrangeDog commented on #13289
As there appears to be some mechanism whereby a dependency on `spring-boot-devtools`  is not included, can that at least be extended to `lombok` (and any other boot-managed dependencies that aren't needed at runtime)?

[2019-03-26 16:44] OrangeDog commented on #13289
Not sure why that's off-topic. It appears to be a reasonable solution.

[2019-03-26 17:10] GFriedrich commented on #16120
@wilkinsona: Not sure if this planned was anyway but: Updating this dependency should be clearly mentioned in the release notes of Spring Boot 1.5.20 as this can easily break existing applications.
As Spring Security OAuth 2.0.17 fixes CVE-2019-3778, OAuth clients that did not have a redirect URI configured yet, will break when trying to use authorization servers using the new library.

[2019-03-26 17:22] Razi007 commented on #15035
Interested to work here.

[2019-03-26 17:23] Razi007 commented on #16079
Interested to work here.

[2019-03-26 17:33] viktoriya-kutsarova commented on #16172
@snicoll If this issue is suitable for contribution, I can try to tackle it.

[2019-03-26 18:39] garyrussell opened #16329 "Kafka Streams auto-configuration should only configure default streams builder"
**KafkaStreamsAnnotationDrivenConfiguration**

[code]

This blows up if there are multiple factory beans. Consider making it an `ObjectProvider` and `getIfUnique()` (or resolve in some other way).

2 people have reported this issue recently on [Stack Overflow](https://stackoverflow.com/questions/55009501/how-to-configure-two-instances-of-kafka-streamsbuilderfactorybean-in-spring-boot) and [today](

[2019-03-27 00:31] rhamedy commented on #16292
I think I have a solution! Basically in the method `determineBeanName` after the check `if (StringUtils.hasText(definition.getName()))` I do the following

- Loop through the passed beans

- For each bean check if `definition.getQualifier()` is not null

- Using the `QualifierDefinition.matches(...)` to figure out whether the bean name matches the `Qualifier` value, if true then that's the correct

[2019-03-27 01:39] mbhave commented on #16292
@rhamedy The `determineBeanName` was just my initial hunch. I hadn't looked at it in detail. I just took a look at the code on master and it's been refactored quite a bit following the issue that you've referenced. This isn't a bug in `2.1.x` and master because the qualifier is checked [here](https://github.com/spring-projects/spring-boot/blob/a2d37dc0b9416a03c145cb45c20a27f868d9e920/spring-boot-p

[2019-03-27 01:42] ankurpathak commented on #15365
@snicoll We have the issue related to spring 5support moving but we need help from Spring Team.
So can you please help for:
https://github.com/eclipse-ee4j/jersey/pull/4062
and related to this:
https://github.com/eclipse-ee4j/jersey/pull/4080

[2019-03-27 01:52] rhamedy commented on #16292
I noticed the `1.5.x` tag and I also knew that it is working in `master`. The fix that I have is for `1.5.x` (based off it). Sounds good to me, I will push the PR anyway and will leave it to the team to decide what's best 👍

[2019-03-27 05:21] snicoll commented on #15035
@Razi007 thank you for the interest. Please read the whole thread before commenting, [this comment](https://github.com/spring-projects/spring-boot/issues/15035#issuecomment-472761177), in particular.

[2019-03-27 05:24] snicoll commented on #16079
@koziolk how is it going? Reminder that we're releasing soon and I'd like to get that change in.

[2019-03-27 05:25] snicoll commented on #16172
Thanks for the offer. The issue is assigned and therefore not opened for contribution. I've assigned myself as there are quite a lot of things to consider.

[2019-03-27 06:30] trish-tt commented on #16300
Hello,

I'm pasting the link of a demo code I've been trying to work with - https://bitbucket.org/Sri_Annapurna/demo-jira-code/src/master/

The atlassian-connect.json file (located at Demo Jira code / src / main / resources / atlassian-connect.json) is my main app-descriptor file that is returned on running the app. Then using the baseUrl (https://apps.senecaglobal.com/jira) in that, I upload the

[2019-03-27 06:50] koziolk commented on #16079
@snicoll Good. I'm going to submit a pull request Today.

[2019-03-27 08:40] wilkinsona commented on #13289
Agreed. I've unhidden it.

[2019-03-27 08:46] wilkinsona commented on #16292
Given there's a workaround, I don't think we should fix this in 1.5.x, particularly as it will reach EOL in a little over 4 months' time.

[2019-03-27 08:56] snicoll commented on #16329
@garyrussell looking at the conversation I am not sure sure about that. If someone creates their own bean, we should not apply our configuration to it so setting the autoStartup flag on the `@Primary` one feels wrong to me.

Looking at the discussion on the first post, it looks like they want to add something and still use the defaults provided by `@EnableKafkaStreams`. Regardless of wether we wan

[2019-03-27 09:16] wilkinsona commented on #16328
To avoid the risk of wasted effort, let's keep the discussion in one place please.

[2019-03-27 09:16] #16328 closed

[2019-03-27 09:18] #16329 closed

[2019-03-27 09:34] wilkinsona commented on #16300
Thanks. Unfortunately, the need to have a local JIRA installation in order to reproduce the problem means that it will be some time before I will be able to investigate any further. It's also not clear to me that Spring Boot is causing the problem rather than, say, how Nginx is proxying the application. I would recommend stripping things down as much as possible. For example, by removing Nginx and

[2019-03-27 10:02] wilkinsona opened #16333 "Document that @MockBean cannot be used to mock behaviour that's called during context refresh"
We should note in the documentation that `@MockBean` cannot be used to mock the behaviour of a bean that's exercised during application context refresh. It does not work as application context refresh has completed before the test gets a chance to configure the mocked behaviour.

[2019-03-27 10:03] wilkinsona commented on #16324
Thank you, @fsw0422. Given that `UpdateEventsListener` only has two dependencies and you want to mock at least one of them, I would unit test it rather than integration testing it.

Aside from the mocking problem, I would also avoid calling methods that do anything from a constructor. As things stand, it looks to me like the thread that calls the constructor will loop in `consumeEvents()` until `s

[2019-03-27 10:03] #16324 closed

[2019-03-27 10:42] #16268 closed

[2019-03-27 10:43] snicoll commented on #16268
I was able to reproduce the problem and adding the API with JDK11 fixed it for me. @juanmbellini if you can give the snapshot a try that would be much appreciated.

[2019-03-27 10:46] snicoll opened #16334 "Document alternative to finalName attribute of repackage goal"
see https://github.com/spring-projects/spring-boot/issues/16202#issuecomment-471973155

[2019-03-27 10:46] snicoll commented on #16202
You are correct.

 I agree it would be helpful to show such an example, I have created #16334

[2019-03-27 11:40] trish-tt commented on #16300
Hi,
Thank you for your suggestion. I have tried to run my app without the NGINX server, using the temporary ngrok server and it works.

However, my question still lies. Why does my application, using the NGINX server, run and get installed while using spring-boot:run but returns an error while using java -jar.

[2019-03-27 11:50] wilkinsona commented on #16300
That would suggest that it's a problem with Nginx or its configuration rather than Spring Boot.

Security should behave exactly the same, irrespective of how you're launching your application. I suspect that you're seeing a difference in behaviour because your configuration is unintentionally different. Perhaps a file is being picked up via the current working directory when launching using `sprin

[2019-03-27 12:33] XhstormR opened #16335 "In spring-boot jackson MonthDaySerializer does not serialize objects as JSON array"
Unlike YearMonthSerializer serialize objects as JSON array " [2018, 5]", MonthDaySerializer serialize to "--03-02". I think this may be a spring boot bug.

This link has the smallest reproduction.
https://github.com/FasterXML/jackson-modules-java8/issues/107#issuecomment-476998275

[2019-03-27 13:19] garyrussell commented on #16329
@snicoll Makes sense; thanks for addressing it.

[2019-03-27 13:24] Paramood opened #16336 "Spring Boot gradle plugin 2.1.x breaks AWS labmda call"
Spring Boot gradle plugin 2.1.x breaks AWS labmda call with an exception:
[code]

Sample code which works with Spring boot gradle plugin 2.0.8.RELEASE but does not work with 2.1.x:
[code]

The above code will work if manually add spring boot dependency and not use Spring Boot gradle plugin:
[code]

Gradle version: 4.10.3
Spring Boot gradle plugin version which has the bug: 2.1.3.RELEASE
Working Sp

[2019-03-27 14:26] bclozel opened #16337 "Add property for Mongo auto index creation"
As of Spring Data MongoDB 2.2.x, using `@Indexed` on a `@Document` causes the following message to appear in the logs:

[code]

[More details on that in the reference documentation](https://docs.spring.io/spring-data/mongodb/docs/2.2.x-SNAPSHOT/reference/html/#mapping-usage).

We should create a Spring Boot configuration property to enable/disable this configuration to make the transition easier f

[2019-03-27 14:40] philwebb commented on #16336
I'm not sure I totally understand the sample application. You seem to be implying that adding the following lines:

[code]

and removing

[code]

Fixes the issue. Have you tried including the starter and the gradle pluigin? i.e, what happens with the following:

[code]

Can you please also paste the full stacktrace of the error.

[2019-03-27 14:46] wilkinsona commented on #16336
I was just looking at this too. My suspicion is that it has nothing to do with the Gradle plugin itself, but with dependency versions. When you uses Boot's Gradle plugin and upgrade from 2.0.8 to 2.1.3 a number of dependencies are upgraded due to changes in Spring Boot's dependency management between 2.0.8 and 2.1.3. I would guess that the AWS SDK is incompatible with one of those upgraded depende

[2019-03-27 14:53] philwebb commented on #16292
I agree with Andy. We only really want to touch 1.5.x for critical bugs given the limited life it has left.

[2019-03-27 14:53] #16292 closed

[2019-03-27 15:15] Paramood commented on #16336
[code]

[2019-03-27 15:30] wilkinsona opened #16338 "Upgrade to Spring Framework 4.3.23.RELEASE"

[2019-03-27 15:31] Paramood commented on #16336
Seems like aws sdk is incompatible with "org.apache.httpcomponents:httpclient:4.5.7" which is updated by Spring Boot gradle plugin. Manually adding the version which aws sdk depends on, fixes the issue while using Spring Boot plugin:
[code]

[2019-03-27 15:31] wilkinsona opened #16339 "Upgrade to Spring Framework 5.0.13.RELEASE"

[2019-03-27 15:32] wilkinsona opened #16340 "Upgrade to Spring Framework 5.1.6.RELEASE"

[2019-03-27 15:56] mbhave commented on #16303
Based on the complexity of the fix we can decide whether it should go in `2.1.x` or `2.2.x`.

[2019-03-27 15:59] Hyerram commented on #15788
Is this issue fixed classCastException fixed on 2.1.3.RELEASE ? When i call the /health endpoint it still throws the ClassCastException.

[2019-03-27 16:04] Paramood commented on #16336
https://github.com/aws/aws-sdk-java-v2/issues/1168

[2019-03-27 16:13] bclozel commented on #16289
The team discussed this and we'd like to bring back the TOC anyway, but also consider breaking up the appendix page. We first need to consider #16295 to figure out if we'll have linking issues.

Once #16295 is done, we can resume work here and even solve #16267 at the same time: we should break up a bit more the large tables of configuration properties and see how the TOC will look like.

[2019-03-27 16:33] philwebb commented on #16336
Thanks, I'll close this one because we want to stay on the latest version.

[2019-03-27 16:33] #16336 closed

[2019-03-27 18:07] wilkinsona commented on #15788
@Hyerram No. There was nothing to fix in Spring Boot. The bug was in application code in an interceptor that was making a faulty assumption that the handler would always be a `HandlerMethod`.

[2019-03-27 18:22] fsw0422 commented on #16324
@wilkinsona thanx!

[2019-03-27 18:41] Hyerram commented on #15788
Found that we need to call /actuator/health instead of /health in all spring 2.X upgrades.

[2019-03-27 21:15] dosdebug commented on #16079
@snicoll Just to let you know, if @koziolk could not somehow submit PR, I have my changes ready for this task already.

[2019-03-27 23:20] koziolk commented on #16079
@snicoll I've implemented a solution based on what @kazuki43zoo suggested in his comment.

[2019-03-27 23:26] pas2al commented on #15035
PR is now open and ready for review. I am looking forward to your feedback. Did i miss something?

[2019-03-28 09:14] snicoll commented on #16079
Closing in favour of PR #16341

[2019-03-28 09:14] #16079 closed

[2019-03-28 09:32] snicoll opened #16344 "Upgrade to Reactor Bom Californium-SR6"

[2019-03-28 09:34] snicoll opened #16345 "Upgrade to Spring AMQP 1.7.13"

[2019-03-28 09:34] snicoll opened #16346 "Upgrade to Spring AMQP 2.0.12"

[2019-03-28 09:35] snicoll opened #16347 "Upgrade to Spring AMQP 2.1.5"

[2019-03-28 09:35] snicoll opened #16348 "Upgrade to Spring Integration 4.3.20"

[2019-03-28 09:36] snicoll opened #16349 "Upgrade to Spring Integration 5.0.13"

[2019-03-28 09:37] snicoll opened #16350 "Upgrade to Spring Integration 5.1.4"

[2019-03-28 09:37] snicoll opened #16351 "Upgrade to Spring Kafka 2.2.5"

[2019-03-28 09:38] snicoll opened #16352 "Upgrade to Spring Security 4.2.12"

[2019-03-28 09:39] snicoll opened #16353 "Upgrade to Spring Security 5.0.12"

[2019-03-28 09:39] snicoll opened #16354 "Upgrade to Spring Security 5.1.5"

[2019-03-28 09:49] spring-issuemaster commented on #16277
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-28 13:12] svaidya401 opened #16355 "Issue in load method of snakeyml"
Load method of snakeyml is not able to convert special characters to string.

Yaml yaml = new Yaml();
String filePath = "src\\main\\resources\\application-excel-export-column-mapping.yml";
Reader reader = null;
Map<String, Map<String, Map<String, String>>> options = null;
try {
FileInputStream file = new FileInputStream(filePath);
BufferedReader in = new BufferedReader(new InputStreamReader(file,

[2019-03-28 13:53] wilkinsona commented on #16355
Thanks for the report, but it doesn't look like it belongs here as the code you've shared above makes no use of Spring Boot. SnakeYAML's issues are tracked on [BitBucket](https://bitbucket.org/asomov/snakeyaml/issues).

[2019-03-28 13:53] #16355 closed

[2019-03-28 14:08] snicoll opened #16356 "Upgrade to Spring Session Apple-SR9"

[2019-03-28 14:09] snicoll opened #16357 "Upgrade to Spring Session Bean-SR4"

[2019-03-28 14:10] snicoll opened #16358 "Upgrade to Spring Data Ingalls SR20"

[2019-03-28 14:10] snicoll opened #16359 "Upgrade to Spring Data Kay SR14"

[2019-03-28 14:11] snicoll opened #16360 "Upgrade to Spring Data Lovelace SR6"

[2019-03-28 14:20] vspiliopoulos commented on #16329
Does this mean that if @EnableKafkaStreams is used, then only one factory (i.e. DEFAULT_STREAMS_BUILDER_BEAN_NAME) can be defined in the spring context? If not can you give an example context that loads with more than one factory (including the default one)?

Thanks!

[2019-03-28 14:27] snicoll commented on #16329
@vspiliopoulos as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements and your question is not really related to the task at hand anyway. Let's keep the conversation in one place on your stackoverflow question.

[2019-03-28 15:36] wilkinsona commented on #16335
This isn't a problem with Spring Boot. It can be reproduced with Jackson alone:

[code]

The above code will produce output similar to the following:

[code]

[2019-03-28 15:36] #16335 closed

[2019-03-28 15:39] snicoll commented on #15035
Closing in favour of PR #16342

[2019-03-28 15:39] #15035 closed

[2019-03-28 15:52] wilkinsona opened #16361 "Upgrade to H2 1.4.199"

[2019-03-28 15:52] wilkinsona opened #16362 "Upgrade to Tomcat 8.5.39"

[2019-03-28 15:52] wilkinsona opened #16363 "Upgrade to Aspectj 1.8.14"

[2019-03-28 15:52] wilkinsona opened #16364 "Upgrade to Spring Cloud Connectors 1.2.8.RELEASE"

[2019-03-28 15:57] #16361 closed

[2019-03-28 15:57] #16362 closed

[2019-03-28 15:57] #16363 closed

[2019-03-28 15:57] #16364 closed

[2019-03-29 02:59] gihub-zuoyan opened #16365 "throw too many NotWritablePropertyException if springboot controller bind data more then two VO"
springboot 1.5.13.RELEASE
code like this:
    @RequestMapping("query")
    public Object queryAd(@Validated QueryRequest v1, @Validated ADRequest  v2) {
}
I find if the http paramteter shoud bind into class ADRequest  v2, will throw NotWritablePropertyException, I find the code like this:

	protected void applyPropertyValues(MutablePropertyValues mpvs) {
		try {
			// Bind request parameters onto

[2019-03-29 06:42] wilkinsona commented on #16365
Thanks for the report. The code you have shown is part of Spring Framework rather than Spring Boot so this isn’t the right place for it. It’s also not clear to me what you are suggesting. Not throwing an exception would be a breaking change in behaviour and I don’t understand how it will benefit garbage collection. If you would like to pursue this, please open a [Spring Framework issue](/spring-pr

[2019-03-29 06:42] #16365 closed

[2019-03-29 08:59] snicoll commented on #16175
This was done as port of #8762

[2019-03-29 08:59] #16175 closed

[2019-03-29 09:47] #16334 closed

[2019-03-29 09:47] #16202 closed

[2019-03-29 10:07] worm128 opened #16366 "spring tech:luckwine-mall:payment system"
程序员ICU救助群:806864360
开源支付系统：https://github.com/guangtong-information/luckwine-mall
程序员ICU救助群:806864360
ELK大数据技术：http://note.youdao.com/noteshare?id=590a28a35c82e1c426386009d62740ef&sub=95f643299a66eaf57f811998145be7a3
spring integration技术分享：http://note.youdao.com/noteshare?id=c85c12270668789a8b6b496a0ba2d5a3&sub=1FBE9F5732F442EAA9A2AD27A015072D

[2019-03-29 10:11] wilkinsona commented on #16366
Courtesy of Google translate:

Open source payment system: https://github.com/guangtong-information/luckwine-mall
Programmer ICU rescue group: 806864360
ELK big data technology: http://note.youdao.com/noteshare?id=590a28a35c82e1c426386009d62740ef&sub=95f643299a66eaf57f811998145be7a3
Spring integration technology sharing: http://note.youdao.com/noteshare?id=c85c12270668789a8b6b496a0ba2d5a3&sub=1FBE

[2019-03-29 10:11] #16366 closed

[2019-03-29 11:11] wilkinsona opened #16367 "Upgrade to Tomcat 9.0.17"

[2019-03-29 11:14] #9616 closed

[2019-03-29 11:14] #16367 closed

[2019-03-29 11:52] mmaryo opened #16368 "Enhancement : new JSON mapper : DSL-JSON"
Hello,

[DSL-JSON](https://github.com/ngs-doo/dsl-json) seems to be very faster than Jackson
What about add it as an other converter in Spring Boot ?

[2019-03-29 12:23] snicoll opened #16369 "Upgrade to Unboundid Ldapsdk 4.0.10"

[2019-03-29 12:23] snicoll opened #16370 "Upgrade to Micrometer 1.0.10"

[2019-03-29 12:23] snicoll opened #16371 "Upgrade to Netty 4.1.34.Final"

[2019-03-29 12:23] snicoll opened #16372 "Upgrade to Reactor Bom Bismuth-SR17"

[2019-03-29 12:23] snicoll opened #16373 "Upgrade to Activemq 5.15.9"

[2019-03-29 12:23] snicoll opened #16374 "Upgrade to Elasticsearch 5.6.16"

[2019-03-29 12:23] snicoll opened #16375 "Upgrade to Hibernate Validator 6.0.16.Final"

[2019-03-29 12:23] snicoll opened #16376 "Upgrade to Quartz 2.3.1"

[2019-03-29 12:23] snicoll opened #16377 "Upgrade to Spring Cloud Connectors 2.0.5.RELEASE"

[2019-03-29 12:23] snicoll opened #16378 "Upgrade to Thymeleaf Extras Java8time 3.0.4.RELEASE"

[2019-03-29 12:36] snicoll opened #16379 "Upgrade to Lettuce 5.1.6.RELEASE"

[2019-03-29 12:36] snicoll opened #16380 "Upgrade to Netty Tcnative 2.0.23.Final"

[2019-03-29 12:36] snicoll opened #16381 "Upgrade to Reactor Bom Californium-SR6"

[2019-03-29 12:36] snicoll opened #16382 "Upgrade to Rxjava2 2.2.8"

[2019-03-29 12:36] snicoll opened #16383 "Upgrade to Byte Buddy 1.9.12"

[2019-03-29 12:36] snicoll opened #16384 "Upgrade to Hibernate 5.3.9.Final"

[2019-03-29 12:36] snicoll opened #16385 "Upgrade to Infinispan 9.4.11.Final"

[2019-03-29 12:36] snicoll opened #16386 "Upgrade to Jooq 3.11.10"

[2019-03-29 12:41] #16369 closed

[2019-03-29 12:41] #16370 closed

[2019-03-29 12:41] #16371 closed

[2019-03-29 12:41] #16373 closed

[2019-03-29 12:41] #16374 closed

[2019-03-29 12:41] #16375 closed

[2019-03-29 12:41] #16376 closed

[2019-03-29 12:41] #16377 closed

[2019-03-29 12:41] #16378 closed

[2019-03-29 12:41] #16379 closed

[2019-03-29 12:41] #16380 closed

[2019-03-29 12:41] #16381 closed

[2019-03-29 12:41] #16382 closed

[2019-03-29 12:41] #16383 closed

[2019-03-29 12:41] #16384 closed

[2019-03-29 12:41] #16385 closed

[2019-03-29 12:41] #16386 closed

[2019-03-29 12:42] snicoll commented on #16372
reactor-netty `0.7.15.RELEASE` is not available on central.

[2019-03-29 13:11] snicoll opened #16387 "Upgrade to Appengine Sdk 1.9.73"

[2019-03-29 13:17] #16372 closed

[2019-03-29 13:17] #16387 closed

[2019-03-29 14:56] enesacikoglu opened #16388 "Username Support for 5.x and later versions of Couchbase to Spring Data Couchbase"
Hello,

Couchbase role-based access for bucket released after version 5.X.But ,there is no configuration support for Spring Data Couchbase auto configuration after couchbase version 5.X takes username for authentication.

Related problem as linked below;

https://stackoverflow.com/questions/47169384/couchbase-bucket-authentication-error

[2019-03-29 15:11] snicoll commented on #16388
@enesacikoglu if you intend to submit a PR, there is no need to create an issue first.

Duplicates #16389

[2019-03-29 15:11] #16388 closed

[2019-03-29 15:17] cowwoc commented on #12649
We're making a final push for Java 9+ support and this issue is blocking us. Are there any workarounds until this is fixed?

Baring that, is this feature scheduled?

[2019-03-29 15:23] philwebb commented on #16368
JSON support is primarily provided by Spring Framework. I'll transfer this issue for them to consider if supporting another parser is worthwhile.

[2019-03-29 15:30] wilkinsona commented on #12649
We cannot schedule this feature as SLF4J 1.8 and Logback 1.3 have not yet been released.

You have a couple options:

1. Do not use the module path. It provides minimal, if any, benefits to a typical Spring Boot application. You are probably better off avoiding it until the broader ecosystem has caught up.
2. Try using Log4j2 instead of Logback.

[2019-03-29 17:00] dreis2211 opened #16390 "Extend reporting of properties migrator when new and old properties exist"
Hi,

I'm currently in the process of migrating some apps to Spring-Boot 2 and of course make use of the `spring-boot-properties-migrator`.

Several of those apps have externally managed application.properties, so I was thinking of adding both new and old properties to that file for the migration phase. By that the old applications would still work as well as the new ones. More specifically, I had

[2019-03-29 17:21] philwebb commented on #16390
Having both isn't a scenario we really considered. I guess we figured most people would not need to support two versions at once.

I think currently there's an additional property source that contains all the migrated values. I have a feeling it's not going to work very well if there's a mix of old and new values. Things can get even more complicated if there are multiple `application.properties`

[2019-03-29 18:00] dreis2211 commented on #16390
Appreciate the feedback so far. Thanks @philwebb

[2019-03-29 19:04] dreis2211 commented on #16390
That's a good point by the way. I wasn't sure if I would just keep it in the dependencies list for future migrations. Maybe some more documentation (in the upgrade guides) would be helpful here, so people remove it after they migrated their apps.

[2019-03-30 04:45] rhamedy commented on #16337
@bclozel Is this issue open for contribution?

[2019-03-30 11:21] simionAndrei commented on #15296
@philwebb Can I take this issue if it is still of interest?

[2019-03-30 11:42] yuchonghua opened #16391 "I am looking forward to the fescar and spring boot, spring cloud integration demo"
I am looking forward to the fescar and spring boot, spring cloud integration demo
---
[Spring boot instance](https://github.com/alibaba/fescar/issues/59)
[Spring boot example](https://github.com/alibaba/fescar/pull/281)
[1.0 approximate time will be released](https://github.com/alibaba/fescar/issues/438)

[2019-03-30 15:58] wilkinsona commented on #16391
As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-03-30 15:58] #16391 closed

[2019-03-30 16:50] cowwoc commented on #12649
Sadly, part of the reason that "the broader ecosystem has [not] caught up" is that frameworks like spring boot have not expended the necessary effort to add support themselves. Everyone is waiting for everyone else to move forward.

I've personally contributed a lot of my time getting the Maven ecosystem up-to-speed and now it finally seems that Java Modules are well supported there. But the rest

[2019-03-30 20:11] wilkinsona commented on #12649
I suggested above that you consider using Log4j2 but you chose to ignore that constructive suggestion and called into question our efforts instead. We have expended a considerable amount of effort supporting Java 9, 10, 11 and, most recently 12. We have also fixed issues caused by the module path. Unfortunately we can only do so much and cannot justify spending time and introducing complexity to s

[2019-03-31 00:41] cowwoc commented on #12649
Understood.

Interesting. Can you please clarify how this would work? If I disable Boot's logging system, where will the logs go? Certainly I can use Logback for my own code but is there a way to direct Boot's logging to use Logback?

Alternatively, I'm thinking I should keep Boot's logging enabled, force it to use JUL and use `jul-to-slf4j` to redirect to logback. What do you think?

[2019-03-31 01:50] gihub-zuoyan commented on #16365
Thanks for the reply ! I will commit an issue for Spring Framework,

[2019-03-31 12:23] hantsy opened #16393 "AutoConfiguration support for Data Mongo ReactiveGridFsTemplate"
The latest Spring Data Mongo has brought Reactive support for GridFs, but Spring Boot 2.2.0.M1
is lack of an `AutoConfiguration` class to activate it, I have to configure it manually at the moment.

https://github.com/hantsy/spring-reactive-sample/blob/master/boot-data-mongo-gridfs/src/main/java/com/example/demo/DemoApplication.java#L35-L43

[2019-03-31 13:26] snicoll commented on #16118
Fixed by 946e8267a8eadd50

[2019-03-31 13:26] #16118 closed

[2019-03-31 13:29] #16338 closed

[2019-03-31 13:29] #16339 closed

[2019-03-31 13:29] #16340 closed

[2019-03-31 13:30] snicoll commented on #16344
Duplicate of #16381

[2019-03-31 13:30] #16344 closed

[2019-03-31 13:46] adriancole opened #16394 "Provide a means to append to list config via properties as opposed to overwriting"
Right now, I can override a property root which is defined in a profile, even if it includes nested lists. For example, I can do the following to open two ports for an Armeria test. I'd like to be able to just append to the list as opposed to redefining it. For example, removing the `armeria.ports[0]` entries below as they are already in the yaml. If I do that, though, it results in an unbound exc

[2019-03-31 15:30] andresetevejob opened #16395 "Open Spring boot source with Eclipse setup"
Hi,

I want to open spring boot source in Eclispe IDE.I read in the doc this step : "For the “Project” click on “+” to add a new setup file. Select “Github Projects” and browser for <checkout>/eclipse/spring-boot-project.setup from your locally cloned copy of the source code. Click “OK” to add the setup file to the list"
How can I do in Eclipse, i find this way to Open the source spring boot,but i

[2019-03-31 17:05] wilkinsona commented on #16395
The instructions you have found are for developing Spring Boot. They describe how to import the project into Eclipse so that you can modify its source. If that’s what you want to do, please follow the instructions. If anything is unclear, please come and chat on Gitter or ask a question on Stack Overflow. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-b

[2019-03-31 17:05] #16395 closed

[2019-03-31 17:08] wilkinsona commented on #16394
This is, largely, a duplicate of #9137. I am still of the opinion that we should not support this as it’s too brittle. Let’s see what the rest of the team thinks.

[2019-03-31 17:10] andresetevejob commented on #16395
Thanks Andy,
my Goal is to modify source code for contribute to the project Spring boot.

Le dim. 31 mars 2019 à 19:07, Andy Wilkinson <notifications@github.com> a
écrit :

[2019-03-31 17:12] andresetevejob commented on #16395
what are the links for :
 -chat on Gitter
-Stack Overflow
To post my question related to Spring boot opensource contribution

Le dim. 31 mars 2019 à 19:10, André kouamé <kouameandre43@gmail.com> a
écrit :

[2019-03-31 17:52] ayudovin commented on #16200
From my point of view, We can create two extra configuration classes. The first one `CouchbaseEnvironmentComfig` for building `CouchbaseEnvironment` bean. The second one is `CouchbaseClusterConfig` for building `Cluster` bean (this config class will inject  `CocuhbaseEnvironment` bean from `CouchbaseEnvironmentComfig` using constructor injection).
The last step is `CouchbaseConfiguration` will jus

[2019-03-31 18:15] wilkinsona commented on #16395
Spring Boot’s room on Gitter is [here](https://gitter.im/spring-projects/spring-boot).

[2019-03-31 19:17] thomas-worm-datev opened #16396 "MVC auto-configuration does not back off when `<mvc:annotation-driven>` is used resulting in a BeanDefinitionOverrideException for mvcContentNegotiationManager"
Using spring boot 2.1.3:
[code]

with

[code]
I get

[code]

There should be not ``BeanDefinitionOverrideException`` with the starter from spring boot.

I tried to set following in application.properties:
[code]
but I got same exception.

[2019-03-31 21:10] jkubrynski opened #16397 "javax.validation.ValidationException: HV000183 when using exploded jar"
Spring boot 2.1.3

If I start application from jar (`java -jar app.jar`) everything works perfecly. However, using exploded jar (separation between dependencies and application resources as sugested here: https://spring.io/guides/gs/spring-boot-docker) I get such exception:
[code]

[2019-04-01 00:58] adriancole commented on #16394
thanks.. overnight I considered that ideally if we did this, we'd want to contribute to the list vs depend on strict ordinals. ex `armeria.ports[++].port=0`. Seems brittle in a different way.

In my own example I can see how when you have multiple branches in an element that could be tricky.. and only some sort of relative numbering would work, as we have two properties to set at the same place.

[2019-04-01 03:10] andresetevejob commented on #16395
Thanks

Le dim. 31 mars 2019 à 20:16, Andy Wilkinson <notifications@github.com> a
écrit :

[2019-04-01 03:42] YangZhuoNJ commented on #12398
maybe is the idea initialzr's fault ,  just add follow dependency  to use correct tomcat version:
<dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter-tomcat</artifactId>
 </dependency>
it resolved

[2019-04-01 05:57] toby1024 opened #16398 "proxy-target-class=true not in effect"
English is not my first language， please email zhangbin.zj@gmail.com if not understand my description.

environment:
  springboot: 2.1.3.RELEASE

describe:
  I use `@Transactional(rollbackFor = Exception.class)`  in my service method, and config
[code]

but, spring still report
[code]

[code]

and suggest me

[code]

if I remove the annotation，success.
why？

[2019-04-01 06:24] wilkinsona commented on #16397
It looks like the EL API or implementation has been lost. I can’t tell how without some more information. Can you please provide a minimal example that reproduces the problem?

[2019-04-01 06:29] wilkinsona commented on #16396
Can you please provide a minimal example that reproduces the problem?

[2019-04-01 06:53] toby1024 commented on #16398
[code]

[2019-04-01 07:38] wilkinsona commented on #16398
It looks like the suggestion is misleading as CGLib-based proxies are already being used. They are the default and you've also explicitly configured their used by setting `spring.aop.proxy-target-class` to `true`.

So that we can understand the problem and verify that the suggestion is misleading, can you please provide a minimal example that reproduces the behaviour you have described?

[2019-04-01 08:00] toby1024 commented on #16398
use shiro：
[code]
and config shiro
[code]
set proxy-target-class: true in application.yml
[code]
then use @Transactional(rollbackFor = Exception.class) on method
it will report
[code]

it look's like the application.yml config not rewrite the properties proxyTargetClass in the DefaultAdvisorAutoProxyCreator‘s super class ProxyConfig.

in ProxyConfig
[code]

[2019-04-01 08:15] snicoll commented on #12398
@YangZhuoNJ you have a totally different problem and it would be better to move your actual question to StackOverflow. You're probably have a war-based project and an older IJ version, see [this question](https://stackoverflow.com/questions/26167773/intellij-doesnt-add-maven-provided-scoped-dependencies-to-the-classpath).

[2019-04-01 08:16] wilkinsona commented on #16398
You are creating your own `DefaultAdvisorAutoProxyCreator` which tells Spring Boot that you want to take control. You should either remove the bean entirely (as I suspect it is not needed) or configure it to meet your needs.

[2019-04-01 08:16] #16398 closed

[2019-04-01 08:24] wilkinsona commented on #16200
@ayudovin It's hard to give accurate feedback without seeing some code. Can you please share a commit on a branch or a draft PR that I can look at?

[2019-04-01 08:27] wilkinsona commented on #16390
I agree with Phil. I don't think we should try to tackle this scenario in the migrator.

The upgrade guide already calls out the following in a note:

[2019-04-01 08:28] ayudovin commented on #16200
yes, certainly, I'll prepare a pull request.

[2019-04-01 08:47] snicoll commented on #16390
I agree we shouldn't do this, there's too much danger in being smart and silencing a useful warning. I am going to close this one for now. Thank you for the suggestion.

[2019-04-01 08:47] #16390 closed

[2019-04-01 09:21] dreis2211 commented on #16390
@wilkinsona Embarassing - I must have been blind in order to miss this note. Sorry!

Thanks for your input guys. I didn't want to put effort in something you don't find useful.
Cheers,
Christoph

[2019-04-01 09:42] wilkinsona opened #16400 "Upgrade JDK 9 CI image to 9+181"

[2019-04-01 09:50] #16400 closed

[2019-04-01 12:57] wilkinsona opened #16401 "Investigate configuration property binding performance with extremely large input files"
Courtesy of @martinvisser, we have [an example](https://github.com/martinvisser/config-properties-example) of the binder still being slow in 2.2 snapshots relative to 1.5's performance. The input YAML file is 7500 lines long so considerably bigger than the case we investigated with Initializr.

[2019-04-01 13:24] wilkinsona commented on #16358
There's going to be an SR20.

[2019-04-01 13:24] haykart commented on #13064
Dear Spring boot developers, I have a small question regarding WebMvcMetricsFilter: Did you planned to include the fix from https://github.com/spring-projects/spring-boot/pull/16014 PR to the 2.2.0.RELEASE?

[2019-04-01 13:28] wilkinsona commented on #13064
@haykart please don't ask questions on unrelated issues. For the record, the changes proposed in #16104 are already in 2.2.0 snapshots and will, therefore, be included in 2.2.0.RELEASE.

[2019-04-01 14:50] anton-kapelyushok opened #16402 "Failed to load ApplicationContext in kotlin when using inner class @Component inside @Configuration"
kotlinVersion = "1.3.21"
springBootVersion = '2.1.3.RELEASE'

Following code throws an exception breaking context setup:
[code]
The error is:
[code]

When translating and running the snippet on Java everything works as expected.

[2019-04-01 15:11] anton-kapelyushok commented on #16402
Found an issue in spring-framework repo
https://github.com/spring-projects/spring-framework/issues/21755
When it will be released?

[2019-04-01 16:32] thomas-worm-datev commented on #16396
Hi @wilkinsona

You can find the minimal example on
https://github.com/thomas-worm-datev/bootstrap-starter-problem-example

Best regards,
Thomas

[2019-04-01 18:23] mbhave commented on #16394
For me, it still comes down to Andy's point in [this comment](https://github.com/spring-projects/spring-boot/issues/9137#issuecomment-301166294). If we do decide to do this, we need a way to avoid the repetition when modifying a list without hurting the ease with which a list can be overridden.

[2019-04-01 22:35] mbhave opened #16404 "FilteredClassLoader should override getResources and getResourceAsStream"
`FilteredClassLoader` can be used to filter resources that it can load. We override `getResource` but we need to do the same for `getResources` and `getResourceAsStream`.

[2019-04-01 22:51] #16177 closed

[2019-04-01 22:51] #16404 closed

[2019-04-02 02:34] mbazos opened #16405 "Issue when using actuator health endpoint reporting UP on the non-default port before the main spring application context is ready"
Seems like there could be an issue when running the actuator management server on a different port than the one running to serve application traffic. Basically when configuring the following property:
[code]

You will see in the logs below that there are two `WebApplicationContext`'s created one for the application and one for the management port. The problem I ran into seems to be the following:

[2019-04-02 05:13] adriancole commented on #16394
I agree this is largely a repeat of #9137.

The only thing I might clarify is if "append only" makes something easier here. For example, in this case I'm not interested in overriding any property, just appending.

If this doesn't clarify in a way that makes things less dangerous, and as this is the only time I've run into it, I'm not pushing hard on this one.

[2019-04-02 06:06] wilkinsona commented on #16405
Duplicate of #15378.

[2019-04-02 06:06] #16405 closed

[2019-04-02 06:42] MenschNestor opened #16407 "Actuator: NPE in LongTaskTimingHandlerInterceptor"
I encountered the following NPE in Spring Boot Actuator 2.1.3.RELEASE:

[code]

I believe the assumption is that `LongTaskTimingContext#get(HttpServletRequest)` never returns `null`. However, it appears that there can be a case where the request does not contain the required attribute.

I think the code should check for null to be safe.

[2019-04-02 07:39] wilkinsona commented on #16407
Thanks for the report. It's not immediately clear what the context would be `null` and I'd prefer not to introduce a `null` check without understanding why it's happening. If we just add a `null` check we may be addressing a symptom of a problem elsewhere and making that problem harder to diagnose. To allow us to understand the problem you're seeing, can you please provide a minimal sample that re

[2019-04-02 07:46] MenschNestor commented on #16407
I appreciate your concern. I'll try and come up with a sample; right now, I only have the stack trace from a production log.

[2019-04-02 07:54] desmethans opened #16408 "API to check architecture"
Spring is often used to write **large** applications.
In large applications a good architecture is important.
I propose an API to check the architecture of an Spring project:
-  Are beans not directly, but via interfaces injected in other beans ?
-  Are repository beans only injected in service beans, not directly in controller beans ?
- Do beans have package visibility so that they are invisble i

[2019-04-02 08:15] wilkinsona commented on #16408
Thanks for the suggestion. In my opinion, what you have proposed is outside the scope of Spring Boot. Instead, I would recommend using an existing project such as [ArchUnit](https://www.archunit.org). You may also be interested in the work that @odrotbohm has done in his moduliths project [https://github.com/odrotbohm/moduliths].

I'll hold off on closing this in case the rest of the team have a d

[2019-04-02 08:28] #16358 closed

[2019-04-02 08:39] #16359 closed

[2019-04-02 08:39] #16360 closed

[2019-04-02 08:47] odrotbohm commented on #16408
I  second Andy's objections but I highly appreciate the intent. I am happy to see suggestions to add more user controlled rules in [Moduliths](https://github.com/odrotbohm/moduliths) or even Spring specific extensions to ArchUnit. In Moduliths we currently only enforce rules derived from the module conventions but of course we could introduce means to allow users to opt into more fine grained rule

[2019-04-02 08:52] #16345 closed

[2019-04-02 08:52] #16346 closed

[2019-04-02 08:52] #16347 closed

[2019-04-02 09:15] snicoll opened #16409 "Document memory change for IntelliJ IDEA importer VM"
The Maven process that IJ uses to import a project needs more memory with Spring Boot. We should add a note to [this section](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#importing-into-intellij-idea).

[2019-04-02 09:28] #16068 closed

[2019-04-02 09:30] wilkinsona commented on #15675
Closing in favour of #16087.

[2019-04-02 09:30] #15675 closed

[2019-04-02 09:47] #16040 closed

[2019-04-02 09:53] #16189 closed

[2019-04-02 10:47] wilkinsona commented on #15378
I think we should consider reworking the logic that launches the management server so that it only happens once the main web server has been initialised. I've prototyped such a change in [this branch](https://github.com/wilkinsona/spring-boot/tree/gh-15378). From what I can tell, it seems to work nicely and was a straightforward change. That makes me think I may have missed something…

One thing t

[2019-04-02 12:41] MenschNestor commented on #16407
After some trial-and-error, I've come to the conclusion that the NPE happens on service shutdown. I've created a sample at https://github.com/MenschNestor/spring-boot-16407 that exhibits the problem. I would expect the service to shutdown cleanly. Please let me know if the sample needs more explanation.

[2019-04-02 12:52] snicoll opened #16411 "Revisit Reactive context hierarchy"
The context hierarchy for reactive support contains a number of classes that do not seem very useful:

* `ConfigurableReactiveWebApplicationContext` seems to be a marker interface
* `StandardReactiveWebEnvironment` is just a `StandardEnvironment` that implements the empty `ConfigurableReactiveWebEnvironment` marker interface

There are two distincts reasons for this hierarchy

`ConfigurableReactiv

[2019-04-02 12:54] bclozel opened #16412 "Deprecate WebApplicationType and introduce alternative"
The `WebApplicationType` enum currently allows developers (and Spring Boot itself) to flag an application as a particular type. This can be done automatically given signals such as classpath or a specific choice of context. This can be done manually through setting a configuration property.

This is useful when auto-detection is not picking up the choice expected by the user, for example:

* Havin

[2019-04-02 12:55] bclozel commented on #16412
If we apply this change, this should be reflected in #16411 since the `SpringBootEnvironment` should get that new enum instead.

[2019-04-02 12:59] masrawi opened #16413 "Server fails to start when using AJP/1.3 protocol due to ClassCastException"
I start the web application with only ajp connector
[code]

this results in 2.2.0 M1 in

[code]

the problem seems to be in org.springframework.boot.autoconfigure.web.embedded.TomcatWebServerFactoryCustomizer

[code]

should be

[code]

[2019-04-02 13:00] wilkinsona commented on #16396
Thanks for the sample. It starts successfully for me if I add `spring.main.allow-bean-definition-overriding=true` to  `src/main/resources/application.properties`.

The problem is caused by your use of XML-based configuration for Spring MVC and Spring Boot's auto-configuration for Spring MVC. Auto-configuration expects Java-based configuration to be used. It will back off if you've used `@EnableWeb

[2019-04-02 13:39] mbazos commented on #16405
Thanks for the quick reply.

[2019-04-02 13:44] wilkinsona commented on #16413
Thanks for trying out a milestone. This is a regression introduced by the changes in https://github.com/spring-projects/spring-boot/pull/15054.

[2019-04-02 13:45] snicoll commented on #16096
@philwebb it's mainly used in tests you are right. As for the regular `AnnotationConfigWebApplicationContext` it turns out to be in that hierarchy for no proper reason anymore and @jhoeller can't change that at this point.

I've introduced a `AnnotationConfigServletWebApplicationContext` in
8bf3bfd that, I believe, what Juergen would have liked in framework and use that type in our test infrastruc

[2019-04-02 14:01] snicoll opened #16414 "Consider dropping PDF versions of Gradle plugin and Actuator endpoints docs"
We've removed PDF generation for the docs on `master`. For consistency, we should remove the specific docs for the Gradle plugin and the Actuator endpoints

[2019-04-02 14:06] wilkinsona opened #16415 "server.tomcat.processor-cache cannot be used to configure an unlimited processor cache"
The property is only applied when it is positive which prevents it from being used to configure an unlimited cache size (-1).

[2019-04-02 14:27] #16413 closed

[2019-04-02 14:27] #16415 closed

[2019-04-02 15:13] philwebb commented on #16184
https://github.com/spring-projects/spring-framework/issues/22694 is now fixed

[2019-04-02 15:13] wilkinsona opened #16416 "Migrate from NCSARequestLog to CustomRequestLog"
In Jetty 9.4.15, `NSCARequestLog` has been deprecated and `CustomRequestLog` introduced as its replacement. We need to migrate to `CustomRequestLog`, making any necessary property updates when we do so. Assigning to 2.2.x for now but, depending on the updates that are necessary, we may want to do this in one or more of our current maintenance branches.

[2019-04-02 15:16] chiranjitjasu opened #16417 "Springboot RestTemplate giving 500 internal error when calling service is returning 400 (POSTMAN tested)"

[2019-04-02 15:53] mbhave commented on #16417
There’s nowhere near enough information here to diagnose the problem. If you would like us to spend time trying to help you, please spend some time describing the problem in the form of a minimal, complete sample that we can run to reproduce the issue.

[2019-04-02 17:37] philwebb opened #16418 "Upgrade to spring-javaformat 0.0.8"

[2019-04-02 18:24] philwebb commented on #16414
I'd rather attempt to restore PDFs for everything before we do this.

[2019-04-02 18:28] philwebb commented on #16396
Unfortunately I don't think the extra complexity required to detect XML based configuration would be a particularly good use of our time. I think this is the first time I've seen such a request, so I'm tempted to leave this as a known limitation of our auto-configuration conditions.

[2019-04-02 18:55] #16351 closed

[2019-04-02 18:55] #16353 closed

[2019-04-02 18:55] #16354 closed

[2019-04-02 18:58] wilkinsona opened #16420 "Upgrade to Kafka 2.2.0"

[2019-04-02 19:23] mbhave commented on #15378
Is it possible to keep the warning if `DifferentManagementContextConfiguration` also implements `SmartInitializingSingleton` and we do the same check that we used to log the warning in `afterSingletonsInstantiated`?

[2019-04-02 19:52] mbhave commented on #15991
Closing in favor of PR #16326.

[2019-04-02 19:52] #15991 closed

[2019-04-02 19:54] mbhave commented on #15990
Closing in favor of PR #16327.

[2019-04-02 19:54] #15990 closed

[2019-04-02 20:01] umeshrawat commented on #16416
@wilkinsona Can I take this up?

[2019-04-02 20:49] #16418 closed

[2019-04-02 21:14] andresetevejob commented on #16204
I want to investigate,how can do to simulate the issue

[2019-04-02 21:49] andresetevejob commented on #14814
I want to work on this issue

[2019-04-02 22:53] #16333 closed

[2019-04-03 03:34] philwebb opened #16421 "Upgrade to spring-javaformat 0.0.9"

[2019-04-03 03:51] #16421 closed

[2019-04-03 06:59] snicoll opened #16422 "Upgrade to Spring Batch 4.0.3"

[2019-04-03 06:59] snicoll opened #16423 "Upgrade to Spring Batch 4.1.2"

[2019-04-03 07:11] snicoll commented on #14814
@andresetevejob thanks for the offer but with RSocket support this will have to be revisited one way or the other (ping @bclozel). I've added `pending-design-work` to make it clear we need to make up our mind on it.

[2019-04-03 07:17] #16420 closed

[2019-04-03 07:19] wilkinsona commented on #16204
@andresetevejob As you can see from the comments above, we're not entirely sure how to reliably reproduce the problem.

[2019-04-03 07:21] snicoll commented on #16414
OK but that relates to single page support more than anything else to me (right now we'd generate one PDF per section). Do we have an issue for that?

[2019-04-03 07:26] wilkinsona commented on #16414
Yes: https://github.com/spring-projects/spring-boot/issues/16295

[2019-04-03 07:30] wilkinsona opened #16424 "Upgrade to Httpclient 4.5.8"

[2019-04-03 07:33] #16348 closed

[2019-04-03 07:33] #16352 closed

[2019-04-03 07:33] #16424 closed

[2019-04-03 07:53] snicoll opened #16425 "Upgrade to Micrometer 1.1.4"

[2019-04-03 08:09] #16349 closed

[2019-04-03 08:09] #16350 closed

[2019-04-03 08:10] snow-drop opened #16426 "Audit Related Bug (@CreatedDate, @LastModifiedDate, etc.) on null Embedded Objects When Saving in MongoDB"
Good day. After upgrading to 2.1.3.RELEASE, I encountered a bug and have been thorougly explained here -> https://github.com/gznglor/spring-boot-mongo-bug/issues

I've researched on the net and still can't find any solutions so far.

[2019-04-03 08:12] #16356 closed

[2019-04-03 08:12] #16357 closed

[2019-04-03 08:24] wilkinsona commented on #16426
@gznglor Already reported this problem to us. Please see https://github.com/spring-projects/spring-boot/issues/15851 for details. The property lookup problem does not occur in the sample to which you have linked when upgraded to Spring Boot 2.1.2 or 2.1.3. If you are still have a problem with those version of Spring Boot, please open a [Spring Data Commons issue](https://jira.spring.io/projects/DA

[2019-04-03 08:24] #16426 closed

[2019-04-03 08:34] wilkinsona commented on #16416
Thanks for the offer. We're not yet sure what needs to be done. If you'd like to spend some time looking at the differences between `NSCARequestLog` and `CustomRequestLog` and seeing how well our current properties map to the latter, that would be much appreciated.

[2019-04-03 08:35] snow-drop commented on #16426
Yes, this still occurs as I encountered it. As @gznglor said in #15851 -> https://github.com/spring-projects/spring-boot/issues/15851#issuecomment-460771818, it still occurs on his complex project.

[2019-04-03 08:38] snow-drop commented on #15851
@gznglor Does the bug have been fixed in your project? If it does, may I ask what steps have you done to resolve it?

[2019-04-03 08:53] #16028 closed

[2019-04-03 09:16] wilkinsona commented on #15378
Yeah, that's possible. We could also listen for another event (`ApplicationReadyEvent` perhaps) and warn then. I'm more wondering if the usefulness of the warning warrants the extra complexity required to generate it. It's for an edge-case and we don't, IIRC, have similar warnings for when you configure `server.*` and then deploy as a war file so I am quite tempted to get rid of it.

[2019-04-03 09:24] bclozel opened #16427 "Rework WebFlux and WebMVC config to avoid the need for bean method proxying"
Since spring-projects/spring-framework#22596, Spring Boot can now apply the changes made in #9068 to the WebMVC and WebFlux auto-configurations.

[2019-04-03 09:29] wilkinsona commented on #16412
If I understand things correctly, RSocket complicates things quite a bit. Previously, the different types were only possible individually. For example, you couldn't have both a reactive and servlet application. With RSocket, you could have a server that is just RSocket, just reactive web, or reactive web and RSocket. The proposed enum doesn't have a value for the last of these three options.

I wo

[2019-04-03 10:08] #16427 closed

[2019-04-03 10:10] #16422 closed

[2019-04-03 10:10] #16423 closed

[2019-04-03 10:38] wilkinsona opened #16428 "Upgrade to Solr 6.6.6"

[2019-04-03 10:40] wilkinsona opened #16429 "Upgrade to Netty Tcnative 2.0.24.Final"

[2019-04-03 10:40] #16428 closed

[2019-04-03 10:40] #16429 closed

[2019-04-03 10:45] wilkinsona opened #16430 "Upgrade to Classmate 1.5.0"

[2019-04-03 10:45] wilkinsona opened #16431 "Upgrade to Thymeleaf Layout Dialect 2.4.1"

[2019-04-03 10:45] wilkinsona opened #16432 "Upgrade to Artemis 2.7.0"

[2019-04-03 10:45] wilkinsona opened #16433 "Upgrade to Derby 10.15.1.3"

[2019-04-03 10:45] wilkinsona opened #16434 "Upgrade to Assertj 3.12.2"

[2019-04-03 10:45] wilkinsona opened #16435 "Upgrade to Elasticsearch 6.6.2"

[2019-04-03 10:45] wilkinsona opened #16436 "Upgrade to Hibernate 5.4.2.Final"

[2019-04-03 10:45] wilkinsona opened #16437 "Upgrade to Junit Jupiter 5.4.1"

[2019-04-03 10:45] wilkinsona opened #16438 "Upgrade to Mariadb 2.4.1"

[2019-04-03 10:45] wilkinsona opened #16439 "Upgrade to Mockito 2.25.1"

[2019-04-03 10:45] wilkinsona opened #16440 "Upgrade to Sqlite Jdbc 3.27.2"

[2019-04-03 11:46] wilkinsona commented on #16433
10.15 requires Java 9.

[2019-04-03 11:46] #16433 closed

[2019-04-03 11:53] spring-issuemaster commented on #16300
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-04-03 12:10] bclozel commented on #16412
In the case of RSocket (and as described in #16412), you can have:
* an RSocket application, with an RSocket server (using websocket or TCP as transport)
* a WebFlux application, with a RSocket endpoint (using websocket transport only); IMO, this is rather similar to having a WebFlux application with a standard websocket endpoint. Or a Spring MVC application with websocket and STOMP.

[2019-04-03 12:24] sta-szek opened #16441 "Feature request: Allow overriding `application.properties` (from starter) inside final app"
Hi guys, I will try to make it short.

My problem:
I have few custom starters, some of them with classes, some of them contain only dependencies + application.yaml.
I wish to put some (default) configuration into starter application.yaml file, which can be overridden by final app.

I have tried following:
1. [Put `application.yaml` to `config` dir](https://stackoverflow.com/a/41991876/9198384) and

[2019-04-03 13:03] wilkinsona commented on #16441
If you want to customise the environment in a starter, you should use an environment post-processor as [described in the documentation](https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/reference/htmlsingle/#howto-customize-the-environment-or-application-context).

Yes, this is by design. In the case you have described, `application.properties` and `application.yaml` files are found via the cl

[2019-04-03 13:03] #16441 closed

[2019-04-03 13:27] wilkinsona commented on #16425
This has broken some tests as Micrometer now fails fast in some places where it did not do so previously. See https://github.com/micrometer-metrics/micrometer/commit/c05d03602af0f1660c5a3ec5c934026347d7b370 and https://github.com/micrometer-metrics/micrometer/pull/1270 for further details.

[2019-04-03 13:41] #16425 closed

[2019-04-03 13:42] #16430 closed

[2019-04-03 13:42] #16431 closed

[2019-04-03 13:42] #16432 closed

[2019-04-03 13:42] #16434 closed

[2019-04-03 13:42] #16435 closed

[2019-04-03 13:42] #16436 closed

[2019-04-03 13:42] #16437 closed

[2019-04-03 13:42] #16438 closed

[2019-04-03 13:42] #16439 closed

[2019-04-03 13:42] #16440 closed

[2019-04-03 14:13] sta-szek commented on #16441
Thanks @wilkinsona !

[2019-04-03 15:01] #16414 closed

[2019-04-03 15:03] wilkinsona commented on #16408
We've discussed this today and are in agreement that it's out of the scope of Spring Boot. Thanks for the suggestion.

[2019-04-03 15:03] #16408 closed

[2019-04-03 15:19] philwebb commented on #16396
We discussed this as a team and we've decided to leave this as a known limitation.

[2019-04-03 15:19] #16396 closed

[2019-04-03 15:34] dreis2211 commented on #16401
Most of the time is spent in `ConfigurationPropertyName.elementEquals` still. Or `ConfigurationPropertyName.isAncestorOf` depending on how you see it. Here's a screenshot from an application that simply tries to bind the large file:

![grafik](https://user-images.githubusercontent.com/6304496/55491705-48233380-5636-11e9-82b8-8bc2de81f93e.png)
(This is a snapshot in between, so don't trust the over

[2019-04-03 15:35] wilkinsona commented on #16407
Thanks for the sample. I've been able to reproduce the problem and have also discovered that it only occurs when using Tomcat. With Undertow and Jetty the problem does not occur.

When using Tomcat, killing the process results in the `http-nio-8080-ClientPoller-1` thread recycling the request while it's still be handled. The stack trace of the recycling is the following:

[code]

The thread handli

[2019-04-03 17:12] stephanecot opened #16442 "Liquibase endpoint does not honor custom change log table"
Hello,
I am using Spring Boot 2.1.3.
With this, I have a project where I use Liquibase to build my database.
My config is like this:

<pre>
spring:
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.yaml
    check-change-log-location: true
    drop-first: false
    enabled: true
    database-change-log-lock-table: liquibase_database_changelog_lock
    database-change-log-tabl

[2019-04-03 17:24] snicoll commented on #16442
The template has a “do not copy paste” section so please don’t add the issue type. I’ve edited your comment.

[2019-04-03 17:34] SeunMatt commented on #12395
Another thing to look out for:

I override the userDetailsService() and it produce the StackOverflow error:

[code]

however when I use the AuthenticationManagerBuilder instead, everything works fine:

[code]

[2019-04-03 17:37] andresetevejob commented on #16401
I want to investigate on this issue.can i do?

[2019-04-03 17:41] edwardbeckett commented on #15994
@janotav ~ If you want to add 'support' for a default profile you could take a look at how [jHipster implements a default profile](https://github.com/jhipster/jhipster-sample-app/blob/master/src/main/java/io/github/jhipster/sample/JhipsterSampleApplicationApp.java#L60-L65)... They set the default profile at SpringApplication startup by using a [DefaultProfileUtil](https://github.com/jhipster/jhips

[2019-04-03 17:42] stephanecot commented on #16442
Sorry, I thinked it was for the "all" comment.

[2019-04-03 17:52] philwebb opened #16443 "Increase timeout for promote script"
We should also check the curl result I think

[2019-04-03 17:59] engineal opened #16444 "Recursive ConfigurationProperties class doesn't bind recursive properties"
A ConfigurationProperties class with a recursive subclass will not bind the recursive properties. I have tested this with Spring Boot 2.1.3.

This issue can be reproduced using the following application.properties file:
[code]

I would expect this application.properties to be bound to the TestProperties bean as `TestProperties{x=Test{value='Test1', test=Test{value='Test2', test=Test{value='Test3',

[2019-04-03 18:05] BlizzardMulholland opened #16445 "Spring boot dev tools not support inject bean's properties that created from bytecode direct"
[https://stackoverflow.com/questions/55501501/when-project-include-spring-dev-tools-the-spring-beans-created-by-asm-cant-inj](https://stackoverflow.com/questions/55501501/when-project-include-spring-dev-tools-the-spring-beans-created-by-asm-cant-inj)

When project include spring dev tools, the bean that created by ASM dynamically can't inject properties, when remove spring dev tools, anything is O

[2019-04-03 18:18] wilkinsona commented on #16445
To avoid wasting people’s time, let’s keep the discussion in one place.

[2019-04-03 18:18] #16445 closed

[2019-04-03 21:06] dreis2211 commented on #16401
I'm currently working already on some improvements as well, @wilkinsona . See the referenced issue #16447 for one of those. I'm currently working on another one already, but I'm not confident enough in the solution yet.

[2019-04-03 23:50] philwebb commented on #15835
I'm not totally sure that we should try and support pattern expansion in the same way as the `ResourceEditor`. I'm a little uneasy about performing such logic during the binding process. I wonder if binding the pattern as a `String` then using that later against a `ResourcePatternResolver` might be a better approach in most situations?

[2019-04-03 23:55] mbhave commented on #16444
This was done as stack-overflow protection which is required when binding a bean to a non enumerable source. I wonder if we can allow recursive binding for beans when the source is iterable.

/cc @philwebb

[2019-04-04 00:00] #16443 closed

[2019-04-04 03:48] philwebb opened #16448 "Update CI to skip artifact downloads when possible"
I think we can set `download_artifacts` to `false` because we only need the `build-info.json` files.

[2019-04-04 04:34] philwebb commented on #16448
Also same for sync-to-maven

[2019-04-04 06:39] vilhelm-persson-viper opened #16450 "Unable to configure maxIdleTime for Tomcat server worker threads"
I am unable to configure the maxIdleTime for Tomcat server worker threads.

Have tried a couple of ways but with no success.
The thread min and max size is configured via application properties. I am able to configure acceptor thread count via TomcatServletWebServerFactoryl
Have tried some similar configuration via accessing the connector executor but no success.
For example:
((StandardThreadExecu

[2019-04-04 06:45] xRomZak commented on #12364
I've faced a similar issue after upgrading to Spring Boot 2.0.9, but this time with Quartz's HikariCP-java7 dependency

[2019-04-04 06:54] snicoll commented on #12364
@xRomZak thanks for the feedback. Can you please open a new issue with a bit more details?

[2019-04-04 07:04] davidbilge opened #16451 "StackOverflow in ConfigurationProcessor during Gradle build"
In a Gradle project using Spring Boot 2.1.3, I tried upgrading to Spring Boot 2.1.4. The build failed with a `StackOverflowError` (2.1.3 works fine).

This is on macOS 10.14.4, with JDK 11.0.2 and Gradle 5.3.

[stacktrace.txt](https://github.com/spring-projects/spring-boot/files/3042090/stacktrace.txt)

Plugins in my `build.gradle` that might be relevant:
* `org.springframework.boot:spring-boot-gr

[2019-04-04 07:06] snicoll commented on #16451
@davidbilge We need the `@ConfigurationProperties` annotated class that lead to this error please. If you can share a small sample we can run that would be ideal.

[2019-04-04 07:08] davidbilge commented on #16451
Is there any way I can share the class with you privately?

[2019-04-04 07:09] snicoll commented on #16451
That's a regression introduced by #15850  - Yes, feel free to send the sample by email (snicoll at pivotal dot io)

[2019-04-04 07:18] davidbilge commented on #16451
I just sent you a mail.

[2019-04-04 07:29] snicoll opened #16452 "Unresolved directives in generated documentation"
Since the move to the new styling, the generated doc contains a few "unresolved" directives" errors, e.g.

[2019-04-04 07:34] thackel commented on #12364
This morning after the upgrade to Spring Boot 2.1.4 i experienced the same problem.
The duplicate class checker plugin stopped the build because of
`com.zaxxer:HikariCP:jar:3.2.0` vs `com.zaxxer:HikariCP-java7:jar:2.4.13`

I had to exclude the dependency (introduced by quartz 2.4.1) from the starter:
[code]

[2019-04-04 07:50] bclozel opened #16453 "Reinstate SNAPSHOT updates in integration tests"
In fa4a3ab30, we removed forced SNAPSHOT updates as an attempt to solve #12689.

In recent builds, and after incompatible changes made in Framework and Boot for #16427, we got several failed builds like:

[code]

This points to an incompatible method signature between Framework and Boot, but this is not consistent with the previous steps of the build since other modules were OK. This pointed to a

[2019-04-04 08:00] #16453 closed

[2019-04-04 08:15] ayudovin commented on #16393
@wilkinsona, I would like to work on it. Please let me know if I can start working on it?

[2019-04-04 08:37] ravin-singh opened #16455 "Using RestClientTest and DataJpaTest in one test leads to error spring 2.1.3"
In one of the test I am using RestClientTest and DataJpaTest since spring 2.1.3 it doesn't work due to following error. How to solve this?

[code]

[2019-04-04 08:41] ravin-singh commented on #16455
Code:
@RestClientTest({Service.class})
@DataJpaTest
class Test {

[2019-04-04 08:41] snicoll commented on #16455
Slice tests never were supposed to be combined, please see [the documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-testing-spring-boot-applications-testing-autoconfigured-tests).

In the future, ask such question on StackOverflow, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING

[2019-04-04 08:41] #16455 closed

[2019-04-04 09:48] spring-issuemaster commented on #16277
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-04-04 09:48] #16277 closed

[2019-04-04 10:32] marcust opened #16456 "Repackage goal does not lazily resolve "project.build.finalName" anymore"
I'm using `git-commit-id-plugin` to build my final name on `<build>` level like

`<finalName>${project.name}-${version.number}</finalName>`

and `version.number` is defined as

`<version.number>${git.commit.time}-${git.commit.id.describe-short}</version.number>`

That used to work up to now, but 2.1.4 does not evaluate these variables anymore, so I get

[code]

in my target directory, where the on

[2019-04-04 10:33] mpalourdio opened #16457 "Spring Boot Maven Plugin adds version to JAR filename"
Hello,

I have just updated from Spring Boot 2.1.3 to 2.1.4. We heavily use spring-boot-maven-plugin to build executable jar. Before 2.1.4, we were able to build jar whose file name did not contain the project version with this configuration :

[code]

From 2.1.4,  the generated jar always contain the version (ex : **myapp.2.1.0-SNAPSHOT.jar**), what breaks our CI. Before, it would always have bee

[2019-04-04 10:34] snicoll commented on #16456
It is hard to understand what you’re trying to describe with partial config snippet. Can you share a sample that reproduces what you’re describing?

[2019-04-04 10:45] mpalourdio commented on #16457
Looks related to this : https://github.com/spring-projects/spring-boot/issues/16202

[2019-04-04 11:19] snicoll commented on #16457
@mpalourdio the `finalName` attribute is read-only (and therefore not advertized in the doc) as of Spring Boot `2.1.0.M1`, see #12608 - It's a mystery to me why Maven would allow you to set the value anyway. This should have been done as part of the upgrade to `2.1.0` but it looks like you're all set now.

[2019-04-04 11:19] #16457 closed

[2019-04-04 11:40] wilkinsona opened #16458 "Add commit hook to automatically create issues when merging changes forwards"

[2019-04-04 11:51] mpalourdio commented on #16457
Thanks for feedback, I had totally missed this change !

[2019-04-04 11:54] EstefaniaGilVaquero opened #16459 "1.5.19 critical vulnerabilities CVE-2018-1270"
Using version 1.5.19 i get the following higth risk vulnerability in 3 libraries:

org.springframework.retry:spring-retry - 1.2.4.RELEASE
org.springframework.ws:spring-ws-core - 2.4.4.RELEASE
org.springframework.ws:spring-xml - 3.0.7.RELEASE

CVE-2018-1270
"Spring Framework, versions 5.0 prior to 5.0.5 and versions 4.3 prior to 4.3.15 and older unsupported versions, allow applications to expose ST

[2019-04-04 12:10] #16172 closed

[2019-04-04 12:17] wilkinsona commented on #16459
Those warnings are all false positives. Spring Boot 1.5.19 uses Spring Framework 4.3.22. Only 4.3.14 and earlier versions are vulnerable.

[2019-04-04 12:17] #16459 closed

[2019-04-04 12:25] wilkinsona opened #16460 "Add commit hook to automatically create issues when merging changes forwards"
See original issue #16458.

[2019-04-04 12:26] #16458 closed

[2019-04-04 12:26] #16460 closed

[2019-04-04 13:06] snicoll commented on #16451
Alright, this can be reproduces with a nested property, something like

[code]

And said type used in a configprops type

[code]

@davidbilge even if that arrangement did not trigger any sort of error, advanced generics are not supported and the generated metadata in previous versions was useless to your IDE as it was simply adding the generic type (here `T`).

I am not going to see how I can avoi

[2019-04-04 13:11] davidbilge commented on #16451
Okay, I was not aware of that limitation. Using this hint I should be able to implement a workaround.

[2019-04-04 13:41] wilkinsona opened #16461 "Liquibase endpoint does not honor custom change log table"
See original issue #16442.

[2019-04-04 13:41] stunaz opened #16462 "ClassCastException :AjpNioProtocol cannot be cast to AbstractHttp11Protocol"
Hi, with spring-boot 2.1.3.RELEASE, the following code works perfectly.
[code]
with spring-boot 2.2.0.M1, i have the following issue:

[code]

[2019-04-04 13:42] #16442 closed

[2019-04-04 13:42] #16461 closed

[2019-04-04 13:44] wilkinsona commented on #16462
Duplicate of #16413.

[2019-04-04 13:44] #16462 closed

[2019-04-04 14:01] #16451 closed

[2019-04-04 14:02] manderson23 opened #16463 "Custom Jackson serializers added via SimpleModule @Bean not used after update to 2.1.4"
With Spring Boot 2.1.3 I registered custom serializers as follows
[code]
After updating to 2.1.4 the bean is still found and created but the serializers are not used. I've had to refactor use `Jackson2ObjectMapperBuilderCustomizer` as a workaround.

[2019-04-04 14:04] snicoll opened #16464 "StackOverflow in meta-data generation with unresolved generic and upper bound"
See original issue #16451.

[2019-04-04 14:05] snicoll commented on #16464
Closed by https://github.com/spring-projects/spring-boot/commit/0972ef342222589fab9a229e15e572a378c5f0bd

[2019-04-04 14:05] #16464 closed

[2019-04-04 14:09] snicoll opened #16465 "Extract generic information for nested group"
If a nested group has generics and a particular type has resolved those generics, this information is lost when processing the nested type as we use the `TypeElement` as the source rather than the `DeclaredType` of the actual instance.

There is a test that [shows this limitation concretely](https://github.com/spring-projects/spring-boot/blob/0972ef342222589fab9a229e15e572a378c5f0bd/spring-boot-pr

[2019-04-04 14:12] wilkinsona commented on #16463
I don't recall any changes in this area in 2.1.4, but it may be due to a change in Spring Framework. If you'd like us to spend time investigating, can you please take the time to provide a complete and minimal sample that reproduces the problem?

[2019-04-04 14:26] manderson23 commented on #16463
Looking at Spring Framework 5.1.6 changes I wonder if https://github.com/spring-projects/spring-framework/issues/22576 has had an impact?

I'll try to create an example.

[2019-04-04 15:40] snicoll commented on #16456
Small note, if you're using the `finalName` property of the plugin, it's deprecated since `2.1.0` in favour of the standard `finalName` of the `build` element. If you're using the latter, this was working by accident (see also #16457 for more insight).

[2019-04-04 16:21] marcust commented on #16456
Demo is at https://github.com/marcust/spring-boot-issue-16456

So when you do a
`mvn clean package`
right now, you get in `target/`
[code]
if you do that with Spring Boot 2.1.3. you get
[code]

so basically the behaviour of the standard `fileName` element has changed.

[2019-04-04 17:13] philwebb commented on #16393
@ayudovin Much appreciated. The issue isn't assigned and it doesn't look like it should be too involved so please go head.

[2019-04-04 17:50] pioto commented on #15832
This issue impacts Spring Boot 1.5.x as well, though I don't know if there's any plan to fix it there.

Is it safe to simply update the `jackson.version` property to `2.9.8`, or is there some known incompatibility there with the older Spring code?

[2019-04-04 17:59] wilkinsona commented on #15832
AFAIK, Spring Boot 1.5.x should work with Jackson 2.9.8. I'd strongly recommend an upgrade to 2.1.x in the near future though. 1.5.x will reach end of life in August.

[2019-04-04 18:03] wilkinsona commented on #15832
Note that the fixes for those CVEs are [included in the 2.8.x line of Jackson as well](https://github.com/FasterXML/jackson-databind/issues/2097#issuecomment-457071680) so there should be no need to override the version. If you haven't already seen it, [this blog post](https://medium.com/@cowtowncoder/on-jackson-cves-dont-panic-here-is-what-you-need-to-know-54cd0d6e8062) is recommended reading wit

[2019-04-04 19:36] philwebb commented on #12649
@cowwoc If you set a system property with `org.springframework.boot.logging.LoggingSystem=NONE` then Spring Boot's deeper logging integration will be disabled. This means you won't be able to do things like set logging levels in `application.properties`.

Setting that property will not disable the actual logging that spring boot does itself. Those are performed via Apache Commons Logging (usually

[2019-04-04 19:39] philwebb commented on #16337
@rhamedy The issue isn't assigned or pending any design work but it looks as if @ayudovin might have beaten you to it

[2019-04-04 19:46] philwebb commented on #16256
See also #8463 for some background on the last change we made in this area.

[2019-04-04 19:55] cowwoc commented on #12649
@philwebb It would work. Is there any harm in forcing JUL support and redirecting that to slf4j? Isn't that better since then `application.properties` integration would still work?

[2019-04-04 19:59] philwebb commented on #12649
@cowwoc That's certainly an option, but I'm not sure how well it work as I've never tested that scenario. Specifically, I'm not sure if calling `Logger.getLogger(loggerName).setLevel(...)` will propagate to the underlying Logback logger.

[2019-04-04 20:12] bclozel commented on #16337
Hey @mp911de @christophstrobl, does this issue sounds right to you?
What should the users do ideally? Remove `@Indexed` annotations from their model classes?
If we set that property to true, people will still get that WARN message at startup?
How should we ease the transition here?

[2019-04-04 23:48] philwebb commented on #16096
@snicoll I've added a couple of extra commits on [a local branch](https://github.com/philwebb/spring-boot/tree/gh-16096).

The changes you've made look good to me. My only hesitation is with `AnnotationConfigReactiveWebApplicationContext` since it's a breaking change. We have the same problem as Juergen there. Ideally we'd leave it alone and create a new version, but we really really want to use t

[2019-04-05 00:52] mbhave commented on #16184
I've got a fix in a branch [here](https://github.com/mbhave/spring-boot/commits/gh-16184). I was wondering specifically about @wilkinsona's comment

The branch adds a BFPP to the child context for enabling lazy initialization. However, I don't think the creation of endpoints could be delayed till a request is received because of `ServletEndpoint`s. The `ServletEndpointRegistrar` is a `ServletConte

[2019-04-05 04:45] zhouchong90 commented on #10129
@denisw We have the same problem as you do using webflux with Kubernetes. Could you help to elaborate on your solution? Specifically how you configured the  ForwardedHeaderTransformer bean and how you added the X-Forwarded-Predix: /api header. I'd appreciate it if you could share your ingress yaml.

[2019-04-05 05:56] KingBuzzer opened #16466 "Restore indentation in published spring-boot-dependencies and spring-boot-starter-parent poms"
The POMs in 2.1.4 lost all formatting/indentation which makes them harder to read.

Examples:

2.1.3 is using 4 spaces indentation:
https://search.maven.org/remotecontent?filepath=org/springframework/boot/spring-boot-dependencies/2.1.3.RELEASE/spring-boot-dependencies-2.1.3.RELEASE.pom

2.1.4 is using no indentation
https://search.maven.org/remotecontent?filepath=org/springframework/boot/spring-bo

[2019-04-05 07:04] snicoll commented on #16456
Alright so my attempt at stopping users from specifying a read-only parameter was a bit too agressive. The fact that `read-only` is completely ignored by Maven is [a confirmed bug](https://issues.apache.org/jira/browse/MNG-5001) so we need to find a way to fix #16202.

A revert of https://github.com/spring-projects/spring-boot/commit/04aadcdf2e1dc555447d2248ff53e1a2261da560 will reintroduce the is

[2019-04-05 08:20] wilkinsona commented on #16466
Thanks for spotting this, it wasn't intentional. The good news is that the indentation is missing in the snapshot repo (for example https://repo.spring.io/snapshot/org/springframework/boot/spring-boot-dependencies/2.1.5.BUILD-SNAPSHOT/spring-boot-dependencies-2.1.5.BUILD-SNAPSHOT.pom), so the indentation is being lost somewhere that should be in our control, rather than on the way to Maven Central

[2019-04-05 08:33] snicoll commented on #16444
What metadata do you expect with such setup anyway? I agree the SO is far from ideal (feel free to create a separate issue for it) but the metadata represents a finite set of information, it's not "dynamic".

[2019-04-05 08:40] wilkinsona commented on #16184
Thanks for looking at this, @mbhave. There's also [a change](https://github.com/spring-projects/spring-boot/commit/2bd3d19bee6f504b1a7e0742f6703908fa751784#diff-856e8ffc3ef02230d86620db44b26712) in DevTools that I made that could perhaps be replaced with some use of `@Lazy(false)`.

For the Actuator child context, I wonder if the problem will be solved with `@Lazy(false)` if we proceed #15378. We

[2019-04-05 09:10] bharukaRupesh opened #16468 "Atmosphere Resource Error"
Hi,

Can anyone please help me on the below atmosphere issue which came after we bumped up our spring version from ```4.3.7``` to ```5.1.5```?

[code]

Any help is really appreciated.

[2019-04-05 09:11] snicoll commented on #16096
Thanks for the review @philwebb - FYI, I've dropped https://github.com/philwebb/spring-boot/commit/2ce95eff1afa2def5cd467556b98a24cbe0544eb from your polish. I didn't migrate those on purpose as this project does not have a compile dependency on `spring-boot`.

[2019-04-05 09:13] snicoll commented on #16468
This issue tracker is about Spring Boot, not Spring Framework and an incomplete stack trace with no additional information is not going to attract people to help you. Please take the time to create a StackOverflow question with more details, a sample would be ideal. Side note, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.

[2019-04-05 09:13] #16468 closed

[2019-04-05 09:33] bharukaRupesh commented on #16468
Thanks @snicoll  for your kind response.

[2019-04-05 09:44] manderson23 commented on #16463
The underlying cause was the change in https://github.com/spring-projects/spring-framework/issues/22576 at https://github.com/spring-projects/spring-framework/commit/35010149f8aa9d2edcbc01396251735d44b3e112#diff-834592f65df9d55ba1529f1f62af1a85R644

Module beans are now added to a map using `module.getTypeId()` as a key. However, if you are using `SimpleModule` itself then `getTypeId()` returns `n

[2019-04-05 09:50] manderson23 opened #16469 "Add annotation to support registering Jackson key serializer/deserializer"
My use case for using modules in #16463 was to allow registration of a key serializer.

It would be useful if there was an annotation similar to `@JsonComponent` that supported key serializers and deserializers.

[2019-04-05 09:53] wilkinsona commented on #16463
Thanks for tracking down the cause. IMO, that's a regression in Spring Framework and it should be fixed there rather than being documented in Spring Boot's documentation.

Jackson always allows multiple modules with a `null` `typeId` to be registered. It also allows multiple modules with the same non-null `typeId` to be registered when the `IGNORE_DUPLICATE_MODULE_REGISTRATIONS` feature is disable

[2019-04-05 10:16] brucelwl opened #16470 "It is recommended that @ConditionalOnProperty be set to repeatable"
Sometimes I want multiple property conditions to be true for configuration to be effective.

[2019-04-05 10:18] wilkinsona commented on #16470
Please take a moment to search before opening a new issue. A search for "repeatable" results in three open issues, one of which is #2541.

[2019-04-05 10:18] #16470 closed

[2019-04-05 10:48] wilkinsona commented on #16450
Tomcat doesn't allow tuning of the keep alive time without configuring a custom executor. If Tomcat is left to create the executor (the default behaviour) it [hard-codes the keep alive time as 60 seconds](https://github.com/apache/tomcat/blob/de1f55e672106031821948d5cac80f40adc09513/java/org/apache/tomcat/util/net/AbstractEndpoint.java#L884):

[code]

Given Tomcat's current capabilities, your best

[2019-04-05 10:48] #16450 closed

[2019-04-05 10:56] vilhelm-persson-viper commented on #16450
Hi
The maxIdleTime is already a parameter that is configurable in Tomcat
See
https://tomcat.apache.org/tomcat-9.0-doc/config/executor.html#Standard_Implementation

[2019-04-05 11:04] wilkinsona commented on #16450
Embedded Tomcat does not use a `StandardThreadExecutor` by default, that's why the endpoint creates its own `Executor` as shown in the code I linked to [above](https://github.com/apache/tomcat/blob/de1f55e672106031821948d5cac80f40adc09513/java/org/apache/tomcat/util/net/AbstractEndpoint.java#L884). The ability to configure the keep alive time is missing from `AbstractEndpoint` and `AbstractProtoco

[2019-04-05 11:32] ayudovin commented on #16214
@wilkinsona, Can I start working on it?

[2019-04-05 11:43] ayudovin commented on #16214
@wilkinsona, Can I try to do this enhancement?

[2019-04-05 14:44] cdelgado83 opened #16471 "Provide fat jar aware implementations of Tomcat's Resource and ResourceSet to speed up resource loading from executable wars"
When packaging an spring-boot application as a **WAR**, the context class loader of a Rest Controller is very slow to load a class that does not exist.

* The problematic class loader is :
[code]

* It can be invoked by the function:
[code]

The more dependencies the project have, the more the class loader is slow to respond.

You can test the problem with this simple [project](https://github.com/

[2019-04-05 14:52] #16096 closed

[2019-04-05 15:20] philwebb commented on #10129
Reopening so we can investigate how difficult this will be.

[2019-04-05 15:32] bclozel commented on #16412
Instead of creating a new application type for RSocket and rename the `WebApplicationType` enum, we'll experiment and see if we can:

* create the RSocket server as its own bean and not tie it to the application context (like web servers currently)
* configure a websocket endpoint if a WebFlux server is configured
* opt-in to create an RSocket server when defining a configuration property

So deve

[2019-04-05 16:38] wilkinsona opened #16473 "When running on a separate port, Actuator health endpoint may report healthy before the main port is listening"
See original issue #15378.

[2019-04-05 16:38] #15378 closed

[2019-04-05 16:38] #16473 closed

[2019-04-05 16:39] philwebb commented on #13482
After some discussion we've decided that running multiple actuators on different child contexts isn't something that we want to support out of the box. We can't see an easy way to implement such a feature without introducing a lot of additional complexity.

[2019-04-05 16:39] #13482 closed

[2019-04-05 16:51] philwebb commented on #16394
Even with the append only idea there's a lot of additional complexity that this will introduce and I'm not keen to open that can of worms again. I wonder if there's another approach where a bean post processor could be used in the test to append the additional items programmatically?

[2019-04-05 16:52] philwebb commented on #16394
I'm going to close this one as a duplicate of #9137.

[2019-04-05 16:52] #16394 closed

[2019-04-05 19:41] mbhave commented on #16303
I have a fix for this [here](https://github.com/mbhave/spring-boot/tree/gh-16303) but this is turning out to get a bit complicated because of the way included profiles are supposed to be ordered. For example, look at the configuration below:

[code]

Given that profiles `a` and `b` are active, the above configuration will lead to a profile order of `a, c, b, d, e, f`, whereas one might expect it t

[2019-04-05 23:40] adriancole commented on #16394
fair enough. thanks

On Sat, Apr 6, 2019, 12:53 AM Phil Webb <notifications@github.com> wrote:

[2019-04-06 00:10] hendisantika commented on #8172
I have that issue.
My bootstrap navbar doesn't show.

Can You help me @AleixAlcover ?
Thanks

[2019-04-06 01:03] #16184 closed

[2019-04-06 01:07] mbhave opened #16475 "Provide a way to mark beans as not lazy without using @Lazy(false)"
This was discussed as part of #16184. Although we have a way to explicitly mark beans as not lazy using `@Lazy(false)`, there are times when we'd need to do that for beans that are not explicitly marked that way. For example, a user cannot mark Spring Integration's internal components as `@Lazy(false)`. @wilkinsona's comment [here](https://github.com/spring-projects/spring-boot/issues/16184#issuec

[2019-04-06 01:38] philwebb commented on #16471
That's quite a dramatic performance penalty. We'll need to do some profiling to find out if the issue is in our `TomcatEmbeddedWebappClassLoader` or one of the higher Tomcat classloaders that we inherit from. @markt-asf have you seen any similar reports on Tomcat before?

[2019-04-06 01:54] philwebb commented on #16469
I think we could possibly add a `handle` attribute to `@JsonComponent` so that it could be used for either situation.

e.g:

[code]

[code]

[2019-04-06 06:33] AleixAlcover commented on #8172
@hendisantika , please check the code from my previous post. The rootDomainInterceptor() is an implementation of  **HandlerInterceptor**, where I deal with the different domains (DNS) accessing the app. What does the code, is to exclude the paths of all static resources from that HandlerInterceptor. I guess in your case, you have to exclude the paths where are located the different components of b

[2019-04-06 09:37] markt-asf commented on #16471
Nothing that comes to mind based on this description.

[2019-04-06 18:25] dillius opened #16479 "Upgrading from 2.0.5 to anything higher results in application never finishing startup"
Attempting to start back on an older project I haven't worked on in a while, and attempting to upgrade to a newer spring boot release results in a non-start. No errors are logged, and trying to debug has led me nowhere.

It appears that for some reason my routing configuration is completely ignored, and the application never starts to listen on 8080.

I have tried going from 2.0.5 to 2.0.6, 2.0.9,

[2019-04-06 19:27] snicoll commented on #16479
Sharing the logs is nowhere near enough to be able to help you. Can you share a sample that reproduces the problem you're experiencing (a zip file or a link to a github repo we can run ourselves would be ideal).

[2019-04-06 19:36] dillius commented on #16479
I believe I have determined the cause, and it relates to another issue:

https://github.com/spring-projects/spring-framework/issues/20904

My security setup involved blocking a publisher to pull information from a reactive repository for user information, then manipulate it, during the creation of a Bean. Starting in 2.0.6 this apparently is no longer valid, and the thread will simply block waitin

[2019-04-06 19:36] #16479 closed

[2019-04-06 19:37] snicoll commented on #16479
I was actually suspecting something like that. Glad you figured it out.

The issue isn't going anywhere.

[2019-04-07 00:07] tkvangorder commented on #16475
@mbhave

The original issue where we discussed the lazy-loading BFPP has code to exclude certain classes. https://github.com/spring-projects/spring-boot/issues/9685

It is working for us, but we have to brute force it by sub-classing our post-processor and passing in the classes we wish to exclude from lazy loading.

I *think* it would be possible to add a new attribute to "spring.factories" that

[2019-04-07 11:48] hendisantika commented on #8172
Would You please check my repository @AleixAlcover --> [here](https://github.com/hendisantika/SpringBoot-Thymeleaf-Template)

I can't see any solutions for my case.

Thanks

[2019-04-07 11:52] snicoll commented on #8172
Please move that discussion off the issue tracker. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-04-07 11:58] hendisantika commented on #8172
OK. Sorry for that @snicoll .

[2019-04-07 19:17] j209 opened #16481 "Merge Spring with react-kotlin"
Hi
Can we use Spring Boot with [Kotlin-React](https://github.com/JetBrains/create-react-kotlin-app) as front end?
Both backend and frontend are in one language.Kotlin!

[2019-04-07 20:27] karesti opened #16482 "Unable to start application using Infinispan on Client/Server mode with JMX enabled"
A Spring-Boot application using Infinispan Client/Server with JMX enabled for the Infinispan Client won't start, unless you disable jmx ```spring.jmx.enabled=false```.
Infinispan already registers a bean that is registered by Spring, so we get the following exception on start:
[code]
Reproducer [here](https://github.com/karesti/spring-boot-infinispan-jmx)

[2019-04-07 20:44] schuch commented on #16256
I am proposing trying to fallback to `ping()` if the CoreAdmin request fails due to a 404, although I'm not really happy with that. But I see no other way.

https://github.com/spring-projects/spring-boot/pull/16477

[2019-04-07 21:16] ThePinkPanther commented on #9923
@axiopisty +1 would like to see a link

[2019-04-08 02:33] snicoll commented on #16481
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-08 02:33] #16481 closed

[2019-04-08 05:30] lorenzodee opened #16484 "@WebMvcTest and @WebAppConfiguration behave differently with ServletContext resources"
I'm porting a Spring app to Spring Boot 2.0.x and observed a different behavior with `ServletContext` resources.

Here's the non-boot test, and works as expected.
[code]

And here's the boot test, but fails to load `ApplicationContext` due to a missing resource `WEB-INF/views/tiles.xml`. But the non-boot test succeeds, and the file exists.
[code]

I've also tried loading an existing resource using

[2019-04-08 06:28] spring-issuemaster commented on #16397
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-04-08 07:42] snicoll commented on #16482
Thanks for the sample @karesti that's very helpful. The contract is that if a bean in the `ApplicationContext` implements a MBean contract, it will be automatically exposed to the JMX domain.

I can see that `RemoteCacheManager` implements `RemoteCacheManagerMXBean` which makes it a candidate for exposure. There is a little disconnect here IMO. If you're offering a property to expose things to JMX

[2019-04-08 07:42] #16482 closed

[2019-04-08 08:51] christophstrobl commented on #16256
The `SolrClientBuilder` defines two ways for setting up the `SolrClient`.
One is by pinning the `SolrClient` to a specific core.

Spring Data for Apache Solr infers the _core_ from the domain type and therefore needs the root Solr path using the extended flexibility the `SolrClient` provides by being able to send requests to any core.

Using the Spring Data domain model to identify all possible co

[2019-04-08 09:11] lorenzodee commented on #16484
I looked into it a bit further and found out that using `@SpringBootTest` works. But I would like to see it work with test slice (`@WebMvcTest`).

So, the following test works.
[code]

[2019-04-08 10:08] crmky opened #16486 "Upgrde to Tomcat 8.5.39 breaks customized error controller"
We upgrade our applications from Spring Boot 1.5.19.RELEASE to 1.5.20.RELEASE, and found the customized error controller is broken in this release because of Tomcat upgrade.

Tomcat 8.5.39 introduces a regression, https://github.com/apache/tomcat/commit/d30d3e3a111cc12b5f69c981dd1e3c46890fd977#diff-95185e588de3604778aaae00c0afdf10. Now `org.apache.coyote.Response.setStatus` method will check previ

[2019-04-08 10:14] bric3 commented on #9143
@wilkinsona This is very interesting, I think this should be documented somewhere here : https://docs.spring.io/spring-boot/docs/1.5.20.RELEASE/reference/html/build-tool-plugins-gradle-plugin.html

[2019-04-08 10:19] songxinqiang opened #16487 "The maven repackaged file name not right"
i have configed my pom build as:
[code]
i hope to get repackaged file as name like `myapp-3.2.0-beta4_20190408181002.jar` and `origin` file `myapp-3.2.0-beta4_20190408181002.jar.original`,and it works very well with 2.1.3.release or before version, but when i upgrade to version 2.1.4.release,i get file  `myapp-3.2.0-beta4_${current_time}.jar`.and the `origin` file is correct `myapp-3.2.0-beta4_201

[2019-04-08 10:27] snicoll commented on #16487
Duplicate of #16456

[2019-04-08 10:27] #16487 closed

[2019-04-08 10:55] OrangeDog opened #16488 "spring.resources.cache.period doesn't work"
Spring Boot 2.1.4.RELEASE

As far as I can tell, the property `spring.resources.cache.period` can't ever do anything.
`ResourceProperties.Cache.Cachecontrol.toHttpCacheControl` will always return an object, therefore [this else branch](https://github.com/spring-projects/spring-framework/blob/v5.1.6.RELEASE/spring-webmvc/src/main/java/org/springframework/web/servlet/config/annotation/ResourceHandle

[2019-04-08 11:13] OrangeDog commented on #2173
Can there be an annotation-based method?
It's very tedious when you want a bunch of security filters and entrypoints to be Beans so that they get managed properly, but they shouldn't be auto-added because they need to go into specific proxy chains.

[2019-04-08 11:27] snicoll commented on #16488
The cache period is [configured as the MaxAge of the CacheControl](https://github.com/spring-projects/spring-boot/blob/cd914aaa4d7507b4e7fd66c65701335745a49303/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/web/reactive/WebFluxAutoConfiguration.java#L169-L177). There is also a test that asserts it is set.

Rather than describing a technical solut

[2019-04-08 11:32] pse-sonic opened #16489 "Exclude correct HikariCP version"
Hello,

Spring Boot 2.1.4-RELEASE uses Quartz 2.3.1 which contains hikaricp-java7 (since this release - see https://github.com/quartz-scheduler/quartz/issues/294) but the spring-boot-dependencies POM still excludes hikaricp-java6.

This causes an AbstractMethodError when using HikariCP and Quartz together.

`Caused by: java.lang.AbstractMethodError: Receiver class com.zaxxer.hikari.metrics.microme

[2019-04-08 11:57] OrangeDog commented on #16488
Sorry, this is with WebMVC, not WebFlux.
It's reproduced with spring-boot-starter-web, no config, a single static file, and the `...period` property set to something valid.

[2019-04-08 12:00] snicoll commented on #16488
And what are we supposed to reproduce with this setup? MVC is also covered by [a test](https://github.com/spring-projects/spring-boot/blob/cd914aaa4d7507b4e7fd66c65701335745a49303/spring-boot-project/spring-boot-autoconfigure/src/test/java/org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfigurationTests.java#L796-L815) that's passing at the moment. Can we please ignore the technical

[2019-04-08 12:15] OrangeDog commented on #16488
I am focussing on the feature. Despite whatever tests might exist, it doesn't actually work.
Here's an explicit reproduction: https://gist.github.com/OrangeDog/8899a0b33561c3aa2100d9fe94a40f3f

[code]

[2019-04-08 12:20] ielatif commented on #16489
Is this open for contribution? I would be happy to contribute if @pse-sonic don't mind

[2019-04-08 12:26] pse-sonic commented on #16489
Feel free to solve this issue :)

[2019-04-08 12:32] snicoll commented on #16489
@ielatif fixing the issue is easy but I'd like to put something in place so that our build fails the next time this happens. If you want to give that a try, feel free to go ahead.

[2019-04-08 13:15] ielatif commented on #16489
This is similar to this one https://github.com/spring-projects/spring-boot/issues/12364

There is tests for Quartz in QuartzAutoConfigurationTests :

1. withNoDataSource
2.  withDataSourceUseMemoryByDefault
3. withDataSource

We can add a new test **withHikariCPDataSource** to integrate HikariCP and Quartz. @snicoll What do you think?

[2019-04-08 13:24] snicoll commented on #16488
Thanks for the reproduction.

[2019-04-08 13:30] snicoll commented on #16489
@ielatif it's already using HikariCP most probably. If you managed to reproduce the error in a test, feel free to submit something.

[2019-04-08 13:33] thackel commented on #16489
Additionally the project should really set up a duplicate classpath check for a maximum possible amount of dependencies (all starters for example).
This would avoid such kind of issues in the future.

[2019-04-08 14:22] Sachpat commented on #16273
Hi, looks like there is no 7.7.1 version of  solr-uima and hence the build fails for adding this dependency.

[2019-04-08 14:30] Sachpat opened #16490 "Dependency management is provided for solr-uima which does not exist in 7.7"
Hi,

Looks like as a part of https://github.com/spring-projects/spring-boot/issues/16273, you also made

[code]

to also refer to version 7.7.1 as it uses a common version property ${solr.version}. But, as per https://mvnrepository.com/artifact/org.apache.solr/solr-uima, there is no 7.7.1 version for solr-uima and hence the build fails if one refers to this dependency from org.springframework.boot

[2019-04-08 14:33] Gerry-Pan opened #16491 "org.springframework.security.web.server.authentication.AuthenticationWebFilter"
![image](https://user-images.githubusercontent.com/35036729/55731095-27027e80-5a4c-11e9-8282-6329dfb9d3cf.png)
I create MiniServerAuthenticationConverter implements ServerAuthenticationConverter,and override the method convert,but if convert return Mono.error(new AuthenticationServiceException("...")),"this.authenticationFailureHandler.onAuthenticationFailure" can not be invoked
![image](https://u

[2019-04-08 15:14] mp911de commented on #16337
Adding a property to control index creation sounds about right. We will disable auto-index creation in one of the next releases. The background is that users don't get much control over the actual index creation time if entity types are discovered during runtime and not known at startup time.  Therefore, we decided to deprecate the feature. We introduced a configuration flag `autoIndexCreation` on

[2019-04-08 16:22] philwebb commented on #16491
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-08 16:22] #16491 closed

[2019-04-08 16:25] philwebb commented on #16490
Looks like we missed that [UIMA was removed](https://issues.apache.org/jira/browse/SOLR-11694) in 7.5.

[2019-04-08 16:36] Beennnn opened #16492 "The Spring boot actuator root endpoint ignore the reverse proxy X-forwaded-prefix header value when building links"
When displaying spring boot actuator root endpoint behind a reverse proxy (e.g. Zuul or Kubernetes Ingress), **the actuator root page links does not refer to the reverse proxy caller URL but to the request URL directly**.

Consequently, all actuator endpoints are broken.

When inspecting the code in method WebMvcEndpointHandlerMapping.WebMvcLinksHandler.links() : it confirms the method uses the re

[2019-04-08 16:37] philwebb commented on #16490
Note that we intentionally took the slightly unusual step of jumping from Solr 7.4 -> 7.7.1 in a maintenance release.

[2019-04-08 16:51] schuch commented on #16256
What about users who do not use Spring Data Solr, but SolrJ directly, which is the case in my scenario?

[2019-04-08 17:17] Sachpat commented on #16490
@philwebb thanks for taking care of this.

[2019-04-08 17:20] philwebb commented on #16492
Do you have the `server.use-forward-headers` property set to true (https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-use-tomcat-behind-a-proxy-server) or the `ForwardedHeaderFilter` installed?

Usually those take care of transparently modifying calls to `getRequestURL()`.

[2019-04-08 17:38] vbansal027 opened #16493 "spring.profiles.include not working properly"

[2019-04-08 17:46] philwebb commented on #16486
@crmky Can you provide a sample that show what you are doing in your customized error controller? Specifically I'm interested to know if you're using `setStatus` instead of `sendError`.

The javadoc on `HttpServletResponse` seems to suggest that `setStatus` should only be used when there is no error:

[2019-04-08 17:48] philwebb commented on #16493
Opened in error I assume.

[2019-04-08 17:55] vbansal027 commented on #16493
I am using Spring Boot version 2.0.4. I am trying to build a micro-service type spring boot project. My project structure is as follows :
-Parent Module (packaging POM)
    -child A (packaging JAR) [application aggregator] {app.prps, app-dev.prps}
    -child B (packaging JAR) [application module 1] {app-B.prps, app-B-dev.prps}
    -child C (packaging JAR) [application module 2] {app-C.prps, app-C-

[2019-04-08 18:00] philwebb commented on #16484
Closing in favor of PR #16485

[2019-04-08 18:00] #16484 closed

[2019-04-08 18:20] philwebb commented on #16444
I'm not really sure that we should attempt to support such a setup, it feels like we'd be introducing a lot of additional complexity in the binder.

@engineal what kind of data are you trying to represent in your properties?

[2019-04-08 18:25] vbansal027 commented on #16493
![SpringError](https://user-images.githubusercontent.com/20636236/55747293-8adf7400-5a59-11e9-8d6e-7b48ddd5a0a6.png)

In the above screenshot you can see in active profiles. cst-apihandler, cst-apihandler-localhost, cst-persistence-middleware, cst-persistence-middleware-localhost, these 4 profiles are mentioned in spring.profiles.include for cst-mw-uap-localhost

[2019-04-08 18:29] mbhave commented on #16493
@vbansal027 It's really hard to tell what's going on from screenshots, especially because the profiles in the screenshots do not match the profiles in your issue description. Please provide a complete, minimal sample that we can run to reproduce the issue.

[2019-04-08 18:49] mbhave commented on #16493
Actually, I think I know what's going on here. In your example [here](https://github.com/spring-projects/spring-boot/issues/16493#issuecomment-480937531), you've got

`spring.profiles.include` shouldn't be the file name but instead the profile name. Profile specific property files work by [appending the profile name to `application-`](https://docs.spring.io/spring-boot/docs/current/reference/html/

[2019-04-08 19:16] philwebb commented on #16232
Looking at the Liquibase code I think it might be possible for the `spring.liquibase.change-log` property to use a pattern. Our resource checking only looks for a single file so I guess it's possible that you might have a pattern that won't exist on its own, but will still be supported by liquibase.

It still feels a bit of an odd property for liquibase. My guess is we just added it for parity wit

[2019-04-08 19:38] mbhave commented on #16475
Thanks @tkvangorder. We were originally thinking of going off off some information from the bean definition to decide if a bean should be marked as lazy or not. Being able to contribute exclusions to lazy loading sounds interesting to me. I'll flag for team attention to see what the rest of the team thinks.

[2019-04-08 20:01] mbhave commented on #2173
@OrangeDog This issue is closed. If you have an enhancement request, please create a new issue.

[2019-04-08 20:46] mbhave commented on #16337
Thanks @mp911de. I'll close this in favor of PR #16454.

[2019-04-08 20:46] #16337 closed

[2019-04-08 22:11] markt-asf commented on #16407
It depends how long the request takes to complete before Tomcat shuts down. Once the shutdown sequence starts, Tomcat will reject new requests and give in-flight requests at least Context.unloadDelay (default 2s) to complete (Servlets are stopped serially and each gets up to unloadDelay - in practise it is usually only one Servlet that has all the long running requests so you only see a wait of ~2

[2019-04-09 01:18] #15814 closed

[2019-04-09 01:30] crmky commented on #16486
@philwebb We use `setStatus` in the error controller. But even if I change it to `setError`, the result is still the same. `setError` will also call `org.apache.coyote.Response.setStatus` which will silently ignore the value.

I will provide an example later.

[2019-04-09 01:31] qq517634644 commented on #9051
the same world ,the same problem

[2019-04-09 02:58] maly7 commented on #16469
Hi, I'd like to take a shot at this if no one else is working on it. It looks like to add support for this, it would require adding the new handle field to `@JsonComponent` while also modifying the `JsonComponentModule` to conditionally add the component as a key serializer/deserializer based on the field. Does that sound right?

[2019-04-09 03:03] crmky commented on #16486
This is an example I created for that issue. Run with Spring Boot 1.5.19.RELEASE, the status code for "/" is 422. Run with Spring Boot 1.5.20.RELEASE, the status code is 400.

[code]

[2019-04-09 05:04] vbansal027 commented on #16493
Apologies for the typing mistakes in description. I have included the files correctly as you have mentioned above. Also, as I have mentioned before, the program is running perfectly fine, when it is run as configuration from STS editor. It is only when I run the jar from terminal it fails.

[2019-04-09 06:04] snicoll commented on #16493
That doesn’t help us unfortunately. Please attach a sample project we can run ourselves (a github repo link or a zip).

[2019-04-09 06:41] vbansal027 commented on #16493
Thank you for addressing the problem. The project I have mentioned in the screenshot is my company's official repo, so I can't share it as it is. But, I will try to create a similar structure in some sample repo to share here.

[2019-04-09 07:09] lequanghiep74 opened #16495 "[spring-boot-starter-undertow] Undertow auto send suspicious request to another url from my server"
When i use `spring-boot-starter-undertow` in my project. I have find some suspicious request from `undertow` to another url. This is my log:

[code]

[2019-04-09 07:20] #16495 closed

[2019-04-09 08:37] vbansal027 commented on #16493
[FIXED]
The issue has been fixed. The pom.xml for the child B and child C had the maven <build> plugin in them, for building separate executable JARs. Commenting out the <build> section from their respective pom.xmls, resulted in spring.profiles.include working correctly and including the necessary properties files.

Note : I don't know why this worked. So any explanation regarding this will be ap

[2019-04-09 09:02] Treehopper commented on #16232
I currently work around this issue by running code before the LiquibaseAutoConfiguration, checking for the existence of the resource, and disabling Liquibase in that case via LiquibaseProperties#setEnabled.
I assume the same could be achieved, performing the check within the AutoConfiguration and calling SpringLiquibase#setShouldRun accordingly.

[2019-04-09 09:42] xgene commented on #15368
“Use a value of -1 to indicate no (that is, an infinite) timeout.”
I used - 1, but got an exception. Is your document written casually?

[2019-04-09 10:10] pgm-rookie opened #16496 "spring data elasticsearch : select field1,field2,count(*) from table order by count(*)"
My code is like below:

    SearchQuery searchQuery = queryBuilder.addAggregation(
    AggregationBuilders.terms("f1").field("field1").size(Integer.MAX_VALUE).subAggregation(
    AggregationBuilders.terms("f2").field("field2").size(Integer.MAX_VALUE))).build();
    AggregatedPage<AccessLog> aggPage = (AggregatedPage<AccessLog>) this.accessLogRepository.search(searchQuery);
    StringTerms agg = (S

[2019-04-09 10:17] snicoll commented on #16496
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-09 10:17] #16496 closed

[2019-04-09 10:18] snicoll commented on #16493
Thanks for the feedback. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Please ask usage questions on StackOverflow or Gitter.

[2019-04-09 10:18] #16493 closed

[2019-04-09 10:26] bclozel opened #16497 "Fix connection timeout configuration for Netty"
As of #15385, Spring Boot can configure the server connection timeout for Netty servers.
We're using the `server.connection-timeout` configuration property for that and applying it directly to Netty as a channel option.

In https://github.com/spring-projects/spring-boot/issues/15368#issuecomment-481180205, it seems that `-1` and `0` values don't mean the same thing for Netty:

* `-1` is an illegal

[2019-04-09 10:30] bclozel commented on #15368
@xgene No, our documentation is not written casually. I've created #16497 to fix this problem.

[2019-04-09 10:45] koziolk commented on #16469
I'm also interested in working on this.

[2019-04-09 11:00] peterssond commented on #16489
Is there a workaround for this issue, or should I stay on 2.1.3?

[2019-04-09 12:06] snicoll commented on #16489
You can exclude the dependency yourself in your project for the time being.

[2019-04-09 12:09] christophstrobl commented on #16256
@schuch I just had a look at the sample project you referenced, which was using the `SolrTemplate`. Sorry for false assumption. As you've already mentioned one cannot judge which option has been used to create the `SolrClient`.
Maybe it would be feasable to try hit the `admin/ping` endpoint if the core request fails, just to cover both scenarios.

[2019-04-09 14:19] philwebb commented on #16469
Thanks @maly7 and @koziolk! It looks like @maly7 got there first by a few hours so perhaps he can take a look initially and if it doesn't work our @koziolk can take over.

[2019-04-09 14:22] philwebb opened #16498 "Disable Tomcat's MBean Registry by default and provide a property to enable it"
See this thread https://tomcat.markmail.org/thread/kayfacujrpt2diht which appears to suggest we might be able to disable JMX.

[2019-04-09 14:39] garyrussell opened #16499 "Use BatchErrorHandler when Kafka listener type is batch"
Similar to the recent change for `BatchMessageHandler` (https://github.com/spring-projects/spring-boot/issues/15942), consider auto-wiring a `BatchErrorHandler` `@Bean` when the listener type is `BATCH`.

[Stack Overflow](https://stackoverflow.com/questions/55584701/spring-kafka-property-for-setting-seektocurrentbatcherrorhandler/55593335#55593335).

[2019-04-09 15:28] OrangeDog opened #16500 "Add a dedicated annotation to register filters and servlets"
Sometimes you want to declare `Filter`s as `@Beans` in order to have them managed and dependencies injected etc. but do not want them to be automatically registered.
This can be a problem particularly when working with Spring Security. Though this will apply in any situation with multiple filter chains.

Currently you have to declare a `FilterRegistrationBean` for every filter with `setEnabled(fal

[2019-04-09 15:57] spring-issuemaster commented on #16417
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-04-09 16:07] jyacine opened #16501 "Spring Config Server - Error while specifying files instead of directories into the configuration"
Hi,

I'm using the versions above :

<spring.cloud.version>Greenwich.SR1</spring.cloud.version>
<spring.cloud.config>2.1.1.RELEASE</spring.cloud.config>

While investifgation the source code, I found that an issue in the class : `org.springframework.cloud.config.server.environment.NativeEnvironmentRepository`. The method

`public Locations getLocations(String application, String profile, String la

[2019-04-09 16:12] spencergibb commented on #16501
This is not the config server issue tracker https://github.com/spring-cloud/spring-cloud-config

[2019-04-09 16:21] jyacine commented on #16501
Ok, sorry for the inconvenience.

[2019-04-09 16:34] #16501 closed

[2019-04-09 16:44] philwebb commented on #16500
Having a dedicated annotation just to disable the bean wouldn't be great, but I quite like the idea of offering all the `FilterRegistrationBean` properties in the annotation. I could see that being quite useful. I do wonder how many people are registering custom filters.

@OrangeDog how many filters are you typically registering in your application? I'm trying to think about how we balance the amo

[2019-04-09 17:01] philwebb commented on #16486
@crmky Thanks for the sample. @markt-asf Is there any way to overwrite the status in such circumstances. Is it not legal to call `setStatus` more than once with different codes?

[2019-04-09 17:05] ielatif commented on #16489
I submited this PR https://github.com/spring-projects/spring-boot/pull/16502

I have not figured out how to fail using Unit tests. I used maven-enforcer-plugin instead to fail if HikariCP-* dependencies exists.

[2019-04-09 17:10] ielatif commented on #16489
PR https://github.com/spring-projects/spring-boot/pull/16502

[2019-04-09 17:32] irobertson commented on #12951
Absent a separate ObjectMapper, would the team be willing to consider adding Jackson annotations to the individual actuator result classes, so that a spring boot app with an ObjectMapper with reduced visibility settings can still use the actuator, without resorting to using mixins?

[2019-04-09 17:39] philwebb commented on #12951
@irobertson That might be the most pragmatic solution for now. I'll flag this one for discussion again but we won't get to talk about it for a few weeks because most of the team are away.

[2019-04-09 17:44] OrangeDog commented on #16500
Right now just configuring `spring-security-saml2-core` involves nine filters, all of which are supposed to be beans, and none of which should go in the default filter chain. That's ~60 lines of `FilterRegistrationBean` declarations.

I'm likely to add a couple more security filters at some point for additional authentication methods, e.g. persistent API tokens.

[2019-04-09 20:41] markt-asf commented on #16486
Known bug. I missed the fix for the regression when I back-ported a bunch of error handling improvements from 9.0.x to 8.5.x. The fix is already in place in 8.5.x for 8.5.40 onwards.

[2019-04-09 21:44] philwebb commented on #16486
Thanks @markt-asf!

[2019-04-09 21:45] philwebb opened #16504 "Upgrade to Tomcat 8.5.40"
It fixes the regression discussed in #16486

[2019-04-09 21:46] philwebb commented on #16486
@crmky I'll close this one and we'll get the fix when we upgrade (see #16504). You can override the version to downgrade until then.

[2019-04-09 21:46] #16486 closed

[2019-04-09 22:21] philwebb commented on #16168
We currently apply the `server.ssl.key-alias` property to the underlying servlet container (see `org.springframework.boot.web.embedded.tomcat.SslConnectorCustomizer` for one example) and let it deal with the alias. I'm not sure why things have changed between Boot 1.x and 2.x, but I imagine it's likely to be because of a dependency upgrade.

@numsu What servlet container are you using?

[2019-04-10 00:13] maly7 commented on #16469
Thanks! I'll try to have a pull request up in the couple of days.

[2019-04-10 00:14] juniorjrjl opened #16505 "Use ResponseEntityExceptionHandler in Kotlin"
Hi.

I try to use ExceptionHandler in my project with Spring Boot and Kotlin, follow my implementation:

    @ControllerAdvice
    class BlogApiExceptionHandler @Autowired constructor(private val messageSource: MessageSource ):
        ResponseEntityExceptionHandler() {

    private fun criarListaErros(bindingResult: BindingResult): MutableList<ErrorHandler>{
        val errors: MutableList<ErrorH

[2019-04-10 02:49] maly7 commented on #16469
Hey @philwebb and @koziolk, I've got everything working fine for serializers, but ran into a bit of a snag with deserializers. When registering a KeyDeserializer, the `addKeyDeserializer` method expects the Class type along with the KeyDeserializer instance. Unlike JsonDeserializer, KeyDeserializer isn't generic, so there doesn't seem to be a way of resolving the type like the JsonComponentModule

[2019-04-10 03:55] javascala opened #16506 "How dynamically compile java file in spring boot project?"
JavaCompiler getTask and task.call need options like -encoding UTF-8 -classpath jarpaths,In spring boot project, we know that cannot get jar libs in fat jar
I tried this
`
for (URL url : ((URLClassLoader) Thread.currentThread().getContextClassLoader()).getURLs()) {
            sb.append(url.getPath()).append(File.pathSeparator);
 }
`
but failed

[2019-04-10 04:18] snicoll commented on #16506
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-10 04:18] #16506 closed

[2019-04-10 06:45] snicoll commented on #16505
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-10 06:45] #16505 closed

[2019-04-10 08:56] chenqimiao opened #16508 "RestartClassLoader can not reload some classes which are used to override lib packages classes."
RestartClassLoader can not reload some classes which are used to  override lib packages classes.

[2019-04-10 09:05] chenqimiao commented on #16508
for example:
There are the following structures in my project
![image](https://user-images.githubusercontent.com/15151483/55866134-4fa48880-5bb2-11e9-8f59-c840be92b105.png)
The AccessControlFilter of picture is used to override the class in org.apache.shiro:shiro-web lib .

and the restartClassLoader can not reload AccessControlFilter class.

[2019-04-10 10:09] #16173 closed

[2019-04-10 10:45] cosmir17 opened #16509 "Cannot import org.h2.server.web.WebServlet"
Hi,

It's about the following post. (I am not the author)
https://stackoverflow.com/questions/38151447/cannot-import-org-h2-server-web-webservlet

When Spring boot initializr generates a pom file which includes h2database dependency, the scope of the dependency is set as 'runtime'. This doesn't allow developers to import and use h2 library components in an application (without running the app?).

[2019-04-10 11:43] juniorjrjl commented on #16505
Hi, sorry, I thought this case were a bug because spring cannot read and resolver a type in kotlin, thank you :)

[2019-04-10 11:52] spring-issuemaster commented on #16300
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-04-10 11:52] #16300 closed

[2019-04-10 12:30] numsu commented on #16168
I believe that the application uses the netty container

[2019-04-10 12:35] OrangeDog commented on #13083
The original issue (before the rename) is still unsolved. The `UndertowServletWebServerFactory` doesn't provide any way that I can see to customise the `WebSocketDeploymentInfo`.

[2019-04-10 14:16] snicoll opened #16510 "Evaluate http-client exclusion in spring-rabbit"
From @garyrussell

[2019-04-10 14:25] snicoll commented on #16509
@cosmir17 this issue tracker does not deal with `start.spring.io` issues, there is a [dedicated issue tracker for it](https://github.com/spring-io/start.spring.io).

The H2 console is [automatically exposed with devtools](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-sql-h2-console) so you shoudn't have to import anything in your own code. We believe the best

[2019-04-10 14:25] #16509 closed

[2019-04-10 14:27] arnonuem opened #16511 "Upgrade to 2.1.3 breaks Spring Data Rest Ressource Serialization"
I am posting this here since there is no way to post an issue on the Spring-Data-Rest project.

I had a working application with Spring Data Rest applied. After upgrading my Resources which are derived from RessourceSupport.class could not be serialized anymore. I guess the Xml Annotation fails somehow. This is frustrating since i use JSON.
I got the following stack trace:

[code]

I read the tiny

[2019-04-10 14:35] snicoll commented on #16511
The Spring Data Rest issue tracker is [using Jira](https://jira.spring.io/projects/DATAREST/issues).

That Jackson exception might be related to an upgrade of the Jackson version. I am not sure how you think that it's a Spring Data Rest issue. Please create a thread on StackOverflow with more details: giving an exception that Jackson can't handle your model without its description makes it very ha

[2019-04-10 14:35] #16511 closed

[2019-04-10 15:17] daggerok opened #16512 "Spring Boot tests hangs after 2.1.3.RELEASE -> 2.1.4.RELEASE upgrade (H2 regression)"
Hello,

After 2.1.3.RELEASE -> 2.1.4.RELEASE upgrade our tests starts hangs after success execution without any errors on GitLab CI as well as locally with gradle run from ommand line. Running from IDEA still works fine. I cannot see anything unusual from logs, only these lines is available before it hangs after success test execution:

_GitLab CI:_

[code]

_same happening if I'm running tests lo

[2019-04-10 16:27] philwebb commented on #16512
It's quite hard to say if this is a problem in Spring Boot, or if it's related to a dependency upgrade. It sounds like it might be am issue with Hikari, but without a sample to reproduce the problem it's almost impossible to say.

One thing you could try is upgrading Spring Boot but then downgrading Hikari, H2 and any other database components to the previous versions. This might help identify if

[2019-04-10 16:56] philwebb commented on #13083
@OrangeDog Take a look at `UndertowWebSocketServletWebServerCustomizer`. I think you can duplicate that code and register it as a bean named `websocketServletWebServerCustomizer` to take complete control.

I'm not sure we can (or should) apply those properties to `WebSocketDeploymentInfo` since they feel like they're for different purposes. `WebSocketDeploymentInfo` also doesn't seem to offer a bu

[2019-04-10 16:57] mbhave opened #16514 "Apply UndertowDeploymentInfoCustomizer and UndertowBuilderCustomizer beans automatically"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2019-04-10 17:00] mbhave commented on #13083
@OrangeDog I've created [an issue](https://github.com/spring-projects/spring-boot/issues/16514) to see if can apply `UndertowDeploymentInfoCustomizer` beans automatically.

[2019-04-10 18:19] daggerok commented on #16512
Hello @philwebb

Here my steps:

1) I reduced Hikari leak detection threshold down to 3 sec and enabled debug:

[code]

2) started tests with gradle test and saw devtools package in exception stektrace on leak attempt

3) so I assume that problem can be in DevTools. found it in my dependencies Gradle configuration, removed and re-run twice GitLab CI pipeline.

Now tests are back to normal

---
Reg

[2019-04-10 20:44] mbhave commented on #16393
Closing in favor of PR #16467.

[2019-04-10 20:44] #16393 closed

[2019-04-10 21:27] cosmir17 commented on #16509
<img width="795" alt="Screenshot 2019-04-10 at 22 21 19" src="https://user-images.githubusercontent.com/2845708/55914431-09195300-5bdf-11e9-8e3d-30bb4d884830.png">

@snicoll I was looking into an old version of Spring boot code. So you are saying that developers **now** do not create a Bean for H2 web servlet. It is automatically created from devtool. If I don't have a dev-tool imported in pom.xml

[2019-04-10 21:46] Beennnn commented on #16492
I have the ForwardedHeaderFilter installed : I see the request is wrapped to a ForwardedHeaderRemovingRequest removing the X-forwarded headers from the getHeaders() method.

I confirm the other calls building Hateoas links do work as expected, so I think it is a bug specifically related to the actuator main page, due to the change I suggest to be made in the code.
I use Spring Boot actuator versio

[2019-04-10 21:54] mbhave commented on #16509
@cosmir17 Please ask questions on gitter or Stack Overflow. As mentioned in the [guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/054c8ee0c41cf7fcef4324b0a40449b06a4ffea8/CONTRIBUTING.adoc#using-github-issues), we prefer to use the issue tracker only for bugs and enhancements.

The [documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/

[2019-04-10 22:14] cosmir17 commented on #16509
@mbhave, just pointing out, the reason creating this post was that I didn't know about the design change (manual h2servelt bean creation => devtool creates it automatically). On the stackoverflow page I mentioned above, people didn't know about the change.

I also read the documentation from the link snicoll provided. I was just asking for his confirmation of my theory (manual h2servelt bean creat

[2019-04-10 23:24] philwebb commented on #16492
@Beennnn Are you seeing `ForwardedHeaderExtractingRequest` also being used, or do you have `removeOnly` set to `true`?

If you have a sample that we can run that recreates the issue that would be very useful.

[2019-04-10 23:39] philwebb commented on #16508
It looks like you have local copies of library files. If so, you probably need to configure the restart classloader so that they are excluded. See https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#using-boot-devtools-customizing-classload

[2019-04-10 23:39] #16508 closed

[2019-04-11 00:00] philwebb commented on #16469
@maly7 That's a bit of a pain. I think the second attribute you've suggested makes the most sense. It might even be a nice addition for regular serializers where perhaps you want to write `JsonSerializer<BaseClass>` but only register it with a limited number of subclasses.

[2019-04-11 00:12] maly7 commented on #16469
Thanks, @philwebb! Should I go ahead and update `JsonComponentModule` so that when the classes attribute is specified, rather than inferring the type, the serializer/deserializer is registered for those specific classes?

[2019-04-11 00:25] philwebb commented on #16469
@maly7 Yes please.

[2019-04-11 03:04] chenqimiao commented on #16508
thanks!

[2019-04-11 04:00] songxinqiang commented on #16466
By the way, i found in `<artifactId>spring-boot</artifactId>` use 2 spaces to indentation,but in `<artifactId>spring-boot-dependencies</artifactId>` use 4 spaces to indentation.
Can we use 4 space in all pom files?

[2019-04-11 04:20] dongguabai opened #16516 "exposeProxy = true not in effect"
Sorry, my English is not very good.

**describe:**
I use `@EnableAspectJAutoProxy(exposeProxy = true)`,but I can not get the current AOP proxy by `AopContex.currentProxy()`.

**environment:**
Spring Boot （2.1.4.RELEASE）.

There are only two classes of this project：

[code]

[code]

when I  request  "localhost:8080/test" .I get exception:

[code]
**Looking through all kinds of documents, I don't kn

[2019-04-11 06:38] bclozel commented on #16412
Confirmed that the solution described in the last comment works. Closing this issue as a result.

[2019-04-11 06:38] #16412 closed

[2019-04-11 06:48] snicoll commented on #16516
@dongguabai interesting, that's probably because Spring Boot auto-configures this already. Can you please add `spring.aop.auto=false` to your app and check if that fixes the problem?

[2019-04-11 07:00] dongguabai commented on #16516
Thank you for your reply.
I add `spring.aop.auto=false` ,but the problem is still unsolved.

[2019-04-11 07:10] arnonuem commented on #16511
Since this seems to be a problem on RessourceSupport class which is part of the SpringDataRest project here is the link where i opened the ticket if anyone else stumbled upon the same problem.

https://jira.spring.io/browse/DATAREST-1363

[2019-04-11 08:01] pgm-rookie opened #16517 "spring data elasticsearch entity @field annotation analazer setting"
In my entity, there's a property named param, max length over 32766. An error will occur when I save data with elasticsearchTemplate, so I configured a property analyzer="ik" on field annotation like below:

    @Field(type = FieldType.Keyword, analyzer = "ik")
	private String param;

But I see ignore_above=256 in ES server:

    "param": {
        "type": "text",
        "fields": {
            "

[2019-04-11 09:11] snicoll opened #16518 "Upgrade to Rabbit Amqp Client 5.7.0"

[2019-04-11 09:11] snicoll opened #16519 "Upgrade to Junit Jupiter 5.4.2"

[2019-04-11 09:11] snicoll opened #16520 "Upgrade to Mongodb 3.10.2"

[2019-04-11 09:11] snicoll opened #16521 "Upgrade to Neo4j Ogm 3.2.0-alpha05"

[2019-04-11 09:12] snicoll commented on #16518
cc @garyrussell

[2019-04-11 09:13] #16518 closed

[2019-04-11 09:13] #16519 closed

[2019-04-11 09:13] #16520 closed

[2019-04-11 09:13] #16521 closed

[2019-04-11 09:14] mp911de commented on #16517
This isn't a Spring Boot issue. Please file a ticket in https://jira.spring.io/projects/DATAES.

[2019-04-11 09:18] #16517 closed

[2019-04-11 09:19] snicoll commented on #16517
Thanks @mp911de!

[2019-04-11 10:44] snicoll opened #16522 "Upgrade to Undertow 2.0.20.Final"

[2019-04-11 10:44] snicoll opened #16523 "Upgrade to Aspectj 1.9.3"

[2019-04-11 10:44] snicoll opened #16524 "Upgrade to Infinispan 9.4.12.Final"

[2019-04-11 10:44] snicoll opened #16525 "Upgrade to Jooq 3.11.11"

[2019-04-11 10:44] #16522 closed

[2019-04-11 10:44] #16523 closed

[2019-04-11 10:44] #16524 closed

[2019-04-11 10:44] #16525 closed

[2019-04-11 11:41] adammichalik opened #16526 "Actuator /configprops shows Duration properties as { "units": [ "SECONDS", "NANOS" ] }"
Spring Boot 2.1.4.RELEASE.

Actuator `/configprops` endpoint shows this property class:

[code]

like so:

[code]

The actual value is not show in any way. I would expect the actual value in the ISO-8601 format or the Spring Boot "human-readable" format.

[2019-04-11 12:00] snicoll opened #16528 "Upgrade to Spring Data Moore M3"

[2019-04-11 12:00] #16528 closed

[2019-04-11 12:01] snicoll opened #16529 "Upgrade to Spring Batch 4.2.0.M1"

[2019-04-11 12:02] snicoll opened #16530 "Upgrade to Spring AMQP 2.2.0.M1"

[2019-04-11 12:03] snicoll opened #16531 "Upgrade to Spring Integration 5.2.0.M1"

[2019-04-11 12:04] snicoll opened #16532 "Upgrade to Spring Session Corn-M1"

[2019-04-11 12:05] snicoll opened #16533 "Complete migration to @Configuration(proxyBeanMethods=false) wherever possible"
There are still a few classes to review, see https://github.com/spring-projects/spring-boot/issues/9068#issuecomment-472098792

[2019-04-11 12:06] snicoll commented on #9068
As we're close to the release, let's follow-up on that in the next milestone. I've created #16533

[2019-04-11 12:06] #9068 closed

[2019-04-11 12:24] bclozel commented on #14814
I've closed #16412 as we don't need to do that anymore. The REACTIVE type might not be strictly necessary, so we still need to make up our mind about it - this time with the fact that it seems that RSocket apps don't really need their own application type to work.

[2019-04-11 12:32] #16452 closed

[2019-04-11 13:29] bclozel opened #16534 "Upgrade to Spring Security 5.2.0.M2"
Required for https://github.com/spring-projects/spring-security/issues/6766

[2019-04-11 13:44] #16021 closed

[2019-04-11 14:27] QilongZhang opened #16536 "Resources in /META-INF/ of executable-fat-jar would be fetched repeatedly."
When execute a Spring Boot Fat Jar，it's bootstrapped in `AppClassLoader`,  actually switch to `LaunchedURLClassLoader` during refreshing application context.

As the parent of `LaunchedURLClassLoader` is `AppClassLoader`, it will lead resource in `/META-INF/*` of executable-fat-jar to be loaded repeatedly when invoke `LaunchedURLClassLoader.getResources`:

[code]

it leads our program failed to ru

[2019-04-11 14:52] bclozel opened #16537 "Rename spring.reactor.stacktrace-mode configuration property"
The hook has been renamed in Reactor for a while now to `Hooks.onOperatorDebug()`.
We should rename this property, as we're not really generating stacktraces.

Should we go with `spring.reactor.operator-debug=enabled` or is there another name we should consider?

@rstoyanchev @smaldini @bsideup

[2019-04-11 15:00] philwebb commented on #16536
I'm sorry but I can't understand the issue as it's reported. Could you please provide a sample application that shows the failure.

[2019-04-11 15:02] philwebb commented on #16497
Closed in favor of PR #16535

[2019-04-11 15:16] jmax01 commented on #16524
Any reason the infinispan [bom ](https://search.maven.org/artifact/org.infinispan/infinispan-bom/9.4.12.Final/pom )is not used?

[2019-04-11 15:45] philwebb opened #16538 "Make it easier to set bufferRequestBody on ClientHttpRequestFactory"
When using `RestTemplateBuilder` it's currently quite hard to set `bufferRequestBody` on the `ClientHttpRequestFactory`

Without this set we get issues such as https://github.com/spring-io/artifactory-resource/issues/50

[2019-04-11 16:37] philwebb commented on #16526
Closing in favor of PR #16539

[2019-04-11 16:37] #16526 closed

[2019-04-11 17:03] philwebb opened #16540 "EmbeddedMongoAutoConfiguration should depend on bean by type"
Currently the `DependsOnBeanFactoryPostProcessor` beans in  `EmbeddedMongoAutoConfiguration` declare dependencies on a bean named "embeddedMongoServer". The `@Bean` method for `embeddedMongoServer` is `@ConditionalOnMissingBean` so it's possible that that a custom type will mean the name changes and the dependsOn check fails.

Se should probably check against `MongodExecutable.cass` instead.

See

[2019-04-11 17:11] philwebb commented on #16042
Good idea. If we add additional file support we could consider `.config/spring-boot/` to align with https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html

[2019-04-11 17:40] rstoyanchev commented on #16537
Following closely the naming in Reactor sounds good to me. Could other Hooks be potential candidates to be exposed in the future, and if so perhaps `spring.reactor.hooks.**`?

[2019-04-11 19:13] phil-schneider commented on #16504
Not sure what is meant here:
but the 2.1.x branch contains already tomcat.version 9.0.17

https://github.com/spring-projects/spring-boot/blob/2.1.x/spring-boot-project/spring-boot-dependencies/pom.xml#L190

[2019-04-11 19:14] snicoll commented on #16504
Thats not the version referenced in this issue though.

[2019-04-11 19:14] phil-schneider commented on #16504
I think the milestone tag is wrong.
The issue/problem was reported in a 1.5.x version

[2019-04-11 19:29] philwebb commented on #16011
I think we might have an ordering issue with functional registration, but I'm not 100% sure. The current setup uses `Configurations` to apply ordering. With functional registrations we're using an `initializer` that gets applied after the configuration classes. I think ideally we'd want to register the functional beans after user defined configuration, but before auto-configuration.

[2019-04-11 19:30] snicoll commented on #16504
Ah, that. Yes it's indeed wrong.

[2019-04-11 20:11] kolbma opened #16541 "spring-boot-starter-data-jpa Transient is nulled on merge before PrePersist/Update"
spring-boot-starter-data-jpa: 2.1.4.RELEASE
hibernate: 5.3.9.Final

I call `repository.save(entity)` and depended on the state of the entity a `Transient` value is available in the `PrePersist` or `PreUpdate` method or not available (nulled).

The `Transient` value **should not be nulled** before the Pre-Handlers are called.

The problem is in `DefaultMergeEventListener.entityIsTransient()` before

[2019-04-11 20:28] bclozel opened #16542 "Auto-configure Elasticsearch REST client in Spring Data"
As described in #15008, Spring Boot already auto-configures a `RestHighLevelClient` bean, and it should reuse that bean in an auto-configuration to create an `ElasticsearchOperations` component when Spring Data Elasticsearch is available.

See `AbstractElasticsearchConfiguration` in Spring Data Elasticsearch.

[2019-04-11 20:46] bclozel commented on #15008
After reviewing the current situation, I think Spring Boot 2.2.0 should do the following:

1. spring-data-elasticsearch currently has a hard dependency on `org.elasticsearch.client:transport`. In Spring Boot, it is required to set the `"spring.data.elasticsearch.cluster-nodes"` configuration property in order to get a transport client. We should add configuration metadata to deprecate that propert

[2019-04-11 21:10] philwebb opened #16543 "Use LogMessage.format when possible"
Spring Framework has introduced a nice `LogMessage` class that we might be able to use in a few placed to reduce the need for `isWarnEnabled` etc.

[2019-04-12 01:56] QilongZhang commented on #16536
Thanks a lot. I found this bug has been fixed in 1.4.x.

https://github.com/spring-projects/spring-boot/issues/7449
https://github.com/spring-projects/spring-boot/issues/7595

[2019-04-12 01:56] #16536 closed

[2019-04-12 06:57] jiahut opened #16545 "Debug mode should not be triggered only by the presence of a "debug" env property"
As soon as  system environment exist the debug variable, the spring boot will  set `springBootLogging` to  `debug`

It is so freedom

in my case, oneday,  someone executed some program like `shell`, it had been set environment variable  `debug = 1` or `trace` careless.  when restart, it set the springBootLogging to  `debug`.

We can't restrict others from doing so.

I think  set springBootLogging

[2019-04-12 08:45] dadoonet commented on #15008
@bclozel some food for thoughts about point `5`:

* The [Rest High Level client](https://www.elastic.co/guide/en/elasticsearch/client/java-rest/7.0/java-rest-high.html) is now feature complete in 7.0 and 6.7.
* It is still coming with some dependencies that we will be cleaning up in the future to avoid pulling the whole elasticsearch core and its deps (like Lucene).
* I'd recommend using the offic

[2019-04-12 09:45] SergeyHydra commented on #16514
@mbhave Hello! I'm interested in working on this.

[2019-04-12 09:46] bclozel commented on #15008
Thanks @dadoonet !

[Spring Boot is managing elasticsearch dependencies](https://github.com/spring-projects/spring-boot/blob/ddc8b6f6b9fa8e8c82e0fb843f961d0c76d3167d/spring-boot-project/spring-boot-dependencies/pom.xml#L2058-L2094) to avoid mismatches in applications - developers can choose the elasticsearch version [by changing a property in their build](https://docs.spring.io/spring-boot/docs/cu

[2019-04-12 10:06] OrangeDog opened #16546 "Default handler for "/" doesn't rewrite resource URLs"
With `spring-boot-starter-web` and `spring-boot-starter-thymeleaf`, the path "/" is by default mapped to the template "index.html".

However this is done in such a way that that resource URL rewriting isn't applied. Resolvers like `VersionResourceResolver` and `WebJarsResourceResolver` will have no effect.

Workaround is to explicitly define a controller mapping:
[code]

[2019-04-12 10:32] jkaka opened #16547 "starter-redis boot failure"
[code]

- my connection pool configuration

[code]

and my springboot version is 2.0.3.RELEASE,

[2019-04-12 10:34] artellador opened #16548 "Some syntax in the reference documentation is not highlighted or is missing altogether"
I haven't checked the full PDF but it happens at least on the first 3 parts. It looks like the annotation is not inserted. Look at the attached images:

![SpringAnnotHTML](https://user-images.githubusercontent.com/34487006/56031224-1dfd0000-5d1f-11e9-8b25-32502290ffaf.png)
![springAnnotPDF](https://user-images.githubusercontent.com/34487006/56031225-1dfd0000-5d1f-11e9-80d0-b39a7e9ded44.png)

[2019-04-12 10:40] snicoll commented on #16547
Thanks for reaching out but if you're configuring the connection factory yourself, there's nothing that Spring Boot does to this really. If you are looking for help, please use StackOverflow, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancemen

[2019-04-12 10:40] #16547 closed

[2019-04-12 10:47] #16302 closed

[2019-04-12 10:47] OrangeDog commented on #16546
Similarly, the default chain for "/**/favicon.ico" only has a `PathResourceResolver`, so it doesn't get e.g. a content hash for cache-busting.

[2019-04-12 12:11] snicoll commented on #16524
I am not sure I was aware there was one. There are a bunch of TODOs and dependencies that are not strictly related to Infinispan (like the cache API and transction API versions). Our policy is not to include a BOM if it provides dependency management for something that the project itself doesn't handle. This issue is closed, If you have more questions, please ask on StackOverflow or join us on Git

[2019-04-12 13:36] jvalkeal opened #16549 "ConfigurationMetadataProperty name not stripped with same source types"
Sample for this issue is in https://github.com/jvalkeal/randomstuff/tree/master/metadatanaming which uses `2.1.4.RELEASE`.

Running a sample app prints (`ConfigurationMetadataProperty.getId() / ConfigurationMetadataProperty.getName()`):
[code]
As you can see every property under `spring.rabbitmq.listener.simple.retry` group will not strip `groupId` from its `name`.

When you i.e. use `Configuratio

[2019-04-12 14:24] turackangal commented on #16514
Hello @mbhave, I would like to work on this issue

[2019-04-12 15:36] bsandoval commented on #16514
Hi there, I'm interested too! Otherwise I would love to take the next first-timers-only.

[2019-04-12 15:43] philwebb commented on #16549
`ListenerRetry` is mapped to two different sources because it's in `DirectContainer` and `SimpleContainer` which both extend `AmqpContainer`. This setup is fairly rare and I guess we just didn't account for it.

[2019-04-12 15:53] philwebb commented on #16545
This is one part of a broader problem that's discussed in #3450 and I don't think we can change the existing behavior without breaking existing apps. If would be nice if we could offer a quick way to opt-out of picking up those flags from the system environment.

[2019-04-12 15:56] philwebb commented on #16469
Closing in favor of PR #16544

[2019-04-12 15:56] #16469 closed

[2019-04-12 15:57] philwebb commented on #16536
@QilongZhang 1.4.x is no longer supported, you should upgrade to 2.1.x

[2019-04-12 16:01] jvalkeal commented on #16549
@philwebb `AmqpContainer` was just given as an example to re-prod this issue. This same thing happens other places, especially in dataflow apps, deployers, etc  where some metadata properties extends same classes.

[2019-04-12 16:04] philwebb commented on #16541
`DefaultMergeEventListener`, `DefaultPersistEventListener` and  `DefaultFlushEntityEventListener` are all part of Hibernate so it sounds like you'll need to report this [with them](https://issues.jboss.org/projects/HIBERNATE).

I'd suggest taking some time to put together a [ Minimal, Complete, and Verifiable examle](https://stackoverflow.com/help/mcve) before you raise the issue so that they can

[2019-04-12 16:04] #16541 closed

[2019-04-12 16:05] philwebb commented on #16549
@jvalkeal Understood. It just took me a while to work out why the same `sourceType` was registered with two different `names` and I wanted to add some notes to the issue to jog my memory later.

[2019-04-12 16:09] jvalkeal commented on #16549
@philwebb I had a chat with Stephane when he was just to board his flight and I think he was planning to poke around things while being on a cloud.

[2019-04-12 16:17] mbhave commented on #16514
Thanks for your interest everyone. Going by the order of the comments, @SergeyHydra claimed it first.

@SergeyHydra, We'll look forward to your pull request. Please let us know if you have any questions.

[2019-04-12 16:20] SergeyHydra commented on #16514
@mbhave ty! I'm starting work on it.

[2019-04-12 16:34] philwebb commented on #16549
OK, I'll assign it to him so nobody else picks it up.

[2019-04-12 16:41] philwebb opened #16550 "Investigate Undertow 3 support"
Undertow 3 is [going to be based on Netty](http://lists.jboss.org/pipermail/undertow-dev/2019-April/002318.html) which may impact our current Web MVC/WebFlux detection logic. We'll also need to decide if we support 2.x and 3.x in the same line, or drop 2.x support entirely.

[2019-04-12 16:44] kolbma commented on #16541
Well, I use spring-boot-starter-data-jpa. If it doesn't matter that your products are working, than close your issues without taking care of...

[2019-04-12 16:48] dreis2211 opened #16551 "Migrate to MergedAnnotations API"
Hi,

there are currently a few deprecation warnings about the usage of AnnotationUtils that should be superseded by the new MergedAnnotations API. I would love to fix them, but it's not really clear how the new way should look like (at least from the docs).

Specifically we're talking about the following methods and what I think could be their potential replacements:

Deprecated | Replacement
----

[2019-04-12 17:38] #5677 closed

[2019-04-12 18:12] philwebb commented on #16551
There's now a new `MergedAnnotations` interface which most of these can use directly. I'll take a look at these since I wrote most of the new code and it will give me a chance to double check the API works OK.

[2019-04-12 18:16] dreis2211 commented on #16551
Fair enough - thanks.

[2019-04-12 18:16] philwebb commented on #16541
@kolbma The `spring-boot-starter-data-jpa` POM file simply imports Hibernate, but that's a third-party product and we don't have commit rights to their repository. If this is an issue in Spring Boot, we'll happily try to fix it, but it doesn't sound as if there's anything we can do to help.

[2019-04-12 19:15] JigarJoshi opened #16552 "Independent web server for management"
I have a use-case where

- I have a custom RPC server that is started up by command-line runner in spring boot.
- I have application which might need custom RPC server or a web server (typically embedded Tomcat)
 - I expose actuators on web via embedded tomcat on a dedicated port (which is different from the custom RPC server port and different from regular HTTP server port)

Problem

In scenarios

[2019-04-12 19:24] spencergibb commented on #16552
In similar cases, when nothing but actuator is running on the http port, I've treated it as the management port.

[2019-04-12 19:25] philwebb commented on #16552
This is not a typical scenario so I'm not sure we've really considered it. Looking at `ManagementPortType.get` I wonder if setting `server.port=-1` and `management.server.port=8081` might work?

[2019-04-12 19:29] mbhave commented on #16552
#12927 is somewhat related.

[2019-04-12 19:46] JigarJoshi commented on #16552
@philwebb
I think with adoption of other non-typical HTTP RPC servers (like gRPC for example) this will be one of the common requirement. With `-1` as `server.port` it fallsback to default server port which is `8080` (for Tomcat)

@spencergibb
yes keeping both as same is one option (workaround) but the infrastructure is designed to provide port to the process by the type of transport/encoding comb

[2019-04-12 19:52] JigarJoshi commented on #12927
👍 Please support this feature and consider re-opening it.

[2019-04-12 19:57] JigarJoshi commented on #16552
@philwebb @spencergibb @mbhave could you please re-evaluate https://github.com/spring-projects/spring-boot/issues/12927 and consider re-opening it?

[2019-04-12 21:23] philwebb commented on #16552
This should not be the case and I can't replicate that locally. Starting a sample application with the following properties:

[code]

Gives a management port on 8181 and nothing listing on 8080.

I'm not convinced that we need to specifically use the management port for such situations. It's clear why the comments in https://github.com/spring-projects/spring-boot/issues/12927#issuecomment-38601292

[2019-04-12 22:10] antonalechnovic commented on #16328
Andy, this only happens for ScheduledExecutorService, attached mini project, hopefully makes sense

@wilkinsona

[demo-import-bug.zip](https://github.com/spring-projects/spring-boot/files/3075311/demo-import-bug.zip)

[2019-04-13 02:11] harish-prakash opened #16553 "Update JacksonAutoConfiguration with safer defaults"
Should Boot disable by default `FAIL_ON_UNKNOWN_PROPERTIES` in the ObjectMapper configuration?

Jackson's stock configuration actually fails deserialization whenever it encounters an unknown property. The only argument against this is Postel's law which has been challenged in recent days
* [RFC 7103 - Advice for Safe Handling of Malformed Messages][1] The consequences of misinterpreting Postel's (

[2019-04-13 04:41] philwebb commented on #16553
Every default has a trade off, but I feel like our current approach works well for most of our users. Specifically, I like the fact that the JSON I'm consuming can have additional fields added without my application breaking.

It's also very easy to change the defaults if they don't work for you by adding the following to your `application.properties` file:

[code]

[2019-04-13 04:41] #16553 closed

[2019-04-13 05:37] philwebb commented on #16328
@antonalechnovic Thanks for the sample, I've added a stackoverflow answer. I don't think we should consider this a bug.

[2019-04-13 11:25] sdeleuze opened #16555 "Use the Kotlin Coroutines BOM"
When available (should be before Boot 2.2 GA), see https://youtrack.jetbrains.com/issue/KT-30042.

[2019-04-13 14:58] dadoonet commented on #15008
Thanks @bclozel for the link to the documentation. We are starting to get [a lot of questions](https://discuss.elastic.co/t/org-springframework-web-util-nestedservletexception-handler-dispatch-failed-nested-exception-is-java-lang-nosuchmethoderror-org-elasticsearch-action-index-indexrequest-ifseqno-j/176627/2) about this problem in our forums, so I'm now linking to it to explain the workaround.

[2019-04-13 15:24] nirajagarwal054 opened #16556 "spring tomcat error"

[2019-04-13 15:28] snicoll commented on #16555
Thanks for the nudge. If there is a dedicated bom for this, it must only include coroutines and no other artifacts (as per our policy of including BOMs here).

[2019-04-13 16:10] sdeleuze commented on #16555
Yes that the plan

[2019-04-13 20:16] antonalechnovic commented on #16328
@philwebb thank you for your time to explain, I've added a comment question in SO. I believe there is something else going on.

[2019-04-13 20:22] antonalechnovic commented on #16328
Apologies for spreading info here and there , it's just I find github tracker easier to have such conversation without comment limits. My output for `checkWhosGreeting`
[code]

[2019-04-13 23:00] SergeyHydra commented on #16514
Hello @mbhave! I have done fix for Undertow, but I have question. I look at jetty factory and it has the same problem. What do you think about automatic apply JettyServerCustomizer in JettyServletWebServerFactory?

[2019-04-13 23:21] zartc commented on #16384
Why not upgrade to Hibernate 5.4.Final ?

[2019-04-14 01:41] antonalechnovic opened #16558 "Unable to override HandlerExceptionResolver while keeping WebMvcAutoConfiguration"
**Problem:**

Unable to have global mechanism to print stacktraces while calling Spring MVC controllers.
`ResponseStatusExceptionResolver`(i.e. handling `@ResponseStatus(HttpStatus.INTERNAL_SERVER_ERROR))`,
`ExceptionHandlerExceptionResolver`(i.e handling `@ExceptionHandler`) and
`DefaultHandlerExceptionResolver`(i.e. handling `HttpRequestMethodNotSupportedException`)
all inherit from same `Abstra

[2019-04-14 10:20] philwebb commented on #16558
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-04-14 10:25] philwebb commented on #16384
@zartc We only upgrade patch releases in our maintenance releases. Hibernate 5.4 will be part of Spring Boot 2.2 (see #15621). If you have any further questions please join us on gitter.im.

[2019-04-14 10:26] philwebb commented on #16556
There's no information in this report so I assume it was opened in error.

[2019-04-14 10:26] #16556 closed

[2019-04-14 15:09] antonalechnovic commented on #16558
@philwebb

 **This is not a question of how something works/general usage question, because I gave a full page of how it does and how restricted it is, yet if `log-resolved-exception` property suggested then my message clearly wasn't read/scanned**

This is a plea for enhancement:
_**Please provide ability to enable the logging of stacktraces inside the handlers when exceptions are resolved.**_  N

[2019-04-14 18:37] mbhave commented on #16514
@SergeyHydra Thanks, that will be a nice addition if you want to take care of it as part of this issue.

[2019-04-14 18:44] KurtMar commented on #16512
Reducing the leak detection as mentioned above I also found devtools in the stack trace. I was able to solve the issue by downgrading H2 from 1.4.199 to 1.4.197: testCompile("com.h2database:h2:1.4.197")

[2019-04-14 19:18] philwebb commented on #16558
Indeed, I'm afraid I did find the original report quite hard to understand and it wasn't immediately clear if it was a question, complaint or a request for enhancement. Let's take a step back and try to triage this one again.

Could you please provide a small sample application that shows something similar to your application setup (without the `PeekingExceptionHandlerExceptionResolver`) so that w

[2019-04-14 23:05] deniswsrosa opened #16559 "max-file-size/max-request-size does not work with CORS"
Dear All,

I'm using spring boot 2.1.4.RELEASE with a embedded tomcat

I have successfully configured max-file-size/max-request-size in my application:

[code]

I have tested many times the upload locally to be sure that it works as expected, and If I remove the config above my limit is back to the default 1MB.

However, if I deploy the same package in a remote server and try to upload something b

[2019-04-14 23:17] deniswsrosa commented on #16559
turns out to be a problem with NGINX . My bad.

[2019-04-14 23:17] #16559 closed

[2019-04-15 06:25] spring-issuemaster commented on #16397
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-04-15 06:25] #16397 closed

[2019-04-15 06:49] snicoll opened #16561 "Upgrade to Kotlin 1.3.30"
See original PR #16554

[2019-04-15 06:52] snicoll commented on #16561
Actually we're on `1.2.x` there so we won't upgrade  to `1.3.x` in a maintenance release.

[2019-04-15 06:52] #16561 closed

[2019-04-15 08:00] #16530 closed

[2019-04-15 08:12] Yavdhesh opened #16562 "Not able to load ResourceBundle required by dependency jar"
Friends,

I have created one batch jar named 'myBatch.jar' which has a dependency jar 'confidentialGDPR.jar'

'confidentialGDPR.jar' has a line of code :

    `ResourceBundle resource= new ResourceBundle('GDPR.properties');`

[code]
--

Even after mentioning config.location and config.additional-location.
GDPR properties, I am not able to load.

[2019-04-15 08:15] snicoll commented on #16562
`spring.config.additional-location` can't be used to refer to a jar file, please [review the documentation](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html#boot-features-external-config-application-property-files).

In the future, please ask that question on StackOverflow, as mentioned in [the guidelines for contributing](https://github.com/spring-

[2019-04-15 08:15] #16562 closed

[2019-04-15 08:26] Yavdhesh commented on #16562
**But I am not trying to load jar**,

I am trying load a property file which is required by a dependency jar.

This dependency jar is bundled inside my batch jar. Thus,we are required to load the property via command line argument.

[2019-04-15 08:33] snicoll commented on #16512
@KurtMar thank you. We've got other reports pointing to H2 so I've flagged this one for team attention to see what we can do about it.

[2019-04-15 08:34] sdeleuze commented on #16512
Same issue on https://spring.io/guides/tutorials/spring-boot-kotlin/ when upgrading to Boot 2.1.4 or 2.2.0 milestones or snapshots. I can avoid the issue by setting H2 to `1.4.197` as pointed out by @KurtMar. That's a pretty annoying issue that would maybe justify downgrading to H2 `1.4.197` until they fix the regression (not sure if they have a bug tracker).

[2019-04-15 08:36] snicoll commented on #16562
Sorry, I wrote "jar" but I mean resource. `spring.config.additional-location` sets a location not a resource (have you looked at the doc I've shared?). It's a bit unclear why you think this is a bug in Spring Boot but if you can share a sample (zip file or link to a github repo) that demonstrates the problem you've described we can reopen and have a look.

[2019-04-15 08:38] sdeleuze commented on #16512
Also maybe not related, but H2 `1.4.198` had significant API changes, see https://github.com/r2dbc/r2dbc-h2/issues/51.

[2019-04-15 08:39] #16510 closed

[2019-04-15 08:54] snicoll opened #16563 "Improve repackage exclude to be able to specify a pattern"
We've add a few reports around dependency exclusion for the repackage goal with Maven. The fact transitive artifacts are not filtered out is annoying and certain arrangements require a large number of artifacts to be defined.

While avoiding such practice in application's module should be preferred, it's not always possible. This issue is about reviewing our current support and investigating how w

[2019-04-15 09:19] snicoll commented on #16489
Closing in favour of PR #16502

[2019-04-15 09:19] #16489 closed

[2019-04-15 09:27] wilkinsona commented on #16407
Thanks, Mark.

Exceptions being thrown seems reasonable to me, but I am surprised that Tomcat can get into a state where it will return values that, as far as I can tell, are not spec compliant from methods in the Servlet API. The place where things start going wrong is `HttpServletRequest.getRequestURI()`. Its javadoc makes no mention of `null` ever being returned. It would make code that uses th