[2019-01-29 22:33] jndietz commented on #15807
Yep, I think you found the root cause...

[code]

However, I'm not able to figure out why it is being excluded.  I don't have any configuration in my build that explicitly excludes anything, especially stuff in the `buildscript` blocks.  Are you able to help further or should I take this to stackoverflow?

[2019-01-29 22:48] jndietz commented on #15807
I gutted the snippet above that brings in the dependency management plugin, and ended up tacking on `$SPRING_BOOT_VERSION` to my dependencies instead.  `:buildEnvironment` outputs the same thing with `spring-core` being omitted.  I suspect that is causing the problem, but I just can't figure out why it is being omitted.

[2019-01-29 22:51] jndietz commented on #15807
This is the full output of `:buildEnvironment`...

[code]

[2019-01-29 23:19] jndietz commented on #15807
My apologies guys.  It was rooted in a recent upgrade to my company's gradle plugins for our jenkins pipeline.  I rolled back our plugins to the last version and it is building again.

[2019-01-29 23:19] #15807 closed

[2019-01-30 04:36] rhamedy commented on #15761
Need help with this?

[2019-01-30 09:21] snicoll commented on #15761
@rhamedy thanks for the offer. I'd be more than happy to review a PR for this one.

[2019-01-30 09:37] bclozel commented on #15805
I'm willing to publish it on Maven Central as a `zip` or `.tar.gz` artifact if that helps.

[2019-01-30 10:06] wilkinsona commented on #15761
@rhamedy @snicoll I've already made a start on this one (hence it being assigned to me). Thanks for the offer, but I don't think we need help with this one.

[2019-01-30 15:12] rvijayarajan opened #15808 "Unable to exclude dependencies on repackaging war"
I'm using spring-boot-maven-plugin to repackage my archive into a bootable and deployable WAR file. Doing so, I had to exclude few dependencies (transitive in my case). I tried excluding using exclusion configuration as mentioned in plugin documentation (https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/maven-plugin/examples/exclude-dependency.html). But it doesn't works. The dependencies I co

[2019-01-30 15:18] snicoll commented on #15808
@rvijayarajan "it does not work" is not very helpful. As you've figured out yourself, the link describes what should be done to exclude a dependency. If that does not work for you we'll need a sample that we can run ourselves.

[2019-01-30 15:49] IdanE commented on #2282
If anyone is facing this issue, I've written a [post processor](https://gist.github.com/IdanE/84e7aed06a29918100f30400270b65d4)  to inject defaults into the environment

[2019-01-30 15:51] mbhave commented on #15790
We discussed this on the call today and concluded that using the multi-document syntax within profile-specific YAML files is not something we recommend doing. The cost of implementing this would be quite high and possibly break other things. We'll use this issue to document the limitation.

[2019-01-30 15:56] philwebb opened #15809 "Don't publish docs jar to maven central"
We should not publish a docs jar.

[2019-01-30 16:03] philwebb commented on #7642
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2019-01-30 16:03] #7642 closed

[2019-01-30 16:16] #7697 closed

[2019-01-30 16:47] wilkinsona commented on #15767
Thanks for the sample. Unfortunately, it's not clear to me how to use it to reproduce the problem.

Looking at the code, I've figured out that the entry point is http://localhost:8080/landing.html. From there, I can successfully impersonate all three users without an NPE occurring. You've said that it's "crucial that impersonation happens from an otherwise unauthenticated state" but I'm not exactl

[2019-01-30 17:00] swaechter opened #15810 "Repackaging moves an existing module-info.class file into BOOT-INF/classes"
I am in the process of porting several CLI and Spring Boot applications to Java 12 + Jigsaw modules. This will allow us to create a customized JRE image that is smaller & more secure (Cloud native with Alpine Linux + a 50 MBish JRE).

I was able to port all CLI applications to proper Jigsaw modules - except the Spring Boot ones. The problem is, that the `spring-boot-maven-plugin` doesn't respect t

[2019-01-30 18:23] arunpmohan opened #15811 "Autowiring EntityManagerFactory into @Configuration class doesn't work"
We were using spring boot 1.5.10 and our code uses SessionFactory through out. We unwrapped it from entity manager in our configuration class and registered it as a bean to use it across.
But now when we migrated to spring boot 2.1.2 RELEASE the same autowiring throws a null pointer exception. I have attached a project which shows the problem. Is there anything wrong in this usage or is it a sprin

[2019-01-30 18:31] balasenthil-d commented on #9992
I am seeing the same issue still. I am on spring-boot 2.1.2. I see no answers for the stackoverflow question posted. Is there fix for this ?

[2019-01-30 19:55] Thinkenterprise commented on #15115
would it be possible to have the property `keyValue` via `@ConfigurationProperties (prefix = "spring.security.oauth2.resourceserver")` and a suitable decoder in `OAuth2ResourceServerJwtConfiguration`. For small quick tests it is easier to put the public key in the property file, as in 1.5.x.

[2019-01-30 20:01] spring-buildmaster opened #15812 "Upgrade Java 11 version in CI image"
https://github.com/AdoptOpenJDK/openjdk11-binaries/releases/download/jdk-11.0.2%2B9/OpenJDK11U-jdk_x64_linux_hotspot_11.0.2_9.tar.gz

[2019-01-30 20:01] spring-buildmaster opened #15813 "Upgrade java8 version in CI image"
https://github.com/AdoptOpenJDK/openjdk8-binaries/releases/download/jdk8u202-b08/OpenJDK8U-jdk_x64_linux_hotspot_8u202b08.tar.gz

[2019-01-30 20:04] Thinkenterprise opened #15814 "Missing keyValue for Public Key Configuration in OAuth2ResourceServerJwtConfiguration"
would it be possible to have the property keyValue via @ConfigurationProperties (prefix = "spring.security.oauth2.resourceserver") and a suitable decoder in OAuth2ResourceServerJwtConfiguration. For small quick tests it is easier to put the public key in the property file, as in 1.5.x.

[2019-01-30 20:17] mbhave commented on #15814
I think Spring Security currently only supports obtaining the public key used for verification from the JWK Set URL.

/cc @jzheaux

[2019-01-30 23:13] nguyenquoc opened #15815 "/actuator/scheduletasks endpoint fails with null pointer exception when there is custom SchedulingConfigurer"
If a custom SchedulingConfigurer is registered with spring boot, then the scheduledtasks actuator will fail with a null pointer exception.

Spring boot 2.1.2

Stack trace:
[code]

Sample code: https://stackoverflow.com/questions/14630539/scheduling-a-job-with-spring-programmatically-with-fixedrate-set-dynamically/14632758#14632758

The endpoint defined in ScheduledTasksEndpoint.java can only handl

[2019-01-30 23:15] jzheaux commented on #15814
5.2 adds support for [local public-key configuration](https://github.com/spring-projects/spring-security/issues/5131), so it is certainly something that we can take a look at.

[2019-01-30 23:56] pradeephr opened #15816 "Unable to run Spring Boot test with coverage"
I have a spring-boot service with spring-security, version -2.1.2.RELEASE.
I have test cases written for my API integration testing.
When I run my test cases without code coverage it works, **but when I run it with code coverage it fails.**
The  exception is basically from a configuration file called WebSecurityConfig.java which extends WebSecurityConfigurerAdapter. I have my ldap security check d

[2019-01-31 00:39] Darkvater commented on #15767
Hi wilkinsona, apologies for the unclear instructions.

Steps to reproduce:
* start up your browser and go to http://localhost:8080/landing.html
* open the link "impersonate user1" in a new tab, it will say USER1
* go back to the landing page tab and open the link "impersonate user2" in a new tab, it will say USER2

at this point everything works because a custom authentication audit listener is w

[2019-01-31 01:38] warrenc5 opened #15817 "Run Mojo triggered from maven profile runs build helper twice because of phase binding."
When the plugin is triggered from a profile it reruns the maven profile trying to parallel run test-compile.

This breaks plugins like build-helper reserve network port bound to any lifecycle phase earlier than test-compile. i.e initialize.

So I couldn't get the port properties into the spring-boot execution configuration.

I found I had to move the spring-boot:run goal to the integration-test ph

[2019-01-31 03:45] rvijayarajan commented on #15808
@snicoll I've created a sample project with my use case and pushed the same into github. You can checkout this code and do a "mvn clean install" to experience the case I've mentioned.

**Github sample project URL:** https://github.com/rvijayarajan/spring-boot-maven-plugin-exclude-test

In this sample project I've excluded a dependency with group and artifactId namely org.webjars and bootstrap resp

[2019-01-31 08:22] Thinkenterprise commented on #15814
The classes for the Spring Boot OAuth2 **Autoconfiguration** `OAuth2ResourceServerProperties`for configuration and  `OAuth2ResourceServerJwtConfiguration` for the token decoder generation come from Spring Boot Autoconfiguration Packages `org.springframework.boot.autoconfigure.security.oauth2.resource.servlet`. So I can not fully understand why this is a Spring Security issue. Or am I wrong?

My su

[2019-01-31 08:40] snicoll commented on #15817
I've edited your comment to remove the bug report part (the template has an explicit "do not copy paste" mention so please don't).

That would be highly unusual and I thought we were aligned to official maven plugins (such as the exec plugin) but I can see they don't see to have a default phase.

Can you share a sample we can run ourselves that describes the issue you're experiencing?

[2019-01-31 08:57] spring-issuemaster commented on #15773
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-01-31 09:08] snicoll commented on #15808
Thank you for the sample. Have you noticed the repackage goal is invoked twice? Please [check the release notes](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes#maven-plugin).

Regardless of this, this works fine with `jar` packaging but does not for a war so we'll have to investigate what's wrong there.

[2019-01-31 10:19] dsyer opened #15818 "Petclinic integration tests failing - data.sql not being run, possibly?"
Lots of failures like this if you update the Petclinic to 2.2.0 snapshots:

[code]

[2019-01-31 10:58] spring-issuemaster commented on #15627
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-01-31 10:58] #15627 closed

[2019-01-31 11:07] BalasDev opened #15819 "java.lang.NullPointerException: null occurs in HttpExchangeTracer"
When we are doing performance test for our endpoint, time to time happens the exception:

[code]

**Spring Boot version is 2.1.2.RELEASE**

[2019-01-31 11:11] BalasDev commented on #15819
It hard to reproduce on the local machine.
But time to time error occurs on _/health, /info_ endpoints when kubernates requested them.
Happened after request was submitted successfully.

[2019-01-31 11:20] wilkinsona commented on #15819
Assuming that the line numbers match up, the NPE from `HashMap.merge(HashMap.java:1225)` means that there's an entry in the map with a `null` value. The map's contents are created from an instance of `org.springframework.http.HttpHeaders`.

@bclozel, is it expected that `HttpHeaders` may contain an entry with a `null` value?

[2019-01-31 11:35] dsyer commented on #15818
I can't reproduce this now (1 hour later). No idea what happened. Probably something JDK-related because I was trying out different JDK builds.

[2019-01-31 11:35] #15818 closed

[2019-01-31 12:13] BalasDev commented on #15819
@wilkinsona When I investigated stacktrace I found different errors, one of  that when _HttpExchangeTracer_ got response headers method _size()_ from _TomcatHeadersAdapter_
The method checks _MimeHeaders_ and empty _MimeHeaders_ returns true in _names.hasMoreElements()_
but names.nextElement() occurs NPE
Also for the same error I have a stacktrace
[NPE.txt](https://github.com/spring-projects/sprin

[2019-01-31 12:15] BalasDev commented on #15819
Very strange behavior of _MimeHeaders _

[2019-01-31 13:09] bclozel commented on #15819
@wilkinsona @BalasDev Let me take a look.
This might be a problem with the adapters implementation in Spring Framework, or the Trace feature keeping a reference to headers that have been recycled by Tomcat. Since recent Spring Framework versions, we're not copying headers anymore but adapting to the native implementation.

We might need to adapt things in our actuator support there.

[2019-01-31 13:10] rreimann opened #15821 "Add support for customized Cassandra keyspace creations"
Using the `Cluster` bean from `CassandraAutoConfiguration` makes it quite difficult to provide a custom keyspace creation (e.g. via `CreateKeyspaceSpecification`).

While `CassandraClusterFactoryBean#setKeyspaceCreations` provides support for custom keyspace creations I couldn't find anything similar when the cluster is created via the auto-configuration.

Trying to find a workaround that doesn't

[2019-01-31 14:08] PradeepJoam commented on #15819
This is problem is can't created object
MonoFlatMap.java  that  means map getting null value from an instance of at org.springframework.boot.actuate.health.HealthIndicatorReactiveAdapter.lambda$null$0(HealthIndicatorReactiveAdapter.java

[2019-01-31 14:12] spring-issuemaster commented on #15731
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-01-31 14:13] #15731 closed

[2019-01-31 14:30] snicoll commented on #15821
Thanks for the suggestion. I don't know if that's the code you are using now but importing the  auto-configurations the way you do is quite unusual (and probably unnecessary) . What is wrong with getting the `Cluster` as a bean and creating the keyspace?

[2019-01-31 14:48] spring-issuemaster commented on #15765
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-01-31 14:52] buksvdl opened #15824 "Hibernate spring.jpa.mapping-resources=hibernate.cfg.xml not read after Spring-Boot 2.1.0"
Spring-Boot 2.0.8 adds the mappings by creating entities from the *hbm.xml files listed in spring.jpa.mapping-resources=hibernate.cfg.xml, Any release after that ignores the mapping file.

javax.persistence.metamodel.Metamodel metaModel = emf.getMetamodel();
Set<EntityType<?>> entityTypeSet = metaModel.getEntities();

[demo.zip](https://github.com/spring-projects/spring-boot/files/2817693/demo.zip

[2019-01-31 15:39] wilkinsona commented on #15811
In Hibernate 5.2, `SessionFactory` was changed to extend `EntityManagerFactory`. This is [mentioned in Hibernate's migration guide](https://github.com/hibernate/hibernate-orm/blob/5.2/migration-guide.adoc#hibernate-entitymanager-merged-into-hibernate-core). As a result, if you declare a `SessionFactory` bean it will disable Boot's auto-configuration of an `EntityManagerFactory` as it is conditiona

[2019-01-31 15:39] #15811 closed

[2019-01-31 16:03] wilkinsona commented on #15767
Thanks. I've reproduced the problem now. It's a bug in Actuator's `AuthenticationAuditListener`. When you switch from being anonymous to a user and then exit that switch, the `targetUser` of the `AuthenticationSwitchUserEvent` will be `null` as the original authentication, `AnonymousAuthenticationToken` that we're switching back to has a principal that is a `String` rather than a `UserDetails`.

[2019-01-31 16:09] wilkinsona commented on #15767
Having said the above, please note that allowing user switching by an anonymous user is a security risk and ignores the recommendations in the javadoc for `SwitchUserFilter` where it says:

We can look at making Actuator's `AuthenticationAuditListener` more robust so that it tolerates an `AuthenticationSwitchUserEvent` with a `null` `targetUser`, but I would strongly recommend updating your securi

[2019-01-31 16:10] nightswimmings commented on #8421
I mean imagine I have a custom class AuxiliarHelperForMyTests class, and I don't annotate it with either @Component or @TestComponent. It exactly behaves as the description of @TestComponent, so what is exactly the purpose of @TestComponent annotation, what does it give me as extra value?

[2019-01-31 16:23] wilkinsona commented on #8421
A noted in the [commit that closed this issue](
https://github.com/spring-projects/spring-boot/commit/a8860ba7e9f024a490a629c78d008ba5022c6dca), `@TestComponent` is really in implementation detail so you should not be using it directly. It exists to enable the functionality provided by `@TestConfiguration` which is [described in the documentation](https://docs.spring.io/spring-boot/docs/2.1.2.RELE

[2019-01-31 16:38] rreimann commented on #15821
Thanks for the quick response...

yes I know that's why i called it "_ugly_" myself. The import was necessary because CassandraDataAutoConfiguration is disabled due to the `Cluster` bean I provide in my config.

Trying that failed for me because `CassandraDataAutoConfiguration#cassandraSession` invokes `getCluster().connect(keyspaceName)` via `CassandraCqlSessionFactoryBean#afterPropertiesSet` whi

[2019-01-31 17:15] wilkinsona commented on #15792
I don't agree with the issue title. `CompositeHandlerExceptionResolver` is not a duplicate of `HandlerExceptionResolverComposite`. As you've said yourself, they do nearly the same thing, but one is not a duplicate of the other. A key difference is that `CompositeHandlerExceptionResolver` looks up the `HandlerExceptionResolver` beans on first-use, rather than requiring them to be configured in adva

[2019-01-31 17:15] #15792 closed

[2019-01-31 17:22] wilkinsona commented on #15794
Thanks for the sample but there's still quite a lot to it. If you have time to strip it down further, including replacing the need for MySQL with an in-memory database (H2 or HSQLDB), it will increase the changes of someone having the time to investigate.

[2019-01-31 18:06] mhewedy commented on #15792
Thanks for clarifications. Will use Gitter second time.

[2019-01-31 18:09] milindsonawane commented on #15640
@philwebb Can I please request you to share the link of the documentation?

[2019-01-31 18:21] nightswimmings commented on #8421
Ahh that explains why any mention was removed from latest documentation. Anyway, I did a deep testing and I will expose the case in the way my mind would have understood it, in case you accept the suggerence for documentation or anyone else comes to this ticket as I did. Please remove it if you consider it inappropiate. And excuses for mistaking the workflow if that is the case in beforehand:

`If

[2019-01-31 18:51] milindsonawane commented on #15640
What might the issue be in this case? IMO, it should not fall back to an empty `@GetMapping` at all. The reason I tagged this as a Cloud Foundry issue is that I haven't seen this issue elsewhere.

[2019-01-31 19:41] dmccorm2 commented on #14654
I've experienced this same issue, except on Spring Boot 2.1.2 (on application start).  I'm using the log4j2 starter just for some additional context, but if I use a system environmental variable LOGGING_LEVEL it throws the above error. If I add log.level.[name] to the application.properties this error goes away but my log4j2.xml is ignored.  Once I remove LOGGING_LEVEL as an environmental variable

[2019-01-31 20:03] mbhave opened #15825 "Change label for automatic jdk upgrade issues"
It uses a special label at the moment and we probably don't need that. It could either be `type: task` or `waiting-for-triage` since there is no milestone assigned.

[2019-01-31 21:26] asarkar opened #15826 "Clarify in the docs whether Spring Boot plugin version must match the Boot dependencies version"
In a multimodule (Gradle) project, only one of them is going to be the executable/fat jar, while the others are just libraries. The Boot Gradle plugin should ideally be applied only to the executable module, and the library dependencies should be managed using the Gradle dependency management plugin. The docs don't go into this common use case, and assume that every project is going to apply the B

[2019-01-31 21:42] wilkinsona commented on #15826
There's a [section](https://docs.spring.io/spring-boot/docs/2.1.2.RELEASE/gradle-plugin/reference/html/#managing-dependencies-using-in-isolation] in the Gradle's plugins documentation about using Boot's dependency management without applying Boot's plugin.

Mixing different versions of Boot's modules isn't a good idea and should be avoided. There's nothing Boot specific about that, though. You are

[2019-01-31 21:42] #15826 closed

[2019-01-31 22:47] matthiasstock commented on #11721
Even if the questions are interesting, different approaches of schema creation are unnecessarily mixed here. A documentation of their correlation would be confusing and sometimes beyond the control of Spring Boot itself:

`spring.jpa.generate-ddl` applies properties to the JPA implementation directly, i.e. `hibernate.hbm2ddl.auto` [becomes "update"](https://github.com/spring-projects/spring-framew

[2019-02-01 06:30] tuorao commented on #15788
Perhaps you are using the interceptor provided by the spring boot.
If you use a custom annotation that extends the HandlerInterceptorAdapter,
When you change to springing boot 1.5 -> 2.1, do this

[code]

[2019-02-01 07:45] wilkinsona commented on #15788
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-01 08:21] wilkinsona commented on #14654
That is to be expected and is what I suspect was causing the problem reported above.

I guess you mean `logging.level.[name]`? Adding such a property should not cause your log4j2.xml to be ignored. If that's happening, it's different problem to the one that was reported here. If you would like us to investigate, please open a new issue with a minimal and complete example that reproduces the proble

[2019-02-01 09:09] snicoll commented on #15821
I don't see why it was. If you provide your own `Cluster` you are basically providing your opinion and Spring Boot will back off which is the advertized feature. There is a `@ConditionalOnMissingBean` on the cluster `@Bean` method so providing your own will only disable that part of the auto-config.

Thanks that helps.

[2019-02-01 09:18] wilkinsona commented on #15640
@milindsonawane The documentation is here: https://docs.run.pivotal.io/devguide/deploy-apps/environment-variable.html. It's the first result (for me at least) when Googling for "CloudFoundry CF_INSTANCE_PORT".

[2019-02-01 09:45] wilkinsona commented on #15824
I don't think the description of the issue is accurate. In Boot 2.1, Hibernate is configured to read the `hibernate.cfg.xml` and does so. The difference in behaviour is due to the [change](https://github.com/hibernate/hibernate-orm/commit/dc49ef6ef4964f2ef840e4b09eda3c821add16cd) the was made to fix [HHH-12871](https://hibernate.atlassian.net/browse/HHH-12871). `ignoreUnsupported` is `true` and th

[2019-02-01 09:45] #15824 closed

[2019-02-01 09:50] SuperSpectre commented on #15697
Same issue after upgrading from Spring Boot 2.0.8 + Spring Cloud Finchley to Spring Boot 2.1.2 + Spring Cloud Greenwich.

Excluding `spring-boot-devtools` from the dependencies solved it.
Sleuth is not used.

[2019-02-01 10:18] wilkinsona commented on #15697
@SuperSpectre Thanks. @baev has already brought it to our attention the Sleuth does not have to be used for the problem to occur. We believe that it's a general proxying problem and any use of an advice chain on `SimpleRabbitListenerContainerFactory` will trigger the problem. If your application does not fit that description, can you please provide some more details?

[2019-02-01 10:45] wilkinsona commented on #15697
This appears to be a regression in Spring AMQP caused by [this change](https://github.com/spring-projects/spring-amqp/commit/787dfa00f80d2ed33ffe40b9a0431652c72acc15#diff-22d665a9e03fe5324a13e998b57ed24dL1134). The problem can be reproduced without involving Spring Boot:

[code]

In this case, the proxy is created using the `child` class loader but it is attempting to create a proxy for the `Abstr

[2019-02-01 10:49] wilkinsona commented on #15697
I have opened https://github.com/spring-projects/spring-amqp/issues/897.

[2019-02-01 10:49] #15697 closed

[2019-02-01 11:21] andrejleitner commented on #15808
Exclusions don't work for WAR packaging also in 2.0.8.RELEASE.

[2019-02-01 12:53] wilkinsona commented on #15810
We have the same problem with the Gradle plugin

[2019-02-01 13:49] #15810 closed

[2019-02-01 13:49] wilkinsona commented on #15797
Closing in favour of #15822.

[2019-02-01 13:49] #15797 closed

[2019-02-01 14:19] ascheman opened #15827 "Spring Boot ActiveMQ based JmsListener fails on TextMessage"
Disclaimer: I have already raised this problem on Stackoverflow (cf. https://stackoverflow.com/questions/54419999/spring-boot-amqp-based-jmslistener-fails-on-textmessage/54421088#54421088) and consider it a bug in Spring (Boot or Framework) or the underlying ActiveMQ integration.

I have a Spring Boot application (based on 2.1.2.RELEASE) which has problems retrieving JMS messages of type `TextMess

[2019-02-01 15:15] wilkinsona commented on #15827
Thanks for the sample, but I can't see any evidence that the problem is with Spring Boot.

Looking at ActiveMQ's [AMQP documentation](https://activemq.apache.org/amqp.html), my understanding is that ActiveMQ is behaving as designed. The default for mapping to JMS is `direct` which means that the broker "wraps the bytes of the AMQP message into a JMS BytesMessage and maps the headers of the AMQP me

[2019-02-01 15:15] #15827 closed

[2019-02-01 15:21] monxarat opened #15828 "Failed to configure a DataSource: 'url' attribute is not specified and no embedded datasource could be configured."
How to fix this error
application.properties
[code]
build.gradle
[code]

Logs
[code]

[2019-02-01 15:34] snicoll commented on #15828
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-02-01 15:34] #15828 closed

[2019-02-01 15:54] dmccorm2 commented on #14654
Yes. logging.level.[name]. Basically if that's defined in application.properties for example, logging.level.root, it overrides the Root entry in log4j2.xml.  My concern isn't really trying to reconcile the properties between application.properties and log4j2.xml, I just didn't see this behavior in Spring Boot 1.5 with the environmental variable LOGGING_LEVEL causing the properties exception. Looks

[2019-02-01 16:21] philwebb opened #15829 "Allow Hibernate to use Spring Boot's validator"
There's not much need currently, but once #3071 is fixed we might want to consider passing our validator to Hibernate using:

[code]

[2019-02-01 16:23] philwebb commented on #7748
There's really two parts to this issue, setting the messages and passing the validator to hibernate. Those are now being tracked in #3071 and #15829 respectively.

[2019-02-01 16:23] #7748 closed

[2019-02-01 16:36] wilkinsona commented on #7961
With the 2.0 binder, `server.port[0]=8090` is ignored and the application starts up on the default port (8080). This is to be expected as the `@ConfigurationProperties` is configured to ignore unknown fields. When the configuration is `server.port=foo`, the following failure analysis is produced:

[code]

I don't think there's anything for us to do here any more.

[2019-02-01 16:36] #7961 closed

[2019-02-01 16:40] philwebb commented on #7986
We're going to be looking at immutable configuration properties so I think it's best to close this for now so we don't make that work more complicated. Once we've got immutable support in we can reconsider.

[2019-02-01 16:40] #7986 closed

[2019-02-01 16:45] philwebb commented on #8056
This is a known issue (also with `EventListener`) and we're investigating various options in Spring Framework see https://github.com/spring-projects/spring-framework/issues/22175

[2019-02-01 16:45] #8056 closed

[2019-02-01 16:50] rreimann commented on #15821
You're right, my bad - there's no need for the import in prod code. I checked again and it was only a test that run in to a `NoSuchBeanDefinitionException: No qualifying bean of type 'org.springframework.data.cassandra.core.CassandraOperations` due to a restricted test context.

[2019-02-01 16:57] philwebb opened #15830 "Disable InMemoryTraceRepository by default"
We've discussed using a lock free in-memory trace repository in #8679 but the fastest option would be to disable it by default.

[2019-02-01 16:58] philwebb commented on #15830
Duplicates 15039

[2019-02-01 16:58] #15830 closed

[2019-02-01 17:08] pnabhilash opened #15831 "Binding error"

[2019-02-01 17:30] wilkinsona commented on #15788
I'm not that I understand why [the above](
https://github.com/spring-projects/spring-boot/issues/15788#issuecomment-459621523) works, but I'm glad that it does. In the absence of a sample that we could look at, we won't be able to propose a better solution if one should exist so I'm going to close this one. We can re-open it in the future if the requested sample is provided.

[2019-02-01 18:12] louptony opened #15832 "Critical CVE related to com.fasterxml.jackson.core:jackson-databind"
Hello,

4 CVEs (CVE-2018-14718, CVE-2018-14719, CVE-2018-14720, CVE-2018-14721) are brought up with the com.fasterxml.jackson.core:jackson-databind version 2.9.5 inlcuded in spring-cloud-cloudfoundry-connector. The corrections were fixed in version 2.9.8. The fix will be added in version 2.0.5 of [spring-cloud-connectors](https://github.com/spring-cloud/spring-cloud-connectors/issues/251).

Can th

[2019-02-01 18:16] wilkinsona commented on #15832
Spring Boot 2.1.x's dependency management already uses Jackson 2.9.8. It will override the version that Spring Cloud Connectors uses by default. In short, there's nothing for us to do here.

[2019-02-01 18:16] #15832 closed

[2019-02-01 18:54] treven89 opened #15833 "Missing master switch for Spring Boot Actuator"
Spring Boot supports mocks since version 1.4. The downside using mocks within Spring Boot integration tests is the performance. Mocks dirties the Spring application context and therefore the execution time of these tests is higher. The best solution I can see here is to write at least 2 different test classes for a component. A component test using plain Mockito (to make that test fast) and an add

[2019-02-01 21:43] mbhave commented on #15825
We've decided to add the waiting-for-triage and task labels.

[2019-02-01 21:57] jzheaux commented on #15814
@Thinkenterprise it's a matter of supplying the conversion strategy to convert the encoded key into an instance of `RSAPublicKey`, for example. Something like this lives better in Spring Security.

But, yes, there would be some boot code that does the appropriate auto-configuration based on this value.

[2019-02-02 01:00] kazuki43zoo opened #15835 "Does not work 'classpath*:' for Resource[] property on configuration properties since 2.x"
I encountered a un-expected behavior on configuration properties feature since Spring Boot 2.x.
On 1.5.x, it work fine.

### Conditions

* Define a property of `Resource[]` on custom configuration properties class
* Specify a property value using `classpath*:` prefix such as `classpath*:files/*.txt`

### Expected result

* Binding multiple `Resource` instance that matches pattern string

### Actua

[2019-02-02 05:14] tuorao commented on #15788
I'll make a sample of this problem.
wait plz :D @wilkinsona

[2019-02-02 12:43] tuorao commented on #15788
https://github.com/tuorao/sample-code

After downloading and executing this project,
Try the url

http://localhost:8080/swagger-ui.html

and check addInterceptor method

@wilkinsona

[2019-02-03 05:06] dilipmighty245 commented on #15640
@milindsonawane

use ```eureka.instance.metadata-map.management.port=${CF_INSTANCE_PORT} ```
instead of
```management.server.port=${CF_INSTANCE_PORT}``` , it will work.

[2019-02-03 08:36] rvijayarajan commented on #15808
Thanks @snicoll.

[2019-02-03 08:38] Darkvater commented on #15767
I completely agree with you that it is a security risk. That is why we only have the switch user filter enabled in non-profit environments. It is for our users to be able to impersonate anyone to play around without having to register themselves.

I have read the javadocs for the filter hence also my original question if we are using the filter correctly ;). It is a very convenient way though to a

[2019-02-04 06:49] lukas-krecan opened #15838 "DataSource initialization is executed too late if the DataSource is used in AOP post processor"
There are three actors in this issue.
a) schema.sql which needs to be executed before MyBean initialization
b) MyBean, which requires initialized schema (in reality it's Liquibase)
c) AOP interceptor that requires DataSource

If the AOP interceptor depends on DataSource, the order of execution is the following
1) DataSource is initialized
2) MyBean afterProperties is executed (and fails, since sch

[2019-02-04 07:40] buksvdl commented on #15824
What does that leave us with? Not having used any of the flags in previous releases.
Ours is plain and simple.
We have mappings and use the EntityType created by Hibernate to get hold of its Attributes and their JavaType.

`EntityType persistEntityType = iceEntityManager.get(persistEntityName);
        Attribute persistAttribute = persistEntityType.getAttribute(attributeName);
        Class persis

[2019-02-04 08:12] spring-issuemaster commented on #15698
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-04 08:12] #15698 closed

[2019-02-04 09:44] wilkinsona commented on #15824
I don't know why there is a difference as I don't fully understand the problem that [HHH-12871](
https://hibernate.atlassian.net/browse/HHH-12871) addresses. If you need some further help, Spring Boot's issue tracker is not the right place to get it. As far as I can tell, the change in behaviour is due to a change in Hibernate. Therefore, you need Hibernate expertise rather than Spring Boot expert

[2019-02-04 09:58] wilkinsona commented on #15838
Thanks for the sample.

Generally speaking, injecting dependencies into a bean post-processor is to be avoided as doing so prevents that bean, and anything upon which it depends, from being post-processed. You can see Spring Framework informing you of these when the sample is started:

[code]

The problem you've described here is one symptom of preventing the `DataSource` from being post-processed

[2019-02-04 09:58] #15838 closed

[2019-02-04 10:07] Raheela1024 commented on #15719
@wilkinsona I need your help As, I am understanding we need to add bean-based check on `RestTemplateAutoConfiguration` like

[code]

Please let me know I am in wrong direction.

[2019-02-04 10:15] IEnoobong opened #15839 "RestTemplateBuilder does not set root uri when called"
`RestTemplateBuilder.rootUri(String)` doesn't seem to work. The documentation says

However program crashes with exception `java.lang.IllegalArgumentException: URI is not absolute` when the built `RestTemplate` is used. eg `restTemplate.exchange("/users/eno", HttpMethod.POST, HttpEntity)`

**Sample Code**
[code]

**DetailedException**
[code]

Spring Boot Version - 2.1.2.RELEASE
Kotlin Version - 1.

[2019-02-04 10:20] wilkinsona commented on #15839
`rootUri(String)` returns a new `RestTemplateBuilder` instance which you're throwing away as you haven't assigned the result of the method call to anything. The Stack Overflow question to which you have linked shows the correct usage:

[code]

If you have any further questions, please follow up on Gitter or ask a question of your own on Stack Overflow. As mentioned in [the guidelines for contribut

[2019-02-04 10:20] #15839 closed

[2019-02-04 12:37] #15761 closed

[2019-02-04 13:00] 4ernookiy commented on #15819
@bclozel @wilkinsona
We have switched from Tomcat to Netty. And issue is gone. (we don't see any similar issue in Kibana and  pod console)

[2019-02-04 13:43] slinstaedt opened #15843 "ClassCastException in TestRestTemplateContextCustomizer"
When trying to decorate the ApplicationContext used for tests, the ones using a TestRestTemplate are failing with a ClassCastException. A brief glimpse reveals, that TestRestTemplateContextCustomizer is doing a type check on the beanFactory before upcasting, but is later on casting the context itself, which happens to work with most spring-provided ApplicationContexts, but not for custom ones, as

[2019-02-04 14:23] elefeint commented on #15115
@Thinkenterprise It is usually better to open a new issue than to comment on a closed one -- a new issue will get triaged as part of the project's normal workflow.

[2019-02-04 14:59] Thinkenterprise commented on #15814
@wilkinsona If this is the basic approach of Spring Boot 2.0 to security, then I have to accept that. I think that is the responsibility of the developer. It is also a breaking change since this property was provided in version 1.5.x. For test cases, it would be a nice feature and also works with propety files. Especially as it uses it in a [sample by referencing Spring Boot 2.0](https://github.co

[2019-02-04 16:01] wilkinsona commented on #15835
Thanks for the sample. There's some similarity to the problem described in #12166.

In 1.5, the conversion is handled by Framework's `ResourceArrayPropertyEditor`. In 2.x, the conversion is handled by Boot's `DelimitedStringToArrayConverter`. `ResourceArrayPropertyEditor` is registered with Boot's `TypeConverterConversionService` but `TypeConverterConverter` is only registered with a single conver

[2019-02-04 16:28] tom-su opened #15844 "Illegal reflective access by org.springframework.boot.loader.jar.Handler when resolving classpath* resource pattern"
Has anyone faced such a problem?

``WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.springframework.boot.loader.jar.Handler to method java.net.URLStreamHandler.openConnection(java.net.URL)
WARNING: Please consider reporting this to the maintainers of org.springframework.boot.loader.jar.Handler
WARNING: Use --illegal-access=warn to enable warni

[2019-02-04 16:36] wilkinsona commented on #15844
AFAIK, no one has faced the problem. I cannot reproduce it using `Java(TM) SE Runtime Environment 18.9 (build 11+28)`. Perhaps you could upgrade to a more recent build of Java 11. If the problem still occurs and you'd like us to spend some more time investigating, please take the time to provide a minimal sample that reproduces the problem.

[2019-02-04 17:01] wilkinsona commented on #15788
Thanks for the sample. Due to [an enhancement](https://github.com/spring-projects/spring-framework/issues/20583) in Spring Framework, interceptors are now called when accessing static resources. As such, you cannot assume that every `handler` that's passed into your interceptor will be a `HandlerMethod`. You should update your interceptor to be more defensive and only cast `handler` once you've do

[2019-02-04 17:01] #15788 closed

[2019-02-04 19:57] cvienot commented on #7731
Event though `DomElement` no longer relies on `ElementTraversal`, xerces cannot be excluded because of [HTMLParser](https://github.com/HtmlUnit/htmlunit/blob/master/src/main/java/com/gargoylesoftware/htmlunit/html/HTMLParser.java#L42) used in spring boot tests.

[2019-02-04 20:11] rwinch commented on #15814
Perhaps it makes more sense to support using a separate file and pointing at that file in the properties/yml file?

[2019-02-04 20:43] jndietz commented on #15807
In case anyone is here via Google, the issue in our case was caused by our Gradle plugins pulling in a WhiteSource dependency, which transitively depends on Spring 4.x (which aligns with what @wilkinsona mentioned above).  This was causing conflicts when building the fat JAR in our pipeline.

[2019-02-04 22:01] Anonymous-Coward opened #15845 "spring-boot-maven-plugin changed behavior between 2.0.8 and 2.1.2"
1. Steps to reproduce

- Create a simple spring boot project using spring boot starter parent 2.0.8.RELEASE.
- Execute mvn clean install
- verify that only the fat jar gets deployed to ~/.m2/repository - not good, because the original jar is not usable as a dependency
- add this to the default spring boot maven plugin configuration:

[code]
- delete the directory containing the previous build arti

[2019-02-04 23:06] jzheaux commented on #15814
@Thinkenterprise The sample you are referencing is from a legacy OAuth 2.0 plugin--it's meant to illustrate how that plugin works. Please don't infer intended future capabilities for mainline Spring Security from it.

[2019-02-05 05:58] eallanjoseph123 opened #15846 "Execution default of goal org.springframework.boot:spring-boot-maven-plugin:2.0.0.RELEASE:repackage failed: A required class was missing while executing org.springframework.boot:spring-boot-maven-plugin:2.0.0.RELEASE:repackage: org/springframework/core/io/support/SpringFactoriesLoader"
Hi Does anyone here who encountered this issue before?

![image](https://user-images.githubusercontent.com/12053088/52255639-70105680-2967-11e9-8178-86be7f420e46.png)

Im currently using a 2.0.0.RELEASE springboot parent:

![image](https://user-images.githubusercontent.com/12053088/52255797-1c523d00-2968-11e9-9b93-5595194fdb18.png)

command that Im using:
mvn clean install

[2019-02-05 06:00] eallanjoseph123 commented on #15846
Hi Does anyone here who encountered this issue before?

![image](https://user-images.githubusercontent.com/12053088/52255639-70105680-2967-11e9-8178-86be7f420e46.png)

Im currently using a
<parent>
		<groupId>org.springframework.boot</groupId>
		<artifactId>spring-boot-starter-parent</artifactId>
		<version>2.0.0.RELEASE</version>
	</parent>

[2019-02-05 07:05] #15846 closed

[2019-02-05 07:54] tom-su commented on #15844
Ok, I've found that my configuration for myBatis is responsible for this problem.
I'm using 'org.mybatis.spring.boot:mybatis-spring-boot-starter:2.0.0' and this Warning occurs when application.yml contains:
``
mybatis:
      mapper-locations: classpath*:**/mappers/*.xml
``

Warning disappeared when I remove asterisks from *mapper-locations*:
``
mybatis:
  mapper-locations: classpath:/mappers/*.xml

[2019-02-05 08:34] snicoll commented on #15845
Have you read the release notes that mention that the [`repackage` execution has now an id](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.1-Release-Notes#maven-plugin) that should be used?

Your plugin execution above is not how it should have been done in the first place as there is already an execution in the parent so if you want to tune these settings you just need to provi

[2019-02-05 08:34] #15845 closed

[2019-02-05 08:37] wilkinsona commented on #15814
Yeah, that's what I think we should do.

[2019-02-05 08:42] wilkinsona commented on #7731
@cvienot I can't see the connection between your comment about Xerces and the `xml-apis` jar. The jar does not contain any Xerces classes, only APIs in the `javax.xml`, `org.w3c.dom`, and `org.xml.sax` packages.

[2019-02-05 08:53] phillipuniverse commented on #14187
Came across this issue and found that this occurs when `commons-beanutils` is on the classpath. This transitively brings in `commons-logging`, and causes startup-related exception messages to only look like this:

[code]

and no stack trace. Indeed, as @vojtapol reported, in `SpringApplication::reportFailure` it was sending the exception log to a `Jdk14Logger`.

This caused me to come across #1245

[2019-02-05 10:06] wilkinsona commented on #15844
Thanks. We'll see what we can do.

As something of an aside, I would avoid using a location pattern like `classpath*:**/mappers/*.xml`. It will require every entry of every jar on the classpath to be scanned to see if it matches the pattern `**/mappers/*.xml`. The `classpath:/mappers/*.xml` pattern should be quite a bit more efficient.

[2019-02-05 10:40] anandvarkeyphilips commented on #10500
Has anyone found how to do it?? SO didnt help me find it.. I came here by Google Search!

[2019-02-05 11:11] #15844 closed

[2019-02-05 11:40] #15843 closed

[2019-02-05 12:18] milindsonawane commented on #15640
@dilipmighty245
But it won't always be a micro-service. Also, this property helps only is case you are using eureka. What if someone opts for consul or zookeeper?

[2019-02-05 12:31] wilkinsona opened #15847 "Actuator API documentation for thread dump endpoint lists incorrect path for locked sychronizer's identity hashcode"
We've been getting away with it as there are no locked synchronizers when the build's running. We should update the test to ensure that there's at least one.

[2019-02-05 12:33] #15815 closed

[2019-02-05 12:33] #15847 closed

[2019-02-05 13:12] spring-issuemaster commented on #15758
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-05 13:12] #15758 closed

[2019-02-05 13:50] deanabadie opened #15848 "Using Spring Boot 2.0.6 with Spring Data LDAP and openjdk"
I have a Spring Boot 2.0.6 application with spring-data-ldap 2.0.9.RELEASE, and I always get an `java.lang.ClassCastException: java.naming/com.sun.jndi.ldap.LdapCtx cannot be cast to org.springframework.ldap.core.DirContextOperations`  exception when trying to retrieve all the distinguishedNames from an Active Directory tree. This problem occurs only while using openjdk (I tried using `openjdk-9.0

[2019-02-05 14:42] wilkinsona commented on #15848
Thanks for the report, but Spring LDAP is managed as a separate project. Its issue tracker is [here](https://github.com/spring-projects/spring-ldap/issues). If you'd like to pursue this, please open a new issue there that includes a minimal sample that reproduces the problem.

[2019-02-05 14:42] #15848 closed

[2019-02-05 15:45] bclozel commented on #15819
@wilkinsona `HttpHeaders` are dealing with `null` values, but things have been tightened a bit since in spring-projects/spring-framework#22120.

I managed to reproduce the problem by:

* Creating a Spring Boot WebFlux application with Tomcat and Actuator
* Sending a lot of traffic to the application, to any endpoint
* Hit the `/actuator/trace` endpoint

Here's what's happening, as suspected:

1. A

[2019-02-05 15:48] chaitanyayelamakuru opened #15849 "Hi am facing below issue after spring boot 2 upgrade ..Service has been failing @ startup"

[2019-02-05 15:48] chaitanyayelamakuru commented on #15849
ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'DCAppealDomainServiceImpl': Lookup method resolution failed; nested exception is java.lang.IllegalStateException: Failed to introspect Class [com.opt.optimum.ui.benefits.appeal.domain.DCA

[2019-02-05 15:54] garyrussell opened #15850 "Configuration processor does not handle generics"
Given

[code]

and
[code]

The generated metadata is

[code]

Should be
[code]

The generator should be able to determine the generic type.

Per Kris De Volder in Slack

So I think you should raise a bug against spring boot configuration processor.

See https://github.com/spring-cloud/spring-cloud-stream/issues/1601

[2019-02-05 16:00] snicoll commented on #15850
Yes, you're right, the annotation processor should be able to resolve `T`. I deliberately ignored generics as I've been dealing with them in the past for another annotation processor I wrote and it's quite hard to get it right with all possible combinations.

Would it be possible to simplify that arrangement to avoid the generics. We prefer that `@ConfigurationProperties` to be as simple as possib

[2019-02-05 16:01] gznglor opened #15851 "Upgrade to Spring Boot 2.1.1 causes MappingException in tests"
Hello,

I'm running into a possible bug with Spring Boot 2.1.1.

I believe it's a bug because before upgrading, my project builds successfully. Then, after upgrading to Spring Boot 2.1.1, the tests and the build fail with this error:

[code]

I have not seen any Spring Boot 2 documentation addressing new changes that may cause this (but it's possible that I missed it).

Here's what I'm using...
Gr

[2019-02-05 16:32] vpavic opened #15852 "Consider adding EVO inflector to managed dependencies"
[EVO inflector](https://search.maven.org/artifact/org.atteo/evo-inflector/1.2.2/jar) is an optional dependency of [Spring HATEOAS](https://search.maven.org/artifact/org.springframework.hateoas/spring-hateoas/0.25.0.RELEASE/jar) that's used in a few places to enhance the handling of relations:

- https://docs.spring.io/spring-hateoas/docs/current/reference/html/#configuration.at-enable
- https://do

[2019-02-05 17:09] wilkinsona commented on #15852
Thanks for the suggestion but to keep the scope of Boot's dependency management we try to limit it to dependencies that Boot interacts with. We don't interact with Evo Inflector so I do not think we should manage its version.

[2019-02-05 17:09] #15852 closed

[2019-02-05 17:43] wilkinsona commented on #15851
Thanks for the report. This is a duplicate of [DATACMNS-1461](https://jira.spring.io/browse/DATACMNS-1461). It has already been fixed in Spring Data Lovelace SR4 which is included in Spring Boot 2.1.2.

[2019-02-05 17:43] #15851 closed

[2019-02-05 17:46] gznglor commented on #15851
@wilkinsona Awesome, thank you!

[2019-02-05 18:30] garyrussell commented on #15850
[code]

    java.util.Map<java.lang.String, com.example.Foo>

[2019-02-05 18:36] cvienot commented on #7731
@wilkinsona i was talking of excluding xerces from htmlunit import.

Htmlunit depends on xerces. If you don't exclude xerces along with xml-apis, spring framework [DefaultDocumentLoader](https://github.com/spring-projects/spring-framework/blob/master/spring-beans/src/main/java/org/springframework/beans/factory/xml/DefaultDocumentLoader.java#L91) picks up xerces DocumentBuilderFactoryImpl, and xerc

[2019-02-05 19:15] wilkinsona commented on #7731
Thanks for joining the dots. I don't think there's any need to exclude Xerces any more. Hibernate has upgraded to Dom4j 2 which does not depend on `xml-apis`. That leaves, as far as I can tell, HTMLUnit as the only dependency that pulls in `xml-apis` transitively. This means that the dependency management for it that was added to fix https://github.com/spring-projects/spring-boot/issues/7554 is no

[2019-02-05 20:43] vpavic commented on #15852
Given the usefulness of EVO inflector, IMO a case could maybe even be made to make it a part of Spring HATEOAS starter - for example, [spring-projects/spring-hateoas-examples](https://github.com/spring-projects/spring-hateoas-examples) repo [uses it](https://github.com/spring-projects/spring-hateoas-examples/blob/dd57e0a515eb7d35681ce9521722281d37a16c87/pom.xml#L95-L99) for all the sample apps.

[2019-02-05 22:19] Izakey commented on #3300
@wilkinsona Does each Spring Boot Application's Classloader run in a thread within the JVM's process or does it have a unique process of its own ?

[2019-02-06 09:23] wilkinsona commented on #15850
It's easy for me to say as I do not how hard it is to implement, but when I first saw the discussion on Slack my reaction was that this is something that we should support. That's still my view now so I'd like us to take a look at what it would entail.

[2019-02-06 09:28] wilkinsona commented on #15852
I don't think the library is sufficiently active to feel comfortable including it in one of our starters. There were only 4 commits in 2018. Two of those appear to have been bug fixes but the most recent release was in 2016.

I'll mark this one for team attention to see what the rest of the team thinks.

[2019-02-06 09:33] wilkinsona commented on #15819
Thanks for investigating, @bclozel

This sounds like a bit of a flaw to me. In the servlet case we capture the headers in a filter and use ordering so that it's called at a defined point in the chain. Perhaps we should consider a similar approach in the reactive case. I would prefer to predictably miss header changes made by certain filters that run later than unpredictably get the wrong headers d

[2019-02-06 09:34] snicoll commented on #15852
I don't see a compelling reason to add it either.

[2019-02-06 09:44] BalasDev commented on #15819
Thank you @bclozel,
we left HTTP tracing because it enabled by default, but now it is disabled and everything runs smoothly.
Also we switched to Netty and error did not occur.

[2019-02-06 12:10] jhoeller commented on #15342
As mentioned on [spring-projects/spring-framework/issues/22326](https://github.com/spring-projects/spring-framework/issues/22326), our `Database` enum mechanism seems rather inappropriate for modern-day purposes, at least with Hibernate.

Hibernate is pretty good at detecting not only the database but also the specific version itself on startup, so I wonder whether selecting a specific dialect upf

[2019-02-06 12:21] vladmihalcea commented on #15342
@jhoeller Setting the Dialect is not required for Hibernate since it can autodetect it. The `org.hibernate.engine.jdbc.dialect.internal.DialectFactoryImpl#determineDialect` takes care of that.

[2019-02-06 12:30] bclozel commented on #15819
@wilkinsona I think we could capture the status and response headers right before the response is committed with: `exchange.getResponse().beforeCommit(() -> { // capture here });`. It might require some changes, I'll take a look into it.

[2019-02-06 13:22] wilkinsona opened #15855 "Drop AutoConfigurationImportSelector.getSpringFactoriesLoaderFactoryClass"
It was added as a protected method in https://github.com/spring-projects/spring-boot/commit/9a537070142558e312c4fe6b1f35e4d777203b79 but it isn't overridden and is only called from the same class. The situation hasn't changed since so I think we could drop it and reduce the surface area of the API a bit.

Flagging for team attention in case I've missed something and to discuss if we should depreca

[2019-02-06 13:23] jhoeller commented on #15342
@vladmihalcea same feeling here. It's just a mismatch with our `JpaVendorAdapter` abstraction which suggests that a database vendor can/should be selected upfront, and a mismatch with the way EclipseLink needs to be set up. For a direct match, we'd need a Hibernate `DialectResolver` implementation that is being configured with a specific value from Hibernate's own `Database` enum and calls `databa

[2019-02-06 14:16] vladmihalcea commented on #15342
@jhoeller I also added the `org.hibernate.dialect.Database` Enum some time ago. You could probably map that to the Spring `org.springframework.orm.jpa.vendor.Database`, right?

[2019-02-06 14:36] jhoeller commented on #15342
That enum matches quite nicely indeed but there's no `DialectResolver` implementation that picks up a pre-configured `Database` enum name. There's just `StandardDialectResolver` which iterates over all enum values, evaluating the database vendor and the version at the same time. It'd be nice if there was a resolver implementation that picks up a pre-configured database name from a configuration pr

[2019-02-06 14:40] vladmihalcea commented on #15342
Actually, we could add a Jira issue for this. Would you like to create one while providing the reason for it and assign it to me?

[2019-02-06 14:58] jhoeller commented on #15342
Here we go: https://hibernate.atlassian.net/browse/HHH-13253

[2019-02-06 15:05] vladmihalcea commented on #15342
Thanks. I'll take care of it.

[2019-02-06 15:48] wilkinsona commented on #8779
We’re cleaning out the issue tracker and closing issues that we’ve not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2019-02-06 15:48] #8779 closed

[2019-02-06 15:51] bclozel commented on #8914
Now that Spring WebFlux is well integrated with Spring Boot, we don't feel the need to create a specific test starter for this use case and start.spring.io is the best place for now to add the reactor-test dependency.

[2019-02-06 15:51] #8914 closed

[2019-02-06 16:06] #9077 closed

[2019-02-06 16:08] csyperski opened #15857 "OSIV set to false and No Session Errors"
Hello,

I'm using Spring boot 2.1 with Oracle JDK 1.8.0_201 on Ubuntu 18.04.1 and I am having an issue when disabling OSIV (Open Session In View) via spring.jpa.open-in-view=false.  When my wrapped object is coming back from my service (and JPARepository) reading any basic properties (not collections) of the object returns a No Session error from the proxy object. (org.hibernate.LazyInitialization

[2019-02-06 16:10] wilkinsona commented on #9102
We think that https://github.com/spring-projects/spring-boot/issues/13415 is a prerequisite for this. If it is fixed as expected, the messages will be produced lazily which will alleviate the performance concerns.

[2019-02-06 16:42] wilkinsona commented on #15857
Thanks for the sample. This isn't a bug in Spring Boot, but, AFAIK, Hibernate's standard behaviour.

Hibernate chooses to initialise your `Item` entity on first access. When you do not access it within your service layer, the transaction is committed and the session is closed. At this point, the entity cannot be accessed unless you configure Hibernate to allow lazy loading outside of a transaction

[2019-02-06 16:42] #15857 closed

[2019-02-06 17:02] PierreMardon commented on #15794
I'm sorry to be that guy, but I prefer to tell you directly that I won't be able to take time to enhance the sample.

[2019-02-06 17:04] Izakey commented on #3300
@flozano @snicoll @cerebrotecnologico @daikaixian @wilkinsona Has anyone been able to use this to run multiple Spring Boot apps in single JVM ?

[2019-02-07 02:48] dasun commented on #15264
@wilkinsona ,

Spring Boot 2.1.2 defines Elasticsearch version as 6.4.3 in https://github.com/spring-projects/spring-boot/blob/v2.1.2.RELEASE/spring-boot-project/spring-boot-dependencies/pom.xml.

However, Spring Data Elasticsearch defines version as 6.2.2 in https://github.com/spring-projects/spring-data-elasticsearch/blob/3.1.4.RELEASE/pom.xml

So if we do not force the version, Gradle will use

[2019-02-07 05:34] igdianov opened #15860 "Mertics: java.lang.NoSuchFieldError: BEST_MATCHING_HANDLER_ATTRIBUTE after upgrading to SB 2.1.2.RELEASE"
We are facing a problem with WebMvcMetricsFilter after upgrading to SB 2.1.2 from 2.0.0. The error is following:

[code]

There are two workarounds available that fix the error when running the application:

a. Downgrade to SB 2.0.0.RELEASE
b. Disable MetricsAutoConfiguration with @SpringBootApplication(exclude = MetricsAutoConfiguration.class)

Any ideas what is causing the problem?

[2019-02-07 07:39] snicoll commented on #15860
`BEST_MATCHING_HANDLER_ATTRIBUTE` has been introduced in Spring Framework `5.1.3.RELEASE` so you must be overriding the Spring Framework version somehow. Please don't do that, especially for the core framework, as every upgrade forces you to review all your overrides and make sure they are still accurate.

If that doesn't help, you can share a sample that exhibits the problem and we can reopen thi

[2019-02-07 07:39] #15860 closed

[2019-02-07 07:44] thorntonrp commented on #11028
[kotlin-scripting-bug.zip](https://github.com/spring-projects/spring-boot/files/2839751/kotlin-scripting-bug.zip)

FYI, the Kotlin project has not yet prioritized this issue from their end. In the supplied attachment is a solution that is mostly workable with the limitation that (for some reason) kotlin is unable to resolve top-level functions from the project's own classes. The attached code also

[2019-02-07 07:47] thorntonrp commented on #11028
Based on comments on the Kotlin ticket, I got the impression that the Kotlin maintainers feel this feature is specific to Spring Boot's custom packaging, and they seem to feel the solution should belong inside Spring Boot's own kotlin support.

[2019-02-07 08:23] wilkinsona commented on #15264
No, a downgrade should not be necessary. We have integration tests for our Elasticsearch support and are not aware of any problems. If you are, please open a new issue with some details and we can investigate.

[2019-02-07 08:23] spring-issuemaster commented on #15772
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-07 08:23] #15772 closed

[2019-02-07 08:28] wilkinsona commented on #11028
Unfortunately, they didn't really explain why. Spring Boot's custom class loader is a `URLClassLoader`. If Kotlin does indeed use that class loader's URLs for it own class loading, it should work as long as they do not make any assumptions about the URLs pointing to jars that are available directly on the file system.

It's also worth nothing that there's nothing really Spring Boot-specific about

[2019-02-07 08:43] spring-issuemaster commented on #15817
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-07 08:53] dasun commented on #15264
Thanks a lot for your advice. I will also do some tests.

[2019-02-07 08:58] spring-issuemaster commented on #15773
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-07 08:58] #15773 closed

[2019-02-07 09:16] sdeleuze commented on #11028
I tend to agree with @wilkinsona, I have added [a comment](https://youtrack.jetbrains.com/issue/KT-21443#focus=streamItem-27-3283297-0-0) asking more details to Ilya Chernikov.

[2019-02-07 10:42] vpavic opened #15861 "Spring Data JPA starter appears to be missing `javax.interceptor-api`"
If `spring-context-indexer` is used in an application that uses `@javax.transaction.Transactional` (which is provided by `spring-boot-starter-data-jpa`), compilation will fail due to `javax.interceptor.InterceptorBinding` not being available.

This can be easily reproduced with a project as simple as:

[code]

[code]

[code]

Adding the following dependency addresses the problem:

[code]

Since `s

[2019-02-07 11:09] snicoll commented on #15861
Isn't that more of a problem of the indexer that is browsing on an annotation that might not be available? Does the application work fine without that library? If so, I don't see why the starter should provide it.

[2019-02-07 11:12] wilkinsona commented on #15861
Thanks for the suggestion. I am not sure that I agree that `javax.interceptor-api` should be provided. As far as I know, the `@InterceptorBinding` annotation has no effect outside a CDI environment. At runtime, the annotation is dropped when the class is loaded as required by the JLS.

We've seen a [similar problem](https://github.com/spring-projects/spring-boot/issues/2677) in the past with javad

[2019-02-07 12:06] wilkinsona commented on #15719
Closing in favour of #15842.

[2019-02-07 12:06] #15719 closed

[2019-02-07 12:22] wilkinsona opened #15862 "Upgrade to Spring Framework 5.1.5"

[2019-02-07 12:23] wilkinsona opened #15863 "Upgrade to Spring Security 5.1.4"

[2019-02-07 12:24] wilkinsona opened #15864 "Upgrade to Spring Data Lovelace-SR5"

[2019-02-07 12:24] wilkinsona opened #15865 "Upgrade to Spring AMQP 2.1.4"

[2019-02-07 12:25] wilkinsona opened #15866 "Upgrade to Spring Integration 5.1.3"

[2019-02-07 12:26] wilkinsona opened #15867 "Upgrade to Spring Kafka 2.2.4"

[2019-02-07 12:26] wilkinsona opened #15868 "Upgrade to Spring Session Bean-SR3"

[2019-02-07 12:27] wilkinsona opened #15869 "Upgrade to Micrometer 1.1.3"

[2019-02-07 12:50] vpavic commented on #15861
Thanks for the feedback, both - taking your comments into consideration, I agree that this is something that indexer should be able to tolerate (regardless of the situation with JDK). I'll open an issue against Spring Framework and post the link here.

[2019-02-07 13:17] ghostslayer989 commented on #15869
If you want to make PRs for these. You can do a fork on the latest commit and redirect the Dependabot PRs to this project

[2019-02-07 13:38] justpolidor commented on #15698
Same issue here after updating from 2.0.6.RELEASE to 2.1.2.RELEASE.

[code]
This is the abstract main class frow which I extend a hierarchy of classes, including the one where I find the problem.

Here there is the concrete class

[code]

When I try to retrieve the document from Mongo, it says
`No accessor to set property @com.fasterxml.jackson.annotation.JsonProperty(index=-1, access=READ_ONLY, v

[2019-02-07 13:59] wilkinsona commented on #15698
@justpolidor Please read through [DATACMNS-1374](https://jira.spring.io/browse/DATACMNS-1374) if you have not already done so (it is linked above). Spring Data Lovelace (the version used in Spring Boot 2.1.x) now respects immutable fields and does not set them using reflective hacks. There are recommendations in the Data Commons issue for coping with this change.

[2019-02-07 14:00] #15861 closed

[2019-02-07 14:20] Sergey80 commented on #9581
what is work-around?

[2019-02-07 14:39] sdeleuze commented on #9581
See https://github.com/spring-projects/spring-framework/issues/20256#issuecomment-461445951.

[2019-02-07 14:48] spring-issuemaster commented on #15765
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-07 14:48] #15765 closed

[2019-02-07 15:07] wilkinsona opened #15870 "Provide a configuration option to enable lazy initialisation"
The bean factory that is used by default in a Spring Boot application performs eager initialisation of all singleton beans. There has been some interest in performing initialisation lazily so we want to provide a configuration option that will allow users to opt in to this behaviour. When enabled, beans will be initialised on first use. In a web application, this will mean that a large number of b

[2019-02-07 17:05] sylvain-rouquette commented on #15860
I also have this problem while upgrading from 2.0.6 to 2.0.8.
spring-core is 5.0.12, spring-web 5.0.10, spring-security 5.0.9. But everything is pulled from spring-boot-starters without version, since versions are in the parent.

[2019-02-07 17:14] snicoll commented on #15860
@sylvain-rouquette the field was added in `5.0.11.RELEASE`. I've already mentioned we can have a look to a sample if you provide one.

[2019-02-07 17:21] wilkinsona commented on #15860
If you have `spring-core` 5.0.12 and `spring-web` 5.0.10 then the parent isn't controlling the versions. It will give you a consistent version of all Spring Framework modules. With Boot 2.0.8 that'll be Framework 5.0.12.

[2019-02-07 17:26] wilkinsona commented on #9068
While we're still not keen on using `@Component` rather than `@Configuration` as the means, the end result continues to be worth pursuing. The following tables are for the startup time of the WebFlux sample:

Fat jar:

|       | Baseline |  New  |
| ----- | -------: | ----: |
|       |    2.437 | 2.188 |
|       |    2.433 | 2.027 |
|       |    2.339 | 2.169 |
|       |    2.276 | 1.983 |
|

[2019-02-07 17:38] bhargodevarya commented on #15751
I would like to work on this.

[2019-02-07 19:58] jzheaux opened #15872 "Add configuration support for Opaque Token authentication"
In [Spring Security 5.2.0.M2](https://github.com/spring-projects/spring-security/milestone/132), users can configure the OAuth 2.0 Resource Server to validate opaque tokens through [Introspection](https://tools.ietf.org/html/rfc7662):

[code]

It would be nice if this could be property-driven, e.g.:

[code]

Then, Spring Boot could register an instance of `OAuth2TokenIntrospectionClient`:

[code]

[2019-02-07 20:22] wilkinsona commented on #9068
Sub-classes of `WebMvcConfigurationSupport` must be proxied as the `mvcConversionService()` and `mvcResourceUrlProvider()` `@Bean` methods are called from the `requestMappingHandlerMapping()` `@Bean` method.

[2019-02-07 22:27] vpavic commented on #15861
I've opened spring-projects/spring-framework#22385.

[2019-02-07 23:40] mbhave commented on #15872
@jzheaux Would it possible to validate JWTs using the introspection endpoint or is it just for opaque tokens?

[2019-02-08 00:42] #15790 closed

[2019-02-08 08:09] snicoll commented on #15861
And a PR even, thanks @vpavic!

[2019-02-08 08:40] sylvain-rouquette commented on #15860
I created a small repo with some curated files: https://github.com/InceptoMedical/spring-boot-public

there is the dependency tree, and the stacktrace where I see the bug (unit test). Let me know if this will be enough.

[2019-02-08 08:45] snicoll commented on #15860
Thanks but that project does not build for me.

[code]

[2019-02-08 09:00] huleana opened #15874 "Setting the log level from application.properties in docker environment variables does not work properly."
In application.properties:
logging.level.root=INFO

In docker environment variable:

 - docker run -e LOGGING_LEVEL_ROOT=INFO <image>

Workaround: Change the environment variable to be the same as in application.properties:

 - docker run -e logging.level.root=INFO <image>

Possible root cause:
logging.level is hardcoded in base library:

[code]

I believe this should follow the pattern defined fo

[2019-02-08 09:25] wilkinsona commented on #15860
Also, `spring-cloud-sleuth` isn't intended to be used as a bom. I suspect whatever version of it you are using is downgrading some of Framework's modules. Sleuth's modules are already managed by `spring-cloud-dependencies` so you can just remove it. If I do that and remove the `<modules>`, your project has a consistent set of versions for the Spring Framework dependencies:

[code]

[2019-02-08 09:31] wilkinsona commented on #15874
That's not necessary. As properties are consumed from the various sources (environment variables, system properties, YAML files, etc) they are transformed into the [canonical form](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-Configuration-Binding#relaxed-binding). There is no need for the form of a property in an environment variable to match the form in an application.properti

[2019-02-08 09:35] sylvain-rouquette commented on #15860
Thanks for your feedbacks, I'll update my project with your inputs.

[2019-02-08 10:54] anthofo opened #15875 "Change Logback's maxHistory property default to 7 days"
Using Spring Boot 2.1.0 and logback.

It appears that the `file-appender.xml` configuration changed in Spring Boot 2 compared to Spring Boot 1.5 : https://github.com/spring-projects/spring-boot/commit/991468b0ef1d68b0fb6fc32d7a52e2a7b22f4281#diff-cc7bd2aeeab66c424f816d9e42ea9e53

The 1.5 file:

[code]

The 2.1 file:
[code]

The ` FixedWindowRollingPolicy` has been changed for a `SizeAndTimeBasedRo

[2019-02-08 11:30] #15769 closed

[2019-02-08 13:25] bclozel commented on #15769
This is now fixed, and you'll now get the exception logged at ERROR level.

In Spring WebFlux, we've got access to the `logPrefix` for each server exchange and this information is being logged:

[code]

@sdeleuze Do you think it could be interesting to add that information to the `ErrorAttributes` by default and use it as well on the whitelabel error page like:

[code]

This would help developers

[2019-02-08 13:45] sdeleuze commented on #15769
Thanks @bclozel! Yes, I think it could be super useful for developers indeed. Is it posible to add it?

[2019-02-08 16:10] wilkinsona commented on #15855
It's there to support the usecase described in [this comment](
https://github.com/spring-projects/spring-boot/pull/2772#issuecomment-128162453).

[2019-02-08 16:11] #15855 closed

[2019-02-08 16:19] jgrandja commented on #15872
@mbhave

Yes, the spec does mention this so some providers may support accepting JWT's on Introspect Endpoint

[2019-02-08 16:29] philwebb commented on #9607
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2019-02-08 16:29] #9607 closed

[2019-02-08 16:34] wilkinsona commented on #9624
We've just revisited this one and changing the ordering won't work. If `MockitoPostProcessor` goes before `ConfigurationClassPostProcessor` it will no longer be able to replace a bean defined in a configuration class with a mock. Unfortunately, this means that we don't think it's feasible to fix this one. We recommend that you use a manually defined `@Bean` method to define the mock instead.

[2019-02-08 16:34] #9624 closed

[2019-02-08 16:44] philwebb commented on #9668
It turns out that the path does matter because it gets passed to the `reload` method. Given that we can't easily tell how a local resource is actually mapped to the server I think this feature is going to be too hard to implement in a consistent manor.

[2019-02-08 16:44] #9668 closed

[2019-02-08 16:46] bclozel commented on #9782
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2019-02-08 16:46] #9782 closed

[2019-02-08 17:07] mbhave opened #15877 "Jersey-based actuator endpoints not available without ResourceConfig bean"
[This issue](https://github.com/spring-projects/spring-boot/issues/11939) intended to make jersey-based actuator endpoints available even when the user has not yet configured a `ResourceConfig` bean. We still need to call the [`ResourceConfigCustomizer`](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-actuator-autoconfigure/src/main/java/org/springframewo

[2019-02-08 17:28] spring-issuemaster commented on #15831
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-08 17:36] #15819 closed

[2019-02-08 17:41] wilkinsona commented on #15794
The problem is caused by a mis-configuration of the `OpenEntityManagerInViewFilter`. Its dispatcher types have not been customised so it is only called on request dispatch and is not called on async dispatch. As a result, the session that it opens is never closed which causes the database connection to leak.

[2019-02-08 17:41] #15794 closed

[2019-02-08 18:04] jzheaux commented on #15872
@mbhave

In this case, a JWT _is_ an opaque token. The resource server, when using opaque tokens, is not concerned with its underlying format. It obtains the contents of the token only through the introspection response.

[2019-02-08 18:04] bclozel opened #15878 "Upgrade to Reactor Bom Californium-SR5"

[2019-02-08 18:05] wilkinsona opened #15879 "Auto-configured OpenEntityManagerInViewInterceptor does not back off when an OpenEntityManagerInViewFilter is only defined as a registration bean"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2019-02-08 18:27] mbhave commented on #15872
@jgrandja I know the spec mentions this, my question was more about does Spring Security support it.

@jzheaux I wonder if that terminology might be confusing to users. We have a `oauth2ResourceServer().jwt()` and `.oauth2ResourceServer().opaqueToken()` where the opaque token could be a JWT.

[2019-02-08 18:30] #15344 closed

[2019-02-08 18:40] kedar-joshi commented on #15228
I would like to take this up. Any suggestion ?

[2019-02-08 18:54] bclozel opened #15880 "Add logPrefix information to ErrorAttributes and whitelabel error page in WebFlux"
As discussed in #15769, it could be useful to add the `logPrefix` tied to the `ServerWebExchange` in Spring WebFlux, to the `ErrorAttributes` map and to the whitelabel error page itself.

This could help developers track down the error in the logs.

[2019-02-08 19:03] acemoo commented on #15879
I would love to see if I can get this done this weekend.

[2019-02-08 20:03] jzheaux commented on #15872
@mbhave That might not have been the clearest way for me to put it, let me try again here.

An opaque token is simply a token whose format the resource server doesn't care about. Sure, it could be a JWT, but it could also be internal and proprietary.

To state `oauth2ResourceServer().jwt()` means that the user expects the tokens to be JWTs and thus intends to verify and inspect them himself (that

[2019-02-08 20:27] mbhave commented on #15872
Thanks @jzheaux. I do understand `opaqueToken` is expected to be used when the user wants to use the introspection endpoint rather than validating the token themselves and it could be `JWT` or proprietary.

Taking [the example](https://auth0.com/docs/tokens) that you've linked to, there is a distinction between the two kinds of tokens. For `JWT`s, it states that

My feeling is that for users who c

[2019-02-08 21:08] purpleP opened #15882 "Spring boot overrides custom security configuration with default one"
We have a code that looks like this in our project. After updating to `2.1.0` our builds became broken 50 % of a time.

[code]
I've enabled spring debug logs and compared working jar with broken jar and found the difference.

In the working jar logs says that GlobalMethodSecurityConfiguration Bean is overwritten by MythodSecurityConfig and in broken jar it's the opposite.
It seems like which would

[2019-02-08 21:38] wilkinsona commented on #15879
Great! Thank you. Please let us know if you have any questions.

[2019-02-08 22:24] jzheaux commented on #15872
This distinction is why I would suppose that the 95% case is that the user would pick `jwt()` if it is a JWT, and `opaqueToken()` if it is opaque. It would be a little odd to want to use introspection to verify JWTs since they are self-contained. This seems the simplest way to guide the user down the right configuration path.

I suppose if a user wanted to explicitly state that they are using JWTs

[2019-02-09 00:04] xafarr commented on #15879
Thanks @wilkinsona. I am looking into this now.

[2019-02-09 00:06] mbhave commented on #15879
@xafarr Thanks for offering to work on this but @acemoo is already doing so. Please keep an eye out for other `first-timers-only` issues in the future and we'll be happy to guide you through the process once you've claimed an issue.

[2019-02-09 00:07] xafarr commented on #15879
@mbhave Thanks. I missed that. Will keep an eye on `first-timers-only`.

[2019-02-09 02:38] #15625 closed

[2019-02-09 02:38] #15877 closed

[2019-02-09 08:39] snicoll opened #15884 "Fix broken Appendix links due to section overhaul"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2019-02-09 08:51] govi20 commented on #15884
would love to work on it.

[2019-02-09 13:45] rajagopalmani commented on #15879
I will pick it, please :)

[2019-02-09 14:42] snicoll commented on #15884
Great! Thank you. Please let us know if you have any questions.

[2019-02-09 14:42] rajagopalmani commented on #15879
I have done below changes:
_JpaBaseConfiguration.class_
[code]
_AbstractJpaAutoConfigurationTests.class_
[code]
Please verify if all look good and help me on what to do next.

[2019-02-09 14:44] snicoll commented on #15879
@rajagopalmani as you've figured out yourself, this issue is already taken and [a comment above](https://github.com/spring-projects/spring-boot/issues/15879#issuecomment-461988614) provide already everything you need to know.

[2019-02-09 14:48] rajagopalmani commented on #15879
True, I have been trying to contribute and never knew how or where to start. So thought of dropping a message to see if something else is open. Sorry if I have disturbed the thread.

[2019-02-10 02:15] thorntonrp commented on #11028
@wilkinsona can we reopen this issue. After more investigation, I've discovered that the issue is due to the Spring Boot Maven Plugin not repackaging the `META-INF/<module-name>.kotlin-module` file correctly. That file should get repackaged under `BOOT-INF/classes/META-INF/<module-name>.kotlin-module*`, otherwise package-level functions will not resolve properly.

[2019-02-10 02:18] thorntonrp commented on #11028
It would also be super helpful if the Spring Boot Maven Plugin would be able to
1. unpack the classes directory as well as specified jars
2. would support wildcard patterns for groupId and artifactId like the gradle plugin does

[2019-02-10 03:13] bishoybasily commented on #15870
hi @wilkinsona ,
i'm just asking if something like this can do the job ?

[code]
[code]
[code]
i know it's already assigned, i'm just validating my understanding!
thank you.

[2019-02-10 12:28] acemoo commented on #15879
The ticket mentions leaving out the `@ConditionalOnMissingBean(OpenEntityManagerInViewFilter.class)` but this seems necessary for the tests to succeed.
Also, I think there is a test missing for the `@ConditionalOnMissingBean(OpenEntityManagerInViewInterceptor.class)`
The auto-configuration should also backoff when there is already an interceptor class right?

[2019-02-10 12:42] anddero opened #15887 "The mysterious %xwEx conversion specifier"
**This is a very short and simple issue, so if you do not like it, you may close it immediately.**

The questions is: What is the mysterious `%xwEx` conversion specifier which can be found in the Spring Boot 2.1.2 default log4j2 configuration file? It does not appear in the official docs. [Already Asked it on Stackoverflow!](https://stackoverflow.com/q/54612197/2237467)

Thank you!

[2019-02-10 13:00] dreis2211 commented on #15887
If I'm not mistaken this is a Spring-Boot specific converter plugin for log4j2. See [ExtendedWhitespaceThrowablePatternConverter](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/logging/log4j2/ExtendedWhitespaceThrowablePatternConverter.java):
[code]

As I'm not a team member don't take this for granted though.

Chee

[2019-02-10 13:42] wilkinsona commented on #15887
Please don't cross-post. By posting here as well, you risk wasting the time of someone who decides to help you on Stack Overflow. Furthermore, as noted in the issue template and the guidelines for contributing, Stack Overflow is the right place for a question such as this.

[2019-02-10 13:42] #15887 closed

[2019-02-10 13:45] wilkinsona commented on #15879
Thanks for this, @acemoo.

It should be possible to omit it, but due to, I think, a bug in the condition's implementation, you're right that it's needed at the moment.

Well spotted. We should add a test for that case.

It should. I think the implementation will do that at the moment, but, as you've noticed, it's not tested.

[2019-02-10 16:52] govi20 commented on #15884
I am able to generate the documentation using the maven command.

do we have any old doc patterns which I should look for or I should search every link manually?

[2019-02-10 17:11] snicoll commented on #15884
I mentioned in the description the pattern to use.

Let me know if something isn't clear.

[2019-02-10 18:27] wilkinsona commented on #15870
Yeah, that's a large part of it. We're currently planning on enabling lazy init of all beans, not just those in a particular package space. There's also a bit of work to do to make things lazy in a WebFlux app. If you'd like to see what the code currently looks like, it is available in [this branch](https://github.com/wilkinsona/spring-boot/tree/gh-15870).

[2019-02-10 19:53] rhamedy commented on #15829
Even though not labeled as **first-timer**, I would still want to offer my help to work on this issue whenever the time is right (I assume when #7748 is merged) 👍

I have previously used `HibernateValidator` on multiple occasions and created annotations for custom validation and this would be a good opportunity to explore `Spring Boot` codebase. I might need a minimal amount of direction on where

[2019-02-11 07:24] warrenc5 commented on #15817
Thanks a lot for your reply.

I think this happens because the default lifecycle is bound to initialize so I can't get the build helper (or any other plugin) to run first.

If I move spring-boot:run to after the test-compile - it EXECUTES initialize->test-compile again.
Some plugins can't run twice (like build helper port reserve)

I have a test case here.

`mvn -X -Prun`

https://github.com/warre

[2019-02-11 08:37] snicoll commented on #15829
@rhamedy thank you for the offer and we're happy to guide you once we find an issue that fits (it doesn't necessarily have to be a first timer). Let's sync again when #3071 is resolved as the outcome may change things here.

[2019-02-11 09:21] nimmortal commented on #8040
Unfortunately this is real issue, because it takes some time to understand why scheduled tasks are performed in tests.

[2019-02-11 09:23] snicoll commented on #8040
@nimmortal this issue is quite old and Spring Boot 2.x does not have `@EnableScheduling` anymore. If you have more questions, please ask them on StackOverflow.

[2019-02-11 14:02] wilkinsona commented on #15882
Could you please try to provide a sample? With onto a snippet of code to go on, there is little chance that we'll be able to diagnose the problem. Failing that, perhaps you could provide the output that's logged in the two cases.

A few comments about the behaviour you've described

- Bean definition overriding is disabled by default in 2.1. Have you explicitly enabled it?
- You should avoid relyi

[2019-02-11 14:06] wilkinsona commented on #11028
We have a separate issue that was tracking that: https://github.com/spring-projects/spring-boot/issues/6742. Please feel free to comment on it explaining why you think its closure should be reconsidered

It's not clear to me what you're specifically referring to here. Please feel free to open a separate issue describing exactly what you'd like to see and why.

[2019-02-11 14:30] wilkinsona opened #15890 "Fat jar built with Maven does not repackage META-INF/<module-name>.kotlin-module files into BOOT-INF/classes"
When building a fat jar with Gradle, `META-INF/<module-name>.kotlin-module` files are written into `BOOT-INF/classes`. When building a fat jar with Maven they are left in the root of the jar. Gradle's behaviour is correct.

[2019-02-11 14:31] wilkinsona commented on #11028
Thanks for tracking that down. I've just double-checked and we get this right with Gradle. I've opened https://github.com/spring-projects/spring-boot/issues/15890 to correct the Maven plugin's behaviour.

[2019-02-11 14:57] zuckel opened #15891 "ServletEndpoints should not register under the Jersey context path if there is a management port"
In Spring Boot 2.1.2 (since 2.0.7) with a Jersey webapp, a @ServletEndpoint will be registered under the jersey context-path even on the management port.

## Current behavior
If the configuration looks like this,
[code]
[code]
[code]
the actuator will be registered under `http://localhost:8081/app/actuator/selftest`.

The actuator overview `http://localhost:8081/actuator` lists the actuator under

[2019-02-11 15:15] wilkinsona opened #15892 "Test the Gradle plugin against Gradle 5.2.1"

[2019-02-11 15:50] purpleP commented on #15882
Hm, indeed it is. I missed that (I'm new to codebase). And I was suprised that this thing even works.

Okay, can you look at this[ tutorial](https://www.baeldung.com/spring-security-create-new-custom-security-expression) (which seems to have been taken as example for anyone who wrote the code) and say how to configure spring to use `MethodSecurityConfig` instead of default one without relying on t

[2019-02-11 15:59] wilkinsona commented on #15882
Unfortunately, I don't have time to work through a tutorial for you. I can say, however, that the tutorial is using Spring Boot 2.1 and I can't see any sign of it relying on bean overriding. If you need some guidance on configuring Spring Security, please ask on Stack Overflow or in the Spring Security room on Gitter.

It's still not clear to me exactly what the problem is that you're facing. If y

[2019-02-11 16:02] #15892 closed

[2019-02-11 16:35] wilkinsona commented on #15879
Thanks very much for opening the PR, @acemoo. Closing this in favour of it.

[2019-02-11 16:35] #15879 closed

[2019-02-11 16:44] wilkinsona commented on #7731
Closing in favour of #15854.

[2019-02-11 16:44] #7731 closed

[2019-02-11 17:43] wilkinsona opened #15893 "Upgrade to Testcontainers 1.10.6"

[2019-02-11 17:53] wilkinsona commented on #15751
Thanks for the offer, @bhargodevarya, but as shown by the issue being assigned, we are already working on this one.

[2019-02-11 20:00] #15893 closed

[2019-02-11 20:50] Venmathi2510 opened #15894 "How does Spring RestTemplate handles Request with # symbol in request param value."
I'm not getting the response for the below mentioned request url, though the url and the param values are correct.  FYI, there is a hash symbol in the request param value and I'm encoding it from client end so that the request is not truncated. The response is status 500 and error code 400 Bad Request. Not sure what is the  problem.

**Request URL Passed:**
https://localhost:8080/v3/getdata?proble

[2019-02-11 23:31] filiphr opened #15895 "Exclude guava from the activemq-broker in the spring-boot-starter-activemq"
I've just noticed that the activemq-broker has a compile time dependency on guava. Doing quick [search](https://github.com/apache/activemq/search?q=guava&unscoped_q=guava) on GitHub shows that guava is not really used within ActiveMQ. Looking at the [pom.xml](https://github.com/apache/activemq/blob/1cf13c4742dcf65aa5c0b68e4bfcdb3da21dd935/activemq-broker/pom.xml#L86-L90) from the activemq-broker i

[2019-02-11 23:35] monxarat opened #15896 "javassist NullPointerException(at javassist.util.proxy.SecurityActions.setAccessible(SecurityActions.java:103))"
Hi everyone.
How to fix this bug.
When a ran code with `Java 11.0.2` and using deploy with `tomcat 9.0.14`,
<img width="298" alt="screen shot 2019-02-12 at 8 29 29" src="https://user-images.githubusercontent.com/4075787/52600885-712e1000-2ea0-11e9-9d28-08f8aad11b93.png">
below error has occurred.
But when I ran with spring-boot application have not any errors.
<img width="286" alt="screen shot 201

[2019-02-11 23:45] mbhave commented on #15894
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-02-11 23:45] #15894 closed

[2019-02-12 05:12] shqie opened #15897 "Expose Tomcat AccessLogValve.maxDays as an Application Property"
It would be useful to expose the AccessLog `maxDays` as an application property:
https://tomcat.apache.org/tomcat-8.5-doc/api/org/apache/catalina/valves/AccessLogValve.html#setMaxDays(int)
[github link](https://github.com/apache/tomcat/blob/trunk/java/org/apache/catalina/valves/AccessLogValve.java#L163)

and set it to the `TomcatWebServerFactoryCustomizer` and/or others:
https://github.com/spring-

[2019-02-12 05:16] shqie commented on #15897
The workarounds at this time:
Create a Customizer class that implements `WebServerFactoryCustomizer` . Get the access log engine valve and set the max days.

1.
[code]
2.  Same as above, but here create the `AccessLogValve`, set everything, and add it as an engine valve to the factory.
disable access log rotation in properties :
`server.tomcat.accesslog.enabled=false
`

[code]

[2019-02-12 06:32] darkMechanicum opened #15898 "TestRestTemplateContextCustomizer and WebTestClientContextCustomizer can cause early FactoryBean instantiation"
Hi!

### Description
A assume there is a bug in spring-boot-test, related to `TestRestTemplate` `BeanDefinition` initialization.
To be precise, class `TestRestTemplateContextCustomizer#TestRestTemplateRegistrar` in it's method `postProcessBeanDefinitionRegistry` calls `BeanFactoryUtils#beanNamesForTypeIncludingAncestors`.
As `beanNamesForTypeIncludingAncestors` says, that's method invocation can c

[2019-02-12 07:43] purpleP commented on #15882
@wilkinsona
I've made a [repo](https://github.com/purpleP/spring-security-custom-expression.git) with logs. I'll try add a sample today.

Neither do I. Which creates couple of questions.

Why do I see this in logs.

[code]

If there's nothing annotated as `@Bean` why does spring overrides this classes and calls them beans?

Yeah, I've read this in docs, which makes me wonder what would happen if o

[2019-02-12 08:13] wilkinsona commented on #15882
I can't tell for certain from the logs, but I would guess that you have `@EnableGlobalMethodSecurity` twice in your application. Once on your `MethodSecurityConfig`which is a `GlobalMethodSecurityConfiguration` and once on another class that does not extend `GlobalMethodSecurityConfiguration`.

Bean definition overriding is disabled by default as of Spring Boot 2.1. It must have been explicitly en

[2019-02-12 08:13] #15882 closed

[2019-02-12 08:16] wilkinsona commented on #15896
This is a problem with Hibernate/Javassist rather than Spring Boot. I can see from the output that you are actually using Spring Boot 2.0.2.RELEASE and Hibernate 5.2.17.Final. Spring Boot 2.0.x does not support Java 11 and, as far as I know, Hibernate 5.2.x does not either. To use Java 11 you should upgrade to Spring Boot 2.1.x (which will also upgrade to Hibernate 5.3.x).

[2019-02-12 08:16] #15896 closed

[2019-02-12 09:01] wilkinsona commented on #15895
Thanks for the suggestion. The cost of excluding a dependency is quite high. Every time we upgrade, we need to remember to check that the exclude is still needed and that it doesn't break anything. As such, it's better if this sort of problem is fixed at source. I'm going to close this one for now. We can re-open it in the unlikely event of the ActiveMQ indicating that Guava is not needed and also

[2019-02-12 09:01] #15895 closed

[2019-02-12 09:10] tarmo-randma commented on #13481
I get the same error every time I disable avtuator endpoint by default and enable info with a separately with an yml formatted file.

This produces error:
[code]

This works as expected:
[code]

If I look at the /env endpoint when info is producing the error, what I noticed was that the parameters from my application.yml were included twice and in one of the sections the parameters were interprete

[2019-02-12 09:14] wilkinsona commented on #13481
@tarmo-randma We never managed to reproduce this one. If you can turn those snippets into a complete and minimal sample (as a zip attached to this issue or in a separate git repository) we can re-open this and take another look.

[2019-02-12 09:21] edrevo opened #15899 "https://repo.spring.io/ is down"
The spring repo is timing out on any HTTP requests. Can't download any dependencies 😢

[2019-02-12 09:23] wilkinsona commented on #15899
Thanks for letting us know, but there's nothing that the Spring Boot project can do to fix that. Our ops team is already aware: https://twitter.com/springops/status/1095250181467979777.

[2019-02-12 09:23] #15899 closed

[2019-02-12 09:30] wilkinsona opened #15900 "Import Testcontainers' bom rather than managing modules individually"

[2019-02-12 09:43] filiphr commented on #15895
Fair enough. Thanks for the detailed explanation.

[2019-02-12 09:47] #15900 closed

[2019-02-12 09:55] wilkinsona opened #15901 "Use Testcontainers' CassandraContainer rather than our own"

[2019-02-12 10:08] francisoud commented on #15504
hello @wilkinsonais is there a compatibility reason that explain why you didn't upgrade to jackson v3.0 ?
https://github.com/FasterXML/jackson/wiki/Jackson-Release-3.0 (released in march 2018)
Your commit (december 2018)

I'm thinking of upgrading my project to latest version of java 11 and jackson latest since it would remove all dependencies on https://github.com/FasterXML/jackson-modules-java8

[2019-02-12 10:10] wilkinsona commented on #15898
Thanks for the minimal sample. We'll see what we can do, but I would recommend that you avoid injecting dependencies into a `FactoryBean` as it can cause some unexpected and hard to diagnose problems such as https://github.com/spring-projects/spring-framework/issues/13893.

[2019-02-12 10:11] wilkinsona commented on #15898
`WebTestClientRegistrar` from `WebTestClientContextCustomizer` contains similar logic and will, presumably, cause a similar problem.

[2019-02-12 10:15] wilkinsona commented on #15504
Jackson 3.0 has not yet been released.

[2019-02-12 10:26] purpleP commented on #15882
@wilkinsona
@Configuration
@EnableGlobalMethodSecurity(prePostEnabled = true)
@EnableWebSecurity
[code]

[2019-02-12 10:39] francisoud commented on #15504
Sorry my bad since I found the release note I thought it was released but it's still a work in progress...
Didn't know about the guidelines either, thanks for pointing out :)

[2019-02-12 10:58] wilkinsona commented on #15882
Sorry, I don't have time to do that. Spring Boot issues are specifically for Spring Boot and not for related projects. We also prefer to keep the issue tracker focused on bugs and enhancements.

As I said above,if you need some guidance on configuring Spring Security, please ask on Stack Overflow or in the Spring Security room on Gitter.

[2019-02-12 11:03] wilkinsona opened #15902 "Upgrade to Undertow 1.4.27.Final"

[2019-02-12 11:03] wilkinsona opened #15903 "Upgrade to Httpclient 4.5.7"

[2019-02-12 11:03] wilkinsona opened #15904 "Upgrade to Httpcore 4.4.11"

[2019-02-12 11:03] wilkinsona opened #15905 "Upgrade to Tomcat 8.5.38"

[2019-02-12 11:03] wilkinsona opened #15906 "Upgrade to Spring Retry 1.2.4.RELEASE"

[2019-02-12 11:03] wilkinsona opened #15907 "Upgrade to Spring Security Jwt 1.0.10.RELEASE"

[2019-02-12 11:10] purpleP commented on #15882
I've done that already. So far no answer. But you haven't answer my question. My problem is exactly that I don't know which bug (or a feature) is it. So do I need guidance on configuring Spring Security or this could be spring-boot bug in your opinion?

[2019-02-12 11:17] wilkinsona opened #15908 "Upgrade to Netty 4.1.33.Final"

[2019-02-12 11:17] wilkinsona opened #15909 "Upgrade to Reactor Bom Bismuth-SR16"

[2019-02-12 11:17] wilkinsona opened #15910 "Upgrade to Janino 3.0.12"

[2019-02-12 11:17] wilkinsona opened #15911 "Upgrade to Hibernate 5.2.18.Final"

[2019-02-12 11:17] wilkinsona opened #15912 "Upgrade to Neo4j Ogm 3.1.7"

[2019-02-12 11:17] wilkinsona opened #15913 "Upgrade to Thymeleaf Extras Java8time 3.0.3.RELEASE"

[2019-02-12 11:23] wilkinsona commented on #15882
I haven't seen anything that suggests this is a bug. I would not have closed this issue if I thought there was a bug in Spring Boot.

You [asked](https://stackoverflow.com/questions/54648378/whats-the-right-way-of-creaing-custom-security-expression-with-spring-boot-2-1) 29 minutes ago and haven't really followed [Stack Overflow's guidelines on how to ask questions](https://stackoverflow.com/help/h

[2019-02-12 11:30] wilkinsona opened #15914 "Upgrade to Couchbase Client 2.7.3"

[2019-02-12 11:30] wilkinsona opened #15915 "Upgrade to Saaj Impl 1.5.1 and deal with the move to Jakarta API dependencies"

[2019-02-12 11:30] wilkinsona opened #15916 "Upgrade to Rxjava2 2.2.6"

[2019-02-12 11:30] wilkinsona opened #15917 "Upgrade to Undertow 2.0.17.Final"

[2019-02-12 11:30] wilkinsona opened #15918 "Upgrade to Mysql 8.0.15"

[2019-02-12 11:30] wilkinsona opened #15919 "Upgrade to Byte Buddy 1.9.10"

[2019-02-12 11:30] wilkinsona opened #15920 "Upgrade to Artemis 2.6.4"

[2019-02-12 11:30] wilkinsona opened #15921 "Upgrade to Log4j2 2.11.2"

[2019-02-12 11:30] wilkinsona opened #15922 "Upgrade to Tomcat 9.0.16"

[2019-02-12 11:30] wilkinsona opened #15923 "Upgrade to Groovy 2.5.6"

[2019-02-12 11:30] wilkinsona opened #15924 "Upgrade to Infinispan 9.4.6.Final"

[2019-02-12 11:30] wilkinsona opened #15925 "Upgrade to Mimepull 1.9.11"

[2019-02-12 11:30] wilkinsona opened #15926 "Upgrade to Liquibase 3.6.3"

[2019-02-12 11:30] wilkinsona opened #15927 "Upgrade to Pooled Jms Version 1.0.4"

[2019-02-12 11:30] wilkinsona opened #15928 "Upgrade to Lombok 1.18.6"

[2019-02-12 11:47] wilkinsona commented on #15922
@markt-asf There's no `tomcat-catalina-jmx-remote` module on Maven Central for 9.0.16. Is that intentional?

[2019-02-12 11:51] markt-asf commented on #15922
Yes. The various extras JARs were merged into core as of 9.0.15.

[2019-02-12 11:52] wilkinsona commented on #15922
Great. Thanks.

[2019-02-12 11:59] #15902 closed

[2019-02-12 11:59] #15903 closed

[2019-02-12 11:59] #15904 closed

[2019-02-12 11:59] #15905 closed

[2019-02-12 11:59] #15906 closed

[2019-02-12 11:59] #15907 closed

[2019-02-12 11:59] #15908 closed

[2019-02-12 11:59] #15909 closed

[2019-02-12 11:59] #15910 closed

[2019-02-12 11:59] #15911 closed

[2019-02-12 11:59] #15912 closed

[2019-02-12 11:59] #15913 closed

[2019-02-12 11:59] #15916 closed

[2019-02-12 11:59] #15917 closed

[2019-02-12 11:59] #15918 closed

[2019-02-12 11:59] #15919 closed

[2019-02-12 11:59] #15920 closed

[2019-02-12 11:59] #15921 closed

[2019-02-12 11:59] #15922 closed

[2019-02-12 11:59] #15923 closed

[2019-02-12 11:59] #15924 closed

[2019-02-12 11:59] #15925 closed

[2019-02-12 11:59] #15926 closed

[2019-02-12 11:59] #15927 closed

[2019-02-12 11:59] #15928 closed

[2019-02-12 12:01] snicoll commented on #15228
Closing in favour of PR #15881

[2019-02-12 12:01] #15228 closed

[2019-02-12 12:33] mp911de commented on #15864
Dependency upgrades with Lovelace SR5:

* Neo4j OGM 3.1.6 -> 3.1.7 (already done)
* Lettuce 5.1.3.RELEASE -> 5.1.4.RELEASE

[2019-02-12 12:33] sdeleuze commented on #11028
[As mentioned](https://youtrack.jetbrains.com/issue/KT-21443#focus=streamItem-27-3288239-0-0) by Ilia on the JetBrains bug tracker, [KT-27956](https://youtrack.jetbrains.com/issue/KT-27956) would solve this issue by working with a classloader instead of classpath for script compilation, so please add your vote to it if you care.

[2019-02-12 13:25] NoICE opened #15929 "Pageable.size returns 0 for non-empty Page queried from JpaRepository with Pageable.unpaged()"
Versions:
Spring Boot version: 2.1.2.RELEASE
Kotlin version: 1.3.21
I am using Envers via data-spring-envers. (I don't think Envers makes any changes to how Paging works, but I mention it just to be complete.)

Hello, I don't know if this is the right place to fill this issue and I couldn't find anything similar in the existing ones.
The problem is:
Calling size (inherited from Slice) on Page<T> i

[2019-02-12 13:32] wilkinsona commented on #15914
Re-opening as the upgrade appears to be have resulted in duplicate classes in the Couchbase starter.

[2019-02-12 13:34] NoICE commented on #15929
I've just discovered the result.size == request.size.
E.g.
[code]
...

Is this an intended behavior?

[2019-02-12 13:52] wilkinsona commented on #15914
Numerous classes from the Java Client's transitive dependencies are now packaged in the client's own jar. It appears to be an accidental side-effect of
https://github.com/couchbase/couchbase-java-client/commit/4db75ded157c284d3430672ffe3fdb656a47bf39.

@daschl Could you please take a look? I was going to open a Jira ticket but I don't have an account and couldn't figure out how to create one.

[2019-02-12 13:57] daschl commented on #15914
@wilkinsona will do, please stay on 2.7.2 for now until we have figured it out!

[2019-02-12 14:00] wilkinsona commented on #15929
Paging support is part of Spring Data and isn't controlled by Spring Boot itself. The behaviour that you have observed [appears to be intentional](https://github.com/spring-projects/spring-data-commons/blob/cb37bdd99427c6c3b924d84568706cbeb3fe25e7/src/main/java/org/springframework/data/repository/support/PageableExecutionUtils.java#L59).

[2019-02-12 14:00] #15929 closed

[2019-02-12 14:14] NoICE commented on #15929
Thank you for quick response :-)

I couldn't raise an issue in spring-data-commons, so I figured I'd have to raise it here. The issue (if it was an issue) would belong to spring-framework issues then?

Thank you for the link, but that seems like something different. The third argument is content.size(), which is for totalElements.
The behavior I'm seeing comes from this:
PageImpl<T> extends Chunk<

[2019-02-12 14:15] #15376 closed

[2019-02-12 14:21] wilkinsona commented on #15929
Spring Data issues are tracked using JIRA. Issues for Spring Data Commons, where the paging logic resides, are [here](https://jira.spring.io/projects/DATACMNS). That said, an issue isn't really the right place to raise something that you don't understand. Stack Overflow or Gitter (there's a Spring Data room) are both better places.

[2019-02-12 14:26] NoICE commented on #15929
Yes, I understand that, but this definitely looked like a bug. If I had doubts about that, I would ask on SO. But if you say this is not a bug, even if it walks, talks and acts like a bug, but an intended behavior, then I'm fine with that.

[2019-02-12 15:24] wilkinsona commented on #15915
This has the same problem as
https://github.com/spring-projects/spring-boot/issues/15689. It'll have to wait until 2.2.x at the earliest.

[2019-02-12 15:34] premierDE commented on #13796
Hello,
I am facing the same issue with Spring boot 2.1.2 release

[2019-02-12 15:37] snicoll commented on #13796
@premierDE that comment is not very helpful. If you need help, please consider asking a question on StackOverflow or join the community on Gitter. If you believe you've found a bug in Spring Boot, attach a minimal sample we can run ourselves and we can reopen this issue.

[2019-02-12 15:38] daschl commented on #15914
Tracking here https://issues.couchbase.com/browse/JCBC-1292

[2019-02-12 15:42] snicoll opened #15930 "Consider switching from FileSize to DataSize for logback size-based properties"
Follow-up of #15325

Our `logging.file` namespace has two properties that use `FileSize` behind the scenes. That object is very similar to our new `DataSize` support so it would be nice to expose `DataSize` based properties for consistency.

Unfortunately, [the format is not 100% the same](https://github.com/qos-ch/logback/blob/4dd08e68321548cd85251ec389f5a832505e1268/logback-core/src/main/java/ch

[2019-02-12 15:43] snicoll commented on #15393
Closing in favour of PR #15580

[2019-02-12 15:43] #15393 closed

[2019-02-12 15:44] cproinger opened #15931 "EmbeddedLdapAutoConfiguration Address already in use"
The InMemoryDirectoryServer-Bean defined in

https://github.com/spring-projects/spring-boot/blob/81e6a5a4d9b0c4749eb653782d2d1530958035cd/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/ldap/embedded/EmbeddedLdapAutoConfiguration.java#L114

should define a destroy-method (maybe with a wrapper or something) because otherwise the issue can arise in

[2019-02-12 15:58] wilkinsona commented on #15931
The server is already shutdown when the context is closed:

https://github.com/spring-projects/spring-boot/blob/81e6a5a4d9b0c4749eb653782d2d1530958035cd/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/ldap/embedded/EmbeddedLdapAutoConfiguration.java#L199-L204

If you are using the test framework and contexts are being cached (the default behaviour

[2019-02-12 15:58] #15931 closed

[2019-02-12 16:27] #15767 closed

[2019-02-12 16:31] spring-issuemaster commented on #15849
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-12 16:34] #15348 closed

[2019-02-12 16:37] chaitanyayelamakuru commented on #15849
Thanks for reaching me out ..i would like to close this issue,
Root cause of this issue is due to another internal services causes this issue.

[2019-02-12 16:44] wilkinsona commented on #15849
Thanks for letting us know.

[2019-02-12 16:44] #15849 closed

[2019-02-12 17:41] asoltesz commented on #10317
I am having the same issue with my Docker environment, using Spring Boot 2.0.1, Docker 18.06 on Ubuntu 18.04 x64.

It would be nice if the FileWatcher capability wouldn't die in  RemoteSpringApplication even if there is a networking error. This may happen not only with Docker but for any reason, say a short-lived networking outage between the remote Spring Boot application and the client proxy app

[2019-02-12 19:44] mpellegrini opened #15932 "spring-boot-dependencies POM 2.1.2.RELEASE is specifying the wrong netty.version"
Having an issue with moving to latest Spring Boot 2.1.2.RELEASE POM file having conflicting versions.

The simplest example that identifies the conflict (no java code needed).  The below POM uses the Maven enforcer rule **requireUpperBoundDeps** that flags this conflict.

[code]

running `mvn clean validate` produces the following error
[code]

What I am seeing is that spring-boot-dependencies spe

[2019-02-12 19:54] wilkinsona commented on #15932
There was a regression is Netty 4.1.32 that makes it unsuitable for use in Spring Boot. While Reactor Netty compiles against 4.1.32, it works fine with 4.1.31. Lastly, we have already upgrade to 4.1.33 (which fixes the regression) in 2.1.3 that will be released later this week.

[2019-02-12 19:54] #15932 closed

[2019-02-12 20:03] govi20 commented on #15884
I have fixed broken links. But would need your help to clean up the history. Pull request is including old commits also, Here's link https://github.com/spring-projects/spring-boot/compare/master...govi20:master

[2019-02-12 20:07] snicoll commented on #15884
Feel free to submit the PR and we can figure it out from there. Thanks!

[2019-02-13 02:12] govi20 commented on #15884
#15933

[2019-02-13 02:48] darkMechanicum commented on #15898
Thanks for advice about `FactoryBean`. As for example - I filled it with such error prone modifications as `Object.class` just for it's size.

By the way, I found this behavior while using custom `JpaRepositoryFactoryBean`. If I understand correctly, dependencies should be injected in `FactoryBean` by constructor? Or there should be no autowiring at all and one should create it manually, in `@Bean

[2019-02-13 03:31] gxl191911 opened #15934 "spring boot admin can not update from consul"
spring boot admin use consul discovery,but admin can not update from consul with a new service.
It only can diacovery already registed service.
Could you give me some solutions?

[2019-02-13 05:21] sunbufu opened #15935 "About embedded tomcat's default temp directory."
Hi, I have a question about embedded tomcat's default temp directory.
When spring boot is running with embedded tomcat, spring boot will create a temp directory for tomcat, like `/tmp/tomcat.****.8080/` on Linux. But Linux will delete it, if we haven't used this directory in 10 days. and you will get an error when tomcat using this directory.
But I think spring boot should make sure this directory

[2019-02-13 05:47] #15878 closed

[2019-02-13 06:12] snicoll commented on #15934
Spring Boot Admin is a Codecentric project that is not handled here. I don't know about their policies but please review it before contributing. Ours states that [we prefer to use GitHub issues only for bugs and enhancements](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues).

[2019-02-13 06:12] #15934 closed

[2019-02-13 07:09] wilkinsona commented on #15935
Duplicate of #9616

[2019-02-13 07:09] #15935 closed

[2019-02-13 07:39] qwazer opened #15936 "Configuration processor does not handle parent abstract class"
Given
[code]

[code]

The generated metadata is

[code]

But should be

[code]

Possibly can be improved with #15850

[2019-02-13 07:46] mp911de commented on #15864
Last-minute change:
* Spring HATEOAS 0.25.0.RELEASE -> 0.25.1.RELEASE

[2019-02-13 07:47] snicoll commented on #15936
Duplicate of #3485

[2019-02-13 07:47] #15936 closed

[2019-02-13 07:48] snicoll commented on #15936
@qwazer for the record, if you don't get javadoc either that's probably because the parent is defined in another module. If you've defined that in another module the annotation processor does not have access to the source model (it's not the same compilation unit) and we have no way to read that source level information so even if #3485 is resolved, it won't work for that use case.

[2019-02-13 08:08] qwazer commented on #15936
@snicoll , Thanks for the comment. It's my case. I moved the common parent class to a separate module.

[2019-02-13 08:09] snicoll commented on #15936
@qwazer thanks for the quick confirmation. Please note that there is nothing we can do in that case, it's not strictly related to that code being in the parent as I've explained above.

[2019-02-13 08:21] #15862 closed

[2019-02-13 09:53] snicoll commented on #15884
Closing in favour of PR #15933

[2019-02-13 09:53] #15884 closed

[2019-02-13 10:40] daschl commented on #15914
Hi @wilkinsona - do you have a pointer for me on how to reproduce the issue? I've pulled in the starter and replaced it with 2.7.3 - and it worked, even though I clearly see that there are duplicated class files in java-client.

I think I have a fix staged, but would like to verify it first in a similar setup to be sure this is addressed. Thanks!

[2019-02-13 10:47] wilkinsona commented on #15898
The biggest benefit of minimising the dependencies of a factory bean are when that bean is a `@Component` and you are relying on the dependencies being autowired into the constructor. I'd recommend using a `@Bean` method instead.

Interestingly, when using a `@Bean` method, Framework will end its attempt to determine the type created by the factory bean more aggressively which helps to avoid the p

[2019-02-13 10:52] wilkinsona commented on #15914
We use the Duplicate Finder Maven plugin to fail a starter's build if its dependencies contain duplicate classes:

https://github.com/spring-projects/spring-boot/blob/c25b1652dd3fb81a44ac62ae4ca6df4aa56dfd6a/spring-boot-project/spring-boot-starters/pom.xml#L136-L157

You could either build our starter against your staged fix, or you could add the plugin to a module of your own and verify that it d

[2019-02-13 10:57] mp911de commented on #15008
For Boot 2.2, we should deprecate the transport client and rather use the HTTP-based client. Elasticsearch 3.2.0 will contain also a reactive ES client (using `WebClient`) and reactive repositories.

[2019-02-13 11:11] wilkinsona opened #15938 "Upgrade to Elasticsearch 6.5.4"
This needs to happen as part of the move to Spring Data Moore.

[2019-02-13 11:32] wilkinsona opened #15939 "Upgrade to Spring HATEOAS 1.0.0.M1"

[2019-02-13 11:37] wilkinsona opened #15940 "Upgrade to Spring Plugin 2.0.0.M1"

[2019-02-13 11:44] wilkinsona opened #15941 "Upgrade to Jedis 3.0.1"

[2019-02-13 12:05] daschl commented on #15914
@wilkinsona this sounds like a useful plugin to include anyways, thanks for sharing!

[2019-02-13 12:21] wilkinsona commented on #10317
We added some retry logic for connection failures in https://github.com/spring-projects/spring-boot/commit/b1dd92881d50f0210cb989ee511273e87f7e9341. That should cover the majority of cases where there's a network outage. When the server returns an incomplete or empty response, I'm not completely sure that carrying on or retrying would be the right thing to do as we don't know what state things are

[2019-02-13 12:45] #15938 closed

[2019-02-13 12:45] #15941 closed

[2019-02-13 14:58] nosan commented on #15808
@snicoll I have an idea how to fix this bug, don't you mind if I take this issue?

[2019-02-13 15:02] snicoll commented on #15808
Thanks for the offer. I haven't had the time to look at it yet so I am happy to review a PR.

[2019-02-13 15:13] snicoll opened #15942 "Handle BatchMessagingMessageConverter with Kafka batch listeners"
See #15708 for background

[2019-02-13 15:24] snicoll commented on #15901
I think this introduced a regression but I am not sure. If you don't have docker running, you get this which I believe is new

[code]

[2019-02-13 15:39] bsideup commented on #15901
@wilkinsona
No... I am afraid this is too project & framework specific 😞

[2019-02-13 15:51] snicoll commented on #15817
@warrenc5 thank you for the sample. `spring-boot:run` was never meant to be bound to an execution and I personally didn't expect someone to use it like that.

Can you explain why you can't use `start` and/or why you're binding `run` the way you do?

[2019-02-13 16:06] #15942 closed

[2019-02-13 16:16] wilkinsona commented on #10317
We're going to broaden the retry.

[2019-02-13 16:31] wilkinsona commented on #15870
This needs some reference documentation then we're happy for it to be merged.

[2019-02-13 17:46] #15901 closed

[2019-02-13 17:48] wilkinsona opened #15944 "Upgrade to Spring Hateoas 0.25.1.RELEASE"

[2019-02-13 17:50] wilkinsona opened #15945 "Upgrade to Lettuce 5.1.4.RELEASE"

[2019-02-13 17:50] wilkinsona opened #15946 "Upgrade to Commons Pool2 2.6.1"

[2019-02-13 18:00] #15944 closed

[2019-02-13 18:00] #15864 closed

[2019-02-13 18:00] #15865 closed

[2019-02-13 18:00] #15945 closed

[2019-02-13 18:00] #15946 closed

[2019-02-13 18:00] #15869 closed

[2019-02-13 18:17] #15812 closed

[2019-02-13 21:16] #15863 closed

[2019-02-13 21:19] #15867 closed

[2019-02-13 21:33] #15891 closed

[2019-02-13 21:40] mbhave commented on #15825
I just remembered why I created a separate label for this. We don't want to create an issue if there's an issue that already exists for it. We check [weekly for updates](https://ci.spring.io/teams/spring-boot/pipelines/spring-boot/jobs/detect-jdk-updates/builds/8), so there's a chance we would end up with the same issue multiple times.

If anyone has other ideas for tracking these issues other tha

[2019-02-13 21:50] wilkinsona commented on #15825
I wonder if it would work if we looked for open issues with the `type: task` label created by `spring-buildmaster` and then checked the titles of the issues that came back.

[2019-02-13 23:36] #15825 closed

[2019-02-13 23:37] mbhave commented on #15825
Thanks, just changed the script to do that. If everything is correct, it should ideally work :)

[2019-02-14 00:11] dupski commented on #14736
It looks like https://github.com/apache/maven-surefire/pull/209 has been merged now.

Should the "blocked" tag be removed now @wilkinsona ? I just started a new spring boot project and was surprised that JUnit 4 is still the default.

[2019-02-14 00:54] mbhave opened #15948 "Extract java binary to the correct location"
It seems like after the jdk upgrade done as part of #15813, we use `--strip-components=1` in `setup.sh` even for the JDK 8 binary.

[2019-02-14 00:55] #15948 closed

[2019-02-14 06:47] wilkinsona commented on #14736
We’re still blocked, unfortunately. The fix is only available in Surefire 3.0 which, as is fitting for a new major release, contains some breaking changes. Ideally, we wouldn’t upgrade to in a minor release of Boot and we’d like the changes to be backported to Surefire 2.x instead. Any news on that, @snicoll?

[2019-02-14 06:48] Venkatesanrs opened #15949 "Springboot 2.0 issue with hystrix circuit breaker."
Hystrix Circuit breaker is not working with springboot 2.0. The circuit is not opening when error threshold reaches. Is there any compatibility issue with springboot 2.0

[2019-02-14 08:04] wilkinsona commented on #15949
Please ask questions about Spring Cloud components on Stack Overflow or Gitter. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-02-14 08:04] #15949 closed

[2019-02-14 10:11] wilkinsona commented on #15948
Sigh. Thanks for taking care of this, @mbhave.

[2019-02-14 11:12] andreysaksonov opened #15953 "Spring WebFlux does not log uncaught exceptions by default"
In case of classic servlet-based applications you usually get logging of errors with nice stacktrace out of the box (I checked this with default Tomcat setup, and actually not sure if it is true for all embedded servlet containers).

However, is you go to "https://start.spring.io/", choose only "Reactive Web" and add to the project the following code:

[code]

You will get only error in response l

[2019-02-14 11:42] nosan commented on #15953
Hi @andreysaksonov,
Have you seen this [issue](https://github.com/spring-projects/spring-boot/issues/15769).
Looks like you have the same problem.

[2019-02-14 11:43] wilkinsona commented on #15953
Thanks, @nosan. I was just about to say that this is a duplicate of https://github.com/spring-projects/spring-boot/issues/15769.

[2019-02-14 11:43] #15953 closed

[2019-02-14 12:00] andreysaksonov commented on #15953
@nosan @wilkinsona Thanks, I tried to search, but didn't find it for some reason

[2019-02-14 14:13] wilkinsona opened #15955 "Use ApplicationContextAware to pass context into SpringBootExceptionReporters that need it"
Currently, a `SpringBootExceptionReporter` is required to provide a constructor that takes a `ConfigurableApplicationContext`. This has two downsides:

1. The constructor is required to take a context argument even if the context isn't needed.
2. It makes it hard to replace the use of `spring.factories` with a pluggable, potentially non-reflective, mechanism.

We should move to using `ApplicationC

[2019-02-14 14:26] #15868 closed

[2019-02-14 14:35] wilkinsona opened #15956 "Provide a pluggable abstraction for resolving SpringApplicationRunListeners"
Similar to #15955, it would be useful in the context of #15704 for a `SpringApplicationRunListener` not to have to have a particular constructor.

Rather than passing `SpringApplication` and the `String[]` of arguments into the constructor, they should be made available via a method or methods on an interface. This will allow run listeners to be plugged in and configured using a general purpose ex

[2019-02-14 14:39] nosan commented on #15930
@snicoll,
I'm ready to start working on this issue, but, I have a few questions:
- Should I change the type of these properties? (`String` -> `DataSize`)
- Should I add support for both formats?

Thanks in advance

[2019-02-14 14:40] snicoll commented on #15897
Closing in favour of PR #15954

[2019-02-14 14:40] #15897 closed

[2019-02-14 14:44] snicoll commented on #15930
The purpose is to support `DataSize` and pass a long bytes to Logback wherever we can. I can't tell you as I haven't investigated yet.

The preference is to only care about `DataSize` but we should investigate first what happens if we use the old (String) format with it

[2019-02-14 15:21] #15766 closed

[2019-02-14 15:27] bclozel commented on #15880
Closing in favour of #15952

[2019-02-14 15:27] #15880 closed

[2019-02-14 15:31] wilkinsona commented on #13922
Thanks to the changes made in Framework in
https://github.com/spring-projects/spring-framework/issues/21907 and
https://github.com/spring-projects/spring-framework/issues/21919 the problem has been resolved as of 2.0.8 and 2.1.0.

[2019-02-14 15:31] #13922 closed

[2019-02-14 18:15] davinkevin opened #15959 "fix(webclient): allow to run webclient with Schedulers.immediate()"
Hi,

I've done a lot of search about this during the last months. I choose to open an issue because I think this is a bug (or not covered perimeter) from the WebClient point of view.

**tldr:**
I try to run the WebClient call with a different scheduler (mainly in `Schedulers.immediate()`) to be able to call block on it. It seems whatever the `Scheduler` is (in `subscribeOn` or `publishOn`)  the ca

[2019-02-14 20:27] jntakpe opened #15960 "Provide a way to customize RedisCacheManager"
Spring Boot uses CacheManagerCustomizer to customize cache managers. RedisCacheConfiguration calls a list of CacheManagerCustomizers but most of RedisCacheManager methods are private.
The only cache configuration access is the method RedisCacheManager#getCacheConfigurations() but it returns an UnmodifiableMap.

Maybe I'm missing something but the only way I found to customize RedisCacheConfigurati

[2019-02-15 02:52] seelikes opened #15961 "2.1.2 git config server can not use local ssh settings"
actually i have test 2.0.5 2.1.0 2.1.1 2.1.2
with 2.0.5, you can config git config server like below

     spring.cloud.config.server.git.uri=ssh://username@gerrit-server/project
     spring.cloud.config.server.git.search-paths=/path
     spring.cloud.config.label=master

but others, this does not work.
i'd like to consider this a bug of jgit, but i changed jgit manually from 5.1.3.201810200350-r

[2019-02-15 06:13] spencergibb commented on #15961
This is not the repo for spring Cloud config

[2019-02-15 06:37] #15961 closed

[2019-02-15 06:47] wilkinsona commented on #15959
[`Schedulers.immediate`](https://projectreactor.io/docs/core/release/api/reactor/core/scheduler/Schedulers.html#immediate--) is documented as using the caller’s thread so the behaviour you have described is to be expected.

Spring Cloud Sleuth is managed as a [separate project](https://github.com/spring-cloud/spring-cloud-sleuth). In the first instance, I would recommend raising this with the Spri

[2019-02-15 06:47] #15959 closed

[2019-02-15 07:07] davinkevin commented on #15959
Thanks for your time @wilkinsona. I will reach the `spring-cloud` project.

BTW, I have tried something yesterday, and find this:

[code]

This produces the following output:
[code]

And the same thing, but with a simple `Mono`:
[code]

Will produces the following output:
[code]

From my point of view / knowledge, it does not seem coherent, but I should miss something...

[2019-02-15 08:00] wilkinsona commented on #15959
If you’d like some help with Reactor, they have a Gitter channel too.

With that said, the behaviour you have observed is what I would expect. In each case you are building a pipeline. When you use the immediate scheduler you are saying that the next step in the pipeline should be executed on the same thread as the previous step.

When you use `WebClient` to make a request and retrieve a response,

[2019-02-15 08:18] snicoll commented on #15960
@jntakpe yes and that's pretty much the case for most cache implementations that do not rely on an external configuration file. If you want to start tuning things per cache, you'd better off adding the 3 lines of code that help you get started with the builder and use that. If we offered that flexibility then we'd be at odds with `spring.cache.cache-names` as they also allow you to setup caches on

[2019-02-15 08:40] #15866 closed

[2019-02-15 08:52] brucelwl opened #15963 "Order TaskExecutionAutoConfiguration before TaskSchedulerAutoConfiguration"
In Spring Boot 2.1.2, if ThreadPoolTaskExecutor and ThreadPoolTaskScheduler exist,
the two instance beans will be automatically configured, but both classes implement java.util.concurrent.Executor.
After testing, ThreadPoolTaskExecutor takes precedence over  ThreadPoolTaskScheduler instantiation, there is no problem. but these two kinds of instantiation do not specify priority, If ThreadPoolTaskSc

[2019-02-15 09:35] spring-issuemaster commented on #15874
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-15 09:38] snicoll commented on #15963
@brucelwl thanks but I am not sure I understand what problem you are trying to report (I am afraid screenshots of code are not very useful). Those  two beans cover different use cases. Rather than describing what happens, can we please take a step back and can you describe the actual problem you are facing?

[2019-02-15 10:13] jntakpe commented on #15960
@snicoll That not that simple to mix the default Spring cache configuration which works fine for most of our use cases and a tuning per cache. At least it's not "adding 3 lines of code" but more like 3 classes with a lot of copied code from Spring Boot configuration.
Anyway, I get your point but I still think allowing access to RedisCacheManager#initialCacheConfiguration or give an equivalent acce

[2019-02-15 10:20] snicoll commented on #15960
Fair enough, I guess we can consider opening up things a bit now that `RedisCacheManager` is immutable.

[2019-02-15 10:20] brucelwl commented on #15963
@snicoll Thank you for your reply. I want to confirm whether ThreadpoolTaskScheduler may have been injected as a bean before ThreadpoolTaskExecutor.

[2019-02-15 10:21] jntakpe commented on #15960
Great news ! Thank you for reconsidering

[2019-02-15 10:40] snicoll commented on #15960
I've created [DATAREDIS-935](https://jira.spring.io/browse/DATAREDIS-935)

[2019-02-15 10:44] wilkinsona commented on #9873
https://github.com/spring-projects/spring-framework/issues/21457, and to a lesser extent
https://github.com/spring-projects/spring-framework/issues/21110, has significantly reduced the amount of introspection that is performed. I'm not sure there's much to be gained here any more.

[2019-02-15 11:20] guoao opened #15964 "org.springframework.boot.loader.jar.Handler rootFileCache can not be refreshed"
This class use a softReference to cache the file but never clean the cache. If the content of the file has been changed but the file name remains the same，we will get a wrong jar file instance next time,

[code]

[2019-02-15 11:24] wilkinsona commented on #9873
With the changes in Framework, the custom `BeanInfoFactory` is, if anything, slightly slower. The following startup times were generated using the Actuator sample:

|       | Baseline |  New  |
| ----- | -------: | ----: |
|       |    3.194 | 3.327 |
|       |    3.241 | 3.335 |
|       |    3.364 | 3.262 |
|       |    3.328 | 3.351 |
|       |    3.432 | 3.390 |
|       |    3.263 | 3.342 |
|

[2019-02-15 11:24] #9873 closed

[2019-02-15 11:25] wilkinsona commented on #15964
A fat jar and its contents are expected not to change during the lifetime of an application.

Perhaps you can take a step back and describe what you're trying to do and the problem that you're experiencing?

[2019-02-15 11:43] guoao commented on #15964
### Backgroup
Our code are written in different jar for business isolation . The jar was run as a single container(using a specific classloader), so that we can hot deploy the jar without restarting the application. We deploy our modified code by replace the jar and refresh the spring context.

### code
To refresh spring context, we need get a xml file from a jar file, and we use PathMatchingResou

[2019-02-15 12:16] bclozel commented on #15701
Superseded by #15965

[2019-02-15 12:16] #15701 closed

[2019-02-15 12:30] wilkinsona commented on #15964
Thanks. As I suspected, what you are attempting isn't supported by Boot's fat jars and `jar:` URL handler. While we could update the `Handler` to invalidate an entry in the case by, for example, comparing the last-modified time of the entry in the cache and the file, I suspect that would fall some way short of a solution that worked in all cases.

My feeling is that this isn't something that we sh

[2019-02-15 12:36] aalmiray opened #15966 "Enable build scan generation on CI"
Would the team be interested in enabling build scans when running on CI?

I noticed that the project has a gitter channel, perhaps you'd be interested in letting members know when a scan is ready, as it's shown at http://andresalmiray.com/hooking-gradle-build-scans-notifications-to-gitter/

[2019-02-15 12:38] wilkinsona commented on #15966
Thanks for the suggestion, but Spring Boot is built with Maven. As with the dependency management plugin, I'm also not keen on tying our build to any external services unless absolutely necessary. Furthermore, Concourse already gives us the ability to hook into Slack or Gitter or pretty much anything else upon build completion should we wish to do so.

[2019-02-15 12:38] #15966 closed

[2019-02-15 12:38] rajeshja commented on #8706
Is there a specific way to get this to work? I'm using Gradle 5.2, with a very simple project that adds a controller and an entity package to the base starter created with Spring 2.1.2. The code in `src/main/java` setup as a Java module. He is my module definition (I only have one at this time)

    module rja.price.main {
        requires java.sql;
        requires spring.beans;
        requires

[2019-02-15 12:41] aalmiray commented on #15966
As I understand it, build scans for Maven will become available to the general public soon.

[2019-02-15 13:05] rajeshja commented on #8706
Should I log this as a new bug or should this one be reopened? The workaround mentioned in the original post still works.

[2019-02-15 13:07] wilkinsona commented on #8706
From what you've said thus far, you seem to have a different, although perhaps related, problem. Please open a new issue and provide a complete sample (as a zipped attachment or a separate Git repository) that reproduces the problem.

[2019-02-15 13:08] rajeshja commented on #8706
Thanks. Doing so now.

[2019-02-15 13:33] rajeshja opened #15967 "Spring Boot Starter Test includes dependencies with split packages which causes compilation failures when testing using the module path"
I'm using Gradle 5.2 on Java 11.0.1 with a very simple project that adds a controller and an entity package to the base starter created with Spring 2.1.2. The code in `src/main/java` is setup as a Java module. He is my module definition (I only have one at this time)

[code]

Running `gradlew build` breaks at `compileTestJava` with 100 errors of the form:

[code]

Replacing the `org.springframewor

[2019-02-15 13:34] rajeshja commented on #8706
Created new bug at #15967

[2019-02-15 14:47] wilkinsona commented on #15967
Thanks for the sample.

The problem is that there are two split packages in the dependencies of `spring-boot-starter-test`:

- `org.json` is defined in both `org.skyscreamer:jsonassert` and `com.vaadin.external.google:android-json`. The former depends on the latter.
- `org.hamcrest` is defined in both `org.hamcrest:hamcrest-library` and `org.hamcrest:hamcrest-core`. The former depends on the latte

[2019-02-15 16:43] snicoll commented on #15705
While reviewing the related PR, we've decided not to pursue this, see https://github.com/spring-projects/spring-boot/pull/15723#issuecomment-464116701 for more details

[2019-02-15 17:30] spring-issuemaster commented on #15831
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-15 17:30] #15831 closed

[2019-02-15 19:31] nagsRepo commented on #10968
Hi All,

            I am trying to build a rest api with spring boot,  I want to secure only the actuator end points keeping others open. I am trying to do that with below code but itdoesnot seem to work. It is not asking for username/password. or doesnot throw 403 if I donot pass the credentials. What is the exact configuration I am missing here.

Spring boot: 2.1.2.RELEASE
application.yml
  sec

[2019-02-15 19:46] mbhave commented on #10968
@nagsRepo Please ask questions on StackOverflow or join us on gitter. When you do, it would be helpful if you had a small, minimal sample that we could use to reproduce the problem.

[2019-02-16 03:01] DevJoseWeb opened #15969 "@MockBean in abstract Class"
Good night ! When I use Mock it works when I use MockBean it does not work, somebody has some idea ... Thanks since. I have 3 classes.

[code]

[code]

[code]

[code]

[2019-02-16 08:16] wilkinsona commented on #15969
Thanks for the report. Unfortunately it’s not clear to me what the problem is. “Does not work” doesn’t tell us very much. What behaviour did you expect and how did that differ from what occurred? Also, the issue title describes using `@MockBean` in an `abstract` class but the class that you are using it in is not `abstract`.

If you would like us to spend some time trying to help you, please spend

[2019-02-17 08:55] snicoll commented on #15805
We've decided to try to "curl" the bits to avoid going to maven central for it

[2019-02-17 09:57] monxarat opened #15970 "Caused by: java.lang.IllegalArgumentException: Cannot instantiate interface org.springframework.context.ApplicationContextInitializer : org.springframework.boot.context.ConfigurationWarningsApplicationContextInitializer"
Hi everyone,

How to fix this bug.
When I deploy with Tomcat

Application.java
[code]

build.gradle
[code]

Logs
[code]

[2019-02-17 11:51] DreamPWJ commented on #15829
very much looking forward

[2019-02-17 12:01] DreamPWJ opened #15971 "CLI Support for version upgrade"
-In front-end presents cli can support the main version of the automatic update such as ng update @ presents/cli @ presents/core more updates for the cli， to do such destructive to reduce a lot of work to， upgrade the version spring boot 1. x Upgrade 2.x may need a few days， but if you develop a cli to automatically upgrade may only take a few minutes to upgrade， the new users more convenient this

[2019-02-17 14:36] sattamshobaki opened #15972 "Trim trailing whitespace from value of spring.server.servlet.context-path"
Hello,
I encountered issue for spring boot application that all resources are not working
it's giving me 404 always
after that i found the issue because there was space in context-path value in the application.properties

So it's better to trim the context patch before applying it

[2019-02-18 06:52] xzzh999 opened #15973 "server.servlet.contextPath with websocket"
Hi~ Nice work!
[SockJS relative #470](https://github.com/sockjs/sockjs-client/issues/470)
use spring boot 2.0.2 websocket with contextPath not working good, need u help, thx.

[2019-02-18 07:22] ashkanabbasi commented on #12843
Hi dear, would you like to give me below link? many thanks
I just uploaded the sample. Here is an example that works well (1.5.12.RELEASE)
https://github.com/jbpark-sk/springboot-2.0.1-redis-bug/tree/002bd566f7db66cb0b08360b4a48dc08e8ef656c

and does not work (2.0.1.RELEASE)
https://github.com/jbpark-sk/springboot-2.0.1-redis-bug/tree/959028d021c972c0742a6d244e323214a38df929

diff
https://github.c

[2019-02-18 07:45] UncleTom opened #15974 "additional tomcat connectors does not support compression"
In default TomcatServletWebServerFactory class, it just supports the data compression on the default Connector, but all other additionalTomcatConnectors are not support compression.

see the code in the getWebServer method:
[code]

Requires consistent behavior for all connectors.

[2019-02-18 07:47] wilkinsona commented on #15971
Thanks for the suggestion but we do not plan to make any enhancements to Spring Boot’s CLI at this time. When upgrading, I would recommend using our [migration guide](
https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide) to help you instead. If there are parts of an upgrade that you have found difficult then please let us know and we will improve the guide if we can

[2019-02-18 07:47] #15971 closed

[2019-02-18 07:51] wilkinsona commented on #15974
This is by design. It gives you complete control over the connector that you add. While you may want compression to be enabled for all connectors, others may not. The same applies to SSL and the like. If you want your additional connector to use compression you should configure it to do so.

[2019-02-18 07:51] #15974 closed

[2019-02-18 07:55] wilkinsona commented on #15973
Thanks for the report. Unfortunately, “not working good” does not give us enough information to diagnose the problem. The SockJS client issue that you opened didn’t make things much clearer. If you would like us to spend some time trying to help you please spend some time to make it easier for us to do so. You can make it easier by describing the problem in detail and by providing a minimal sample

[2019-02-18 08:02] wilkinsona commented on #15970
The `NoSuchMethodError` means that you have incompatible versions of some dependencies. The dependencies are most probably in your war file but could also have been added to your Tomcat installation. It’s impossible to tell from the information that you have provided.

[`isKotlinReflectPresent`](
https://github.com/spring-projects/spring-framework/blob/f8f8d28f08a118a072448271130b2ee02f72a282/spri

[2019-02-18 08:02] #15970 closed

[2019-02-18 08:07] UncleTom commented on #15974
ok, we can copy **CompressionConnectorCustomizer** class's code and create a new class to implement our functionality.

[2019-02-18 09:35] jnizet opened #15976 "Add an example showing how to use AutoConfigureRestDocs with WebTestClient"
`@AutoConfigureRestDocs` used with WebTestClient causes the following NullPointerException:

[code]

Here's a complete minimal test case reproducing the problem: https://github.com/jnizet/webtestclientrestdocsissue

See the failing test, with the complete stack trace, in https://github.com/jnizet/webtestclientrestdocsissue/blob/master/src/test/java/com/example/demo/web/UserControllerWithAutoconfig

[2019-02-18 10:06] jnizet opened #15977 "Clarify documentation on use of @AutoConfigureRestDocs with WebTestClient"
In Spring Boot 2.1.3, the `RestDocsWebTestClientConfiguration` class is annotated with `@ConditionalOnWebApplication(type = Type.REACTIVE)`.

This, as far as I understand, prevents the usage of an autoconfigured WebTestClient to *document* an MVC app, which is strange since you can use WebTestClient to *test* an MVC app.

[2019-02-18 10:38] nosan commented on #15976
hi @jnizet, `UserControllerWithAutoconfigureDocTest` does not work, because you have used `@SpringBootTest` instead of `@WebFluxTest`. This sample works perfectly.
[code]

There is some background why it did not work with `@SpringBootTest`.
`WebTestClientAutoConfiguration` is not added as a part of your context (as it can be imported in case of `@WebFluxTest`), hence `WebTestClient` was added by `

[2019-02-18 10:46] ashkanabbasi commented on #12843
You can find spring data maven version compatible with jedis maven version from bellow link: https://mvnrepository.com/artifact/org.springframework.boot/spring-boot-starter-data-redis/1.5.9.RELEASE

[2019-02-18 11:29] wilkinsona commented on #15977
My understanding is that you can only use `WebTestClient` to test an MVC app if you start an embedded server and use HTTP. In other words, using mocked requests and responses is only supported when testing a WebFlux app.

Given a choice between testing an MVC app using `MockMvc` with no need for a server and using `WebTestClient` and requiring an embedded container, I would choose the former. I al

[2019-02-18 11:34] jnizet commented on #15976
Thanks a lot @nosan, and sorry for the noise.

I guess this issue can be closed then. Or maybe it should be kept open only to add an example in the user guide showing how to use AutoConfigureRestDocs in conjunction with WebFluxTest. Currently, there is an example for MockMVC and an example for RestAssured, but none for WebTestClient.

[2019-02-18 11:46] wilkinsona commented on #15976
Thanks for the detailed report, @jnizet, and for helping out with the explanation, @nosan. I think an addition to the documentation is needed here. It should have happened as part of https://github.com/spring-projects/spring-boot/issues/15220 but apparently I missed it.

[2019-02-18 12:03] nosan commented on #15976
@wilkinsona
I can create a `PR`, to add an extra check on `NullPointerException` in `WebTestClientRestDocumentation`.
[code]

What do you think ?

[2019-02-18 12:05] lppedd commented on #864
@mrtinkz this doesn't seem to work anymore, as there already that Bean defined, and overriding is not permitted.

[2019-02-18 12:11] wilkinsona commented on #15976
Thanks for the offer. The problem isn't specific to `WebTestClient` and REST Docs' MockMvc and REST Assured integration can fail in a similar way. I think it's right that it fails and I don't think that just adding a null check would be an improvement. It may, however, be an improvement to check for the configuration being null and, if it is, throwing something like an `IllegalStateException` that

[2019-02-18 12:24] jnizet commented on #15977
Sure, sorry for the noise.

I'm not very experienced with WebFlux, and missed the WebFluxTest annotation. So I had the feeling that WebTestClient was always used to create integration tests with an embedded server and HTTP, and thus that using MVC or WebFlux wouldn't make a difference.

Now I'm starting to realize that the AutoConfigureRestDocs annotation is usable

 - in a `@WebMvcTest`-annotated

[2019-02-18 12:46] shenyu1997 commented on #2808
You can do like this if you are using Spring Boot 2.1.0+:

    @Configuration
    @Lazy
    class SpringValidatorConfiguration {

        @Autowired
        private Validator validator;

        @Bean
        @Lazy
        public HibernatePropertiesCustomizer hibernatePropertiesCustomizer(final Validator validator) {
            return new HibernatePropertiesCustomizer() {

                @Overri

[2019-02-18 13:15] rajeshja commented on #15967
Thanks for the link to the module path-based testing issue.

Do you think that the Spring Initializr should generate a sample project with Java modules and maven/gradle scripts that work including tests (using classpath)? I could create an issue for this there.

[2019-02-18 13:21] snicoll commented on #15967
@rajeshja Spring Initializr is not meant to generate sample projects, in the sense of showing how to do something. A guide is usually what we aim for though I am not sure one on the modules path would be accepted.

[2019-02-18 13:33] snicoll opened #15979 "Upgrade to Jedis 2.9.2"
Jedis 2.9.1 introduced a serious regression and the latest maintenance releases of Spring Boot provide dependency management for that version unfortunately.

The community has requested a backport of the fix in the `2.9.x` line but it is not clear at this point if a `2.9.2` is ever going to be released, more context in https://github.com/xetorthio/jedis/issues/1945

This case raises the need for b

[2019-02-18 13:58] snicoll opened #15980 "Generate missing metadata for Bitronix and Atomikos entries"
We have a quite a few properties that are documented in the appendix without any metadata counter part. We should add them in preparation for #8237

The following prefixes are affected:

[code]

[2019-02-18 14:18] rajeshja commented on #15967
Understood on the sample project. I intended to say "starter" project. The idea is to show devs what module declarations look like in the Spring Boot world, along with the associated build scripts (maven/gradle). I've added a comment on an old issue that seems related. https://github.com/spring-io/initializr/issues/663

[2019-02-18 14:56] karesti opened #15981 "Unable to run SB+Infinispan application using Jdk 11 and java -jar"
When we build a simple application using Infinispan 9.4.4.Final or above and Spring-Boot 2.1.x.RELEASE, we package it with ```spring-boot:repackage``` and  then run it using ```java -jar``` in Java 11, the application won't start:

[code]

Reproducer: https://github.com/ben-schroeder/infinispan-ncdfe
Our Issue for further details: https://issues.jboss.org/browse/ISPN-9977
StackOverflow question :

[2019-02-18 15:48] #8237 closed

[2019-02-18 15:50] #15980 closed

[2019-02-18 16:33] snicoll opened #15983 "Order TaskExecutionAutoConfiguration before TaskSchedulerAutoConfiguration"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2019-02-18 16:33] snicoll commented on #15963
Superseded by a first timers issue that was easier to write in a dedicated issue, see #15983

[2019-02-18 16:33] #15963 closed

[2019-02-18 16:42] tristantarrant commented on #15981
I patched org.springframework.boot.loader.jar.JarFileEntries to print out entries and their indexes as they are loaded. For the infinispan-commons-9.4.7.jar I got the following:
`
326 org/infinispan/commons/dataconversion/BinaryEncoder.class
348 org/infinispan/commons/dataconversion/BinaryEncoder.class
`
However that class file is present only once in the jar. It seems like it is misinterpreting t

[2019-02-18 16:51] wilkinsona commented on #15981
There's a bug in the handling of multi-release jar files that means that it doesn't handle a clash in the index generated from an entry's hash correctly. When we're looking for a multi-release entry, the named is aliased so that an entry found beneath `META-INF/versions/<version>/<name>` appears to actually be called `<name>`. The alias is applied too early which means that when we check that the

[2019-02-18 16:51] isank commented on #15983
Hi @snicoll, I would like to pick this one up.

[2019-02-18 16:58] snicoll commented on #15983
Great! Thank you. Please let us know if you have any questions.

[2019-02-18 17:14] jkubrynski commented on #10030
Any progress with this issue? Being unable to easily debug such issues is really a pain in the neck

[2019-02-18 17:15] jensonjoseph commented on #15983
Thanks @snicoll. I'll give it a shot too.

[2019-02-18 17:19] snicoll commented on #15983
Thank you, @jensonjoseph, but @isank has already claimed this issue. Please keep an eye out for another first-timers-only issue and we’d be delighted to guide you through the process then.

[2019-02-18 17:21] jensonjoseph commented on #15983
sure! Thanks again.

[2019-02-18 17:30] #15981 closed

[2019-02-18 18:05] sdeleuze commented on #7087
After another look on that issue, please find bellow my updated thoughts:
 - I agree that using a dedicated thread is not a solution
 - With Spring Boot 2.1.3 using only the web starter, the first invocation of `InetAdress.getLocalHost().getHostName()` I see is from `ApplicationPid#getPid` (notice that the hostname is not kept) invoked by `LoggingSystemProperties`, only the second invocation (wher

[2019-02-18 18:10] spencergibb commented on #7087
We timeout in spring cloud

[2019-02-18 18:28] wilkinsona commented on #7087
We can consider that, but it has a cost of its own. We compile against Java 8 at the moment. The idea of going back to compiling against a newer version of Java and requiring Animal Sniffer to catch accidental usage of new APIs is rather off-putting. And it's still a point solution for a broader problem. See below.

Tomcat calls `getHostName()` which may trigger DNS resolution in a few places. [He

[2019-02-18 19:01] haskovec commented on #7087
When I saw the issue in 2016, I had upgraded my MacBook to Sierra I think. My new MacBook Pro running Mojave hasn't seen the issue.

[2019-02-18 20:15] snicoll commented on #15983
Closing in favour of PR #15984

[2019-02-18 20:15] #15983 closed

[2019-02-18 23:04] dpolianskyi-ua opened #15985 "Error creating bean with name 'requestMappingHandlerMapping' while using Spring Boot 2 with PCF SSO dependencies"
Hi everyone.

I have a problem during using Spring Boot 2 and building security from perspective of PCF SSO.

Error looks like:

**Let me provide some brief**

I'm building a **_microservice_**-like applications, which contains (**_~/applications/... , ~/components/..._**):

- 1 accommodation server and its component (this server is **GREEN**)
- 1 leasing server and its component (this server is *

[2019-02-18 23:10] cldsnchz opened #15986 "Debug mode is not logging web and sql related loggers"
In 2.1, the debug mode (`--debug`) is not logging in debug the `web` and `sql` related loggers, for example: `org.hibernate.SQL`

The issue seems to be in `LoggingApplicationListener`, which is setting in DEBUG the group itself (`web` and `sql`) instead of resolving the loggers in them, as it does for example when logging.level.sql=true is set.

[2019-02-19 00:45] xzzh999 commented on #15973
@wilkinsona
Thank you for your reply, there is the test [demo](https://github.com/lenve/vhr)(client and server projects), but i don't think it's the project code's problem because the websocket part's code is very simple. I just add **server.servlet.contextPath=/MyServer**, before i add this, the websocket is fast enough to make connection,  but after add this, the connection made is so slow or ev

[2019-02-19 05:55] Omkar-Shetkar commented on #15983
Hi @snicoll , seems this issue is closed. I am eagerly looking for opportunities to contribute to spring and open source projects. In future, how do I find this kind of issues for beginners like me to contribute to ?

[2019-02-19 06:07] isank commented on #15983
@Omkar-Shetkar , you can head over to issues section of this repository and find issues with status `first-timers-only` to begin with. Remember to claim the issue before anyone else as soon as you decide to work on it.

[2019-02-19 06:19] Omkar-Shetkar commented on #15983
@isank Thanks.

[2019-02-19 07:12] wilkinsona commented on #15973
Thanks for the extra information. Can you please explain why you believe the problem is caused by Spring Boot? From your description, where you say the connection sometimes works slowly and sometimes fails, it sounds like a network problem. How does it behave without any proxy configuration?

[2019-02-19 07:40] guoao commented on #15964
Thanks a lot. Just let me know whether you are trying to support it.

[2019-02-19 08:07] snicoll commented on #15985
You are managing versions yourself in this project and you have incompatible versions on the classpath that leads to this exception. We've shared some tips to debug this problem on your end in https://github.com/spring-projects/spring-boot/issues/11214#issuecomment-348455967.

In the future, please ask questions on StackOverflow: as mentioned in [the guidelines for contributing](https://github.com

[2019-02-19 08:07] #15985 closed

[2019-02-19 08:23] wilkinsona commented on #15985
I don't think this is quite as simple as having incompatible versions on the classpath.

The problem is your `spring-cloud-sso-connector` dependency. It is pulling in a 1.x version of `spring-cloud-security` that is compatible with Spring Boot 1.x but you're using Spring Boot 2.x:

[code]

`spring-cloud-security` depends on the OAuth auto-configuration from Spring Boot 1.x. that was removed in 2.x

[2019-02-19 09:09] wilkinsona opened #15989 "ThreadDumpEndpointDocumentationTests may fail as 'threads.[].lockName' may not be present and its type is not specified"

[2019-02-19 09:18] dsyer commented on #864
Agent weaving works for me with all the latest versions of Spring Boot. Please ask on Stack Overflow in case someone can spot your error. If you think you have found a new problem, please open a new issue and provide a sample project to reproduce the problem.

[2019-02-19 09:27] lppedd commented on #864
@dsyer Hi! Thanks for answering.
I've actually posted two questions yesterday, regarding this issue and LTW, with no responses.

https://stackoverflow.com/questions/54749106/aspectj-ltw-weaving-not-working-with-spring-boot
https://stackoverflow.com/questions/54746336/spring-aop-with-aspectj-load-time-weaving-doubts

[2019-02-19 09:40] #15989 closed

[2019-02-19 09:41] wilkinsona opened #15990 "Add Spring-specific styling to the Gradle Plugin's documentation"
The Gradle Plugin's documentation is using the default Asciidoctor styling. We should update it to use the Spring-specific styling that the reference documentation is now using.

[2019-02-19 09:42] wilkinsona opened #15991 "Add Spring-specific styling to the Actuator's API documentation"
The Actuator's API documentation is using the default Asciidoctor styling. We should update it to use the Spring-specific styling that the reference documentation is now using.

[2019-02-19 09:43] dpolianskyi commented on #15985
@snicoll @wilkinsona guys, thanks for rapid response. I'll prepare further description for Spring Cloud SSO Connector project and ping them.

[2019-02-19 10:19] #15930 closed

[2019-02-19 10:20] GFriedrich commented on #15979
@snicoll: ```2.9.2``` is available now - see http://central.maven.org/maven2/redis/clients/jedis/2.9.2/

[2019-02-19 10:23] snicoll commented on #15979
Thank you @GFriedrich

@mp911de can you please bless the upgrade on the Spring Data Redis side?

[2019-02-19 10:29] GFriedrich opened #15992 "Upgrade to Jetty 9.4.15.v20190215"
@snicoll: When stumbling upon the Jedis upgrade ticket, I also found that you could update the Jetty version.
So, please upgrade Jetty for Spring Boot ```1.5.x```, ```2.0.x``` and ```2.1.x``` to ```9.4.15.v20190215``` - e.g. see http://central.maven.org/maven2/org/eclipse/jetty/jetty-servlets/9.4.15.v20190215/
Thanks in advance!

[2019-02-19 10:59] bojan-milojkovic commented on #6337
If you copy-pasted persistence configuration from another project, you must set the entity scan in EntityManagerFactory manually :

@Bean
public EntityManagerFactory entityManagerFactory() throws PropertyVetoException {
    LocalContainerEntityManagerFactoryBean factory = new LocalContainerEntityManagerFactoryBean();
    factory.setPackagesToScan("**misspelled.package.path.to.entities**");
    ...

[2019-02-19 11:17] wilkinsona commented on #15992
Thanks for raising this issue, but as described in the template that you were shown when you opened it, we don't need one for an upgrade like this:

We'll take care of the upgrade in due course.

[2019-02-19 11:17] #15992 closed

[2019-02-19 11:58] wilkinsona commented on #15986
Thanks for the report and for the initial analysis. I think you're right. `LoggingApplicationListener.initializeLogLevel(LoggingSystem, LogLevel)`, which is what is called when started with `--debug`, does not take the groups into account so `web` and `sql` are passed as-is rather than being expanded to the logger names that each represents.

[2019-02-19 12:05] janotav opened #15994 "Consider spring.profiles.default when processing configuration files"
I believe that _spring.profiles.default_ property does not work as documented.

Let's consider following two application property files:

application.properties:
spring.profiles.default=profile1

application-profile1.properties:
server.servlet.context-path=/foo

And corresponding application that simply prints _server.servlet.context-path_ and profile values:

[code]

When run without parameters,

[2019-02-19 12:12] wilkinsona commented on #15994
You can't set `spring.profiles.default` in a configuration file (YAML or properties) and have it affect the loading of other configuration files. This is discussed in the comments in https://github.com/spring-projects/spring-boot/issues/1219. As [described in the documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-set-active-spring-profiles) `spring.profiles.

[2019-02-19 12:22] wilkinsona opened #15995 "Include details of the caller in the failure analysis for NoSuchMethodError"
One useful piece of information in the stack trace is the method from where the attempt to call the non-existent method was made. We should extract this information from the stack trace and include it in the analysis.

[2019-02-19 12:31] #15199 closed

[2019-02-19 12:38] #15995 closed

[2019-02-19 12:42] wilkinsona commented on #15977
Thanks. Let's use this issue to improve the documentation. It sounds like we need to make it clearer when `@AutoConfigureRestDocs` can be used and when you'd want to configure the `WebTestClient` yourself.

[2019-02-19 12:43] janotav commented on #15994
If that default profile cannot be set from a configuration file at all, the value obtained through _ctx.getEnvironment().getDefaultProfiles()_ should not reflect such value either. Yet, it returns _profile1_ value (see output above). This doesn't seem to be exactly consistent.

On the other hand, if the default profile can be set from a configuration, but loading of additional configuration files

[2019-02-19 12:58] wilkinsona commented on #15994
I didn't say that it could not be set, but that it cannot be set and have its value affect the loading of other configuration files.

This is out of Boot's control as it's done in Spring Framework after config file processing has completed. The first time `AbstractEnvironment.getDefaultProfiles()` is called, a search is made in the environment's property sources for the `spring.profiles.default` p

[2019-02-19 12:59] snicoll opened #15996 "Remove code deprecated in 2.1"
There are a number of things we deprecated in 2.1 (or in 2.0 that we didn't remove in 2.1 for some reason) so we should deal with them, ideally in the first milestone so that the change are available as soon as possible.

This includes:

* `RestTemplateBuilder#basicAuthorization`
* `RestTemplateBuilder#setConnectionTimeout` (int)
* `RestTemplateBuilder#setReadTimeout` (int)
* `AbstractFilterRegist

[2019-02-19 13:25] #15805 closed

[2019-02-19 13:37] #15471 closed

[2019-02-19 13:44] janotav commented on #15994
Thanks for your patience and thorough explanation. It's really appreciated.

I have to admit that this half-way behaviour (profile being reported other than one used for property loading) still sounds like a bug to me, but not worth pursuing anymore.

In terms of what got me there: I think that at least in my case the original misleading information came most likely from here:

- https://www.baeld

[2019-02-19 13:48] mp911de commented on #15979
We'll take care of the upgrade, see [DATAREDIS-936](https://jira.spring.io/browse/DATAREDIS-936) for further reference.

[2019-02-19 14:55] JamesZBL opened #15997 "Project with Spring Boot could not execute task:jar when using gradle."
version of spring boot: 2.1.2.RELEASE

I have a project named "A", it's a spring boot project.
I create another project named "B", and project B depends on project A and another project which is not a spring boot application. Project B is also a spring boot application. When I execute the "bootJar" task for project B, the task "jar" of project A was skipped. So there print some error such as 'cann

[2019-02-19 15:10] wilkinsona commented on #15997
This is covered in the documentation:

- https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/reference/htmlsingle/#howto-create-an-additional-executable-jar
- https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/gradle-plugin/reference/html/#packaging-executable-and-normal

If you have any further questions, please follow up on Stack Overflow or Gitter.  As mentioned in [the guidelines for cont

[2019-02-19 15:10] #15997 closed

[2019-02-19 16:18] trantienduchn commented on #13796
I got the same problem with spring-boot 2.1.3 RELEASE. I marked my project with `<packaging>pom</packaging>` (stupid) so It didn't work, removing this resolved my issue.

[2019-02-19 18:04] GFriedrich commented on #15992
Mea culpa - as said: just saw the ticket of Jedis created by @snicoll and thought it would be good to have this updated too with the next 1.5.x release which is quite near and missed to read the complete template. :)

[2019-02-19 18:23] mruv opened #15998 "Spring Boot + ActiveMq JmsTemplate @Autowire error"
I keep getting this error whenever I run my spring boot app.
[code]

I believe that I dont have to create a `@Bean` of type `JmsTemplate` because autoconfigution is enabled.

Here are my dependencies.
[code]

Here is my configuration class.
[code]

The `JmsTemplate` instance is created here.
[code]

Here is the `JmsListener`.
[code]

The [project](https://github.com/mruv/spring-boot-activemq-examp

[2019-02-19 20:26] mamachanko opened #15999 "Optional nested configuration property not assigned"
Hi, if I understood #5110 correctly then one should expect optional configuration properties to be assigned.

Find a sample application prepared here: https://github.com/mamachanko/optional-nested-configuration-property

Assuming a config classes like so:
[code]

# Running w/ full configuration
[code]
[code]
* The field `optionalProperty` of type `Optional<String>` gets assigned as expected.
* The

[2019-02-19 20:33] lukidzi opened #16000 "Spring WebFlux and Undertow high cpu usage after perfromance test"
# Spring Boot Version
- spring-boot-starter-web:2.1.3.RELEASE
- spring-boot-starter-undertow:2.1.3.RELEASE
- spring-boot-starter-webflux:2.1.3.RELEASE
- jdk 1.8.0.191
# Problem

Hi,

I was testing performance of 2 microservices(genareted from start.spring.io):
 - first microservice has one endpoint which returns String. I used spring-boot-starter-web:2.1.3.RELEASE and spring-boot-starter-undertow:

[2019-02-19 22:32] cldsnchz commented on #15874
Sorry if this comment only generates noise instead of helping, but probably is related to the original post.

One thing that happened to me in the past was that for example this configuration doesn't work:
`LOGGING_LEVEL_ORG_ACME=DEBUG`
but this one does:
`LOGGING_LEVEL_org.acme=DEBUG`

Which somehow make sense but it wasn't that clear in the beginning, at least for me.
I tried `_ORG_ACME` first a

[2019-02-19 22:35] philwebb commented on #15999
Binding to `Optional` fields currently only works with values that the `ConversionService` creates, it doesn't work with nested configuration properties and I'm personally not a big fan of using `Optional` with in fields (see [this stackoverflow answer](https://stackoverflow.com/questions/26327957/should-java-8-getters-return-optional-type/26328555#26328555) for details of why).

It's possible tha

[2019-02-20 01:48] xzzh999 commented on #15973
@wilkinsona
That is the reason! When i not use proxy table, just build the front end package, and run spring boot server independent, it works ok! When i use proxy to debug, the problem comes!(too slow) Here is the print:

![](https://github.com/xzzh999/markdown-pictures/blob/master/websocket-slow.png?raw=true)

[2019-02-20 01:59] xak2000 commented on #907
I agree that JSP Tags is old tech and should not be used for new projects, but it can be heavily used in old legacy spring projects still.

If someone wants to migrate old spring project, which uses JSP Tags in FreeMarker templates, to spring-boot, he can't easily do it. And one of the reasons is this issue - it is hard to understand how to use `spring`'s and `spring-security`'s and even custom JS

[2019-02-20 03:40] DanielThomas opened #16001 "Gradle POM-only dependencies cause jar application loader to fail"
Dependencies with pom packaging are included on the classpath and the boot jar process nor the loader considers the type of the file cause application startup to fail.

To reproduce take the following build:

[code]

Run `bootJar` and run `java -jar build/libs/spring.jar` and note the failure:

[code]

POM files can be expected on configurations for either `pom` packaged dependencies like this, or

[2019-02-20 04:27] EalenXie opened #16002 "spring schedler"
hello ，I found a issue 。
@Scheduled(cron = "0 0 0 ? * 5#3") is not support。
I wanted my task to run on the third Thursday of each month, but unfortunately the compiler reported an error. But I checked the cron itself is no problem
My code example is as follows :
`@SpringBootApplication
@EnableScheduling
public class TestScheduledApplication{
    public static void main(String[] args) {
        Spr

[2019-02-20 04:31] #16002 closed

[2019-02-20 05:27] thorntonrp opened #16003 "Repackage META-INF/<module-name>.kotlin_module files into BOOT-INF/classes"
Issue #15890 was addressed to to repackage META-INF/<module-name>.kotlin-module (with a dash), but the the suffix is supposed to be .kotlin_module with an underscore instead of a dash. The dash instead of the underscore was my bad from when I reported the issue. I apologize for the confusion.

Running `jar tf` against a kotlin project reveals that the correct suffix is kotlin_module.

[2019-02-20 06:44] snicoll commented on #16002
Cross-posted https://github.com/spring-projects/spring-framework/issues/22436

[2019-02-20 07:03] snicoll commented on #15998
Thanks for the sample. "Working fine until recently" is vague and not really helping, please help us helping you by providing accurate information. I've also replaced your MySQL hardcoded settings by H2 as they are unrelated to the issue you are reporting and doesn't force me to have MySQL configured to run the sample.

Consider reviewing [this section of the documenation](https://docs.spring.io/s

[2019-02-20 07:03] #15998 closed

[2019-02-20 07:05] snicoll commented on #15999
It should be noted that I don't think metadata for nested items will be  generated in the arrangement above.

[2019-02-20 07:09] #15999 closed

[2019-02-20 07:13] snicoll commented on #16001
For the record, the Maven plugin seems to skip `pom` artifacts.

[2019-02-20 07:30] #15890 closed

[2019-02-20 08:07] basha928 commented on #12398
it was due to corrupted repos only in my case too

[2019-02-20 09:09] wilkinsona commented on #15973
Thanks for trying things without the proxy. Given that things work well without it, I think it's reasonable to assume that the proxy is causing the problem. That's something that is out of Spring Boot's control so I am going to close this issue. The incompatible SockJS errors look suspicious to me. My understanding is that `proxyTable` is backed by webpack-dev-server. Searching its issue tracker s

[2019-02-20 09:09] #15973 closed

[2019-02-20 09:12] wilkinsona commented on #16001
We just package whatever is on the classpath, with directories going into `BOOT-INF/classes` and files into `BOOT-INF/lib`. It doesn't make much sense to me that Gradle apparently adds poms to the classpath, but if that's what it does I guess we'll have to filter them out.

[2019-02-20 09:14] wilkinsona commented on #16003
Gah, thanks for spotting this @thorntonrp and sorry that I didn't spot it when I implemented the fix. I'll close this one in favour of your PR.

[2019-02-20 09:14] #16003 closed

[2019-02-20 09:49] ehhc commented on #13698
I would like to point out that the solution proposed by @nhh might lead to a missleading understanding of the problem. I had a problem with downloading files stored in a mongodb through a REST-Controller and found this issue. Unfortunately simply wrapping the file in a GridFsResource might lead to problems in that context.
Maybe, if somebody else, like me, stumbles over this issue in search for a

[2019-02-20 12:25] #15850 closed

[2019-02-20 15:51] spring-issuemaster commented on #15817
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-20 17:06] #15751 closed

[2019-02-20 18:26] #16001 closed

[2019-02-20 21:54] mruv commented on #15998
Adding the following dependency fixed the problem.
[code]

Thank you for providing the links above.

[2019-02-20 22:41] dmbeer opened #16006 "Spring Boot 2.0.7 + Webflux +thymeleaf error pages give type mismatch string to int"
I have placed my custom error page in the templates/error/400.html or 404.html and get the following in the console log:

[code]

Expected output should be no error logged and correct error page shown.

[2019-02-21 00:15] #15702 closed

[2019-02-21 00:43] mbhave commented on #16006
@dmbeer Can you provide a minimal and complete sample that we can use to reproduce the issue?

[2019-02-21 01:27] xzzh999 commented on #15973
@wilkinsona
Thank you very much!

[2019-02-21 03:22] wyaeld opened #16007 "2.1 Elasticsearch health check failures"
Seeing the following WARN appearing in logs constantly since 2.1

Elasticsearch cluster is 6.4.3-oss docker image running on GKE
Client libs are the 6.4.3 high level rest client

The actual code is driven directly via the elastic client libs of
[code]

so the sudden failures of code that we haven't changed in months when we next deployed the service was surprising, but I understand actuator is now

[2019-02-21 03:43] alfr3dosv opened #16008 "x"

[2019-02-21 03:43] #16008 closed

[2019-02-21 05:10] anandshastri1990 commented on #15674
Hi I would like to work on this issue. I have gone through the suggested use case. I can implement similar solution here as well. Do you have any other failure scenarios in your mind or I can spend some time to investigate and find out more.

[2019-02-21 07:04] wilkinsona commented on #16007
The health indicator uses each `RestClient` bean in the application context. It’s failing because the connection is being refused. That suggests that there is a misconfigured `RestClient` bean in the application context. I can’t tell anything more from the information provided thus far.

If you would like us to spend some more time trying to help you, please spend some time describing your client

[2019-02-21 08:02] snicoll commented on #15674
Thanks for the offer. I don't have any other failure scenarios since I haven't investigated yet but feel free to give that a try if you can though having a dedicated report for this case alone would be great. Looking forward to your PR then.

[2019-02-21 08:12] brucelwl opened #16010 "The for loop in AspectJProxyUtils should add break"
When local variable 'foundAspectJAdvice' is set to true, there is no need to continue checking, it should end with break.

![image](https://user-images.githubusercontent.com/13413715/53153501-5d4a8280-35f3-11e9-87d8-5af58aff05ec.png)

[2019-02-21 08:25] wilkinsona commented on #16010
Thanks for the suggestion, but `AspectJProxyUtils` is part of Spring Framework rather than Spring Boot. There's a chance that the side-effects of calling `isAspectJAdvice` for each `advisor` are important and breaking out of the loop will stop something from working as intended. Can you please open an issue for this [here](https://github.com/spring-projects/spring-framework) and the Framework team

[2019-02-21 08:25] #16010 closed

[2019-02-21 08:33] wyaeld commented on #16007
If the `RestClient` was misconfigured, wouldn't all other communication with the cluster fail?

Its a pretty vanilla setup, only using host and port

[code]

[2019-02-21 08:38] snicoll opened #16011 "Extend ApplicationContextRunner to accept simple bean definitions"
Inspired by `ProjectTester` in Spring Initializr, I'd like us to extend `ApplicationContextRunner` to allow registering beans in addition to `Configurations`.

Lots of tests are declaring a test `@Configuration` class with one or two bean definitions to export additional beans in the context to test. This requires quite a lot of code in the end and a muscle memory to remember what the inner class

[2019-02-21 09:04] sdeleuze commented on #9486
After discussion with @mp911de I have created [KT-30042](https://youtrack.jetbrains.com/issue/KT-30042) to ask Coroutines artifacts to be added in the `kotlin-bom` since most Coroutines are on library side and use a different version scheme (currently Coroutines `1.1.1` is designed to work with Kotlin `1.3.21`).

[2019-02-21 09:38] wilkinsona commented on #16007
Yes, I would expect so.

That's configuring a `RestHighLevelClient`. The health indicator uses `RestClient` beans.

Assuming they're on the classpath, the auto-configuration will create both a `RestClient` and a `RestHighLevelClient`. Both are created from a `RestClientBuilder` that is configured using the `spring.elasticsearch.rest.*` properties. I can't tell exactly what's happening in your case

[2019-02-21 09:53] xorcus commented on #2834
This issue is valid In the context of auto-configuration as well. How would you go about conditionally creating a qualified bean in auto-configuration, only if the qualified bean is missing, regardless of the existence of other beans of the same type?

[2019-02-21 09:55] GovindRajuSavi commented on #2011
spring.main.allow-bean-definition-overriding=true

This property help.?

[2019-02-21 09:56] snicoll commented on #2834
@xorcus that's a rather odd use case. If you really need to rely on a qualifier, use the bean name and `@ConditionalOnMissingBean(name = "qualifier")` in your auto-configuration. If you have more questions, please ask on StackOverflow, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to us

[2019-02-21 10:02] wilkinsona commented on #16011
I like that a lot, particularly as it helps to make the test more self-contained.

[2019-02-21 10:06] snicoll commented on #16011
Considering calling that `withUserBean` to make it crystal clear it's not related with auto-configuration at all?

[2019-02-21 10:43] simasch opened #16012 "Add additional auto configuration for jOOQ"
With jOOQ I can supress to add the schema prefix in SQL statements:

[code]

Or I can change the schema:

[code]

And then pass the settings when creating the DSLContext:

[code]

Can you please add additional properties to JooqProperties that one can set this in the configuration?

For example:

[code]

[2019-02-21 11:44] wilkinsona commented on #16012
Thanks for the suggestion. We don't bind any property to jOOQ's `Settings` class at the moment. The proposal here would introduce binding for `renderSchema` and `renderMapping` with the latter only addressing one specific use case. I think users would find it confusing for some of the properties on `Settings` to be supported and not others. I also don't think that we could offer support for proper

[2019-02-21 11:47] lukaseder commented on #16012
Just to provide some input, the third party Gradle code generation plugin generically binds to the programmatic code generation API (which is JAXB annotated) by convention:
https://github.com/etiennestuder/gradle-jooq-plugin

I'm not sure if such a convention based mapping is possible with the `spring.jooq.xyz=abc` notation, but if anything is implemented here at all, for forwards compatibility an

[2019-02-21 12:11] simasch commented on #16012
@wilkinsona @lukaseder  I understand both of you.
Personally I don't like a mix of configuration in application.properties and programmatic bean definition.

If we look at the JPA/Hibernate auto-configuration there is also a mix of properties from many places and it's not complete. Also the server auto-configurations for Tomcat, Undertow etc. are not complete.

Concerning compatibility the questio

[2019-02-21 12:31] wilkinsona commented on #16012
Looking more closely, we'd end up with properties like the following for configuring a `RenderMapping`:

[code]

So, in that specific case at least, it's possible. I'm still not sure that we want to open ourselves up to potentially supporting everything on `Settings.

If you want to avoid a mix, you could define your own `Settings` bean and configure it via your own configuration properties.

We t

[2019-02-21 12:35] lukaseder commented on #16012
To me, this seems like the most pragmatic choice here

[2019-02-21 12:39] simasch commented on #16012
I agree. I will close the issue. Thanks for your time @wilkinsona and @lukaseder

[2019-02-21 12:39] #16012 closed

[2019-02-21 13:15] wilkinsona commented on #16011
I think `withBean` is fine. Unlike with configuration, can’t see a need to offer a way to add user beans and auto-configured beans. I prefer the more concise name and the javadoc should be able to remove any ambiguity about what it does.

[2019-02-21 16:26] bclozel commented on #15691
Hi @bidadh

Sorry for the late reply. This is actually a bug in Spring Framework and I've created spring-projects/spring-framework#22452 to address it. I'm marking this issue as invalid because it belongs to another project, but your report and especially repro application were really useful.

Thanks for your contribution!

[2019-02-21 16:26] #15691 closed

[2019-02-21 19:50] dmbeer commented on #16006
@mbhave In a clean project no. It seems this might be due to my index controller as it expects a number due to page results.

[2019-02-21 19:50] #16006 closed

[2019-02-21 19:52] mbhave commented on #2011
@GovindRajuSavi Please ask questions on [gitter](https://gitter.im/spring-projects/spring-boot) or StackOverflow. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2019-02-21 23:28] #15537 closed

[2019-02-22 03:57] anandshastri1990 commented on #15674
Thanks for the response. I have raised PR against master. Please let me know if I need to change it to a specific version or in case of any code changes.

[2019-02-22 06:27] BynuLorenz commented on #9371
@kvh44 Thank you for your solution. took me days to figure it out.

[2019-02-22 07:43] markuskruse commented on #14924
Searched in the following locations:
       - file:/C:/Users/blabla/.m2/repository/org/jvnet/mimepull/mimepull/1.9.8/mimepull-1.9.8.pom
       - file:/C:/Users/blabla/.m2/repository/org/jvnet/mimepull/mimepull/1.9.8/mimepull-1.9.8.jar
       - https://repo.spring.io/libs-release/org/jvnet/mimepull/mimepull/1.9.8/mimepull-1.9.8.pom
       - https://repo.spring.io/libs-release/org/jvnet/mimepull/mim

[2019-02-22 07:57] wilkinsona commented on #14924
We still manage the version to be 1.9.10:

https://github.com/spring-projects/spring-boot/blob/v2.1.2.RELEASE/spring-boot-project/spring-boot-dependencies/pom.xml#L134

For that to help, you have to use Spring Boot’s dependency management so I suspect that you are not doing so. If you are, and you would like us to help to diagnose the problem, please open a new issue with a minimal sample that rep

[2019-02-22 08:11] wilkinsona commented on #15915
We can drop the dependency management for mimepull when we do this as 1.5.1 has upgraded to mimepull 1.9.11 which is in Central.

[2019-02-22 11:25] pavelmorozov opened #16016 "Maven scope - provided, but spring-boot-starter-webflux dependencies included in compiled jar."
I want to build jar file library and not include dependencies, as they will be in class path of application which will use this library. I use maven scope - provided for that and all dependencies are excluded but few still left. I found they come from spring-boot-starter-webflux.

Here the sample pom:

[code]
Sample project with just this one dependency is on https://github.com/pavelmorozov/MavenP

[2019-02-22 11:30] wilkinsona commented on #16016
This is working as designed. In the interests of keeping things in one place, I'm going to close this in favour of your question on Stack Overflow.

[2019-02-22 11:30] #16016 closed

[2019-02-22 12:01] wilkinsona opened #16017 "HttpMessageConverters import is wrong in sample code in the reference docs"
Via [Stack Overflow](https://stackoverflow.com/questions/54823022/what-happend-to-httpmessageconverters-in-spring-boot-2), the import is wrong in the sample code in the [reference documentation](https://docs.spring.io/spring-boot/docs/2.1.3.RELEASE/reference/html/boot-features-developing-web-applications.html#boot-features-spring-mvc-message-converters).

[2019-02-22 13:37] GovindRajuSavi opened #16019 "Not creating respective Virtualhost rabbitMq server"
Not creating respective Virtualhost rabbitMq server.

[code]

[code]

[code]

[code]

![image](https://user-images.githubusercontent.com/47241347/53245857-0026fd80-36d5-11e9-92c1-0fba1320de59.png)

[2019-02-22 13:52] snicoll commented on #16011
Unfortunately it is not that easy as the method to register beans that way is part of `GenericApplicationContext` and some of the contexts we use are not inheriting from that base class.

[2019-02-22 14:23] wilkinsona commented on #16019
@GovindRajuSavi I have edited your opening comment to improve the formatting. You can learn how to format comments on GitHub [here](https://guides.github.com/features/mastering-markdown/). I've also changed the title to something shorter.

[2019-02-22 14:27] wilkinsona commented on #16019
From the information you've provided, it's not clear to me what the problem is. However, I can see that you are using Spring Cloud Stream's Rabbit binder rather than Spring Boot's own auto-configuration for RabbitMQ. As such, I don't think this is the right place for this issue.

Given that it's not clear if you've encountered a bug or are looking for some help, I think you'd be better chatting wi

[2019-02-22 14:27] #16019 closed

[2019-02-22 16:42] mbhave commented on #15996
There is a [separate issue](https://github.com/spring-projects/spring-boot/issues/13822) for the `secure` flags in `2.2.x`. The change is a bit more involved than just removing the flags so we can do this as part of the other issue.

[2019-02-22 16:52] wilkinsona commented on #15967
We've discussed this and agreed that we don't want to make any changes to the starter. @rajeshja You may want to raise an issue against `jsonassert` if its split package is causing you a problem.

[2019-02-22 16:52] #15967 closed

[2019-02-22 16:54] wilkinsona commented on #15964
We discussed this today and we do not want to add the extra complexity to the fat jar support to support dynamically reloading them.

[2019-02-22 16:54] #15964 closed

[2019-02-22 17:09] philwebb commented on #907
We'll take another look at this a reconsider the original decision.

[2019-02-22 17:18] wilkinsona opened #16020 "Review support for Spring HATEOAS and its new WebFlux integration"
A non-exhaustive list of things to consider:

 - Auto-configuration ordering
 - `spring-boot-starter-hateoas` is currently MVC specific (it depends on `spring-boot-starter-web`)

[2019-02-22 17:24] spencergibb opened #16021 "RSocket server auto-configuration with Spring Messaging"
Framework issue https://github.com/spring-projects/spring-framework/issues/21292

Ongoing work https://github.com/rstoyanchev/spring-framework/tree/rsocket

Possible candidates for autoconfiguration:
https://github.com/rstoyanchev/spring-framework/blob/cbd5e252702268970cad8de7873bcc605d3dddb3/spring-messaging/src/test/java/org/springframework/messaging/rsocket/RSocketClientToServerIntegrationTests

[2019-02-22 17:25] snicoll opened #16022 "Document our dependencies upgrade policy"
It would be nice to have a document summarizing our upgrade policy has we get requests to upgrade that we have to decline and motivate. Using a reference to a wiki page would be easier and more comprehensive.

Also, describing the scope of what having dependencies management here means will be useful to set expectations. A typical example is #15979

[2019-02-22 17:52] wilkinsona opened #16023 "When spring.profiles.include is set in a property source with higher precedence than the config files, spring.profiles.include in the config files should be ignored"

[2019-02-22 18:49] antonfifindik commented on #8438
Update intellij idea helped in my case!

[2019-02-22 19:04] wilkinsona commented on #15955
We discussed this today and decided that we’d prefer to provide an abstraction that is specifically designed for resolving exception reporters.

[2019-02-22 19:05] wilkinsona commented on #15956
We discussed this today and decided that we’d prefer to provide an abstraction that is specifically designed for resolving application run listeners.

[2019-02-22 22:22] mbhave commented on #16023
We probably won't be able to apply the same rule to profile-specific property files. For example, let's say `application.properties` has `spring.profiles.include=bar` and `application-bar.properties` has `spring.profiles.include=baz`. In this case, we'd process `spring.profiles.include` from both sources.

This means that `spring.profiles.include` would have a cascading behavior for config files c

[2019-02-23 08:19] spring-issuemaster commented on #15969
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-23 09:54] wilkinsona commented on #14736
Another problem with Surefire: https://issues.apache.org/jira/projects/SUREFIRE/issues/SUREFIRE-1546. `@DisplayName` doesn't work at the moment. It's fixed in 3.0.0-M4 but it has not yet been released. It looks increasingly like a move to JUnit 5 is going to require us to jump to Surefire 3.0 as well.

[2019-02-23 10:05] wilkinsona commented on #14736
The current schedule for Surefire 3.0 has M4 starting on 24/12/18 and scheduled for release on 24/02/19. There are then two more milestones planned before 3.0 GA. Those three releases have no dates at the moment. Taking a bit of a stab in the dark and assuming that M5 and M6 have a similar duration to M4, it's pretty tight for 3.0 have reached GA before we RC at the beginning of July.

[2019-02-23 11:53] DevJoseWeb commented on #15969
Thanks sirs, we changed the design to NodeJS.

[2019-02-23 12:49] #15969 closed

[2019-02-23 20:47] mwyrembl opened #16024 "spring.profiles.active ist not set to the profile name specified on the command line for the maven build"
I use Spring Boot 2.1.3.RELEASE and have the following issue:

I use a standard spring boot project created with Spring Initializr.
I have setup maven resource filtering by specifying the following in the pom.xml:

[code]

In the application.properties i have specified the following:

`spring.profiles.active=@spring.profiles.active@`

And I have defined the following profiles in the pom.xml:
[code

[2019-02-24 06:55] snicoll commented on #16024
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2019-02-24 06:55] #16024 closed

[2019-02-24 09:16] ask4gilles opened #16025 "Commons file upload: required request part 'file' is not present"
When using  commons file upload **without setting the flag**:
`spring.servlet.multipart.enabled=false`
You will get:
[code]
SB version 2.1.3.RELEASE
Commons-fileupload:1.3.1
See: [demo_commons_file_upload.zip](https://github.com/spring-projects/spring-boot/files/2897747/demo_commons_file_upload.zip)

[2019-02-24 11:03] Tibor17 commented on #14736
@philwebb
We are developing Surefire in ASF.
Here is too much noise around Surefire. Can you tell me what exactly you need or expect from us in Surefire?

[2019-02-24 16:36] clevertension commented on #16023
@mbhave can you clarify it with more examples? what's the mean of **property source**? xxx.properties file or -D with jvm arguments?

[2019-02-25 04:24] xak2000 commented on #2958
Unfortunately, `StandardServletMultipartResolver` doesn't support defining different max file size etc for different URLs.

This is clearly mentioned in the docs:

So if I need to set different `max-file-size`, `max-request-size` etc based on some condition (e.g. URL), I still need to use `CommonsMultipartResolver` in combination with custom `MultipartFilter` (overriding it's `lookupMultipartResol

[2019-02-25 04:31] controlloli commented on #12510
No exception but no effect for springboot 1.5.6

[2019-02-25 07:45] wilkinsona commented on #2958
As it says, it’s a recommendation, and nothing more than that. If it was a requirement it would say so.

[2019-02-25 07:54] snicoll commented on #14736
@Tibor17 thank you for reaching out. I've started a thread on `maven-dev` and I am happy to follow up with the team over there.

[2019-02-25 07:57] ayudovin commented on #6719
@wilkinsona,  As far as I understand, you want to create `RabbitConnectionFactoryBeanCustomizer` interface. Implementations of this interface will be injected in `RabbitAutoConfiguration` and will customize `RabbitConnectionFactoryBean`, is it correct?

[2019-02-25 08:00] wilkinsona commented on #16023
@clevertension I opened the issue with no description so i’m not sure why you are asking @mbhave to clarify things rather than me. We opened the issue as Madhura and I identified a bug while reviewing another change. It’s a tricky problem and the issue was opened as a reminder to us more than anything else. Madhura’s comment means that it’s not as easy to fix as we had hoped.

A property source is

[2019-02-25 08:22] clevertension commented on #16023
oh, i just want to know more about
1. why `spring.profiles.include` in the config files should be ignored when `spring.profiles.include` is set in a property source with higher precedence than the config files

2. why the cascading behavior wouldn't apply if `spring.profiles.include` was specified in a property source higher than the config files?

you can ignore this reply if the reason is too co

[2019-02-25 08:23] mp911de commented on #15979
Upgrade to 2.9.2 not recommended because of a race condition in `JedisSentinelPool` (see xetorthio/jedis#1953). The issue is fixed in newer Jedis versions, we should wait until the bugfix gets backported to `2.9.x.`

[2019-02-25 08:24] wilkinsona commented on #6719
I'm not sure yet. This issue is assigned to 2.x so we've yet to look at it in detail. I think that some sort of customizer makes sense, but it's complicated a little here as the `RabbitConnectionFactoryBean` isn't exposed as a bean and is really an implementation detail. Therefore, I'm not sure that we want its use to become apparent via a customizer API.

There are a few options that I can see:

[2019-02-25 09:53] wilkinsona commented on #12510
When using the following YAML:

[code]

It fails as described above with 1.5.6.

When using the following YAML:

[code]

The configuration takes effect and logs are written to `logs/app.log` as expected.

@controlloli If you need any further guidance on how to use the workaround, please come and chat on [Gitter](https://gitter.im/spring-projects/spring-boot) or ask a question on Stack Overflow.

[2019-02-25 09:59] wilkinsona commented on #16023
Because property sources are [documented as being considered in order of precedence](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#boot-features-external-config). Once a property is found in a particular source, the same property in sources with lower precedence should be ignored.

Because `spring.profiles.include` in the config files will be ignored once it has been set in

[2019-02-25 10:11] wilkinsona commented on #16023
I'm finding it hard to know what the most intuitive behaviour should be here.

On the one hand, `spring.profiles.include=baz` should take precedence over `spring.profiles.include=bar` and only `baz` should be active. On the other hand, if only `baz` was active, `application-bar.properties` should not be considered so only `bar` should be active.

I can think of two options which I think could be e

[2019-02-25 10:50] ljacomet commented on #16001
Just as an FYI, from the linked Gradle issue, I did some investigation and found that pom files for dependencies with `<type>pom</type` _are added to the Maven build classpath_. Which matches the comment from Stéphane.
See [this comment](https://github.com/gradle/gradle/issues/8582#issuecomment-466960117) for details.

So Gradle is consistent with Maven there.

[2019-02-25 11:03] wilkinsona commented on #16001
I stand corrected. Thanks, @ljacomet. I'm also surprised that Maven behaves the way that it does, but there are probably good reasons for it of which I am ignorant. Our Maven support for building fat jars is already written in such a way that it'll ignore a pom. Our Gradle support has been updated in  https://github.com/spring-projects/spring-boot/commit/59430a26429448ba935a4c23c8cb45f30987b7af to

[2019-02-25 11:20] wilkinsona commented on #16025
Thanks for the sample. You've defined your `multipartResolver` bean using the following `@Bean` method:

[code]

As the return type is `MultipartResolver` rather than `CommonsMultipartResolver`, you're hiding that fact that it's a `CommonsMultipartResolver`. As a result, the `MultipartConfigElement` defined by `MultipartAutoConfiguration` is still auto-configured and you're missing out on the fix

[2019-02-25 11:20] #16025 closed

[2019-02-25 11:27] wilkinsona opened #16028 "Polish CLI's init command"

[2019-02-25 11:48] wilkinsona commented on #15994
Let's take another look at this alongside #16023 and #15445 in 2.2.x. I'm not sure there's anything we can do, but it won't hurt to have another look.

[2019-02-25 11:50] wilkinsona commented on #16023
`spring.profiles.default` is another complicating factor (#15994).

[2019-02-25 12:38] wilkinsona commented on #15774
Looking at this more closely, I don't think there's any way for Spring Boot to easily police this at startup. The location is specified as a `String` and the logic that turns that into a path on the file system isn't completely straightforward and differs between containers. Tomcat and Jetty use the following logic:

 - If the location is null or empty, the temp dir from the servlet context is use

[2019-02-25 12:38] #15774 closed

[2019-02-25 13:00] wilkinsona commented on #16000
Thanks for the sample. I've reproduced the problem with very high CPU usage in `ConsumerServiceApplication` after the performance test has completed. During the test, the following errors were logged:

[code]

Sampling in JVisualVM shows that the 12 XNIO threads are using 900ms/1000ms. Looking at a thread dump, none of them have Spring (Boot or Framework) code in there stacks. Each thread's stack