[2018-08-22 18:40] marcpa00 commented on #14174
FYI : Removing spring restdocs gives same outcome.

[2018-08-22 18:50] mbhave commented on #14165
After discussing with @rwinch and @jzheaux, having a top level `server` namespace doesn't seem to make much sense. The OAuth concept is `Resource Server` and `Authorization server`. Configuring `server.authorization` seems to imply that we're configuring the authorization for a server rather than the Authorization Server itself.

@snicoll Correct me if I'm wrong but we don't use `-` in group names

[2018-08-22 19:08] snicoll commented on #14165
That and we want the structure of the group to be different from the structure of the property.

I still think that a server parent makes sense.

[2018-08-22 20:03] jzheaux commented on #14165
@snicoll, Just for my own understanding, can you explain why you want the structure of the group to be different from the structure of the property? Sounds like part of it might be tech limitations, are there other reasons?

What is the advantage of keeping it `server.resource` and `server.authorization`?

The first, "server resource" reads like it is referring to a resource _on a_ server. This is

[2018-08-22 20:12] vpavic commented on #14165
Assuming `-` is out of the question, looking at the broader picture I agree that `spring.security.oauth2.resourceserver` still reads better (than `spring.security.oauth2.server.resource`), and is more consistent with both _Spring Security OAuth2 Resource Server_ and the configuration DSL itself.

Also with stuff like `contentnegotiation` already in place, `resourceserver` and `authorizationserver`

[2018-08-22 21:43] marcpa00 commented on #14174
I've simplified as much as I could the code to reproduce the problem : no more lombok, no UUID nor DTO (payload is simply a String), no ExceptionHandler, no boot actuator.
Outcome hasn't changed.
Tell me if there is anything else I can try.

[2018-08-22 21:56] marcpa00 commented on #14174
For the record, same results with Spring Boot 2.1.0.M2

[2018-08-22 21:57] mbhave commented on #14154
This code has been moved out of Spring Boot as of Spring Boot 2.0 in favor of the OAuth2 support in Spring Security 5. Spring Boot `1.5.x` is in maintenance mode now and we won't be adding any enhancements there if possible.

[2018-08-22 21:57] #14154 closed

[2018-08-22 22:31] benneq commented on #14154
Who talked about Spring Boot 1.5 ? I'm using Spring Boot 2.0.

[code]

[2018-08-23 02:30] spencergibb commented on #14154
Those dependencies aren't spring-boot but spring cloud.

[2018-08-23 08:04] jreijn opened #14177 "MongoDB (sub)Document conversion fails after upgrade to Spring Boot 2.0.4"
We’re currently updating our project from Spring Boot 1.5.8 to Spring Boot 2.0.4 and seem to have hit a problem with what I think lies in spring-data-mongodb. After a chat on Gitter with @mp911de he suggested to raise an issue here.

We have a pretty basic project setup. In our project we do use document subtypes (we have a Question object with subtypes SingleSelectQuestion and MultiSelectQuestion

[2018-08-23 08:16] snicoll commented on #14175
Thanks for the report. The auto-configurations aren't properly ordered.

[2018-08-23 08:26] olivergierke commented on #14177
Would you mind clarifying what the actual symptoms are? Initial entity set being populated or not is one thing but in general the `MappingContext` adds entities on the fly, i.e. the lookups made from `MongoTemplate` should make them get added over time. That in turn means that verifying on the presence of the `PersistentEntity` instances in the `MappingContext` is sort of invalid as the non-presen

[2018-08-23 08:28] #14175 closed

[2018-08-23 08:42] mmbouraoui opened #14178 "Spring boot and Websphere liberty profile transaction manager"
With the following confiuration :
WLP : wlp-javaee8-18.0.0.2
Spring boot : 2.0.4.RELEASE
I see that HibernateJPAConfiguration is selecting the org.hibernate.engine.transaction.jta.platform.internal.WebSphereExtendedJtaPlatform which did not work for me.
Caused by: java.lang.UnsupportedOperationException
	at org.hibernate.engine.transaction.jta.platform.internal.WebSphereExtendedJtaPlatform$Transac

[2018-08-23 08:47] snicoll commented on #14178
Duplicate of #8926

[2018-08-23 08:47] #14178 closed

[2018-08-23 08:55] jreijn commented on #14177
Yes I'm sorry we're focussing to much on where we think the problem might lie.

In short the problem we are facing is as follows:

During the startup of our application the application loads and we do not see any errors during startup.

When the user loads the UI of the application and moves over to the questions view we hit and error in our backend. Note that no other interactions with the same t

[2018-08-23 09:03] sharmmoh1983 opened #14179 "Spring Boot Security : Exception thrown in custom filter not working"
I am using spring boot security and creating JWTCustomer filter to validate the token and a custom voter to do authorization logic. In case of any issue with the token , I am throwing user defined exception which will be handled by exception handler to generate Error json message

But in actual , after throwing exception I am getting following :

[code]

I am using following configuration:

[code]

[2018-08-23 09:08] olivergierke commented on #14177
That's helpful, thanks. Just to check the obvious: the documents returned by MongoDB contain the type information necessary to find out that a document actually has to become a `SelectQuestion` etc. right?

[2018-08-23 09:16] jreijn commented on #14177
Yes they contain the `_class` information within the document. All documents were created through spring data, but good that you asked.

Our document(s) look like this (copy from MongoDB). I've sanitised the actual content because this is a customer project.

[code]

We've also updated the demo project and added a new test to show the failing conversion when using @EnableMongoRepositories.

[2018-08-23 09:20] DmitryevichD opened #14180 "spring boot 1.5.1 support with hibernate 5.2.1"
Unable to start embedded container; nested exception is
`org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'entityManagerFactory' defined in class path resource [org/springframework/boot/autoconfigure/orm/jpa/HibernateJpaAutoConfiguration.class]: Invocation of init method failed; nested exception is java.lang.NoSuchMethodError: org.hibernate.engine.spi.SessionF

[2018-08-23 09:26] snicoll commented on #14179
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-23 09:26] #14179 closed

[2018-08-23 09:29] olivergierke commented on #14177
Thanks, Jeroen. I'll investigate.

[2018-08-23 09:29] snicoll commented on #14180
@DmitryevichD `1.5.1` is old, please upgrade to the latest bug fix in that line first. If you have more questions, please ask on StackOverflow: as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2018-08-23 09:29] #14180 closed

[2018-08-23 09:35] #14171 closed

[2018-08-23 09:39] sharmmoh1983 commented on #14179
I have posted it on stackoverflow but there seems to be no response.Please assist me in knowing the cause of the issue as I am struggling to get  through it

[2018-08-23 10:35] vpavic opened #14181 "Hibernate 2nd level cache starts before the regular cache auto-configuration"
I've encountered this issue today while trying to upgrade a `2.0.1.RELEASE` based application.

Using `2.0.2.RELEASE` and newer results in the following startup error:

[code]

I've put together a minimal sample application that can be used to reproduce the issue:
https://github.com/vpavic/spring-boot-ehcache-l2-issue

[2018-08-23 11:35] snicoll commented on #14177
Thanks @olivergierke - @jreijn if that turns out not to be the case, let's follow up on the Spring Data issue tracker please. Thank you.

[2018-08-23 11:35] #14177 closed

[2018-08-23 11:43] jreijn commented on #14177
@olivergierke yes I would love to. I tried adding the dependency and adding  https://repo.spring.io/snapshot/ as a repository for my project, but if I browse that repo I don't see the artifact. Which artifact repository contains the snapshot jar?

[2018-08-23 11:44] snicoll commented on #14181
@vpavic thanks for the sample. It was working before most probably by accident (see #13038)

[2018-08-23 12:05] olivergierke commented on #14177
Something went wrong with the feature branch init script. I've fixed that. Binaries should be available now. Feedback at the [ticket](https://jira.spring.io/browse/DATAMONGO-2068) in Spring Data MongoDB for now, please :).

[2018-08-23 12:10] #1789 closed

[2018-08-23 12:15] snicoll commented on #14181
See also #4158

[2018-08-23 12:42] snicoll commented on #2541
This requires a core framework change that still needs to be discussed. I've raised [SPR-17207](https://jira.spring.io/browse/SPR-17207).

[2018-08-23 13:22] laszlokiss opened #14183 "Dropwizard metrics major version increase for Java 10 compatibility"
Spring Boot parent 2.0.3 uses dropwizard-metrics 3.2.6 which causes the following exception with Java 10 on Unix system:
`java.lang.reflect.InaccessibleObjectException: Unable to make public long com.sun.management.internal.OperatingSystemImpl.getOpenFileDescriptorCount() accessible: module jdk.management does not "opens com.sun.management.internal"
at java.base/java.lang.reflect.AccessibleObject.

[2018-08-23 13:54] aguibert commented on #8926
Hi, WebSphere/Liberty developer here.  We contributed a new `WebSphereLibertyJtaPlatform` platform to Hibernate which is picked up as of version 5.2.13 and 5.3.Beta2.  This new platform class allows Hibernate to fully integrate with the WebSphere transaction manager and does not throw any UOEs.

Unless Spring is explicitly setting the `hibernate.transaction.jta.platform` property, Hibernate is now

[2018-08-23 13:56] rwinch commented on #14165
@snicoll

Using `resourceserver` and later `authorizationserver` sounds good to me.

For my (our) own education, can you elaborate on

1) What problems having `-` in a group structure would cause?
2) Why "we want the structure of the group to be different from the structure of the property"

[2018-08-23 14:16] #14181 closed

[2018-08-23 14:25] snicoll opened #14185 "Missing dependency management for Hibernate's 2nd level cache providers"
We have dependency management for `hibernate-ehcache` but there are others (`hibernate-jcache` at least) so it would be nice to complete dependency management there for other users.

While we're at it, we could complete our test suite to validate Hibernate can properly use other cache providers

[2018-08-23 14:41] snicoll commented on #14183
@laszlokiss thanks for the report but we don't upgrade to a new feature release of a third party dependency in a maintenance release of Spring Boot (and certainly not a major one). Spring Boot 2.1 can be considered once/if micrometer catches up (see https://github.com/micrometer-metrics/micrometer/issues/587)

In any case, we have an automated process to align and upgrade dependencies so we'll pro

[2018-08-23 14:41] #14183 closed

[2018-08-23 14:51] bclozel commented on #14012
The initial fix isn't right.
The current `DispatcherHandler` implementation doesn't offer the extension points for that.

[2018-08-23 14:58] vojtapol opened #14187 "Log stack trace properly when context initialization fails"
Stack trace is logged as one line when an exception happens during context initialization. This makes it difficult to read and it can not be formatted by log patterns.

I am using default Spring Boot configuration with no logging properties set.

**To reproduce:**
Add this line in any bean constructor: `if (true) throw new RuntimeException();`

**Result:**
[code]

I even tracked down the commit th

[2018-08-23 15:04] snicoll commented on #14187
I am not sure I understand what you mean by that. This issue tracker is not the right place to discuss a Spring Framework change though.

[2018-08-23 15:08] snicoll commented on #14185
Actually we have those on `master`.

[2018-08-23 15:08] #14185 closed

[2018-08-23 15:09] vojtapol commented on #14187
It's a reaction to:

https://jira.spring.io/browse/SPR-13663

The commit was fixing a non-existent issue and made investigating initialization failures more difficult.

Since the issue mentioned Spring Boot I reported it here but I can move it to Spring Framework if you think that's better.

[2018-08-23 15:10] snicoll opened #14188 "Remove deprecated hibernate-ehcache"
`hibernate-ehcache` (EhCache2 2nd level cache provider for Hibernate) is deprecated as of Hibernate 5.3. You can still use it but you get a warning in the log if you try to do so.

Wondering if we should stop provide dependency management for it.

[2018-08-23 15:12] snicoll commented on #8926
@aguibert thank you very much. Is https://github.com/snicoll/spring-boot/commit/b38187ad9e3e6eef73c0f9b4f70e4a3c1d56da80 what you had in mind?

[2018-08-23 15:15] snicoll commented on #14187
That issue is 3 years old, I am not following. We always prefer issues over code in text or basic description. I've created an empty project with you have indicated and I got the following:

[code]

Please share a minimal sample (github repo or link) that reproduces the problem.

[2018-08-23 15:41] vojtapol commented on #14187
Thanks, your output helped. I tracked my issue all the way to method `SpringApplication::reportFailure` where the logger is supposed to log the error. My application hits the line but is printed in the console. The `logger` member is an instance of class `Jdk14Logger` but in a demo project when the same line is hit the instance of `logger` is of class `Log4JLog`. And the stack trace is printed in

[2018-08-23 15:54] ayudovin commented on #14150
I begin working on this enhancement and now I'm blocked by adding unit test because this method `JwtDecoders.fromOidcIssuerLocation(oidcIssuerLocation)` sends request via `restTemplate` :
`return rest.getForObject(oidcIssuerLocation + "/.well-known/openid-configuration", String.class);`.
Could you give some advice how to mock it ?

[2018-08-23 15:58] mbhave commented on #14150
@ayudovin you can look into `MockWebServer`. There is an example [here](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/test/java/org/springframework/boot/autoconfigure/security/oauth2/client/OAuth2ClientPropertiesRegistrationAdapterTests.java#L308).

[2018-08-23 17:07] mbhave commented on #13860
Closing in favor of PR #13865.

[2018-08-23 17:07] #13860 closed

[2018-08-23 17:09] vpavic commented on #14181
Thanks for the quick fix @snicoll - I've just tested with the `2.0.5.BUILD-SNAPSHOT` and it works! :+1:

[2018-08-23 17:16] #14187 closed

[2018-08-23 17:52] rwinch commented on #14150
I agree with @mbhave `MockWebServer` is a great approach if you need to use the actual `JwtDecoder` that is created from the OIDC Issuer Location.

To add to that...an alternative is to use `@MockBean JwtDecoder` and you can then mock the Jwt that is returned. Yet another option is to use Spring Security [test support](https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#

[2018-08-23 18:10] mbhave commented on #14150
FWIW, I don't think we'd want to mock the `JwtDecoder` because we need to test that the auto-configuration creates the `JwtDecoder` bean using `JwtDecoders.fromOidcIssuerLocation(oidcIssuerLocation);`.

[2018-08-23 18:14] janniksch opened #14189 "In a context hierarchy with a shared classpath a parent context prevents child contexts from overriding server.* and management.* properties"
When having a context hierarchy with a shared classpath configured via `SpringApplicationBuilder` with the parent context being of `WebApplicationType.NONE` and multiple child contexts being of `WebApplicationType.SERVLET` there are properties with prefix "server" and "management" which can't be overridden in child context's `PropertySources`.

For prefix "server" this is caused by `EmbeddedWebSer

[2018-08-23 18:16] rwinch commented on #14150
Sorry I wasn't clear. Agreed. If you are wanting to test `JwtDecoders.fromOidcIssuerLocation`, then `MockWebServer` is the right approach. The alternatives are for scenarios where you are trying to test other aspects of an application.

[2018-08-23 23:52] #14165 closed

[2018-08-23 23:53] mbhave commented on #14150
Closing in favor of PR #14190.

[2018-08-23 23:53] #14150 closed

[2018-08-24 02:12] aguibert commented on #8926
What you have seems reasonable @snicoll, but I don't understand why Spring still calls `configureSpringJtaPlatform()` for non-WebSphere platforms?  All of the big app servers (WebSphere, JBoss, Wildfly, Weblogic, etc) have their own JtaPlatform impls in Hibernate nowadays, see: https://github.com/hibernate/hibernate-orm/tree/master/hibernate-core/src/main/java/org/hibernate/engine/transaction/jta/

[2018-08-24 03:42] cdxf opened #14192 "Devtools doesn't reload the app if the class is named 'Test'"
This is a strange problem. I created a simple Spring Boot project, then I created a class named "Test" like this:
[code]
The app runs fine but if I change the Test class and recompile it, devtools wont reload the app. I've tried rename the class and everything works so the problem only happens if the class is named 'Test'

- Spring version: >2.0.0 ( I've tried with 2.1.0.M2)
- IDE: Intellij (use I

[2018-08-24 07:26] Hana-Lee opened #14193 "2.1.0 M2 has "cannot find symbol" when using Lombok @Builder.Default"
Spring boot 2.1.0 M2 has cannot find symbol error.
Spring boot 2.1.0 M1 was no problem.

[code]

WebixTreeNode.java
[code]

* OS : Windows 10
* Build: maven
* JDK : oracle jdk 10.0.2

[2018-08-24 07:38] snicoll opened #14194 "Let Hibernate configure the JtaPlatform"
Spring Boot currently configures the JtaPlatform by providing a `SpringJtaPlatform` or some tweaked decision based on the environment.

First, Hibernate has now platform support implementations for everything that we need. And keeping a copy on our side means  we don't implement properly specific methods beyond resolving the `TransactionManager` and the `UserTransaction`.

We should stop configuri

[2018-08-24 07:39] snicoll commented on #8926
Good point @aguibert! I've spent more time digging and I agree about your analysis. I've created #14194 that supersedes this issue. Thanks again!

[2018-08-24 07:49] Hana-Lee commented on #14193
Here is test code sample.
[2.1.0.M2.demo.zip](https://github.com/spring-projects/spring-boot/files/2317500/2.1.0.M2.demo.zip)

[2018-08-24 08:06] sundy20 opened #14195 "Spring boot 2.0.4 server.port bug"
Server.port=8090 request http status 405
After replacing the port
Server.port=8081 request http status 200

[2018-08-24 08:12] snicoll commented on #14192
@cdxf getting help on how to use your favorite IDE should be requested in a dedicated forum. I am closing this as there is no indication there is a bug in Spring Boot. We can reopen if necessary.

[2018-08-24 08:12] #14192 closed

[2018-08-24 08:14] snicoll commented on #14195
@sundy20 there's nowhere near enough information to figure out if there is an issue in Spring Boot or your environment. Spring Boot doesn't do anything special in this area. To know for sure, please share a sample we can run ourselves that reproduces the problem.

[2018-08-24 08:16] snicoll commented on #14193
@Hana-Lee I am not sure I understand why you're reporting a bug against Spring Boot for a compilation failure with Lombok. If you have a question, please ask on StackOverflow: as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2018-08-24 08:16] #14193 closed

[2018-08-24 08:37] snicoll commented on #14194
It would be nice to achieve this but it's not that easy:

* `Atomikos` is not supported (I've raised [HHH-12929](https://hibernate.atlassian.net/browse/HHH-12929)
* The algorithm Hibernate uses can be totally different than what we use (i.e. you may have two implementations on the classpath, we could chose one and hibernate another)
* You may want to not use JTA (but happen to have a JTA library o

[2018-08-24 08:37] #14194 closed

[2018-08-24 08:38] snicoll commented on #8926
After further investigation, I am changing my mind (see the analysis in #14194) and I'll fix things only for the Websphere case for now.

[2018-08-24 08:43] sundy20 commented on #14195
https://github.com/sundy20/netty-push/tree/master/netty-push-client
set Server.port=8090 request http status 405
you can try

[2018-08-24 08:50] #8926 closed

[2018-08-24 08:51] snicoll commented on #14195
@sundy20 thanks for the reference to the sample but that's not really what I have in mind. What are the instructions to reproduce the problem? If you want us to take the time to investigate, please take the time to explain how the issue can be reproduced.

[2018-08-24 09:52] spring-issuemaster commented on #14088
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-08-24 09:55] ggj2010 commented on #907
老铁 666666

[2018-08-24 14:10] snicoll commented on #14161
Potentially but not only. I'd like @wilkinsona to have a look as well.

[2018-08-24 14:21] #14163 closed, assigned to nobody

[2018-08-24 14:41] #14145 closed

[2018-08-24 14:47] snicoll commented on #13913
Closing in favour of PR #14173

[2018-08-24 14:47] #13913 closed

[2018-08-24 15:09] #13896 closed

[2018-08-24 16:05] #13810 closed

[2018-08-24 16:11] ST-DDT commented on #14088
I currently cannot help you with that.

[2018-08-24 16:19] MartinX3 commented on #14088
That's my personal solution.
If the kafka bus is down (standard timeout 60 seconds) it will show the kafka as "down" at the actuator health endpoint.

[code]

[2018-08-24 16:57] csavory opened #14196 "Allow the ability to set shareNativeConnection to false for LettuceConnectionFactory"
By default, the `LettuceConnection` will use the `sharedConnection` for almost all non-tx or non-blocking operations.

I have found the exclusive use of the shared connection to not allow very high throughput of many concurrent Redis calls. My reads connections are constantly being blocked by `LettuceFutures.awaitOrCancel`.  Therefore I would like to set `shareNativeConnection` to false in the `Le

[2018-08-24 17:42] koehn opened #14197 "Prometheus Actuator Exporter cannot produce output that Prometheus server can consume"
using Spring Boot 2.0.4/Spring Boot Starter Actuator 2.0.4/Spring-*-5.0.8:

When enabling the `io.micrometer:micrometer-registry-prometheus:1.0.6` acutator endpoint, with the following properties set:

[code]

When using Prometheus 2.3.2, when it attempts to retrieve the stats is reports `server returned HTTP status 406`.

When attempting to `curl http://localhost:8080/actuator/prometheus`, a 406

[2018-08-24 17:50] koehn commented on #14197
According to the [current Spring Boot documentation](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/):

[2018-08-24 18:09] koehn commented on #14197
Could be related to https://jira.spring.io/browse/SPR-17078?page=com.atlassian.jira.plugin.system.issuetabpanels%3Achangehistory-tabpanel

[2018-08-24 19:05] koehn commented on #14197
Actuator's `RequestResponseBodyMethodProcessor` is not configured with a `StringHttpMessageConverter`, only a `TypeConstrainedMappingJackson2HttpMessageConverter` and a `MappingJackson2HttpMessageConverter`; that's why the 406 is being returned. It doesn't have a handler that can handle a String. The `Accepts` header matching is working fine.

[2018-08-24 19:10] koehn commented on #14197
Never mind; I found the configuration problem.

[2018-08-24 19:10] #14197 closed

[2018-08-24 19:16] #14169 closed

[2018-08-24 21:18] srdpt3 opened #14198 "Spring boot start failed: Unable to start EmbeddedWebApplicationContext due to missing EmbeddedServletContainerFactory bean"
This is my issue

https://stackoverflow.com/questions/52008600/spring-boot-start-failed-unable-to-start-embeddedwebapplicationcontext-due-to-m

[2018-08-24 23:08] ryber commented on #13618
Hello, @spring-issuemaster  I am also getting this issue as well. I have it isolated down to a simple project here: https://github.com/ryber/spring-props/

Note:
* I have the spring.factory set correctly (I think)
* When you start the application you can clearly see in the sys.out where the encrypted properties are being read (several times for some reason)
* When you go to the root controller (In

[2018-08-25 05:00] snicoll commented on #14198
There is no need to open a duplicate at this point.

[2018-08-25 05:00] #14198 closed

[2018-08-25 11:14] raj-vishal opened #14200 "Spring Boot Application fails to start: Reports error "Caused by: java.lang.NoSuchMethodError: org.springframework.boot.builder.SpringApplicationBuilder.<init>([Ljava/lang/Object;)V""
**I am trying to add a dependency(using older spring boot 1.5.10.RELEASE) to  spring new boot application that I am trying to build using 2.0.3.RELEASE.

Before the dependency is added, the new spring Boot application works fine, but once I add the dependency, the application fails to run, although the compilation works seamlessly. The dependency has critical business logic that needs to be used,

[2018-08-25 12:27] spencergibb commented on #14200
You also have to upgrade spring cloud to Finchley.SR1

[2018-08-25 16:00] ST-DDT opened #14201 "Add maven-scm-plugin + maven-release-plugin to spring-boot-dependencies"
🎁 Enhancement

Please add the maven-scm-plugin + maven-release-plugin to the plugin-management-section, because the default versions that will be used by some maven versions contains a bug, that it does not create a git-commit before a release.

https://mvnrepository.com/artifact/org.apache.maven.plugins/maven-scm-plugin
https://mvnrepository.com/artifact/org.apache.maven.plugins/maven-release-plu

[2018-08-26 01:51] darm191065 commented on #13796
the same issue worked for me on the same release

Thank for the fix mate

[2018-08-26 07:03] DcortezMeleth opened #14203 "Validation not working in Spring Boot 2 MockMvc integration tests."
Recently while working on a REST service (with Spring Boot Starter Web and Data JPA in version 2.0.4.RELEASE) I have discovered that while testing controller with MockMvc validation is not fired. I have found similar issue regarding Spring Boot 1.5.0 which is already resolved #7582 but here I cannot make it work even adding additional dependencies suggested in mentioned issue. I was looking for a

[2018-08-26 08:53] snicoll commented on #14200
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-26 08:53] #14200 closed

[2018-08-26 08:58] snicoll commented on #14203
That looks like a duplicate of #13897 again. Your report is mentioning specifically `MockMvc` but it doesn't really say if that's working when the application is running.

[2018-08-26 09:20] zhangjiaxin281 opened #14204 "redisTemplate ValueOperations increment get null"
First of all, I have to say that key exists in redis,
 This key is a self-increasing sequence,
But sometimes getting this key is null.
I used spring-boot: 2.0.4.0.release
My expectation is to get a self-increment of 1 at a time to generate the order number.Please test if this is a bug,My code is as follows.

    @Override
    @Transactional(rollbackFor = Exception.class)
    public boolean payment

[2018-08-26 10:53] dassader opened #14205 "Remote devtools lose reference to component after making a change"
Spring Boot version: 2.0.4.RELEASE
JDK: 8.0_151

**Video**: https://youtu.be/dBkZ7BY9k4Y

**Prepare stage**:
- Package a spring boot application to JAR
- Run JAR with remote debug
- Run RemoteSpringApplication

**Steps**:
- Create new component
- Compile class
- Change something inside the new component
- Compile again

**Expected**: Component was load with changes
**Actual**: Component was load i

[2018-08-26 12:15] DcortezMeleth commented on #14203
I have no idea how did I check that earlier, but you are right. It's not working in both cases as you predicted. I guess it's duplicate then. If anyone wonders I have solved it as suggested in mentioned issue, by changing annotations to form:
[code]

Thanks for help and sorry for taking your time.

[2018-08-26 13:50] kewne commented on #14131
For future reference, in case someone else runs into this: I've worked around the issue by creating a [JUnit test suite](https://github.com/junit-team/junit4/wiki/Aggregating-tests-in-suites) with just my `@WebMvcTest` annotated tests.

[2018-08-26 14:01] snicoll commented on #14204
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-26 14:01] #14204 closed

[2018-08-26 14:04] #14203 closed

[2018-08-26 14:11] raj-vishal commented on #14200
Thanks @spencergibb . That really helped to get over the issue raised. However following that I have been thrown the exception "InvocationTargetException: Error creating bean with name 'redisTemplate'". Will create an issue on Stack Overflow with the details, as @snicoll

[2018-08-26 19:43] Kidlike opened #14207 "@Validated groups don't work with @RequestBody"
Inside a `@RestController`, when a `@RequestBody` object is also `@Validated` with a group, then **validation does not occur at all.**

`@Validated` without a group works as expected.

Sample code: https://github.com/spring-projects/spring-boot-issues/pull/80

[2018-08-27 05:46] michalrames opened #14208 "Suspected issue with MethodInterceptor chain when using combination of proxy-dependent features"
I am using `@EnableCaching`, `@EnableTransactionManagement`, `@EnableAspectJAutoProxy`, and `@EnableAsync` in my project, all of which depend on proxying.

I was experiencing issues with execution pointcuts not working intermittently - described here https://stackoverflow.com/questions/51995734/spring-aop-aspect-inconsistent-behaviour-with-pointcuts-for-spring-data-reposito

I was able to restore

[2018-08-27 06:28] snicoll commented on #14208
Thanks for getting in touch but, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. I've replied to your SO thread and you can also join us on Gitter if you want to chat.

[2018-08-27 06:28] #14208 closed

[2018-08-27 08:06] dassader opened #14209 "FileSystemWatcher timeout"
Could you please add possibility to set timeout for `FileSystemWatcher`?
As you can see on screenshot the watcher will be use file system in cycle, without sleep.
In this case we have an excess load.

![image](https://user-images.githubusercontent.com/6272505/44648003-66fa8100-a9e8-11e8-9185-019ee081bfd6.png)

[2018-08-27 08:34] fanjianhang commented on #13191
It occurred the same problem in Boot 2.0.4 RELEASE with 1.21 snakeyaml, but i found it can ran correctly on 1.19. What happened.

[2018-08-27 08:39] filiphr commented on #10645
Just for an information the Issue with Maven and IntelliJ ([IDEA-150621](https://youtrack.jetbrains.com/issue/IDEA-150621) has now been resolved and using `annotationProcessorPaths` works out of the box with IntelliJ and Maven now.

[2018-08-27 08:44] asomov commented on #13191
1.22 adds back the removed methods making it backwards compatible with 1.19

[2018-08-27 08:52] spring-issuemaster commented on #14121
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-08-27 09:13] ST-DDT opened #14210 "Define execution id for repackage goal in spring-boot-starter-parent"
To simplify overriding and extending the goals it would be nice if you could define a execution id for the repackage goal. This is helpful, if you only need the build-info and not the repackage goal.

https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-starters/spring-boot-starter-parent/pom.xml#L154

**Example:**

[code]

[2018-08-27 09:17] snicoll commented on #14210
I am assuming you mean you could then add a config where `skip` is `true` for the `repackage` execution? If you have something else in mind, please clarify. Thank you.

[2018-08-27 11:05] ST-DDT commented on #14210
Yes.

[2018-08-27 11:57] #14210 closed

[2018-08-27 12:13] bclozel commented on #14174
Overriding the Spring Framework version to 5.0.7 instead of 5.0.8 works around that problem. This shows that this is likely to be a Spring Framework problem in the first place.

I tracked the issue down to a change in Spring Framework 5.0.8, namely [SPR-16949](https://jira.spring.io/browse/SPR-16949). I've created [SPR-17220](https://jira.spring.io/browse/SPR-17220) to fix that.

In the meantime,

[2018-08-27 12:13] #14174 closed

[2018-08-27 12:36] abhi4151 opened #14211 "DefaultErrorAttributes is not working in SpringBoot 2.0.4"
I'm throwing a `CustomException` for every incorrect REST URL in my SpringBoot Application. But `DefaultErrorAttributes` is not getting executed after upgrading Spring Boot 1.5.4 to 2.0.4 release.

Earlier I was using:

[code]

But Spring boot 2 has changed the above class to:

[code]

But after upgrading it is returning BLANK JSON Request. Though while debugging, I'm sure we are throwing `CDBaseE

[2018-08-27 12:44] radistao commented on #9242
still a question: is it a right solution to enable `jar` task manually for every included sub-project?

[2018-08-27 12:45] snicoll commented on #9242
@radistao please review the comment from Andy above and [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues).

[2018-08-27 13:40] asomov commented on #13191
SnakeYAML 1.22 has been already released.

[2018-08-27 14:44] jisikoff commented on #13191
As far as I can tell from my testing with 1.22 and spring boot 2.04.RELEASE this is still broken
[code]

[2018-08-27 15:01] asomov commented on #13191
Indeed [ in the pull request](https://bitbucket.org/asomov/snakeyaml/pull-requests/40/restore-constructors-and-methods-recently/diff) the  constructors are restored (by overloading) but the getters cannot be overloaded.

[2018-08-27 15:15] asomov commented on #13191
Indeed [ in the pull request](https://bitbucket.org/asomov/snakeyaml/pull-requests/40/restore-constructors-and-methods-recently/diff) the  constructors are restored (by overloading) but the getters cannot be overloaded.

[2018-08-27 15:28] asomov commented on #13191
@jisikoff : can you please help me to fix it ?

I have re-open [the issue for SnakeYAML](https://bitbucket.org/asomov/snakeyaml/issues/412/restore-the-boolean-constructors-for)

Can you please try the latest 1.23-SNAPSHOT  ? It is already available [in the Sonatype repository](https://bitbucket.org/asomov/snakeyaml/wiki/Installation)

[2018-08-27 15:37] jisikoff commented on #13191
@asomov  will give it a try

[2018-08-27 15:53] jisikoff commented on #13191
@asomov 1.23-SNAPSHOT seems good! might want to have some other people/projects give it a try but looks good with my particular spring boot 2.04.RELEASE project which now both passes tests and starts up fine

[2018-08-27 15:55] asomov commented on #13191
We will make a release today.
(restoring the backwards compatibility was the main goal for release 1.22)

[2018-08-27 15:56] snicoll commented on #13922
Thanks for the analysis @nosan but I don't think we can ignore `FactoryBean`. We'll have to revisit this one and see if we can move the lazy part somewhere else.

[2018-08-27 16:01] snicoll commented on #12575
Closing per comment above.

[2018-08-27 16:01] #12575 closed

[2018-08-27 16:30] #14137 closed

[2018-08-27 16:35] dsyer commented on #14121
I don’t see any requests for feedback.

[2018-08-27 16:43] mbhave commented on #14166
Closing in favor of PR #14199.

[2018-08-27 16:43] #14166 closed

[2018-08-27 17:28] ayudovin opened #14214 "Adding @DataCassandraTest for typical Cassandra tests"
Create annotation `@DataCassandraTest` like `@DataMongoTest` or `@DataRedisTest`, `@DataNeo4jTest` for unit tests

[2018-08-27 17:39] asomov commented on #13191
SnakeYAML 1.23 has been released (let us hope it can solve most of the issues with backwards compatibility)

[2018-08-27 17:40] mbhave commented on #14214
@ayudovin We've discussed this quite recently as a team and declined a similar issue. Perhaps, [this comment](https://github.com/spring-projects/spring-boot/pull/13033#issuecomment-400430466) can provide more background. Also, see [this](https://github.com/spring-projects/spring-boot/issues/8607#issuecomment-403414742).

[2018-08-27 17:40] #14214 closed

[2018-08-27 17:43] ayudovin commented on #14214
ok, sorry, I don't know about those discussions.

[2018-08-27 18:43] philwebb opened #14216 "Add CI setup for Graal"
Once the issues with Graal have been ironed out we should add a CI to ensure basic apps work.

[2018-08-27 18:58] alimate commented on #14207
When you specify a validation group with the `Validated` annotation, then only constraints with that group would be picked up by the Bean Validation. In your case, you specified a validation group in your controller parameter:
[code]
But you didn't assign any validation group to `SomeDto` constraint, i.e. the`@ValidDto`. So the `ValidDto` annotation will be ignored when you're applying the `Should

[2018-08-27 19:02] snicoll commented on #14207
@alimate Thanks. I've been poking at the Spring Framework issue tracker for a related issue as clearly this isn't Spring Boot related but couldn't find a reference.

[2018-08-27 19:02] #14207 closed

[2018-08-27 19:17] philwebb commented on #14211
It's hard to tell from the code snippets what's happening. Please can you share a minimal project that reproduces the issue.

[2018-08-27 19:28] Kidlike commented on #14207
Well this is not strictly `spring-boot` related, but it is spring related, since `@Validated` is coming from Spring.

Also, why exactly did you close this? Please provide some information, not just `for:stackoverflow` without reasoning.

Anyway... Back to the issue at hand.

Exactly the same behavior as described in the ticket **is** working for request params that live inside a class. i.e. if you

[2018-08-27 19:28] philwebb commented on #14209
@dassader Can you provide some more information about the excess load that you're seeing and where you want the timeout? There are some `Thread.sleep` class in the `scan()` method.

[2018-08-27 19:30] snicoll commented on #14207
@Kidlike you've got an answer about your use case right above. If you have more usage questions, please ask them on StackOverflow, as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2018-08-27 19:31] amitshrivastava97 commented on #13796
hi

[2018-08-27 19:33] Kidlike commented on #14207
It is a bug... just wait I'm writing the working example. The use case provided is not valid, or as expected.

[2018-08-27 19:39] philwebb commented on #13905
Closing in favor of PR #14206

[2018-08-27 19:39] #13905 closed

[2018-08-27 19:55] Kidlike commented on #14207
Thanks. I was actually trying to replicate the working example, and it doesn't. I don't know why I was under the false assumption that it's working. Cheers.

[2018-08-27 20:36] philwebb commented on #13618
@ryber The `PropertySourceLoader` interface is really designed to allow additional file types to be loaded. Since there's a built in `PropertiesPropertySourceLoader` providing properties file support I think your loader might be getting called in addition the the regular one.

We should probably guard against that, or at least improve the Javadoc. You might want to look into the `EnvironmentPostPr

[2018-08-27 20:39] philwebb commented on #14196
@csavory For now you'll need to define your own `LettuceConnectionFactory` `@Bean`.

[2018-08-27 20:53] WilfredKesh commented on #14126
I checked the contents of the war file and the jars are actually there but for some reason they cannot be read. Is spring boot 2.0.4 not compatible with WAS 9.0.7? Are there additional tweaks that need to be configured to make it work in WAS 9.0.7 I believe this is more of a spring issue than stack overflow.

[2018-08-27 21:36] philwebb commented on #14165
@rwinch

Using dashes in the prefix is problematic because they do not follow the same binding rules as the names. It basically causes a ton of confusion so we try not to use them. For example, given a `@ConfigurationProperties("foo.bar")` and a field `firstName`, you can bind using any of the following:

[code]

If the prefix were `foo-bar` the "java style" and "environment variable style" start

[2018-08-27 21:45] philwebb commented on #14189
We've not really considered such complex configurations and I expect that even if we could solve these immediate issues there will be other assumptions in the code that will cause problems. What's the reason that you need to create such a hierarchy?

[2018-08-27 22:02] philwebb commented on #14196
Closing in favor of PR #14217

[2018-08-27 22:02] #14196 closed

[2018-08-27 23:37] #13627 closed

[2018-08-28 02:02] ryber commented on #13618
thanks @philwebb, now that I'm looking at EnvironmentPostProcessor I totally remember doing it this way before.  (I was sure I never did one of those old school META-INF factories before)

In any case, just FYI I went down the PropertySourceLoader path because googling lead to some blogs and SO questions implying that was the right way. So you may get more of those from time to time without maybe

[2018-08-28 07:07] snicoll commented on #14126
@WilfredKesh have you asked on SO as @bclozel asked?

"for some reason they cannot be read." is a bit vague. The description so far looks an operator or WAS-specific issue. Feel free to edit your comment with a reference to the SO question.

[2018-08-28 07:32] snicoll commented on #13618
@ryber thanks for the feedback. There are 3 somewhat-related reference to `PropertySourceLoader` in the documentation, two of them [in this section](https://docs.spring.io/spring-boot/docs/current/reference/htmlsingle/#howto-customize-the-environment-or-application-context) that describes the `EnvironmentPostProcessor` should be used to customize the `Environment`.

What am I missing? Do you have

[2018-08-28 07:47] asomov commented on #13191
@twicksell : should the issue be closed ? You can test it with SnakeYAML 1.23

[2018-08-28 07:49] snicoll commented on #13191
@asomov I'll have a look, upgrading to 1.23 on `master` accordingly.

[2018-08-28 07:54] snicoll opened #14218 "Upgrade to SnakeYAML 1.23"

[2018-08-28 07:54] asomov commented on #13191
I would like to create a pull request to get rid of deprecated methods. Should I better wait for your upgrading on master ?

[2018-08-28 07:57] snicoll commented on #13191
@asomov thanks for offering to submit a PR. Please go ahead on `master` with an upgrade to `1.23` and we can take it from there.

Given the state of affair, we won't update `2.0.x` as our policy is to not upgrade to new feature release of a third party dependency of a maintenance release of Spring Boot. 1.23 is satisfactory and can be overridden in `2.0.x`.

Duplicate of #14218

[2018-08-28 07:57] #13191 closed

[2018-08-28 08:03] mp911de commented on #14196
We should clarify one thing first before extending configuration: Redis itself is single-threaded so increasing the connection count for Redis Standalone does not improve throughput performance.

@csavory if you recognize a single connection as an obstruction for your application, then we should continue the discussion along with some profiling data in https://github.com/lettuce-io/lettuce-core.

[2018-08-28 08:33] snicoll commented on #14196
@csavory switching to declined based on the comment above. Please follow up on the lettuce project and we can reopen if it turns out something needs to be done in Spring Boot.

[2018-08-28 11:03] maxtacco commented on #13187
Hi, I have the same issue. What is the recommended solution for this case?

[2018-08-28 11:05] dassader commented on #14209
@philwebb Oh, I see. I am really sorry.

[2018-08-28 11:13] maxtacco commented on #13187
Ok, for now I just enabled `jar` task to make things work. If archive names produced by `jar` and `bootJar` are the same one needs to add `classifier` property to either `jar` or `bootJar` as described in the docs or change `archiveName` property.

[2018-08-28 11:15] #14209 closed

[2018-08-28 12:18] snicoll opened #14219 "Remove `spring.cloud.enabled` property"
`CloudAutoConfiguration` (worth renaming?) has a `spring.cloud.enabled` property that has no metadata. I don't think it was ever advertized so I'd like us to get rid of it (since `spring.cloud` is a different territory anyway).

[2018-08-28 15:40] jzheaux opened #14222 "Consider changing `issuer-url` to `oidc-issuer-location`"
The properties for configuring an issuer in boot are

`security.oauth2.resourceserver.jwt.issuer-url` and
`security.oauth2.client.provider.{registrationId}.issuer-url`.

This is nice because the naming is consistent and it is clear based on the naming what they are configuring (a url).

Because this property is for the expressed purpose of configuring via the [OIDC Provider Configuration specifica

[2018-08-28 15:47] rwinch opened #14223 "Provide MockWebServer Integration"
I'd like Spring Boot to provide integration with MockWebServer. For my particular case, I'd like to be able to leverage MockWebServer.url to configure environment variables for testing. For example, a user of Spring Boot's Security OAuth2 support might want to provide a value for `spring.security.oauth2.resourceserver.jwt.issuer-uri` that points to the `MockWebServer`.

One way a user might be abl

[2018-08-28 16:49] rwinch commented on #14223
@philwebb Thanks for the fast response. Yes that is what I mean.

[2018-08-28 17:35] ryber commented on #13618
I think the main issue is that EnvironmentPostProcessor is kind of general catch all for doing "stuff" to the environments. I was looking specifically for encrypting properties. And so are a lot of other people. "Security By Design" is starting to be a major thing (thank goodness) and I think it would be great if Spring Boot incorporated that our of the gate.

If you google for "Encrypt Spring Boo

[2018-08-28 17:46] philwebb commented on #14223
See also #5173 which relates to using wiremock.

[2018-08-28 17:50] philwebb commented on #14222
I'm not a big fan of acronyms in properties so`oidc-issuer-location` doesn't sit well with me. I guess we could name it `openid-connect-issuer-location`, but that's getting a bit wordy.

Perhaps we can keep the `issuer-url` name (which I quite like) and use the property meta-data to provide more details on the purpose?

[2018-08-28 17:57] philwebb commented on #13618
Some discussion on encrypted property source is in #1312. My current feeling is that providing good encryption support is hard and we should leave it to [Spring Cloud Vault](https://cloud.spring.io/spring-cloud-vault/) (although I agree that the lack of documentation is problematic).

[2018-08-28 18:02] philwebb commented on #14219
`SpringCloudServiceConnectorsAutoConfiguration` ?

[2018-08-28 18:03] philwebb commented on #14219
I think we can just drop the property and use standard auto-configure exclusions to disable it.

[2018-08-28 18:04] philwebb commented on #14209
@dassader No worries, thanks for investigating.

[2018-08-28 18:32] philwebb commented on #14158
Thanks for the detailed analysis

[2018-08-28 18:34] philwebb commented on #14157
Tempted to see how https://github.com/oracle/graal/issues/622 plays out before we rush to change this. I imagine we've a more cases like that.

[2018-08-28 19:06] philwebb commented on #14079
I think this is working as designed since the `CompletableFuture` is running in a new thread. As @nosan suggest, calling `LocaleContextHolder.getLocale()` in the MVC thread then using it in the `CompletableFuture` is probably the best approach.

[2018-08-28 19:06] #14079 closed

[2018-08-28 19:29] vpavic commented on #14222
With the emergence of OAuth 2.0 Authorization Server Metadata specification (i.e. [RFC 8414](https://tools.ietf.org/html/rfc8414)) I'd strongly suggest against using anything OpenID Connect specific in the metadata related properties (such as this one) since going forward metadata format specified in this RFC should be preferred to [OpenID Connect Discovery 1.0](https://openid.net/specs/openid-con

[2018-08-28 19:31] philwebb commented on #1525
@bardascat The "milestone" at the top of the issue shows the version it was fixed in. In this case 2.0.0.M7.

[2018-08-28 20:10] asomov commented on #13191
Pull request: https://github.com/spring-projects/spring-boot/pull/14224

[2018-08-28 20:19] marcingrzejszczak opened #14225 "Spring Boot Groovy & Gradle version issues"
In Spring Cloud Contract we're creating a Gradle plugin. We're inheriting the Groovy version from Boot (2.5).

Let's say that we have a Gradle (4.10) application that uses the Boot Gradle plugin (2.1.0.M2) and the Spring Cloud Contract Gradle Plugin (2.1.0.BUILD-SNAPSHOT). For the application code, the Groovy (2.5) version gets inherited from Boot. For the plugin classpath, the Groovy version (2.4

[2018-08-28 20:35] mbhave commented on #13812
@jgrandja Would you agree that `redirect_uri` for authorization_code clients is a required field?

[2018-08-28 20:53] #13812 closed

[2018-08-28 20:58] mbhave opened #14226 "Deprecate OAuth2 login redirect_uri_template in favor of redirect_uri"
We think that `redirect_uri_template` is a bit verbose. Also, the fact that it is a template is an implementation detail.

[2018-08-28 21:02] mbhave commented on #14222
Just to clarify, the current property is `issuerUri` and not `issuerUrl`. I think that is consistent with the rest of the properties we have for other OAuth2/Open ID connect endpoints. If there is any clarification that needs to be added about discovery vs validation we can add that in the documentation/metadata.

Also, going by what @vpavic said, tying `oidc` or `open-id-connect` to the `issuer-u

[2018-08-28 22:43] #14226 closed

[2018-08-28 23:20] mbhave opened #14227 "Deprecate 'secure' on WebMvcTest and AutoConfigureMockMvc"
The secure flag dictates if Spring Security's mock mvc support should be auto-configured when it is
on the classpath. It also imports `SecurityAutoConfiguration` if set to true. However, Spring Security provides some handy test support which means you do not need to disable security for tests in most cases. For example, you can add `@WithMockuser` and the test will run with an authenticated user.

[2018-08-28 23:53] aparsons commented on #10743
[code]

[2018-08-29 00:21] #14225 closed, assigned to nobody

[2018-08-29 01:41] SanjayGautam opened #14229 "AutoConfigure Disable at Not working if Configured in Class."
I have included the quartz starter , but this is in one jar , this jar is a generic framework and I use with different application, when I include some application really don't need Quartz starter, `SchedularFactory` being getting instantiated.  Below is the step to disable auto-configure.

**1.  Java Configuration  : DOES NOT WORK**

[code]

**i.e. quartz scheduler still get instantiated not expe

[2018-08-29 02:25] shaopro opened #14231 "Encounter circular dependencies with constructor Autowired"
**Version：SpringBoot2.0.4.RELEASE**
DataBase MongoDB

In the same position, I did not encounter this problem with @Autowired injection.
[code]
------------------------------------------------------------------
[code]
------------------------------------------------------------------
[code]
------------------------------------------------------------------
[code]

[2018-08-29 06:29] vpavic commented on #12962
Sorry to comment on a closed issue, but isn't this a bit too aggressive having [semver](https://semver.org/#how-should-i-handle-deprecating-functionality) guidelines in mind?

[2018-08-29 06:40] tutufool commented on #12035
I'd also suggest to bring the additional connector feature back to TomcatReactiveWebServerFactory, just like TomcatServletWebServerFactory.

[2018-08-29 07:02] snicoll commented on #14229
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-29 07:04] snicoll commented on #14231
What is the stacktrace, or better yet, the failure analysis of the circular dependencies. We can't really guess what the problem might be looking at isolated text in code, that's why we always prefer a sample (github repo, or link to a zip) that we can run ourselves. If you can share that, that would be much better.

[2018-08-29 07:11] snicoll commented on #14219
Thanks, let's do this as this unknown property will keep popping up in report until we remove/document it.

[2018-08-29 07:42] mdeinum opened #14233 "Allow to disable TaskExecutor creation"
Spring Boot 2.1 added auto-configuration for a `TaskExecutor` and `TaskScheduler`, however these re always created even if we don't want it. It would be nice if we could easily enable/disable this features.

So this is a request to add an `enabled` property on both `TaskExecutionProperties` and `TaskSchedulingProperties` (defaulting to `true`) and honor the settings when switched to `false`.

[2018-08-29 08:02] snicoll commented on #14233
Thanks but you haven't really explained what the problem is. As you're probably aware, we are not keen to add `enabled` flags for auto-configurations so that's likely not to happen.

What is the problem?

[2018-08-29 08:16] snicoll commented on #14233
That statement is wrong for `TaskSchduler`: it should only be created if `@EnableScheduling` has been set somewhere. `TaskExecutor` costs zero (doesn't start a thread and is fully lazy) which is why we thought it was affordable to create it.

[2018-08-29 08:42] mdeinum commented on #14233
Well generally I don't like beans that get created that I don't need. And I noticed a changed output when running a sample:

[code]

This was basically the trigger for creating this issue (or feature request rather I guess).

Also nothing is for free, creating an object costs time and memory although maybe not that much it still adds to the memory (and a lot of small ones make a large one eventual

[2018-08-29 08:54] kaifuu commented on #6726
Hi,@Zubastick
If your convenient, could your help me take a look? many thanks.
I used YamlPropertySourceFactory, it need to append spring-boot.1.5.4.RELEASE in pom.xml.
When the program is run, the following exception occurs.

2018-08-29 16:49:14.644 ERROR [main] org.springframework.boot.SpringApplication:771 - Application startup failed
java.lang.NoClassDefFoundError: org/springframework/boot/con

[2018-08-29 09:02] rajeshkp commented on #13441
I am getting a similar warning in JDK 10 as well

[2018-08-29 09:38] snicoll commented on #14233
I don't think relying on a log entry is very rational. An `AsyncTaskExecutor` may just as well be created behind your back with no log at all because no alternative exists.

I agree with that but there is nothing particular with that `@Bean` with regards to other beans that could be created unconditionally. I agree however this one is a bit special as we can't restrict by classpath scanning (since

[2018-08-29 09:46] snicoll commented on #14222
I don't like acronyms in property names either. Clarifying the purpose of the key is exactly what the metadata and the documentation are for. Same vote as @mbhave.

[2018-08-29 10:09] naveenkumarboopathi opened #14235 "Dependency creation"
Hi ,
   I tried to make/create new dependency  in spring . I don't know how to create. So someone help me. Thanks in advance

[2018-08-29 10:10] olivergierke commented on #11942
We've [significantly improved](https://jira.spring.io/browse/DATACMNS-1371) the repository bootstrap in Lovelace RC2. I'd love to see what numbers you get when you move to that version, @efdknittlfrank. Would you mind giving it a try?

[2018-08-29 10:15] Bokigetk commented on #4579
java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy
I got this error when trying to intergate swagger ui with spring mvc. please you help me or give me any suggestion. Thank in advance.

[2018-08-29 10:20] endSly opened #14236 "Management web endpoint with `base-path=/` not working with SpringBoot 2.0.4"
Management endpoint has stopped working since `2.0.4.RELEASE` when the `base-path` is set to `"/"`.

With the following config:
[code]

it returns 404 with spring boot 2.0.4:
[code]

but it worked with `2.0.3.RELEASE`:
[code]

it works as expected with a different base path

Could it be related with #13921 ?

[2018-08-29 10:48] efdknittlfrank commented on #11942
Great! I hope I can find some time to upgrade to 2.1 temporarily and give it a spin.

[2018-08-29 11:13] snicoll commented on #14235
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-29 11:13] #14235 closed

[2018-08-29 11:14] snicoll commented on #4579
@Bokigetk as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Please ask questions on StackOverflow.

[2018-08-29 11:15] snicoll commented on #14236
Duplicate of #13964

[2018-08-29 11:15] #14236 closed

[2018-08-29 11:32] akuma8 opened #14237 "Invasive AsyncRequestTimeoutException"
In my app, since I added this simple controller handler:
[code]

Every 10s I have this exception:

[code]

And the client API (JavaScript EventSource()) continue to send a GET request and goes on error everytime.
Some says to add this property: `spring.mvc.async.request-timeout=-1` but I think this could have some side effects.
What's going wrong? I am using Spring Boot 2.0.4.RELEASE

[2018-08-29 11:44] alexmandt commented on #14069
Hi. I'm a first time contributor and found this issue. I wanted to ask, if this issue was open for contribution?

[2018-08-29 11:52] snicoll commented on #14237
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-29 11:52] #14237 closed

[2018-08-29 11:54] snicoll commented on #14069
@alexmandt thanks for offering to help. Most issues are opened to contribution unless they're already assigned. That's not the case here so please go ahead. If you have questions or need guidance, we're [on Gitter](https://gitter.im/spring-projects/spring-boot).

[2018-08-29 11:57] alexmandt commented on #14069
Thanks

[2018-08-29 11:58] akuma8 commented on #14237
Thanks for your answer. I have already posted it in Stack OverFlow but no one answer it yet: [here the link](https://stackoverflow.com/questions/52029329/invasive-asyncrequesttimeoutexception-with-spring-boot-2)
As it is becoming annoying and I don't see the reason I thought it could be a bug.

[2018-08-29 12:02] snicoll commented on #14237
@akuma8 please do not cross post, especially without specifying you've done so as several people may try to help you in different channels. Your SO question would have a much better visibility if you took to the time to create a [minimal, complete, and verifiable example](https://stackoverflow.com/help/mcve).

[2018-08-29 13:46] #14219 closed

[2018-08-29 14:43] pvorb opened #14239 "Throwing an exception on invalid syntax in SPRING_APPLICATION_JSON"
As far as I can tell, Spring Boot 2 accepts syntax errors in the `SPRING_APPLICATION_JSON` environment variable and silently ignores the whole content of the environment variable. This leads to problems that are hard to debug, where properties are not overridden when running an application.

Consider the following example.

`application.yml`:

[code]

`SPRING_APPLICATION_JSON`:

[code]

(Note the

[2018-08-29 15:02] jzheaux commented on #14222
That is a good point, @vpavic, but then I ask, how will boot know which endpoint to address? For example, if the property is simply named `issuer-uri` (thank you for the correction, @mbhave), then I have three questions now:

1. Does the user want to use this for discovery?
2. If so, should I hit the oidc endpoint or the oauth2 endpoint?
3. If not, should I use this for issuer verification?

I thi

[2018-08-29 15:21] philwebb commented on #14087
See also #12348 which talks about exposing info under metrics

[2018-08-29 15:24] philwebb commented on #13822
On hold since if we complete #14227 this should go away

[2018-08-29 15:39] snicoll commented on #14233
We've discussed this one in the team meeting and we don't see a compelling reason to change the current arrangement.

[2018-08-29 15:39] #14233 closed

[2018-08-29 15:46] snicoll commented on #14188
I've added a note in the release notes. We'll naturally remove dependency management for this once Hibernate stops providing it.

[2018-08-29 15:46] #14188 closed

[2018-08-29 16:02] vpavic commented on #14222
IMO this is the domain concern and as such it should be handled in Security, not Boot. I'd like to again point to [compatiblity notes](https://tools.ietf.org/html/rfc8414#section-5) section of RFC 8414 which addresses some of your questions:

If the property is documented that it serves the purpose of configuring from provider metadata that should be enough, right?

[2018-08-29 16:08] karniemi opened #14240 "spring.datasource.data property does not work"
`spring.datasource.data` property does not work. Setting a value in application-postgres.properties-file has no effect. We are using postgres as driver and tomcat as datasource.type. Tried setting a single value as "spring.datasource.data=data_2.sql" and list as "spring.datasource.data=data_1.sql,data_2.sql". Neither has any effect. According to logs springboot just does not seem to do anything re

[2018-08-29 16:25] snicoll opened #14241 "WebServicesAutoConfiguration @ConditionalOnProperty does not match against lists"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2018-08-29 16:56] philwebb opened #14242 "WebServicesAutoConfiguration condition might not match against lists"
As noticed by @snicoll, [this condition](https://github.com/spring-projects/spring-boot/blob/0590c4de3210a1cf41e63b928d46f99f6c0c5c6b/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/webservices/WebServicesAutoConfiguration.java#L90) will not match against YAML lists.

[2018-08-29 16:58] philwebb commented on #14242
Doh, already been raised. Duplicates issue #14241

[2018-08-29 16:58] #14242 closed

[2018-08-29 17:07] philwebb commented on #14157
@dsyer I've added a new label called `theme: graal` to track all these related issues. I think we'll need to wait for Spring Boot 2.2 before we can really tackle it in any meaningful form. Probably the first one we should fix is #14216 so that we can have a CI for it.

It looks like https://github.com/oracle/graal/issues/622 has been accepted so I'll close this one with the hope that they fix it i

[2018-08-29 17:07] #14157 closed

[2018-08-29 17:08] philwebb commented on #14147
See https://github.com/spring-projects/spring-boot/issues/14157#issuecomment-417030452. Closing for now and awaiting the result of https://github.com/oracle/graal/issues/622

[2018-08-29 17:08] #14147 closed

[2018-08-29 17:09] philwebb commented on #14157
BTW: Feel free to add the theme label to any issues I missed.

[2018-08-29 17:13] philwebb commented on #13618
By this I mean that it seems like encryption is a common issue so it would be nice if we mention it in the docs, even if it's just a link to Spring Cloud Vault.

[2018-08-29 17:26] philwebb commented on #14087
After discussing this a little we don't think it's a great idea for us to surface health information under metrics as they are really designed for different purposes.

[2018-08-29 17:27] philwebb commented on #12348
It might have already been discussed, but using a tag contributor to apply a global tag (of the SHA or version) to all metrics seems like a better way to slice and dice metrics.

[2018-08-29 17:28] SanjayGautam commented on #14229
I feel that this is a defect , why would the property or java exclude annotation should working just wondering. ?

[2018-08-29 18:49] philwebb commented on #14229
@SanjayGautam Can you share a project that demonstrates the problem.

[2018-08-29 19:01] philwebb commented on #14239
We currently [log a warning](https://github.com/spring-projects/spring-boot/blob/0590c4de3210a1cf41e63b928d46f99f6c0c5c6b/spring-boot-project/spring-boot/src/main/java/org/springframework/boot/env/SpringApplicationJsonEnvironmentPostProcessor.java#L109) but I'm inclined to agree that an exception would be better.

This will be a breaking change so it's not something we can do in a patch release.

[2018-08-29 22:06] davem-foreflight opened #14243 "Quartz Scheduler name not set by the spring.quartz.properties.org.quartz.scheduler.instanceName property"
## Summary:

The spring boot QuartzProperties configuration property: `spring.quartz.properties.org.quartz.scheduler.instanceName` Is not picked up when  the quartz factory is created resulting in the quartz scheduler having the beanName as the scheduler name.

##  Possible Fix

Perhaps QuartzAutoConfiguration could be enhanced to look for the StdSchedulerFactory properties utilized by the Schedul

[2018-08-29 22:14] pvorb commented on #14239
You are right. I missed the warning because of a misconfigured logger.

[2018-08-30 03:42] renkang opened #14245 "How to get actuator health information in spring boot application self。"
@philwebb I what get actuator health after spring boot application start. not get the health information by http request. how can i do?

[2018-08-30 03:55] JoeKerouac opened #14246 "doc-root not found"
doc-root not found when running in IDEA.

method:org.springframework.boot.web.servlet.server.DocumentRoot.getValidDirectory().

[2018-08-30 06:09] snicoll commented on #14245
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-30 06:09] #14245 closed

[2018-08-30 06:34] snicoll commented on #14243
I've left a comment on the related Jira issue. Let's see what happens there first.

[2018-08-30 06:36] abhi4151 commented on #14211
@philwebb today I again downgraded my application to 1.5.15 and it is again working. But as soon I upgrade to 2.0.x it doesn't work. Any Idea what could be the possible issue?

[2018-08-30 06:38] snicoll commented on #13821
I guess all the "bytes" type properties are covered by this one. When merging forward to `master` we should switch those to `DataSize`. Given we're approaching RC1 it would be nice to do this sooner than later.

[2018-08-30 06:43] snicoll commented on #14211
@abhi4151 if you want us to take the time to look at this, please take the time to assemble a small sample that we can run ourselves.

[2018-08-30 06:50] snicoll commented on #14246
@JoeKerouac as indicated in the issue template, we do not need an issue and PR. Closing this one for now.

[2018-08-30 06:50] #14246 closed

[2018-08-30 06:53] pkaufi opened #14248 "enhancement: spring-boot-starter-rollbar"
Hello there,
We wrote a spring-boot-starter-rollbar (and spring-boot-starter-rollbar-logback) to integrate and configure rollbar into our projects more easily.
Please have a look at the following repo: https://github.com/olmero/spring-boot-starter-rollbar

We'd happily contribute to spring-boot, if there's positive feedback about this spring boot starter. We're also more than happy to adapt the st

[2018-08-30 07:09] snicoll commented on #14248
@pkaufi thanks a lot for creating the starter. I have a few suggestions that I am going to share in that project later today. I prefer keep the starter where it is now and we will add a reference to it in our [third party list](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-starters/README.adoc) once the naming issue is fixed.

We can always reconsider l

[2018-08-30 07:09] #14248 closed

[2018-08-30 07:11] karniemi commented on #14240
@snicoll: ...this was my bad. I did not notice that we had SPRING_DATASOURCE_DATA defined as an environment variable, which of course overrides the setting in a properties-file. Sorry. Yesterday, I spent hours looking&testing for the proper form for defining  "spring.datasource.data" - I really thought I was just givin' the value in wrong format or that it needs some other uncodumented flag or tha

[2018-08-30 07:11] #14240 closed

[2018-08-30 07:49] aleMessoMale opened #14249 "Zuul default Rest Client seems not to work correctly under OpenShift"
I’ve tried to deploy under OpenShift Container Platform a project in order to test Zuul under OpenShift.

Code can be found here: https://github.com/aleMessoMale/zuul-poc.git

It only tries to call a rest service exposed by another microservice (J2EE Spring Boot) whose code can be found here: https://github.com/aleMessoMale/gs-rest-service.git

Exposed REST API (/greeting) can be called, by callin

[2018-08-30 08:31] snicoll commented on #14249
@aleMessoMale Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Also, please note that Zull-rela

[2018-08-30 08:31] #14249 closed

[2018-08-30 08:45] aleMessoMale commented on #14249
Thank you @snicoll

[2018-08-30 08:46] ayudovin commented on #13524
@philwebb, As far as I understand we should check if property disable we don't need to start extra thread.
This property should located in Environment variable but on this stage environment variable isn't available yet. Does it mean `system.getProperty()` should use in this case ?
Correct me if I'm wrong.

[2018-08-30 09:12] snicoll commented on #13524
@ayudovin you are correct. We can't use the `Environment` at this point so `System.getProperty` is a good idea (and relaxed binding can't really apply there). I think we should probably also discuss the name of this property as it's slightly unusual.

[2018-08-30 09:25] snicoll commented on #8237
Apache Camel has done something similar, there is some context [in this comment](https://issues.apache.org/jira/browse/CAMEL-12756?focusedCommentId=16596653&page=com.atlassian.jira.plugin.system.issuetabpanels:comment-tabpanel#comment-16596653)

[2018-08-30 09:33] snicoll commented on #14218
Closing in favour of PR #14224

[2018-08-30 09:33] #14218 closed

[2018-08-30 09:48] rubenaranamorera opened #14250 "Document application plugin's need for its mainClassName property to be set"
The documentation states that:
[code]

But trying a simple example project we are unable to get this autodetected, forcing us to define mainClassName. Is there something I'm missing?

[code]

[code]

[2018-08-30 11:09] eneiascs commented on #14241
Hi, I would like to work on this issue.

[2018-08-30 12:24] jakubdyszkiewicz opened #14253 "Spring WebFlux - Custom messages validation in different languages"
Hello,

I've got a problem with providing custom messages in different languages for bean validation using WebFlux. It does not use messages for locale I send in header.

I think this is a bug because `LocalValidatorFactoryBean` uses `LocaleContextMessageInterpolator`. Hibernate Validator calls the `public String interpolate(String message, Context context) method`, which relays on the `LocaleCont

[2018-08-30 13:12] apexkid opened #14256 "How to update HttpServletResponse inside a Filter"
Sorry for asking a question here but unfortunately i couldn't get a satisfactory answer on stackoverflow.

https://stackoverflow.com/questions/52030874/how-to-modify-httpservletresponse-to-include-some-standard-attributes-in-json-us/52040296

I want to write a filter which
1. takes in the response returned by my controller and adds some standard metadata around it.
2. If controller throws exceptio

[2018-08-30 13:33] bclozel commented on #14256
You were right to ask this question on SO. Your question has 2 answers (+3 deleted) and is marked as a potential duplicate as well.

[2018-08-30 13:33] #14256 closed

[2018-08-30 15:03] nosan commented on #14253
Hello @jakubdyszkiewicz ,
`WebMvc` works because `FrameworkServlet`  has a method  `FrameworkServlet.initContextHolders`  to set `LocaleContextHolder.setLocaleContext(...)`. Seems like that `WebFlux` doesn't have such functionallity.

As a workaround you can override a default `httpHandler`:
[code]

[2018-08-30 15:14] snicoll commented on #14253
thanks @nosan

@jakubdyszkiewicz this issue is related to WebFlux, the issue tracker of Spring Framework is [here](https://jira.spring.io/projects/SPR). Please report the issue with the sample there.

[2018-08-30 15:14] #14253 closed

[2018-08-30 15:55] apexkid opened #14257 "Provide a way to inject a customize transformer for responses returned by controller"
There should be a mechanism to inject ResponseTransformer into the spring request-response lifecycle. This would allow to change the object which is returned by a spring controller. Another way to look into this will be to enable ControllerAdvice to transform response objects.

[2018-08-30 16:04] mumukiller commented on #9545
Looks like it's still reproducible for 2.0.3.RELEASE

[2018-08-30 16:06] snicoll commented on #9545
@mumukiller this issue is closed and that comment is not really telling us anything. If you think you've found a bug, please create a separate issue with a proper description of the problem. A sample that reproduces it would be ideal. Thank you.

[2018-08-30 16:08] snicoll commented on #14257
@apexkid as I've mentioned on Gitter, there is an ongoing discussion about what you're trying to do. Let's keep the conversation there and we can follow-up with an issue accordingly.

[2018-08-30 16:08] #14257 closed

[2018-08-30 16:14] mumukiller opened #14258 "@ConfigurationProperties fails with capital letters"
Reproduced for me using 2.0.3.RELEASE

I found similar issue here - https://github.com/spring-projects/spring-boot/issues/9545
As mentioned it should be fixed in 2.0.3.M3 but looks like it's not

My case is similar but without explicit prefix parameter

[code]
It fails with
[code]

Haven't found any other opened issues with similar behaviour

[2018-08-30 16:15] ayudovin commented on #13524
@snicoll, what do you think about `spring.background-preinitializer.extra-thread.enable` ?

[2018-08-30 17:01] ammmze commented on #7986
Would it be better to have `@ConfigurationPropertyValue` take an expression? Such as:

[code]

[2018-08-30 17:27] philwebb opened #14259 "Surface additional rabbit SSL factory properties"
We're missing one or two that would be useful.

[2018-08-30 19:20] philwebb commented on #13524
Take a look at `CachedIntrospectionResults.IGNORE_BEANINFO_PROPERTY_NAME` from Spring Framework. That's a pretty similar idea.

[2018-08-30 19:30] philwebb commented on #14241
@eneiascs Thanks! Let us know if you need any assistance.

[2018-08-30 19:31] philwebb commented on #14239
Closing in favor of PR #14251

[2018-08-30 19:31] #14239 closed

[2018-08-30 19:33] philwebb commented on #14250
It would be nice if we could add a convention so that the same finder logic is used with the application plugin. If that's not possible we'll need to at least document the restriction.

[2018-08-30 21:10] longwa opened #14260 "MockReset is extremely slow for large project in 1.5.x branch"
Spring Boot 1.5.15

The line:

https://github.com/spring-projects/spring-boot/blob/bd482d70631ddb69d8835cdb9b6c076f727a648f/spring-boot-test/src/main/java/org/springframework/boot/test/mock/mockito/MockReset.java#L106

...checks for the presence of `Mockito` on every call. This is executed before AND after each test for every bean in the context.

In spring-boot 2.0 this has already been refactore

[2018-08-30 23:48] #6514 closed

[2018-08-30 23:48] #14227 closed

[2018-08-31 02:47] sgyyz opened #14261 "AnsiPropertySource can not be compiled by JDK 1.8.0_20"
**Compile Environment:**

**Compile Error**
[code]

**Code Snippet**
[code]

**Reason**
It's the JDK issue, refer: https://bugs.java.com/view_bug.do?bug_id=8056014, and it's already been fixed in the `JDK 1.8.0_40` and later versions.

**Suggestion**
1. Can we specify that do not build `2.0.x` or `master` branch via `JDK 1.8.0_20` in the `Building from Source` section?
2. Or can we add the exactly

[2018-08-31 03:18] psyanite opened #14262 "Cannot Kotlin bootRun on Windows due to long paths / No auto configuration classes found in META-INF/spring.factories"
When I run bootRun on Microsoft Windows [Version 10.0.17134.228], it throws the error `'CreateProcess error=206' when classpath too long` on the `cp`, but I am able to start the application with no issues, if I run `java -jar meow.jar` on the jar produced by `bootJar`.

I have tried to enable long paths via the `Enable NTFS long paths` option and also in REGEDIT, and then restart my machine, but n

[2018-08-31 07:30] snicoll opened #14263 "ReactiveSecurityAutoConfiguration is missing conditions"
It only does an import of another class that has some conditions on them. That looks weird to me. It should at the very least check Spring Security and Project reactor

[2018-08-31 07:31] snicoll opened #14264 "EmbeddedWebServerFactoryCustomizerAutoConfiguration is missing conditions"
We should add basic class condition and at least a check on the application type there.

[2018-08-31 08:17] snicoll commented on #14261
Thanks but `1.8.0_20` was released in early 2014 when Spring Boot 1.0 got released. I would argue that using such an old version of the JDK is a problem on its own. I also don't like the idea of adding notes in our doc because super-old versions of the JDK have a bug. It would be a totally different story if a somewhat recent version of the JDK was affected though.

Also, please upgrade your JDK r

[2018-08-31 08:17] #14261 closed

[2018-08-31 08:52] spring-issuemaster commented on #14195
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-08-31 09:01] JokerG opened #14265 "Logback config logpath Configured by environment only effective at running"
running log output path  is corrected ,but bootstrap log output path  is default path rather than what i configed.

[2018-08-31 09:01] ST-DDT opened #14266 "Add optional sort parameter to metrics endpoint"
Based on #3761 (Actuator v1)

I use the actuator v2 metrics to monitor my applications using Prometheus and Grafana.
However if I try to setup a new dashboard and search for a metric that was provided by a specific application, then I'm mostly in the dark which metrics will be provided by which application.

In that case I use the metrics endpoint to search for important metrics. Some applications

[2018-08-31 09:04] snicoll commented on #14265
I am guessing that by bootstrap log, you mean the Spring Cloud bootstrap log?

[2018-08-31 09:10] snicoll commented on #14263
I don't understand why `ReactiveUserDetailsServiceAutoConfiguration` is a separate auto-config. It looks like both this class and `WebFluxSecurityConfiguration` could be imported by what is current `ReactiveSecurityAutoConfiguration` and their basic conditions should move there.

Also a condition on reactor should be added as it less costly than checking the web application type.

[2018-08-31 09:26] JokerG commented on #14265
it's my fault, i mean  Startup log ,
my project does not use bootstrap.properties ,it's only a springboot project .version 1.5.10.RELEASE

[2018-08-31 09:30] snicoll commented on #14265
@JokerG you'll have to provide a bit more details. It would be easier if you shared a project (github repo or ref to a zip) so that we can see what you mean. Since it's about logging, you could create an empty project from start.spring.io and add your logging config there.

[2018-08-31 09:35] #14264 closed

[2018-08-31 09:35] sundy20 commented on #14195
thanks for your reply
use this project   https://github.com/sundy20/netty-push/tree/master/netty-push-client
run NettyPushClientApplication.java
application.yml  set  Server.port=8090
request  http://localhost:8090/error   response status  405
After replacing the port
application.yml  set  Server.port=8081
request http://localhost:8081/error   response status  200

[2018-08-31 09:45] JokerG commented on #14265
logback-spring.xml
`<springProperty scope="context" name="log.srv.tag" source="log.srv.tag" defaultValue="TEST"/>
    <springProperty scope="context" name="log.base" source="log.base" defaultValue="/home/test"/>
    <springProperty scope="context" name="log.file.name" source="log.file.name" defaultValue="test"/>
    <appender name="rootLoggerFileOut"  class="ch.qos.logback.core.rolling.RollingFile

[2018-08-31 09:54] #14069 closed

[2018-08-31 11:14] dnl50 commented on #13594
Hi there,

I built a very simple spring boot application with a single component, which gets a named bean injected in its constructor, which is not present to recreate the situation in #13592. Getting the name of the missing bean (the value of the `Qualifier` annotation) inside the `NoSuchBeanDefinitionFailureAnalyzer` would require a lot of string analysis of the `NoSuchBeanDefinitionException`'s

[2018-08-31 12:00] snicoll opened #14269 "WebClientMetricsAutoConfiguration relies on ResTemplateMetricsAutoConfiguration"
Right now, `WebClientMetricsAutoConfiguration` relies on a `Filter` created by `RestTemplateMetricsAutoConfiguration`.

`RestTemplate` is always present when `WebClient` is present (as the former is in `spring-web` and the latter in `spring-webflux` that as a compile dependency on `spring-web`). However, it makes a bit hard to figure out what the scope of the filter is so it would be better to hav

[2018-08-31 12:45] #14269 closed

[2018-08-31 13:05] snicoll commented on #13831
Closing in favour of PR #13831

[2018-08-31 13:05] #13831 closed

[2018-08-31 14:44] julien-may opened #14270 "No ServletContext set when wiring RequestMappingHandlerMapping"
When autowiring a `RequestMappingHandlerMapping` inside a context of an `AbstractBeanFactoryAwareAdvisingPostProcessor`, the bootstrapping fails with an `IllegalStateException` stating that **no** `ServletContext` is set.

This is the code reproduce the error:

[code]

To me it seems that the bean factory methods in `EnableWebMvcConfiguration` are called before `WebMvcConfigurationSupport` was pro

[2018-08-31 15:09] JavaHelper commented on #9766
@wilkinsona
@jamesclark92
I am getting the same error. Could you please guide me ? I already raised a question here.
https://stackoverflow.com/questions/52118145/javax-servlet-servletexception-circular-view-path-error-would-dispatch-back

[2018-08-31 15:11] JavaHelper commented on #2435
I raised  a question here: https://stackoverflow.com/questions/52118145/javax-servlet-servletexception-circular-view-path-error-would-dispatch-back
Any guidance ?

[2018-08-31 15:50] philwebb commented on #13586
This is about setting the mode to full, we could do this automatically for CF

[2018-08-31 15:51] #13585 closed

[2018-08-31 15:55] yueru-mylove opened #14272 "can not resolve configuration properties "spring.data.maxActive""
When I building my application with spring-boot  1.5.9 or 1.5.3. The yml config file always can only resolve
spring.datasource.type/username/password/driver-class-name/url and can not resolve any other datasource properties. Could you tell me why?

[2018-08-31 15:57] snicoll commented on #14272
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-08-31 15:57] #14272 closed

[2018-08-31 16:00] yueru-mylove commented on #14272
So sorry about that sir. I will do that.

[2018-08-31 16:29] charboubmustapha opened #14273 "org.springframework.web.reactive.function.UnsupportedMediaTypeException: Content type 'application/octet-stream' not supported"
Hello ,
I try to call web service that return as content type application/octet-stream this is my code

[code]

and i got org.springframework.web.reactive.function.UnsupportedMediaTypeException: Content type 'application/octet-stream' not supported

[2018-08-31 18:08] mitchellirvin commented on #14266
@snicoll Is this issue a good one for somebody who's new to open source? Would like to contribute to Spring Boot if possible, been using it a ton!

[2018-08-31 18:31] snicoll commented on #14266
Thanks for offering to help but we haven’t triaged this issue yet (see the status label). There is an ideal for contribution label with some candidate issues though.

[2018-08-31 18:45] rmns86 commented on #11092
I have the same problem, I'm surprised that it has not been decided yet!

[2018-08-31 21:06] ayudovin commented on #13524
@snicoll `spring.backgroundpreinitializer.ignore` ?

[2018-08-31 21:49] cpovirk opened #14275 "Could spring-boot-starters enable requireUpperBoundDeps instead of dependencyConvergence?"
`dependencyConvergence`, [enabled](https://github.com/spring-projects/spring-boot/blob/f3dbd946dec9e10e2737ef7113fefb38c862f609/spring-boot-project/spring-boot-starters/pom.xml#L93) by `spring-boot-starters` [since 2014](https://github.com/spring-projects/spring-boot/commit/c719ab7aeeed8d3b8fe2c6d02fb3170e85346351#diff-1360dc44d94c0413fb48c5f98b7b9025), is a very strict property. I would argue tha

[2018-08-31 22:02] kleinron opened #14276 "Using HTTP proxy implicitly creates a tunnel"
### Expected behavior
When I run a local proxy (port 7000), and use `curl`, the command looks like this:
[code]
What happens, and this is the expected behavior, is that `curl` establishes a TCP connection to localhost:7000, and runs the HTTP request against the local proxy, rather than the target (httpbin).

### Actual behavior
If I use the following code:
[code]
then the http client would first e

[2018-08-31 22:29] cpovirk commented on #14275
Correction / Friday-afternoon parting thought:

That's not quite fair: `dependencyConvergence` _forces the user_ to pick a version. Maybe that's good (if you think that's commonly necessary), or maybe it's bad (if you think the user is generally going to start by blindly trying the newest version, anyway).

To summarize behavior for this particular situation:

1. If the graph agrees on the version

[2018-08-31 23:53] philwebb commented on #14275
The `dependencyConvergence` plugin should only be used by us, it shouldn't be part of a users build. AFAIKT The `<plugins>` section of the POM only gets applied for inherited POMs, not imported ones. If you look at `spring-boot-starter-parent` (the one that most users extend), you'll see it [inherits from spring-boot-dependencies](https://github.com/spring-projects/spring-boot/blob/f3dbd946dec9e10

[2018-08-31 23:59] philwebb commented on #14276
Thanks for the report. Unfortunately this is the wrong issue tracker for the problem. Can you raise it at [jira.spring.io](http://jira.spring.io) instead please.

[2018-08-31 23:59] #14276 closed

[2018-09-01 00:11] philwebb commented on #13524
@ayudovin Sounds good to me, we can easily change it later if necessary.

[2018-09-01 01:00] cpovirk commented on #14275
Sorry, shame on me for filing without more research! Let me overcommunicate here and then talk to a couple people before I make any more claims. (Paging **ejona86**, who is subscribed to this issue already.)

I thought I had heard independently from two people that Spring's default configuration did this for user projects. However, the first conversation was a while ago and in real life, so I may

[2018-09-01 02:10] heroghost opened #14277 "Startup error with "Exception encountered during context initialization""
Mine spring boot start with a problem, the log show
"ConfigServletWebServerApplicationContext : Exception encountered during context initialization - cancelling refresh attempt: org.springframework.beans.factory.BeanDefinitionStoreException: Failed to process import candidates for configuration class [org.springframework.boot.autoconfigure.cache.CacheAutoConfiguration]; nested exception is java.la

[2018-09-01 11:22] jliu666 opened #14279 ""unable be resolved to persistence unit root url" in Spring Boot 2.0.4"
My project pom is:
[code]
I just use `@SpringBootApplication` annotation on my start class.
1. I use `maven jfx:native` to package app on my mac os.
2. I start the macos app by double click. An exception like below.
![image](https://user-images.githubusercontent.com/14869749/44945364-6ca5fb80-ae1a-11e8-8355-be5bc5494869.png)
3. When I use `java -jar Develop-Tools.jar` to start the app in bash, It

[2018-09-01 11:27] jliu666 commented on #14279
I find #6983 issue like this. But that one was closed.

[2018-09-01 11:28] jliu666 commented on #6983
#14279

[2018-09-01 11:28] jliu666 commented on #14279
#6983

[2018-09-01 11:40] jliu666 commented on #14279
#6537

[2018-09-01 12:07] Amraneze opened #14280 "Websocket SockJS and Zuul"
I'm trying to use websocket with Zuul, but I can't access to it. I'm getting connection lost after some ms. I was looking and I found that I need to increase the time of ribbon ConnectTimeout and ReadTimeout and it was working for some some seconds and after it's stopped. Is there any solution for this ?

I'm using Spring boot 2.0.3.RELEASE with Spring cloud Finchley.RELEASE

Here is my configurat

[2018-09-01 13:51] govi20 commented on #14241
Seems like @eneiascs is not working on it. Would like to take over this issue.

[2018-09-01 14:05] govi20 commented on #14241
@philwebb Few queries.

- My understanding is @ConditionalOnProperty doesn't work with the list of properties and hence need to be replaced with @Conditional with conditional class. is my understanding right?

- If yes, Please help to understand getMatchOutcome working.

[2018-09-01 16:18] gezhiwei8899 opened #14281 "ClassUtils.getDefaultClassLoader().getResource("cert").getPath().substring(1); Confused"
I use 'org.springframework.boot' 2.0.4 RELEASE.
I packaged my project with maven-assembly-plugin
[https://github.com/fuhua-ing/ssr-schedule](url) Here is my project.

A funny problem.
![576a31_d16 o3phvm w5y](https://user-images.githubusercontent.com/16362526/44947780-05ea0780-ae45-11e8-9122-32ef0c104b1e.png)
![wd1x3ck9 4ap f ib6yiq5](https://user-images.githubusercontent.com/16362526/44947783-0e4

[2018-09-01 16:31] gezhiwei8899 commented on #14281
ClassUtils.getDefaultClassLoader().getResource("cert").getPath()
（）Illegal char <:> at index 2: /F:/Code/7/ssr-schedule/target/classes/cert\key.pem
java.lang.Exception: Illegal char <:> at index 2: /F:/Code/7/ssr-schedule/target/classes/cert\key.pem）
win ：exception

normal ：linux

[2018-09-01 16:33] ejona86 commented on #14275
It seems this issue can be closed. Thank you!

I mis-understood the documentation I think. When I read "include in your application" I thought it meant "copy it". I see now that's the difference between the "samples" and the "starters." If you copied the starter, it would yield poor results. And the starters appear to be gone anyway starting with the 2.0 release this year.

The initial instance th

[2018-09-01 18:51] eneiascs commented on #14241
Hi @govi20,

Yes, I'm working on it. This is what I've done so far:

First, I created a test case on `WebServicesAutoConfigurationTests`, which initially fails:

[code]

Then, I created `OnWsdlLocationsCondition` class and the corresponding tests, using the same approach as `OnBootstrapHostsCondition`.
Next, I changed `WebServicesAutoConfiguration` to use `@Conditional(OnWsdlLocationsCondition.cla

[2018-09-01 23:25] cpovirk commented on #14275
Thanks, @ejona86, and yes, sorry, @philwebb. I wish we'd gotten to the bottom of this without pulling you into it, but I too am happy, first to know what's actually going on, and second to see that it's not what I'd feared :)

[2018-09-01 23:25] #14275 closed

[2018-09-02 06:34] snicoll commented on #14280
We don't manage neither Zull nor ribbon here, please see comment in the Zull issue you've created https://github.com/Netflix/zuul/issues/506#issuecomment-417908548

[2018-09-02 06:34] #14280 closed

[2018-09-02 07:09] snicoll commented on #14241
@eneiascs This looks good overall, you've done quite a lot there already! Could you please submit that code as a Pull Request so that we can comment on that if necessary?

[2018-09-02 09:08] daggerok opened #14282 "Add runApplication kotlin extension function to spring-boot 1.x"
I don't understand, why spring-boot 1.x don't have same `runApplication` kotlin extension function like we have in spring-boot 2.x?

[code]

Is it possible somehow add it also in 1.x?

---
Regards,
Maksim

[2018-09-02 11:56] eneiascs commented on #14241
@snicoll Sure, thanks.

[2018-09-02 14:50] snicoll commented on #14282
Official Kotlin support was added in Spring Framework 5 and Spring Boot 2. If you have questions, please come ask us on Gitter or ask on StackOverflow: as mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements.

[2018-09-02 14:50] #14282 closed

[2018-09-02 14:53] snicoll commented on #13524
Ditto, thanks @ayudovin!

[2018-09-02 15:58] jimmehta opened #14283 "There was an unexpected error (type=Not Found, status=404)."
@RestController
	public class AcctMgmtController {

		@Autowired
		private AcctMgmtService acctMgmtService;

		@RequestMapping("/accounts")
		public List<Account> getAllAccounts() {
			return acctMgmtService.getAllAccounts();
		}
............................
............................
Trying to consume Restful web service via postman and by localhost:9000/accounts
but it's not working. Please he

[2018-09-02 16:01] jimmehta commented on #14283
package com.jimehta.AcctMgmt;

import org.springframework.boot.SpringApplication;
import org.springframework.boot.autoconfigure.SpringBootApplication;
import org.springframework.context.annotation.ComponentScan;

@ComponentScan
@SpringBootApplication
public class AcctMgmtApplication {

	public static void main(String[] args) {
		SpringApplication.run(AcctMgmtApplication.class, args);
	}
}

package

[2018-09-02 22:13] n0mer commented on #8579
@philwebb another workaround might be `@TestPropertySource` from spring 4.1:

[code]

[2018-09-03 02:10] sundy20 commented on #14195
[demo.zip](https://github.com/spring-projects/spring-boot/files/2343971/demo.zip)
this spring boot 2.0.4 release demo,try again
wait for your reply,thanks

[2018-09-03 02:40] celesky opened #14286 "kafka-Serializer/Deserializer config not work if i put it in boostrap.yml,but worked in application.yml"
kafka-Serializer/Deserializer config not work if i put it  in boostrap.yml,but worked in application.yml
It's very confusing,because other properties all effective except the serde properties.
eg:
spring.kafka.consumer.key-deserializer=org.apache.kafka.common.serialization.StringDeserializer
spring.kafka.consumer.value-deserializer=org.apache.kafka.common.serialization.StringDeserializer

spring.k

[2018-09-03 03:29] minorpoet commented on #14195
i meet 405  on port 8090 too ~~

@Controller
@RequestMapping("/")
public class SchedulerController {

     @RequestMapping(value = "/create", method = {RequestMethod.GET, RequestMethod.POST})
     public String create(){
         return "success";
     }
}

dependency:
buildscript {
	ext {
		springBootVersion = '2.0.4.RELEASE'
	}
	repositories {
		mavenCentral()
		maven { url 'http://maven.aliyun.

[2018-09-03 05:54] ojoadeolagabriel commented on #13444
fixed my issue, thanks

[2018-09-03 06:35] snicoll commented on #14195
@sundy20 you've attached an empty project with no instructions. What am I supposed to "test" with this exactly?

@minorpoet I've got 200 on that controller you've attached (both with `GET` and `POST`).  I am closing this for now as there is no indication that there is a bug in Spring Boot. If you've new evidences of the contrary we can reopen this issue.

[2018-09-03 06:35] #14195 closed

[2018-09-03 06:40] snicoll opened #14287 "JPA starter does not work out of the box as of Java9"
Hibernate requires JAXB that is not provided as it's available out of the box up to Java8. With Java9 there are two options: add the JAXB api or add an additional module. That module is deprecated in Java10 and removed completely in 11 so that the only real option there is to add JAXB.

They were several requests to request initializr to automatically include JAXB when the JPA starter is added but

[2018-09-03 06:53] kjoshi07 opened #14288 "Compile error "Inferred type 'S' for type parameter 'S' is not within its bound; should extend 'com.kj.webfluxcruddemo.entity.Employee'""
Spring Boot Version:
[code]

Document POJO
[code]

Reactive Repository

[code]
and here is my handler:

[code]

Compile error "Inferred type 'S' for type parameter 'S' is not within its bound; should extend 'com.kj.webfluxcruddemo.entity.Employee'" I am seeing in my handler at line:
`Mono<Employee> newEmployee = employeeRepository.save(employeeMono);

Same question is posted at stackoverflow two d

[2018-09-03 06:56] snicoll commented on #14288
There is no need to open a duplicate here because you didn't get an answer in StackOverflow.  As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Please edit your description so that there is at least a reference to your SO post.

[2018-09-03 06:56] #14288 closed

[2018-09-03 07:04] snicoll commented on #14286
This issue tracker does not deal with Spring Cloud-related issues. `bootstrap.properties` is a Spring Cloud concept that is not meant to contain your application configuration (check [the doc](https://cloud.spring.io/spring-cloud-static/spring-cloud.html#_the_bootstrap_application_context)). If you believe you've found a bug there, please raise it against [the appropriate project](https://github.c

[2018-09-03 07:04] #14286 closed

[2018-09-03 07:37] snicoll commented on #14283
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-09-03 07:37] #14283 closed

[2018-09-03 08:13] snicoll commented on #14241
Closing in favour or PR #14285

[2018-09-03 08:13] #14241 closed

[2018-09-03 09:12] xcbeyond commented on #13042
@dsyer @wilkinsona  Have you solved this problem? if not,i can only user spring cloud 1.5,is that it?

[2018-09-03 09:33] wilkinsona commented on #14225
Writing plugins in Java is also aligns with the Gradle team's recommendations. FWIW, I'd avoid using Groovy for writing Gradle plugins unless you are prepared to spend a lot of time dealing with hard to diagnose compatibility issues.

[2018-09-03 09:36] wilkinsona commented on #12962
Also, Spring Boot isn't strictly semantically versioned. Rather, we aim for a n.n.x release to be a drop-in replacement, and n.x releases to be easy to adopt. We consider the deprecation period in 2.0.x to make it sufficiently easy for people to move from 2.0.x to 2.x in this case.

[2018-09-03 10:14] wilkinsona commented on #14250
I'm not sure that this is a bug.

The application plugin's own [documentation](https://docs.gradle.org/current/userguide/application_plugin.html) notes that "the only mandatory configuration for the plugin is the specification of the main class (i.e. entry point) of the application" and it's a task from the application plugin that's failing. The documentation [quoted above](
https://github.com/spr

[2018-09-03 10:29] wilkinsona commented on #13957
Moving all the exclusions to the bom will potentially provide an additional benefit to Gradle users and bring us a step closer to being able to retire (some of) the dependency  management plugin. Gradle 5's native bom support will [apply exclusions from a bom unconditionally](https://github.com/gradle/gradle/issues/6382).

[2018-09-03 10:32] wilkinsona commented on #14262
Can you please provide a minimal sample that reproduces the auto-configuration failure?

[2018-09-03 10:54] wilkinsona commented on #14266
Thanks for the suggestion. This is a duplicate of https://github.com/spring-projects/spring-boot/issues/6321. My opinion remains that, particularly as the response isn't paged, sorting is a client-side concern.

Given that this is, apparently, the underlying problem. I would recommend using a tag on all metrics to identify the application from which they originate.

[2018-09-03 10:54] #14266 closed

[2018-09-03 10:56] wilkinsona commented on #14279
Can you please provide a minimal sample that reproduces the problem.

[2018-09-03 10:59] wilkinsona commented on #14281
Thanks for the report, but this doesn't seem to have anything to do with Spring Boot. If you need some help using `ClassLoader.getResource(String).getPath()` on Windows then I would recommend asking on Stack Overflow.

[2018-09-03 10:59] #14281 closed

[2018-09-03 11:08] wilkinsona commented on #13042
@xcbeyond As [noted above](
https://github.com/spring-projects/spring-boot/issues/13042#issuecomment-38853433), a workaround has been implemented in Spring Cloud.

[2018-09-03 11:13] psyanite commented on #14262
Hi @wilkinsona, by 'minimal sample' you mean project correct?

[2018-09-03 11:30] wilkinsona commented on #14225
😬

[2018-09-03 11:50] Nileshsachin10 opened #14289 "Unable to find org.apache.tomcat.util.scan-7.0.47.jar"

[2018-09-03 12:04] #14273 closed

[2018-09-03 12:07] snicoll opened #14290 "Upgrade to Kotlin 1.2.61"

[2018-09-03 12:10] #14290 closed

[2018-09-03 12:12] kjoshi07 commented on #14283
Seems you have not defined method, use annotation for @GetMapping @Postmapping, etc on controller methods or define method=Http.post, get, etc in @RequestMapping

[2018-09-03 12:41] wilkinsona commented on #14289
Without more details, it's very hard to know what the problem is. If you're using embedded Tomcat, Boot doesn't support Tomcat 7. If you're using standalone Tomcat, `org.apache.tomcat.util.scan` is an internal detail of Tomcat that Boot doesn't care about. I'm going to close this one for now as it's not clear that this has anything to do with Spring Boot. If it does, please provide so more details

[2018-09-03 12:41] #14289 closed

[2018-09-03 12:46] wilkinsona commented on #14287
Barring a change of heart when I learn that it's huge, I am in favour of adding the JAXB API to the JPA starter. With the need for it in Java 11 and Java 11 being an LTS release, I think it ought to work out of the box.

[2018-09-03 14:00] wilkinsona commented on #14161
I agree with @mbhave's assessment. `ApplicationContextServerWebExchangeMatcher` needs to be updated to call `initialized` before assigning `this.context` and all of its subclasses need to be updated so that any fields that are assigned in `initialized` are `volatile`.

[2018-09-03 14:09] shakuzen commented on #14287
Isn't the underlying issue that Hibernate doesn't work out-of-the-box with recent versions of Java? It seems to me that Hibernate adding the JAXB dependency so it is compatible OOTB is the ideal solution. Adding JAXB to Spring Boot's starter would feel like a temporary solution/workaround until Hibernate does what it IMO should do for Java 9+ compatibility.

[2018-09-03 14:56] jliu666 commented on #14279
Yes, I can.
The demo on https://github.com/jliu666/develop-tools is a sample. But I have removed the jpa dependencies. If you want to reproduce the problem. Maybe
1. You need add jpa and h2 dependencies to the pom.
[code]
2. Use `mvn jfx:native` to package a native app.
3. Start the app by double click (in the target/jfx ) or start the fatjar (in the target) by double click.
4. A window will show

[2018-09-03 15:03] jliu666 commented on #14279
Important! When started by `java -jar develop-tools-0.0.1-SNAPSHOT.jar`, it works correctly.

[2018-09-03 15:34] dantebarba commented on #13761
Whats the use of @Sql if I can't manage to control the execution phase for schema configuration before tests?.
Sounds like an option like BEFORE_CONTEXT_INIT should exist.

[2018-09-03 15:35] wilkinsona commented on #14279
Thanks for the sample.

The built JavaFX app doesn't use Boot's launcher (the jar isn't fat) which is why it behaves differently. When there are only jars on the classpath, the JVM's app class loader is unable to resolve the root of the classpath. On the other hand, our launcher and its custom jar handling will return `BOOT-INF/classes` as the root of the classpath which allows the default persist

[2018-09-03 15:46] wilkinsona commented on #13761
@dantebarba As I said above, `@Sql` and `@PostConstruct` are handled by Spring Framework rather than Spring Boot. Suggestions for changes to Spring Framework should be made via their [JIRA](https://jira.spring.io/browse/SPR).

[2018-09-03 15:51] snicoll opened #14292 "Improve endpoint mapping debug logging"
I have an app that exports metrics to Prometheus with `--debug`. Prometheus calls `/actuator/prometheus` every 5 sec which leads to the following

[code]

To complement with recent improvements in logging, I think we should attempt to improve this log if we can.

[2018-09-03 21:47] spring-issuemaster commented on #14189
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-09-04 07:35] wilkinsona commented on #14287
@shakuzen, @snicoll made the same point to me yesterday and I agree with you both. While we could work around the problem in our starter it would be more elegant if Hibernate itself worked out-of-the-box on Java 11.

@vladmihalcea Are you aware of any plans to address this in Hibernate? Or do you have any pointers to the Hibernate's team recommends for the optimal manual configuration to use Hiber

[2018-09-04 07:59] vladmihalcea commented on #14287
@wilkinsona For the moment, Hibernate requires JAXB. Until we switch to something else, the JAXB dependency will have to be provided somehow.

[2018-09-04 08:16] wilkinsona commented on #14287
Thanks, @vladmihalcea. Is there an issue we can watch to track "until we switch to something else"?

[2018-09-04 08:27] vladmihalcea commented on #14287
@wilkinsona For the moment, there is no such issue. You can create a Jira issue and let's see what gets decided about JAXB. I suppose this will be addressed after 6.0 is launched, but it's worth having an issue where we could discuss possible solutions or approaches.

[2018-09-04 08:46] snicoll opened #14294 "Could not bind number to DataSize"
We're missing a `NumberToDataSize` converter as YAML parses the String to a number. Right now, we can't use `DataSize` in YAML for that reason.

[2018-09-04 08:53] tgirard12 opened #14295 "Only the last RouterFunction<> is available with the Kotlin bean DSL"
I have an app that add several `RouterFunction<ServerResponse>` with the Kotlin bean DSL and
only the routes from the latest bean of type `RouterFunction<>` is available on the server.

I have test this app with Spring-boot **2.0.4** and **2.1.0.M2** on Netty.

This is a sample app. You can change the order of the two router declaration and re-run the Unit test.

[spring-boot_several-router.zip](h

[2018-09-04 09:05] #14294 closed

[2018-09-04 09:10] wilkinsona commented on #14287
I've opened [HHH-12946](https://hibernate.atlassian.net/browse/HHH-12946).

[2018-09-04 09:52] wangwanchao commented on #13165
@snicoll oh,so that,when i fall back to sprint boot1.5,it works.thank you.

[2018-09-04 11:14] KramKroc commented on #8321
Encountered this in the last few days. At some point I was able to make the changes and see them load remotely without the nullpointer being triggered but since the weekend it's failing over with each update.

There's a hint of a workaround in what @philwebb mentioned:

and I wondered if that could be clarified. As I said, I had it working in some form last week but I guess whatever process I was

[2018-09-04 12:13] mdeinum commented on #14287
Doesn't the same apply to the web dependencies? When you have an `@RestController` and expose XML that would break on Java 9 and up as well. Although granted that would probably be less frequent  then Hibernate.

It would be at least nice if Spring would provide a managed dependency for JAXB.

[2018-09-04 12:17] bclozel commented on #14295
Hi @tgirard12 , thanks for the repro project.

This looks like a usability/implementation/documentation issue in the bean registration DSL. I've created [SPR-17242](https://jira.spring.io/browse/SPR-17242) for that. It seems defining multiple beans of the same types without providing a bean name is the source of the problem here.

In the meantime, you can use the `@Bean` variant when registering b

[2018-09-04 12:17] #14295 closed

[2018-09-04 12:18] psyanite commented on #14262
Thank you for reviewing my issue. Feel free to close the issue and I will re-open or open a new one when I can make the configurations and push the code to a public repo.

[2018-09-04 12:28] snicoll commented on #14287
That and it's totally optional (i.e. you are requesting to use it).

There is dependency management for JAXB.

[2018-09-04 13:18] snicoll opened #14296 "Upgrade to Spring Batch 4.1.0.M3"

[2018-09-04 13:21] #14296 closed

[2018-09-04 15:35] davidhsing commented on #12971
@snicoll Thanks a lot! I've found a solution from another guy which has a similar problem with me:
https://stackoverflow.com/questions/52078756/unable-to-start-embedded-tomcat-noclassdeffounderror-dispatcherservletpath
Sorry, it's my own fault.

[2018-09-04 17:53] #14262 closed

[2018-09-04 18:08] michael-pratt opened #14299 "Allow adding of details using maps with Health.Builder"
In some cases I would like to add a map of details when using `Health.Builder`. Currently the builder class only allows for adding details one at a time after object construction, and it would be helpful if I could add an entire map of details, some thing like:

    Health.Builder health = Health.unknown();
    Map<String, Object> details = ...; // grab a map of details from somewhere
    health.w

[2018-09-04 18:17] philwebb commented on #14299
Seems like a fine addition to me and a pull-request would be most welcome. The incoming map should probably be `Map<String, ? extends Object>` so that you can pass in things like `Map<String, String>` if needed.

In the meantime, if you're on Java 8 you can do the following:

[code]

[2018-09-04 18:25] daggerok opened #14300 "Koltin DSL (RouterFunctionDsl) doesn't supports RenderingResponse in router function"
Hello all,

With java, to render template engine views i can use RouterFunction<?> in routes bean:

[code]

so with that, I can use both, ServerResponse:

[code]

and RenderingResponse:

[code]

but unfortunately I can't do similar with Kotlin DSL:

![image](https://user-images.githubusercontent.com/2445604/45049366-1984b080-b087-11e8-876d-6f992be911fa.png)

Only `Mono<ServerResponse>` handler lik

[2018-09-04 18:26] mdeinum opened #14301 "@WebMvcTest does not include applicationTaskExecutor"
When polishing code for a demo I removed the explicitly configured `TaskExecutor` and used the one available by Spring Boot. This works nicely for tests with `@SpringBootTest` and works as expected.

However when testing a controller with `@WebMvcTest` a warning is generated in the logging (the test is still green!)

The warning in the logs:

[code]

Apparently the `TaskExecutionAutoConfiguration`

[2018-09-04 18:28] ranarula opened #14302 "embedded servlet customizer unavailable to management webserver"
I have a custom `WebServerFactoryCustomizer` but its not available for management webserver. What's the best way to make the customization available to management webserver?

here is the customizer (to disable TRACE for Undertow)

public class UndertowCustomizer implements
  WebServerFactoryCustomizer<ConfigurableUndertowWebServerFactory> {

@Override
public void customize(final ConfigurableUndert

[2018-09-04 18:30] philwebb commented on #14300
Thanks for raising the issue but I'm afraid that this is the wrong tracker. The [RouterFunctionDsl](https://github.com/spring-projects/spring-framework/blob/1bdbc7bdef75709bec7abc3972db23c8211b17d1/spring-webflux/src/main/kotlin/org/springframework/web/reactive/function/server/RouterFunctionDsl.kt) class is part of Spring Framework so you'll need to open an issue on [jira.spring.io](https://jira.s

[2018-09-04 18:30] #14300 closed

[2018-09-04 18:33] philwebb commented on #14302
See also #9560 which is a similar issue

[2018-09-04 18:35] philwebb commented on #14301
I think we could consider that a bug, flagging to see what the rest of the team think.

[2018-09-04 18:36] philwebb commented on #14302
Not sure if this is a dupe of #9560 or not, but something we should certainly consider at the same time. I'll target this to `backlog` but it might be hard to get to it for 2.1.

[2018-09-04 18:40] philwebb commented on #12951
I added blocked because it feels like we really need to solve #1789 before this one. There's not really been much progress on that one unfortunately.

[2018-09-04 18:43] ranarula commented on #14302
Thanks @philwebb for prioritizing this.

For the time being do you have any suggestions on any workaround on how we can accomplish this. As per the sample we need to disable a few http verbs (TRACE) on all embedded server ports

[2018-09-04 18:46] philwebb commented on #13527
@chrisleves Can you please open a new issue and provide a sample application that shows the problem.

[2018-09-04 18:47] philwebb commented on #14302
Not currently I'm afraid.

[2018-09-04 18:55] michael-pratt commented on #14299
Thanks Phil, I'll code it up and submit a PR when I have a moment.

[2018-09-04 19:11] snicoll commented on #14301
Considering the use case with MVC I agree that the auto-configuration for the MVC async executor should be applied.

[2018-09-04 19:41] bclozel commented on #14302
I'm also wondering if #4929 isn't linked as well. Some developers expect infrastructure beans in the parent context to act on the management context - others expect the exact opposite.

In some cases we're overriding defaults or picking a restricted set of things from the parent context (like the `DispatcherServlet` override in `WebMvcEndpointChildContextConfiguration`, the server setup in `Servle

[2018-09-04 20:07] daggerok commented on #14300
Hello, @philwebb

I have created [that](https://jira.spring.io/browse/SPR-17244) JIRA

---
Regards,
Maksim

[2018-09-04 20:15] philwebb commented on #14270
At first I thought this might be an ordering issue with the `WebApplicationContextServletContextAwareProcessor` but it turns out that's not the case. The `WebApplicationContextServletContextAwareProcessor` is registered manually and it is invoked before your `SimplePostProcessor`.

The problem is that `SimplePostProcessor` causes creation of `WebMvcAutoConfiguration.EnableWebMvcConfiguration` befo

[2018-09-04 22:20] philwebb opened #14303 "Upgrade to Rabbit AMQP Client to 5.4.0"

[2018-09-04 22:21] #14303 closed, assigned to philwebb

[2018-09-04 23:07] #12700 closed

[2018-09-05 00:10] #14161 closed

[2018-09-05 01:26] liuyukuai commented on #12668
ok thanks

[2018-09-05 02:44] le-van-tuan commented on #9958
In my way, there is two options to solve this issue :
1. Manual config by create Data-source bean in your app :
@Bean
       public DataSource dataSource(){
          DriverManagerDataSource dataSource = new DriverManagerDataSource();
          dataSource.setDriverClassName("oracle.jdbc.driver.OracleDriver");
          dataSource.setUrl("your url");
          dataSource.setUsername( "username" );

[2018-09-05 03:54] michael-pratt commented on #14299
@philwebb PR has been submitted: #14305

One note: I made the new method signature:

    public Builder withDetails(Map<String, ?> details)

The `Map<String, ?>` parameter matches the existing constructor:

    public Builder(Status status, Map<String, ?> details)

[2018-09-05 04:11] douglyuckling opened #14306 "Range header does not work for resources that resolve to `war:` URLs"
Environment: Spring Boot 2.0.3 with WebMVC and embedded Tomcat 8.5.

When a request for a static resource includes a `Range` header and the resource resolves to a `war:` URL, the response is always 416 (Range Not Satisfiable).

I originally [asked about this on StackOverflow](https://stackoverflow.com/questions/52107078), but later found the underlying cause via the debugger.

The cause is that `H

[2018-09-05 04:49] izeye commented on #13822
This looks resolved as #14227 which supersedes this has been closed.

[2018-09-05 07:05] spring-issuemaster commented on #14231
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-09-05 07:16] snicoll commented on #12951
@philwebb wrong issue? #1789 is closed.

[2018-09-05 07:54] wilkinsona commented on #14299
Closing in favour of PR #14305.

[2018-09-05 07:54] #14299 closed

[2018-09-05 07:58] snicoll commented on #13822
@izeye the flag has been deprecated but it's still honoured and that still loads the security auto-config manually. The purpose of this issue in the next feature release is to remove the deprecated flag and fix this issue for good.

Does that make sense?

[2018-09-05 08:17] izeye commented on #13822
@snicoll Sure, I just thought this has been missed accidentally 😄

[2018-09-05 08:18] StoneYunZhao commented on #6821
@philwebb Spring Cloud Config is initialize after the logging system. This is true. I made a test. No error when I exclude Spring Cloud from my project.

[2018-09-05 08:21] lovebing opened #14307 "Lettuce has bugs and can't connect to Redis (UnresolvedAddressException)"
application.yml

[code]

Got errors:

[code]

**If I use Jedis instead, anything is OK**.

[2018-09-05 08:29] cx443097314 commented on #5014
hi Big guys，how are you？

[2018-09-05 08:31] snicoll opened #14308 "Harmonize JAXB version in dependency management"
To support Java11, we've added dependency management for `jaxb-runtime` (#14028) but its version doesn't match the version of the API. Those should be aligned.

[2018-09-05 08:33] wilkinsona commented on #14307
Thanks for the report, but this is the issue tracker for Spring Boot and Lettuce is managed as a separate project. Its issue tracker is [here](https://github.com/lettuce-io/lettuce-core). If I have misunderstood, and you have already determined that the problem is in Spring Boot rather than Lettuce, please share your findings with us and we can re-open this issue if necessary.

[2018-09-05 08:33] #14307 closed

[2018-09-05 08:34] mp911de commented on #14307
Looks like you have netty 4.0 and 4.1 on the classpath. Please remove netty 4.0. This is, in any case, not a Spring Boot or Spring Data Redis issue.

[2018-09-05 10:13] levippaul commented on #14301
I'd like to give this a shot.

[2018-09-05 10:19] wilkinsona commented on #14301
@levippaul Great! Please feel free to ask any questions at all. We'll look forward to your pull request.

[2018-09-05 10:47] #14211 closed

[2018-09-05 10:48] abhi4151 commented on #14211
I'm sorry but I didn't get the time to provide you a sample one. I'm continuing with 1.5.15 version.

[2018-09-05 10:52] wilkinsona opened #14309 "Remove redundant javax.xml.bind:jaxb-api dependency from Web Services sample"
The web services sample uses a Java 9- and 10-specific profile to add a dependency on `javax.xml.bind:jaxb-api`. #13360 has made this redundant as the dependency on `javax.xml.ws:jaxws-api` means that `javax.xml.bind:jaxb-api` is always pulled in transitively.

[2018-09-05 10:56] #14309 closed

[2018-09-05 11:09] wilkinsona commented on #14287
Here are some numbers for the size of the Data JPA sample's fat jar:

No additions: 35075234
With JAXB API: 35200986
With JAXB runtime: 36739668

Interestingly, the sample works with just the JAXB API which adds 123KB. The runtime adds a further 1503KB bringing the total increase to 1626KB.

[2018-09-05 11:26] bclozel commented on #14306
Your StackOverlow describes pretty well what's going on.
In my opinion, there's nothing Spring Framework nor Spring Boot can do to improve the situation - if there's no way to know the content-length of the resource, then we can't handle range-requests.

Tomcat might be able to improve something here, but this might be a limitation tied to the fact that files are being streamed from an archive wit

[2018-09-05 11:26] #14306 closed

[2018-09-05 11:35] deepeshiworld commented on #10983
If you try to use resource.getFile() you will receive an error because Spring tries to access a file system path, but it can not access a path in your JAR.

Courtesy - https://smarterco.de/java-load-file-from-classpath-in-spring-boot/

[2018-09-05 11:38] wilkinsona commented on #14287
Given that the API only adds 123KB on top of the existing 30+MB and that it's enough for at least some JPA-based applications to work, I think we should add a dependency on the API to the starter. Until we hear from a significant number of users on Java 11 who also need the JAXB runtime, I don't think adding it for everyone is justified.

[2018-09-05 11:46] snicoll commented on #13524
Closing in favour of PR #14298

[2018-09-05 11:46] #13524 closed

[2018-09-05 11:51] docent opened #14310 "Unable to override org.springframework logging levels since 2.1.0.M2"
Since 2.1.0M2, overriding Spring logging levels in dev mode using `logback-spring.xml` doesn't work. Attaching a project generated with Initializr, with `logback-spring.xml` file (that lowers spring level to WARN) added in resources
[demo (8).zip](https://github.com/spring-projects/spring-boot/files/2352593/demo.8.zip). To reproduce:
- run `gradlew bootRun`
- observe log messages
- revert boot ver

[2018-09-05 11:54] wilkinsona commented on #14306
It's possible to get the length of the file without reading it from the archive. It's what the JDK's `JarUrlConnection` does. I think the problem is that `org.apache.catalina.webresources.war.WarURLConnection` doesn't override `getContentLength()` and `getContentLengthLong()` to delegate them to `wrappedJarUrlConnection` in the same way as it already does for `getLastModified()`.

[2018-09-05 11:55] snicoll commented on #14310
I think this report is much wider than what is happening in practice.

Just to be sure we're taking about the same thing, I assume you mean certain `org.springframework` log levels. Overriding of other levels should work fine.

[2018-09-05 11:56] docent commented on #14310
Yeah, I mean overriding `org.springframework` log levels, e.g.:
[code]

[2018-09-05 12:05] snicoll commented on #14308
This broke the web services sample

[2018-09-05 12:18] #14308 closed

[2018-09-05 12:28] wilkinsona commented on #14302
You can customize the separate management server using `@ManagementContextConfiguration` and an entry in `spring.factories`. Something like this:

[code]

`spring.factories`:
[code]

 IIRC, `@ManagementContextConfiguration` is no longer documented as we want it to become an implementation detail so this is really just a workaround. I agree with Brian though that we need a better, more formalised w

[2018-09-05 14:10] wilkinsona commented on #14292
The output comes from [`AbstractHandlerMapping`](https://github.com/spring-projects/spring-framework/blob/259b2ca5f4de3fd97ae8a06ab6c5b4b49fb69c99/spring-webmvc/src/main/java/org/springframework/web/servlet/handler/AbstractHandlerMapping.java#L416-L421). Given the recent changes to Framework's logging, I'm a little surprised that its level is debug rather than trace.

[2018-09-05 15:07] bclozel commented on #14292
I think it's by design, as you get that sort of output for Spring MVC Controllers:

[code]

See #13511

[2018-09-05 15:27] rstoyanchev commented on #14292
Indeed this is by design. The output in Brian's comment shows the intended DEBUG level information per HTTP request. Perhaps the output in the first comment looks odd because it lacks the rest of the `"o.s.web"` logging? I know that means even more information, but we have to show something at DEBUG level per request.

[2018-09-05 15:54] wilkinsona commented on #14292
Thanks, both. I hadn't appreciated that the handler would typically be the user's controller. This, then, is an unfortunate side-effect of all the endpoint operations being handled by the same handler that then does some further routing to call the appropriate method for the operation.

[2018-09-05 16:01] wilkinsona commented on #1176
Thank you, @jnizet. Bash also requires a space before the `--` to make it work if it's the first argument. I suspect that may be a bug in Gradle.

[2018-09-05 16:15] rstoyanchev commented on #14292
So there is an extra log message missing with the actuator routing details. In full context (i.e. including o.s.web),  you would see a) the request info, b) the Spring MVC mapping, and c) the actuator routing, which I think is fine even if b) in this case isn't very helpful. Optionally AbstractHandlerMapping could log b) from a protected method, so it can be suppress it altogether.

[2018-09-05 16:45] wilkinsona commented on #1176
It works without a space if you use `=`:

[code]

[2018-09-05 16:52] ealexhaywood commented on #10782
Can you provide an example of a Reactive `@RestController` to get it to properly gzip responses?  Setting `server.compression.enabled=true` doesn't seem to do anything but add a `content-encoding: gzip` response header.  The response itself is not gzipped.

I have an endpoint that returns a gzip file that I was compressing myself using `GZIPOutputStream` like so:

[code]
This worked pretty well, b

[2018-09-05 17:00] edethoor commented on #14301
Come on I'll try too ;-)

[2018-09-05 17:04] bclozel commented on #10782
@ealexhaywood Could you create a new issue for that with a sample application showing this problem?

[2018-09-05 17:11] philwebb commented on #14292
We might be able to override `getHandlerExecutionChain` in `WebMvcEndpointHandlerMapping` and return a `HandlerExecutionChain` subclass that has a better `toString()`.

[2018-09-05 17:11] philwebb commented on #14292
I've marked this as a bug because I think we really need to improve it in some way before GA

[2018-09-05 17:15] castorm opened #14311 "Enable request compression on Jetty"
Following up on #11827

Apparently Jetty actually does implement this on `GzipHttpInputInterceptor` see: https://github.com/eclipse/jetty.project/pull/964

However, it requires specifying `inflateBufferSize` on `GzipHandler` as per the following snippet:
[code]

In the original issue, it was pointed out that request compression should be offered by the underlying container, which is the case for J

[2018-09-05 17:40] philwebb commented on #14311
I'm not sure that we should enable this by default, it feels like something that should be opt-in. Ideally I'd like to see the [Tomcat issue](https://bz.apache.org/bugzilla/show_bug.cgi?id=62072) fixed so we can support this in a uniform way. Looks like Undertow [already supports it](https://github.com/undertow-io/undertow/commit/097da9634056bca6b94c3bec523afcadfe7cf108)

[2018-09-05 18:07] philwebb commented on #14310
The additional output only happens when devtools is present. I think it's due to [this change](https://github.com/spring-projects/spring-boot/commit/f2511b7fa3ceec800a2fb6adedcbf0e39c3cb253#diff-518d871f83187bdb14818725044d64d2)

[2018-09-05 18:12] wilkinsona commented on #10782
I would guess that this behaviour is due to https://github.com/reactor/reactor-netty/issues/411.

[2018-09-05 18:28] ealexhaywood commented on #10782
Oh okay great, so it seems like it has been addressed and will be in your 0.7.9.RELEASE sometime soon.  About how long will it takes for this to make its way into a Spring Boot release?

[2018-09-05 18:32] bclozel commented on #10782
[Spring Boot 2.0.5 is scheduled for next week](https://github.com/spring-projects/spring-boot/milestone/115).

[2018-09-05 18:42] philwebb commented on #6821
@StoneYunZhao See [the comment above](https://github.com/spring-projects/spring-boot/issues/6821#issuecomment-323556788)

[2018-09-05 18:44] philwebb commented on #12951
Hmm, I can't remember why I marked it blocked then 🤷‍♂️

[2018-09-05 18:50] spring-issuemaster commented on #14229
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-09-05 18:54] toonborgers commented on #14301
I'll give it a whirl as well !

[2018-09-05 18:59] wilkinsona commented on #14301
@toonborgers Thanks for the offer, but we'd like to let @levippaul handle this one please. I hope you'll pick up another first timers only issue in the new future.

[2018-09-05 19:01] wilkinsona commented on #1176
I've opened https://github.com/gradle/gradle/issues/6644. We can probably proceed with documenting this and then updating the documentation if the Gradle issue is addressed.

[2018-09-05 19:03] toonborgers commented on #14301
@wilkinsona Sure thing, no problem!

[2018-09-05 19:14] philwebb opened #14313 "Move 'spring.insights.web' properties to 'spring.http'"
I'm not sure if we should move the `spring.insights.web.log-request-details` property elsewhere. It feels like it could become a central dependency that lots of packages start to use.

[2018-09-05 19:15] wilkinsona commented on #14121
The tight loop is a bit of a micro-benchmark. Can you quantify the contribution to GC pressure in a more real-world scenario please?

Is this from the tight loop or from a "proper" app? I'm asking so that we can prioritise this accordingly.

[2018-09-05 19:46] bclozel commented on #14313
We could split it back and have both `spring.mvc.log-request-details` and `spring.webflux.log-request-details`. We already have `spring.mvc.log-resolved-exception` so it's not unusual.

It's just duplicating things a bit but maybe at this time, we don't have enough visibility about such features and it's not worth creating a new namespace at that point.

[2018-09-05 20:11] philwebb commented on #14313
I think I prefer the duplication at this point, but lets see if anyone else has an opinion.

[2018-09-05 20:42] vilhelm-persson-viper commented on #12951
Hi. As a comment this issue from the beginning where named "Health detail information need ObjectMapper auto detect getter". For the Health actuator one of the fileds is already annotated with @JsonProperty("status").
So for the Health actuator one possible solution is to annotate alos the rest of the expected response.
And then it can handle any settings done for the default object mapper.
If pos

[2018-09-05 20:43] #14260 closed

[2018-09-05 21:49] ErnestOrt commented on #1176
I've solve it as follows, if anyone is interested:

https://github.com/ErnestOrt/Trampoline/blob/master/trampoline/src/main/java/org/ernest/applications/trampoline/utils/ScriptContentsProvider.java

[2018-09-05 22:59] alex-petrov81 opened #14314 "Several profiles in one yaml seems doesn't recognised correctly."
Spring-Boot version: spring-boot-2.0.1.RELEASE

Use case:
I have the following application.yaml

[code]

Also I have TestProfile class

[code]

And I've got an error
`org.junit.ComparisonFailure:
Expected :"192.168.1.120"
Actual   :"192.168.1.100"`

The problem is SpringBoot  always use default value for ${server.address} because  framework couldn't recognise profiles: production | eu-central as a

[2018-09-06 01:39] voychris opened #14315 "Corrupted request body when using publishOn() in ReactiveAuthenticationManager"
I've ran into an issue when using `spring-boot-starter-webflux` & `spring-boot-starter-security`.
When I hit the api with enough concurrency the body of the request gets corrupted. For example, if I hit the api with 20k requests containing `{"foo": "yyy"}` in the body and another 20k requests containing `{"foo": "xxx"}` and log the body in the controller I occasionally get something like `xxy`, `x

[2018-09-06 01:49] levippaul commented on #14301
thank you, @wilkinsona. I'm on it.

[2018-09-06 04:10] WilliamShoww opened #14316 "Spring boot start fail"
I'm use spring boot 2.0.3 or 2.0.4 .I start spring boot fail,but no exception viewed.Amazing! run spring test,
can look error exception. why?how to handler it?

[2018-09-06 07:06] wimdeblauwe commented on #12033
For anybody that wants to avoid deploying 2 versions, I documented a workaround here: https://wimdeblauwe.wordpress.com/2018/08/30/tip-on-migration-to-spring-boot-2-when-using-flyway/

[2018-09-06 07:36] snicoll commented on #14292
It should be noted that the code above is without devtools and therefore the logging tuning that are applied now. If I add devtools, this is the current log:

[code]

[2018-09-06 07:38] GlebovV opened #14317 "ReactiveMongo autoconfiguration bug"
There is exception when springboot inits reactive mongo auto config:

[code]

Mongo properties is correct and works fine with non reactive mongo;
Exception was thrown in class: org.springframework.boot.autoconfigure.mongo.ReactiveMongoClientFactory
method:
[code]
It throws an exception when properties.uri != null, but should at properties.uri == null

Assert.state code:
[code]

[2018-09-06 07:38] snicoll commented on #14311
There was a comment in #11827 that states we're watching those issues and we'd reconsider when they're done. I am not sure what else we could do really.

[2018-09-06 07:39] wilkinsona commented on #14316
Can you please provide some more details? As sample that reproduces the behaviour would be ideal. This can be caused by having Commons Logging on the classpath (please see #12457 for details).

[2018-09-06 07:41] wilkinsona commented on #14311
It looks like Jetty already has the functionality that the open issue I have been watching is tracking, so we're just left with Tomcat now. I'll continue to watch the Tomcat issue. I agree that there's not much more we can do at this stage so let's close this. As already mentioned on #11827, we can re-open it if Tomcat adds the functionality. In the meantime, it's pretty straightforward to enable

[2018-09-06 07:41] #14311 closed

[2018-09-06 07:43] wilkinsona commented on #11827
While the Jetty enhancement request is still open, the same or very similar functionality appears to have been included in 9.4. See
https://github.com/eclipse/jetty.project/pull/964 for details. I'm still watching the Tomcat issue so we can re-open this if it's addressed. In the meantime, the functionality can be enabled relatively easily on Jetty and Undertow using a customiser.

[2018-09-06 07:44] snicoll commented on #14313
It really depends what we're trying to build. At this stage it is very limited so I agree a single "web" property would be enough (I am really not keen to have a "webflux" and "webmvc" property for this).

The intention was that we may want to improve this support in the future so that non-web components would also be taken into account (or other tuning options). But that's still vague so +1 for n

[2018-09-06 07:52] bclozel commented on #12951
@philwebb Maybe #13766 ?

[2018-09-06 08:05] snicoll commented on #14314
This format is a Spring Framework 5.1 (and therefore a Spring Boot 2.1 feature).

[2018-09-06 08:05] #14314 closed

[2018-09-06 08:08] tgirard12 commented on #14295
Thanks for the quick reply and creating this issue, it fixed my problem.

[2018-09-06 08:13] bclozel commented on #14315
I think this looks like a duplicate of [SPR-17193](https://jira.spring.io/browse/SPR-17193).

@voychris could you take a look at that other issue and let us know? Rossen added a comment with a possible workaround there.

[2018-09-06 08:35] WilliamShoww commented on #14316
@wilkinsona  Thank you very much. It's OK

[2018-09-06 08:46] snicoll commented on #14317
I got confused myself but the check is proper. If you set authorization or host/port, you can't set the URL. There are unit tests that are covering this scenario.

Rather than analysing what the problem in our code could be, please share details about your setup. A sample project we can run ourselves would be ideal.

[2018-09-06 09:36] voychris commented on #14315
I think you're right, @bclozel. Following Rossen's advice and disabling `USE_THREAD_LOCAL_FOR_BUFFER_RECYCLING` did help:

[code]
What's interesting, though, is that I've observed the same (garbled) behaviour with Gson.

[2018-09-06 09:46] snicoll commented on #13957
This is not as easy as it sounds. There are exclusions that we apply "locally" due to dependencies inconsistency. For instance [this exclusion](https://github.com/spring-projects/spring-boot/blob/0e725543d5e82225601347104b71c5ccb444a551/spring-boot-project/spring-boot-actuator-autoconfigure/pom.xml#L340-L347)) that may be outdated.

We also apply exclude for things that come from a 3rd party bom t

[2018-09-06 10:15] snicoll opened #14319 "management.metrics.binders.integration.enabled is not used anymore"
Looks like a dead property

[2018-09-06 10:18] #14319 closed

[2018-09-06 10:54] RokaFogtaCsukaFarka commented on #6199
If asked on Hibernate forum, can you disclose a link to that. Thx!

[2018-09-06 11:43] #14316 closed

[2018-09-06 11:47] wilkinsona commented on #14292
It's curious that this line is logged twice:

[code]

Any idea why that happens?

I'm also not sure how useful it is that the entire response body is logged. It's a bit overwhelming in this case and I imagine that it will be in others where the body isn't small.

[2018-09-06 12:12] #1176 closed

[2018-09-06 12:31] snicoll opened #14320 "Stop disabling export auto-configuration when related enable flag is disabled"
Relates to #13408

We also have one `enabled` flag per monitoring system we support. This one is different as there is a direct counter part in micrometer itself.

Right now, we back-off if the flag is set to `false` which means that we never effectively set the Micrometer flag to `false` (we just don't auto-configure anything). Given the scope of this flag, we should probably remove the condition

[2018-09-06 12:51] bclozel commented on #14315
Thanks for checking, I'm now closing this is a duplicate of [SPR-17193](https://jira.spring.io/browse/SPR-17193).

I don't understand your note about Gson, since Spring WebFlux doesn't support Gson as an Encoder right now. Did you implement it yourself?

[2018-09-06 12:51] #14315 closed

[2018-09-06 13:09] #13408 closed

[2018-09-06 13:18] eduardocintra opened #14321 "Spring Boot Actuator error 406 Not Acceptable"
I'm trying to use spring-boot-admin and I was get a error saying that my application is "down", then I began a search about this and discovered that Spring-boot-admin uses the actuator to get some informations about the application, then I trying to acess the URL http://localhost:8084/actuator and always I get the errror "type=Not Acceptable, status=406".

![err](https://user-images.githubusercont

[2018-09-06 13:19] snicoll opened #14322 "Upgrade to Reactor Bom Bismuth-SR11"

[2018-09-06 13:34] snicoll commented on #14321
@eduardocintra it's a bit unclear what's going on (especially the 406 in the browser) but Spring Boot Admin is not managed here, see https://github.com/codecentric/spring-boot-admin

[2018-09-06 13:34] #14321 closed

[2018-09-06 13:40] snicoll opened #14323 "Upgrade to Reactor Californium-RC1"

[2018-09-06 13:40] snicoll opened #14324 "Upgrade to Spring Framework 5.1.0.RC3"

[2018-09-06 13:41] snicoll opened #14325 "Upgrade to Spring Framework 5.0.9"

[2018-09-06 13:41] snicoll opened #14326 "Upgrade to Spring Framework 4.3.19"

[2018-09-06 13:43] snicoll opened #14327 "Upgrade to Spring Amqp 1.7.10"

[2018-09-06 13:46] snicoll opened #14328 "Upgrade to Spring Data Kay SR10"

[2018-09-06 13:47] snicoll opened #14329 "Upgrade to Spring Data Ingalls SR15"

[2018-09-06 13:48] snicoll opened #14330 "Upgrade to Spring Integration 5.0.8"

[2018-09-06 13:48] snicoll opened #14331 "Upgrade to Spring Kafka 2.2.0.M3"

[2018-09-06 13:49] snicoll opened #14332 "Upgrade to Spring Session Apple-SR5"

[2018-09-06 13:49] snicoll opened #14333 "Upgrade to Spring Session Bean-M3"

[2018-09-06 13:50] kiansoung opened #14334 "In some cases, @ConfigurationProperties may not work"
This problem has been bothering me for a long time, and I have found many websites that have not been resolved. I don't know if this is a problem.

I wanted to configure a data source with the following code:
[code]

If I use the above code, MybatisConfigProperties is not injected with the property successfully!

Please don't doubt, there is no task problem in my properties file, it has the corres

[2018-09-06 13:55] snicoll commented on #14334
I see no difference between the first and the second example and no explanation as how we could reproduce the problem concretely. Can you share a sample that we can run ourselves that demonstrates the problem you are experiencing?

[2018-09-06 13:56] snicoll opened #14335 "Upgrade to Spring Batch 4.1.0.RC1"

[2018-09-06 14:26] philwebb opened #14336 "Migrate from ExpectedException rule to AssertJ"
We should consider migrating from `@ExpectedException` to [AssertJ](http://joel-costigliola.github.io/assertj/assertj-core-features-highlight.html#exception-assertion). This will help if/when we upgrade to JUnit 5.

[2018-09-06 15:02] sothawo commented on #9882
is this still an issue after dsu's merge?

[2018-09-06 15:16] wilkinsona commented on #9882
@sothawo Nothing was merged into this repository. A GitHub glitch allowed a merge in su's fork to close this issue. The issue was then re-opened. It remains open today, so, yes, it's still an issue. There's an outstanding pull request (#11125) from dsu that we hope to merge before 2.1 is released.

[2018-09-06 16:10] wilkinsona commented on #13821
To keep the scope management, let's narrow this back down to focus on server properties. We can open separate issues for other areas of the codebase.

[2018-09-06 16:11] garyrussell commented on #14122
The default should remain `true` IMHO.

[2018-09-06 16:21] andysworkshop opened #14337 "Is excluding log4j-to-slf4j possible?"
We've run into an issue with logging dependencies while upgrading from spring-boot 1.x to 2.x. The problem is the [hardcoded dependency](https://github.com/spring-projects/spring-boot/blob/v2.1.0.M2/spring-boot-project/spring-boot-starters/spring-boot-starter-logging/pom.xml#L23) on log4j-to-slf4j in spring-boot-starter-logging,

We have an ancient but absolutely critical 3rd party jar that requir

[2018-09-06 16:25] #14337 closed, assigned to nobody

[2018-09-06 16:50] bclozel opened #14338 "Configure memory leak detection for Netty"
We should add a property for configuring the level of leak detection with Netty.

This can be done statically, has obviously a performance cost, but is really useful if an application is dealing with `DataBuffer` instances or extensive customizations on the Netty engine.

This applies to both server and client use cases, and Netty offers an API for that:

[code]

We could also consider enabling th

[2018-09-06 19:12] electricsam opened #14340 "Spring Boot 2.0.4: Spring Data Web configuration throws ClassNotFoundException when Jackson is not on the classpath"
I am using Spring Boot 2.0.4 and have a requirement that Jackson cannot be included in a project that I am working on.  I am using Gson as my JSON library.  To enable it, I have done the following:

- Added gson as a dependency to my project
[code]
- Set the following property
```spring.http.converters.preferred-json-mapper=gson```

- Excluded the spring-boot-starter-json dependency to prevent add

[2018-09-06 21:38] mbhave commented on #12935
Adding `for: team-attention` to see if this makes sense.

[2018-09-06 21:54] mbhave commented on #13292
We have [some tests](https://github.com/spring-projects/spring-boot/blob/master/spring-boot-project/spring-boot-autoconfigure/src/test/java/org/springframework/boot/autoconfigure/web/servlet/WebMvcPropertiesTests.java#L42) that rely on this behavior at the moment. I'm not quite sure what we want to allow for `spring.mvc.servlet.path`.

[2018-09-06 22:52] mbhave commented on #14122
Closing in favor of PR #14252.

[2018-09-06 22:52] #14122 closed

[2018-09-07 01:49] douglyuckling commented on #14306
Finally got around to filing the bug on the Tomcat tracker: https://bz.apache.org/bugzilla/show_bug.cgi?id=62687

[2018-09-07 03:56] lovekobe24 opened #14341 "code modified must be through maven install to effect when use springboot2.0.4"
when i use springboot1.5.6 ,I modified some code ,then run the application,the code changed effected.  But  when i changed springboot to 2.0.4,I must use mave install first,and then run the application.the changed effect.for example:

[code]
console can output :22222222
when i change to

[code]
then I run the application ,console also output :22222222.
if I excute maven install command.then run th

[2018-09-07 06:43] wilkinsona commented on #14341
Thanks for the report, but it's not clear what may be happening from your description. There must be more pieces involved for a code change to have an effect. Where are you making the change? In your IDE or somewhere else? What do you expect to compile those changes into .class files? And, lastly, how are you running the application which you expect to pick up the changes?

[2018-09-07 06:50] wilkinsona commented on #14340
It's surprising (to me anyway) that this fails when introspecting `org.springframework.data.web.config.SpringDataWebConfiguration` due to `ObjectMapper` not being on the classpath. `ObjectMapper` doesn't appear in the signature of the class, and its use is protected by `isPresent` checks: https://github.com/spring-projects/spring-data-commons/blob/b52e3438f9bd0ce130fa1a8a646e8bad0a4d8c13/src/main/

[2018-09-07 07:08] #14323 closed

[2018-09-07 07:34] wilkinsona commented on #14340
I'd missed the use of a lambda that produces an `ObjectMapper`:

[code]

I'm pretty sure it's this that results in `ObjectMapper` appearing in the signature of `SpringDataWebConfiguration` due to the code that the compiler generates for the lambda.

This looks like a bug in Spring Data Commons to me.

[2018-09-07 07:45] #14322 closed

[2018-09-07 07:52] wilkinsona commented on #14340
It works if `SpringDataWebConfiguration` is patched to use a reference to the `ObjectMapper` constructor (`ObjectMapper::new`) rather than its own lambda.

[2018-09-07 07:57] snicoll commented on #14259
The proper version seems to be `4.8.0`

[2018-09-07 08:00] wilkinsona commented on #14340
@electricsam Thank you for bringing the problem to our attention. I've opened https://jira.spring.io/browse/DATACMNS-1386 so that this can be fixed in Spring Data Commons. We'll pick up any fix in due course when we upgrade to Spring Data Kay SR10.

[2018-09-07 08:00] #14340 closed

[2018-09-07 08:08] ivange94 commented on #14336
Hi @philwebb I'm new here and would love to tackle this. Just so I'm clear, this issue involves modify all test that use @ExpectedException to a corresponding AssertJ alternative right? That is, this has no effect on the way users will interact with the framework right?

[2018-09-07 08:15] #14259 closed

[2018-09-07 08:17] snicoll commented on #14336
@ivange94 thank you very much for offering to help. You are correct, the purpose here is to remove our use of `ExpectedException` in benefit of the `AssertJ` equivalent.

[2018-09-07 08:31] wilkinsona commented on #14292
Thanks, Rossen. Is there an SPR issue for that, or should we open one?

[2018-09-07 08:43] dsyer commented on #14121
It's real, and the microbenchmark is really just to show how bad it is if you zoom in on it. We spend a lot of time, relative to the benefit (IMO) doing metadata construction in `Binder` during startup. I don't have an accurate figure, and it's hard to measure (hence the microbenchmark), but it's probably as much as 10%.

However, if we are talking about priorities, I would say that it is better t

[2018-09-07 08:57] abelsromero opened #14342 "Split autoconfiguration features (e.g. ConditionalOnProperty) in an independent module"
_v 1.5.2_
We are building some custom modules following spring-boot conventions like:
* Provide `@EnableXXX` annotations with nice defaults.
* Use predefined property keys for configuration.
* Provide `enabled` flags in properties to disable certain components.

But to use things like `@ConditionalOnProperty(value = "my.feature.enabled", havingValue = "true")` we need to import `spring-boot-autoco

[2018-09-07 09:02] wilkinsona commented on #14342
This is a duplicate of https://github.com/spring-projects/spring-boot/issues/10628. Please comment on that issue if you would like use to reconsider.

[2018-09-07 09:02] #14342 closed

[2018-09-07 09:20] snicoll opened #14343 "Add reference to third party rollbar starter"
There was a request to add this feature in Spring boot in #14248 which was declined and it's now available as a third party starter that we should add to our list.

[2018-09-07 09:42] walec51 commented on #8178
I use spring boot 2

[code]

I get this in my tests

[code]

when I uncomment this it works

[2018-09-07 10:08] walec51 opened #14344 "@Converter(autoApply = true) causes integrations tests to fail on context refreash"
I have a JPA AttributeConverter

[code]

the application works ok in bootRun

but in integrations tests using `@SpringBootTest` during the first contexts refresh String tries to register the converter again in JPA which causes and exception

[code]

[2018-09-07 10:13] kuldeepsidhu88 commented on #14343
@snicoll Can I pick this one? Is there any other change required apart from the documentation for this?

[2018-09-07 11:55] snicoll commented on #13821
This change unfortunately breaks the Tomcat 7 support in a very subtle way. `redirectContextRoot` has now a default value, which means that we're going to invoke the customizer no matter what and that method is not available on Tomcat 7.

[2018-09-07 12:50] #14343 closed

[2018-09-07 13:01] snicoll opened #14345 "Migrate size properties to DataSize"
We have some properties that represents a size (usually in bytes). Now #13821 is done we should migrate them to `DataSize` so that we get proper IDE support.

[2018-09-07 13:47] rstoyanchev commented on #14292
Yes please, create one.

[2018-09-07 14:00] #14324 closed

[2018-09-07 14:06] wilkinsona commented on #14292
I've opened https://jira.spring.io/browse/SPR-17254.

[2018-09-07 14:43] #14325 closed

[2018-09-07 15:11] davidkarlsen opened #14346 "Support Prometheus Pushgateway"
It would be nice to bring the Prometheus push-gateway functionality that was implemented in micrometer-legacy into spring boot 2.x. See
* https://github.com/micrometer-metrics/micrometer/pull/394
* https://github.com/micrometer-metrics/micrometer/issues/830
* https://stackoverflow.com/questions/49779684/how-to-export-metrics-to-prometheus-via-pushgateway-using-spring-boot-2-0

The push-gateway is

[2018-09-07 15:26] #5334 closed

[2018-09-07 15:27] philwebb commented on #5396
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2018-09-07 15:27] #5396 closed

[2018-09-07 15:28] philwebb commented on #5419
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2018-09-07 15:28] #5419 closed

[2018-09-07 15:32] jhoeller commented on #14279
For the default persistence unit case, we have no `persistence.xml` file to derive a root URL from which is why we're relying on the default root URL (which is the classpath root by default but can be configured through the `defaultPersistenceUnitRootLocation` property). The question is: Which root URL should we expose to the persistence provider instead? The first of the packages to scan? The fir

[2018-09-07 15:39] philwebb commented on #5545
/cc @rstoyanchev in case there's anything additional that we can do with the logging improvements for 404s

[2018-09-07 15:45] wilkinsona commented on #5574
To be sure that any error handling is working fully, it's necessary to involve the servlet container in that testing as it's responsible for error page registration etc. Even if MockMvc itself or a Boot enhancement to MockMvc allowed forwarding to an error page, you'd be testing the testing infrastructure not the real-world scenario that you're actually interested in.

Our recommendation for tests

[2018-09-07 15:45] #5574 closed

[2018-09-07 15:50] philwebb commented on #5729
Closing in favor of the Framework Issue.

[2018-09-07 15:50] #5729 closed

[2018-09-07 15:54] philwebb commented on #5774
We're cleaning out the issue tracker and closing issues that we've not seen much demand to fix. Feel free to comment with additional justifications if you feel that this one should not have been closed.

[2018-09-07 15:54] #5774 closed

[2018-09-07 15:56] philwebb commented on #5804
`ApplicationTemp` and `ApplicationHome` moved to `org.springframework.boot.system` in 2.0.

[2018-09-07 15:56] #5804 closed

[2018-09-07 15:57] #5841 closed

[2018-09-07 15:57] philwebb commented on #5841
I think we've fixed this.

[2018-09-07 15:58] ayudovin commented on #14263
Does it mean that
 `@Configuration`
 `@EnableWebFluxSecurity`
 `static class EnableWebFluxSecurityConfiguration {}`
also should be located in `ReactiveSecurityAutoConfiguration` ?

[2018-09-07 16:45] snicoll commented on #14263
@ayudovin You are correct. Madhura and I just discussed this one and I think we have this covered. I am assigning Madhura so that work is not duplicated.

[2018-09-07 16:48] ayudovin commented on #14263
@snicoll, ok, som in this case i won't fix this bug.

[2018-09-07 16:49] snicoll opened #14347 "Use deterministic order for configuration properties metadata"
Rather than writing the metadata in a non deterministic order, it would be preferable to write it in such a way that entries are ordered alphabetically.

Some tools use a find first matching strategy. As such, pushing deprecated items to the bottom would be a cheap way to make sure they consider deprecated items last.

[2018-09-07 17:04] mbhave commented on #12935
yeah I agree. I'll decline this one.

[2018-09-07 17:04] #12935 closed

[2018-09-07 17:30] erikgreif-acc commented on #2652
Real-world example here:

Some services have requirements to respond within a given time limit. This time limit may be set by an external organization, not always under the control of the devs. This kind of timeout gets interpreted as a DOWN state, wakes devs up in the middle of the night, reboots service instances, and all the while provides no context as to which component was experiencing high

[2018-09-07 17:36] johnchen1993 opened #14348 "BasicJsonParser fail to parse a value with an escaped double quote"
version: spring-boot-2.0.4.RELEASE.jar

Test code:

[code]

Test result:

`{"title": "\"hello , test"}`

[code]

in the debug of Eclipse:

BasicJsonParser.java

[code]
the tokenize() returns is:

`"title": "\"hello `
and
` test"`

[2018-09-07 17:38] johnchen1993 commented on #14348
{"title": "\"hello , test"}

[2018-09-07 18:19] darkstone opened #14349 "Spring MVC/Rest converting JSON to a simple kotlin data classes is not working."
I used a simple demo project created with the spring initializer, and created a data class:

[code]

When running a unit test with JSON it Jackson is able to deserialise it as expected.  But running it via the MVC controller/framework,  I get a beautiful error message,  (but still no idea how to fix this):

[code]

The demo project can be accessed on  [Gitlab](https://gitlab.com/eko360-pub/weird-k

[2018-09-07 18:40] #14263 closed

[2018-09-07 21:43] rwinch opened #14350 "Create InMemoryReactiveClientRegistrationRepository in web-application-type=none"
Currently Spring Boot only creates `InMemoryReactiveClientRegistrationRepository` in web applications. However, it is quite likely that users will want to leverage this with non web applications (i.e. a CLI tool).

It would be nice if `InMemoryReactiveClientRegistrationRepository` would be created for non web applications too.

[2018-09-07 21:56] rwinch opened #14351 "Autoconfiguration for WebClient + OAuth2 + WebFlux"
It would be nice if we could simplify the configuration for WebClient + OAuth2 + WebFlux. For example, a user must do this right now:

[code]

It would be nice if Spring Boot could auto configure this if there is a `ReactiveClientRegistrationRepository` and `ServerOAuth2AuthorizedClientRepository` bean available and it is NOT a servlet environment (this includes web applications that are of type n

[2018-09-07 21:58] rwinch opened #14352 "Autoconfiguration for WebClient and OAuth2"
It would be nice if we could simplify the configuration for WebClient + OAuth2 + Servlet. For example, a user must do this right now:

[code]

It would be nice if Spring Boot could auto configure this if there is a ClientRegistrationRepository and OAuth2AuthorizedClientRepository bean available and it is a servlet environment

-----

Description from #14351:

It would be nice if we could simplify

[2018-09-07 22:04] ivange94 commented on #14336
When I build a fresh clone with **./mvnw clean install** I get a test failure

[code]

And when I try running the tests from the IDE (InteliJ Idea) I get

`Error:java: Bad service configuration file, or exception thrown while constructing Processor object: javax.annotation.processing.Processor: Provider org.springframework.boot.configurationprocessor.ConfigurationMetadataAnnotationProcessor not fo

[2018-09-07 22:04] mbhave commented on #14350
We also need to create a `ServerOAuth2AuthorizedClientRepository` bean.

[2018-09-07 22:34] philwebb commented on #14336
@ivange94 What operating system do you use?

[2018-09-07 22:37] philwebb commented on #14349
Thanks for getting in touch, but it feels like this is a question that would be better suited to [Stack Overflow](http://stackoverflow.com/). As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. Feel free to update this issue with a link to

[2018-09-07 22:37] #14349 closed

[2018-09-07 23:02] ivange94 commented on #14336
@philwebb macOS Sierra (10.12.6)

[2018-09-07 23:04] philwebb commented on #14348
The `BasicJsonParser` is quite limited so I'm not surprised that there are edge cases like this that don't work. We'll see what we can do to fix this but until then you should consider adding Jackson or GSON to your project.

[2018-09-07 23:07] philwebb commented on #14336
@ivange94 That should work find. What does `java -version` and `echo $JAVA_HOME` show?

[2018-09-08 00:11] ivange94 commented on #14336
java -version shows

[code]

JAVA_HOME is not set.

[2018-09-08 00:14] philwebb commented on #14336
@ivange94 I'm at a bit of a loss. You can try setting a `JAVA_HOME` but I don't think it will fix the test failure you're seeing. I'm not really sure what to suggest at this point.

[2018-09-08 01:14] ivange94 commented on #14336
@philwebb it didn't.

[2018-09-08 04:08] johnchen1993 commented on #14348
Jackson it's good.

seems you guys already knew what might happen, instead there has not `warn ` or `@Deprecated`.

not realize that we have some difference understanding at the words like 'limitations' and 'basic' until this bug shows up. LOL.

[2018-09-08 04:44] snicoll commented on #14352
Do you mean exposing a `WebClient` bean? We've done that in the past with `RestTemplate` and it turned out to be quite a bad idea (that's where the builder idea comes from).

Or perhaps you have some kind of dedicated builder in mind?

[2018-09-08 04:45] snicoll commented on #14351
Thanks but we don't need two separate issues for this. This is about the same thing in the two web environments we support.

[2018-09-08 04:45] #14351 closed

[2018-09-08 04:50] snicoll commented on #14336
@ivange94 perhaps you could join us on Gitter and we can try to figure out what's going on on your box?

[2018-09-08 06:30] voychris commented on #14315
My bad @bclozel. I haven't properly swapped Jackson out so that note was not true.

[2018-09-08 07:49] logemann commented on #8772
that would be nice to know. I have a working example with loading files via:
-Dloader.path=file:/my.jar
but i am unable to add a whole folder to search for jar files like:
-Dloader.path=file:/myfolder/

[2018-09-08 08:33] ivange94 commented on #14336
@snicoll that sounds great. Didn't know there was a gitter channel. How can I join please?

[2018-09-08 12:35] ayudovin commented on #13632
Does it make sense to add secure flag to `@WebFluxTest` and `@AutoConfigureWebTestClient` like in `@AutoConfigureMockMvc` because now secure flag is deprecated in this annotation ?

[2018-09-08 13:59] ivange94 commented on #14336
@snicoll found the channel. We'll continue the discussion there.

[2018-09-09 09:13] ayudovin commented on #3328
@wilkinsona, Should new property `uri` be added in `RabbitProperties` ?

[2018-09-09 10:16] dsyer opened #14355 "Cannot override spring.version in spring-boot-starter-parent pom with a property"
It used to be possible to define `spring.version` and override the version used in an app that has the `spring-boot-starter-parent`. It's not working now, e.g. with Spring Boot 2.1.0.BUILD-SNAPSHOT you always get `spring-core` 5.1.0.RC3. Possibly because of the usage of `flatten-maven-plugin` in `spring-boot-parent`?

[2018-09-09 12:13] snicoll commented on #14355
I did test the introduction of `spring-framwork.version` and made sure it was properly aliasing the previous property. Unfortunately I forgot about the flatten plugin and I hope there is a way to configure it so that it keeps the current aliasing.

[2018-09-09 14:43] dsyer commented on #14355
I see. So there is a new property `spring-framework.version` which I was unaware of. I tried using that instead and it seems to work the same way the old `spring.version` used to. Maybe if we put a comment in the `spring-boot-dependencies` pom saying that it is deprecated or something that would be clearer?

[2018-09-09 15:53] dsyer opened #14356 "Add auto-configuration related components index metadata"
I thought for some reason they were already there, but I must have dreamt it, or tried it in a branch and deleted it, because I can't see them now. They wouldn't be used in a regular Spring Boot app with `@EnableAutoConfiguration` but there might be other applications so it would be a courtesy to include them in the regular published jars (e.g. I wanted a `ConfigurationClassPostProcessor` that ign

[2018-09-09 21:17] ivange94 commented on #14336
There are more than a thousand usage of ExpectedException in the codebase. Do I refactor the whole code base before submitting a PR or can I submit small PRs? I've already finished refactoring the spring-boot subproject inside spring-boot-project and this is already 66 files modified with 425 additions and 855 deletions.

I still have more than 12 subprojects to refactor.

[2018-09-10 06:17] bclozel commented on #14349
@darkstone We've had many issues like this and most of them were questions - this does sound like a typo or a setup error. Could you ask that question on StackOverflow, as Phil suggested, and report back here with a link? Thanks.

[2018-09-10 06:46] wilkinsona commented on #14355
Apparently not as Stephane [already did that](https://github.com/spring-projects/spring-boot/blob/67d543c64cd79734a9d27d9a086d099e0c364648/spring-boot-project/spring-boot-dependencies/pom.xml#L159-L160).

I think we can fix this by using `keep` for `<properties>` when the pom is flattened but some experimentation is needed.

[2018-09-10 06:47] wilkinsona commented on #12544
The flatten plugin breaks the property aliasing so this either needs to be fine-tuned or reverted.

[2018-09-10 06:48] wilkinsona commented on #14355
I've reopened #12544 to fine tune or revert the change as needed.

[2018-09-10 06:48] #14355 closed

[2018-09-10 07:21] wilkinsona opened #14357 "Upgrade to Rabbit Amqp Client 4.8.1"

[2018-09-10 07:21] wilkinsona opened #14358 "Upgrade to Git Commit Id Plugin 2.2.5"

[2018-09-10 07:26] wilkinsona opened #14359 "Upgrade to Mysql 5.1.47"

[2018-09-10 07:26] wilkinsona opened #14360 "Upgrade to Httpasyncclient 4.1.4"

[2018-09-10 07:26] wilkinsona opened #14361 "Upgrade to Tomcat 8.5.33"

[2018-09-10 07:26] wilkinsona opened #14362 "Upgrade to Jetty 9.4.12.v20180830"

[2018-09-10 07:41] #14357 closed

[2018-09-10 07:41] #14358 closed

[2018-09-10 07:41] #14359 closed

[2018-09-10 07:41] #14360 closed

[2018-09-10 07:41] #14361 closed

[2018-09-10 07:41] #14362 closed

[2018-09-10 07:45] wilkinsona opened #14363 "Upgrade to Javax Mail 1.6.2"

[2018-09-10 07:45] wilkinsona opened #14364 "Upgrade to Netty 4.1.29.Final"

[2018-09-10 07:46] wilkinsona opened #14365 "Upgrade to Activemq 5.15.6"

[2018-09-10 07:46] wilkinsona opened #14366 "Upgrade to Johnzon Jsonb 1.1.9"

[2018-09-10 07:46] wilkinsona opened #14367 "Upgrade to Janino 3.0.9"

[2018-09-10 07:46] wilkinsona opened #14368 "Upgrade to Elasticsearch 5.6.11"

[2018-09-10 07:46] wilkinsona opened #14369 "Upgrade to Jaybird 3.0.5"

[2018-09-10 07:46] wilkinsona opened #14370 "Upgrade to Jetty El 8.5.33"

[2018-09-10 07:46] wilkinsona opened #14371 "Upgrade to Postgresql 42.2.5"

[2018-09-10 07:46] wilkinsona opened #14372 "Upgrade to Spring Kafka 2.1.9.RELEASE"

[2018-09-10 07:51] #14363 closed

[2018-09-10 07:51] #14364 closed

[2018-09-10 07:51] #14365 closed

[2018-09-10 07:51] #14366 closed

[2018-09-10 07:51] #14367 closed

[2018-09-10 07:51] #14368 closed

[2018-09-10 07:51] #14369 closed

[2018-09-10 07:51] #14370 closed

[2018-09-10 07:51] #14371 closed

[2018-09-10 07:51] #14372 closed

[2018-09-10 07:56] wilkinsona opened #14373 "Upgrade to Couchbase Client 2.6.2"

[2018-09-10 07:56] wilkinsona opened #14374 "Upgrade to Cassandra Driver 3.6.0"

[2018-09-10 07:56] wilkinsona opened #14375 "Upgrade to Lettuce 5.1.0.RC1"

[2018-09-10 07:56] wilkinsona opened #14376 "Upgrade to Netty Tcnative 2.0.15.Final"

[2018-09-10 07:56] wilkinsona opened #14377 "Upgrade to Rxjava2 2.2.2"

[2018-09-10 07:56] wilkinsona opened #14378 "Upgrade to Byte Buddy 1.8.22"

[2018-09-10 07:56] wilkinsona opened #14379 "Upgrade to Artemis 2.6.3"

[2018-09-10 07:56] wilkinsona opened #14380 "Upgrade to Commons Lang3 3.8"

[2018-09-10 07:56] wilkinsona opened #14381 "Upgrade to Tomcat 9.0.11"

[2018-09-10 07:56] wilkinsona opened #14382 "Upgrade to Assertj 3.11.1"

[2018-09-10 07:56] wilkinsona opened #14383 "Upgrade to Ehcache3 3.6.0"

[2018-09-10 07:56] wilkinsona opened #14384 "Upgrade to Elasticsearch 6.4.0"

[2018-09-10 07:56] wilkinsona opened #14385 "Upgrade to Hibernate 5.3.6.Final"

[2018-09-10 07:56] wilkinsona opened #14386 "Upgrade to Infinispan 9.3.2.Final"

[2018-09-10 07:56] wilkinsona opened #14387 "Upgrade to Junit Jupiter 5.3.0"

[2018-09-10 07:56] wilkinsona opened #14388 "Upgrade to Mariadb 2.3.0"

[2018-09-10 07:56] wilkinsona opened #14389 "Upgrade to Mockito 2.22.0"

[2018-09-10 07:56] wilkinsona opened #14390 "Upgrade to Mongodb 3.8.1"

[2018-09-10 07:56] wilkinsona opened #14391 "Upgrade to Mongo Driver Reactivestreams 1.9.1"

[2018-09-10 07:56] wilkinsona opened #14392 "Upgrade to Xmlunit2 2.6.2"

[2018-09-10 07:56] wilkinsona opened #14393 "Upgrade to Versions Maven Plugin 2.7"

[2018-09-10 07:59] #14373 closed

[2018-09-10 07:59] #14374 closed

[2018-09-10 07:59] #14375 closed

[2018-09-10 07:59] #14376 closed

[2018-09-10 07:59] #14377 closed

[2018-09-10 07:59] #14378 closed

[2018-09-10 07:59] #14379 closed

[2018-09-10 07:59] #14380 closed

[2018-09-10 07:59] #14381 closed

[2018-09-10 07:59] #14382 closed

[2018-09-10 07:59] #14383 closed

[2018-09-10 07:59] #14384 closed

[2018-09-10 07:59] #14385 closed

[2018-09-10 07:59] #14386 closed

[2018-09-10 07:59] #14387 closed

[2018-09-10 07:59] #14388 closed

[2018-09-10 07:59] #14389 closed

[2018-09-10 07:59] #14390 closed

[2018-09-10 07:59] #14391 closed

[2018-09-10 07:59] #14392 closed

[2018-09-10 07:59] #14393 closed

[2018-09-10 08:15] wilkinsona commented on #3328
@ayudovin We've backed ourselves into a bit of a corner with Rabbit's configuration. We currently treat the addresses property in a somewhat similar way to how Rabbit treats a URI in that we parse various things out of it (although only from the first address when there's more than one), whereas Rabbit expects address to just be a host:port pair. RabbitProperties' addresses property should really

[2018-09-10 09:15] #14329 closed

[2018-09-10 09:15] wilkinsona opened #14394 "Upgrade to Spring Security 4.2.8.RELEASE"

[2018-09-10 09:29] bclozel commented on #14328
The SNAPSHOT upgrade done in d53839e is failing the build right now. It seems that it's related to the changes done in [DATACMNS-1174](https://jira.spring.io/browse/DATACMNS-1174).

@mp911de, I've created [a sample app with a Reactive MongoDB repository and a JPA repository](https://github.com/bclozel/strict-repos).  Starting that application fails with:

[code]

Reverting the Spring Data upgrade

[2018-09-10 09:33] fabriziocucci opened #14395 "Document whether it's a good/bad idea to run Spring Boot apps using the Maven/Gradle plugin in production"
I'll be honest, this is actually a question hidden inside a documentation enhancement.

In my defense, the only similar question I was able to find is [this](https://stackoverflow.com/questions/45425594/spring-boot-maven-plugin-spring-bootrun-and-production) but the answers are somewhat vague and incomplete. Also, they don't consider the Docker use case.

In the context of delivering a Spring Boot

[2018-09-10 09:42] mp911de commented on #14328
Thanks. Going to have a look.

[2018-09-10 09:48] mp911de commented on #14328
We added a check to Spring Data to fail if a reactive repository is not supported by a store module but didn't consider the ordering of checks. Right now, we reject repositories too early, before even checking whether a particular store module is able to implement the repository.

[2018-09-10 09:55] mp911de commented on #14328
I filed [DATACMNS-1389](https://jira.spring.io/browse/DATACMNS-1389) to fix the issue.

[2018-09-10 10:46] mp911de commented on #14328
The fix is in place. @bclozel Care to give the latest Kay snapshots a try?

[2018-09-10 11:03] bclozel commented on #14328
My repro project works now and the offending Spring Boot integration test is locally green. I've manually [started a new CI run](https://ci.spring.io/teams/spring-boot/pipelines/spring-boot-2.0.x/jobs/build/builds/466) as well.

Thanks @mp911de !

[2018-09-10 11:06] wilkinsona commented on #14395
It's a bad idea for reasons that aren't specific to Spring Boot, hence why we haven't made any mention of it in the documentation.

A few reasons off the top of my head:

- You'll waste memory in production due to Maven or Gradle being loaded. This may even require a second JVM depending on your build configuration.
- You'll, presumably, also need a mechanism for getting your application's source

[2018-09-10 12:39] walec51 commented on #13703
For Undertow this was required to make vaadin work with bootRun and that jar

[code]

[2018-09-10 12:59] fabriziocucci commented on #14395
Thanks for your prompt reply @wilkinsona !

Just throwing out a couple of thoughts as they come:

I agree. Although, maybe this could be just a _small_ price to pay for some applications?

The assumption I was making here is to have a Docker image containing the Spring Boot app as the final production artifact, which works pretty much the same for both cases. In the fat jar scenario, as part of th

[2018-09-10 13:09] markbigler opened #14396 "CloudServiceConnectors: Provide replacement for deprecated JedisConnectionFactory.setPoolConfig()"
Spring Boot: 2.0.4.RELEASE

If you create the RedisConnectionFactory via ServiceConnectionFactory

`RedisConnectionFactory redisConnectionFactory(String serviceId, PooledServiceConnectorConfig redisConnectionFactoryConfig);`

then it is currently not possible to set a detailed JedisPoolConfig.

Also the following config with an additional RedisConnectionFactoryConfig (documented in https://cloud.s

[2018-09-10 13:10] bclozel commented on #14395
I don't think we should add something here. It's not specific to our maven/gradle plugins, but to the fact that you'd be building the app in production. Same applies to raw Maven/Gradle/Ant.

I don't think our reference documentation should become a checklist for running JVM-based apps in production. We'd have to mention TLS certificates validation, running a patched JVM, not deserializing Java cl

[2018-09-10 14:02] wilkinsona commented on #14396
Thanks for the suggestions, but Spring Cloud Connectors are managed as a [separate project](https://github.com/spring-cloud/spring-cloud-connectors) I believe it's the logical place to implement any enhancements that may come from them.

[2018-09-10 14:02] #14396 closed

[2018-09-10 14:28] #14328 closed

[2018-09-10 15:02] Maze-fr opened #14398 "Spring Boot 2.1.0 M2 and JSP "error source level""
Hello,

I am currently upgrading from using `Spring Platform Athens-SR6` to `Spring Boot Starter Parent 2.1.0 M2` (preparing for Java 11).
I finished upgrading changing class names, libs, etc. and I proudly start my test application, and then...
[code]
I spent about a day to find the solution, after checking and changing Eclipse (Photon, in my case) compiler compliance level, trying to force compi

[2018-09-10 15:27] wilkinsona commented on #14398
Thanks for the analysis, but I think we need to take a step back and define the problem more precisely before we consider possible solutions.

By default, the JSP compiler will use 1.7 for both source and target. Given the errors that you are seeing it would appear that something has customised this to be 1.4 or even earlier. Perhaps you can provide a minimal sample that reproduces the behaviour t

[2018-09-10 15:32] wilkinsona commented on #13490
I think #13795 has (largely) taken care of this. If we need further changes, such as those proposed in #14399, I think it makes sense to do so in small, targeted issues and PRs.

[2018-09-10 15:32] #13490 closed

[2018-09-10 15:56] wilkinsona commented on #14336
Thanks for taking a look at this, @ivange94. Before going any further, we should settle on the syntax that we want to use. AssertJ offers two choices:

[code]

[code]

On first impressions, I think the second options reads better. Let's see what the rest of the team thinks so that we can hopefully reach agreement on which to use.

[2018-09-10 16:15] wilkinsona commented on #14334
`MapperScannerConfigurer` is a `BeanDefinitionRegistryPostProcessor` which is a special type of `BeanFactoryPostProcessor`. Bean post-processors are created very early in the application's lifecycle so that they can post-process all of the application's beans. The definition of your `MapperScannerConfigurer` bean depends on your `MyBatisConfigProperties` bean. The means that `MyBatisConfigProperti

[2018-09-10 16:15] #14334 closed

[2018-09-10 16:17] Maze-fr commented on #14398
Unfortunately, I can't provide a minimal test, as I work on a company framework based on Spring, that includes a lot of things, and so any of them could influence the result (who knows...).
I can try any piece of code or configuration change you want, or provide you my dependencies, but I can't "open" the code I'm working on.

As you talked about "something has customised this to be 1.4", it remin

[2018-09-10 16:29] mbhave commented on #14336
+1 for `assertThatExceptionOfType `. The javadoc also says it's more or less the same as `assertThatThrownBy ` but in a more natural way.

[2018-09-10 17:00] wilkinsona commented on #14398
Ok, I see what's happening now.

Tomcat 9 uses 1.8 as the default source level for JSPs. By adding a dependency on `querydsl-collections 4.2.1`, you end up with both `org.eclipse.jdt.core.compiler:ecj 4.3.1` and `org.eclipse.jdt:ecj 3.13.102` on the classpath. The ordering of these two dependencies is crucial. If the former is on the classpath first, it'll failure. If the latter is on the classpat

[2018-09-10 17:00] #14398 closed

[2018-09-10 17:03] philwebb commented on #14336
Same. I like `assertThatExceptionOfType`.

[2018-09-10 17:04] philwebb commented on #14336
I wonder if we can script the migration somehow? Perhaps we can use the AST transform support from Atomist.

[2018-09-10 17:11] philwebb commented on #14395
It's always a balance with the documentation to make sure we cover enough, but also don't overwhelm people with too much information. In this case I think it's better that we leave this out. The [Spring Boot with Docker guide](https://spring.io/guides/gs/spring-boot-docker/) suggests a regular fat jar, so I don't see why developers would assume using a build run plugin is a good idea. Perhaps the

[2018-09-10 17:11] #14395 closed

[2018-09-10 17:14] ivange94 commented on #14336
I also found assertThatExceptionOfType felt more natural and that's what I've been using.

[2018-09-10 17:29] philwebb commented on #14346
Closing in favor of PR #14353

[2018-09-10 17:29] #14346 closed

[2018-09-10 17:40] philwebb commented on #14349
@darkstone In your stackoverflow question please also include the steps needed to reproduce. I managed to run your sample but the tests work fine form me and the app starts. I guess a need to hit a specific URL with a specific payload? Adding the `curl` command in your stackoverlow question will help you get a response.

[2018-09-10 17:42] philwebb commented on #14356
Hopefully just a case of adding an annotation processor right?

[2018-09-10 17:46] philwebb commented on #14348
Not specifically, but there's obviously been a lot more investment in libraries like Jackson than we've been able to spend on `BasicJsonParser`, that's why I'm not surprised you've found the issue.

[2018-09-10 17:49] ivange94 commented on #14336
Automation sounds great but I'm not sure I know exactly what you mean by AST transform support. AssertJ authors created a migration script but the reason I didn't think of using it was because the script may end up changing a lot of stuffs instead of just the ExpectedException

[2018-09-10 18:07] philwebb commented on #14336
The [docs are a bit light](https://docs.atomist.com/developer/edit/#navigating-language-asts), and I've not played with it yet but Atomist has some clever features where it can edit files based on the code structure rather than raw text. AST stands for [abstract syntax tree](https://en.wikipedia.org/wiki/Abstract_syntax_tree), it basically means you can change things based on the parsed text, rath

[2018-09-10 18:09] FA-tvonmoll commented on #13822
In the meantime: is there a workaround? Excluding the security autoconfiguration in `@SpringBootTest` in addition to `secure = false` still resulted in `401` every time. Context here is an oauth2 resource server with security driven by `@EnableResourceServer`.

My apologies if this is included in one of the other closed tickets already. Thanks!

[code]

[2018-09-10 18:10] philwebb commented on #14336
@ivange94 I very much appreciate the offer of help, but this is potentially quite a large and time consuming change. Please carry on investigating if you have the time, but also feel free to take a look at the `ideal-for-contribution` status label if you want to start with something less challenging.

[2018-09-10 18:28] mbhave commented on #13822
@FA-tvonmoll The `secure` flag doesn't affect custom security. Instead of disabling security completely in your tests, you might want to look at using Spring Security's [test support](https://docs.spring.io/spring-security/site/docs/current/reference/html/test-method.html#test-method-withmockuser) to run your tests as an authenticated user. If you really want to disable security in tests, you can

[2018-09-10 18:31] levippaul commented on #14301
hey @wilkinsona, I just submitted [this PR](https://github.com/spring-projects/spring-boot/pull/14400) for the first pass at this; Looking forward to some feedbacks.

[2018-09-10 18:31] philwebb commented on #12033
Thanks @wimdeblauwe, I've added a link to your blog from [the migration guide](https://github.com/spring-projects/spring-boot/wiki/Spring-Boot-2.0-Migration-Guide#flyway).

[2018-09-10 18:36] ivange94 commented on #14336
@philwebb you're right, this is a time consuming change. It gets boring doing the same thing over and over again. I'll look at the label but will still continue working on this. If can get the script working fine else I'll do it manually.

[2018-09-10 18:43] levippaul commented on #14301
oops, looks like that previous PR had Checkstyle violations. Let me take care of those.

[2018-09-10 19:15] dsyer commented on #14356
Yes, that should do it.

[2018-09-10 19:15] #14327 closed

[2018-09-10 19:15] #14394 closed

[2018-09-10 19:19] wilkinsona opened #14401 "Upgrade to Spring Amqp 2.0.6.RELEASE"

[2018-09-10 19:19] wilkinsona opened #14402 "Upgrade to Spring Kafka 2.1.10.RELEASE"

[2018-09-10 19:19] wilkinsona opened #14403 "Upgrade to Spring Security 5.0.8.RELEASE"

[2018-09-10 19:21] #14401 closed, assigned to nobody

[2018-09-10 19:21] #14402 closed, assigned to nobody

[2018-09-10 19:21] #14403 closed, assigned to nobody

[2018-09-10 21:07] #14330 closed

[2018-09-10 21:14] mjegann5 opened #14404 "spring-boot-maven-plugin repackage not including dependancies"
The repackage is not including the dependent jars in the fat jar. I posted the question in stack overflow and no solution yet. Here is the link to the issue I am seeing:

https://stackoverflow.com/questions/52248400/spring-boot-maven-plugin-repackage-not-including-dependancies

I am posting it here to make sure you are aware of this problem, if it turns out to be an issue.

Thanks.

[2018-09-10 21:14] #14350 closed

[2018-09-10 21:50] spring-issuemaster commented on #14189
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-09-10 21:50] #14189 closed

[2018-09-10 21:56] mjegann5 commented on #14404
I did not see this issue in the earlier versions a month ago. But now it neither work in the older version nor in the latest version. If you can take couple of seconds and let me know your thoughts it will be great.
Thanks,
Jegan

[2018-09-10 22:49] philwebb commented on #14265
@JokerG This is probably because when the logging system is first start there is no active profile so the default `log.base` value is used and `/home/test/test.log` is written. Then the logging system is re-initialized once `application*.properties` files have been loaded and you get the second file.

Perhaps you can use console based logging by default and only active file logging if `log.file` i

[2018-09-10 22:49] #14265 closed

[2018-09-10 23:41] juanmbellini commented on #3413
I was able to use the executable feature with Jersey. The thing is that it seems that Jersey is not fully integrated with Spring when scanning packages in the spring boot jar (at least with Spring Boot 1.5.8.RELEASE, which includes Jersey 2.25.1; I haven't tested it with Spring Boot 2.0.x).

What I did was the following:

[code]
The jersey configuration class contains a method that uses the ```reg

[2018-09-11 01:36] rwinch commented on #14352
I can see how you wouldn't want to necessarily expose a `WebClient` bean. Would you consider exposing `ServerOAuth2AuthorizedClientExchangeFilterFunction` as a `Bean` so that users can automatically get all `ExchangeFilterFunction` when defining their `WebClient`?

[2018-09-11 01:47] rwinch commented on #14350
Thanks! I can confirm that this is working and improves the setup for those using a non-web application. You can find the diff after these changes here https://github.com/rwinch/webclientoauth2-cli/commit/ed86aed8f6d8de510b594cded5fb8832a66d2022

[2018-09-11 01:58] minorpoet commented on #1081
i meet this problem in  **springboot 2.0.4**

and add **management.health.rabbit.enables:false**  in  bootstrap.yml  works

[2018-09-11 06:44] wilkinsona opened #14405 "Upgrade to Tomcat 8.5.34"

[2018-09-11 06:47] #14405 closed

[2018-09-11 06:47] wilkinsona commented on #1081
@minorpoet Can you please open.a new issue with a small sample the reproduces the problem with Spring Boot 2.0.4?

[2018-09-11 07:06] Vity01 opened #14406 "Question: Why is Spring ignoring -Dlogback.configurationFile - not using it for logging.config as default?"
I still don't understand why Spring Boot is not using -Dlogback.configurationFile value as default value for logging.config . It simply ignores it.
There are multiple users facing this unusual behavior:
https://www.google.com/search?q=spring+ignores+logback.configurationFile+site:stackoverflow.com&client=firefox-b&sa=X&ved=2ahUKEwjN--bJsrLdAhXRKewKHalICakQrQIoBDAAegQIARAP&biw=2560&bih=1251

Can so

[2018-09-11 07:36] wilkinsona commented on #14406
As your link shows, this has already been [asked and answered](https://stackoverflow.com/a/21725915/1384297) on Stack Overflow. As mentioned in [the guidelines for contributing](https://github.com/spring-projects/spring-boot/blob/master/CONTRIBUTING.adoc#using-github-issues), we prefer to use GitHub issues only for bugs and enhancements. If you require further clarification, please ask a question

[2018-09-11 07:36] #14406 closed

[2018-09-11 07:42] Vity01 commented on #14406
I don't think there is a relevant answer. From one point of view this can be considered as a misleading behavior/ bug. I asked here because I wanted to read an answer directly from developers here.

[2018-09-11 07:52] shaopro commented on #14231
链接: https://pan.baidu.com/s/1XVJFsPedDK2LSA-mozFvIA 密码: i2y5

[2018-09-11 08:56] wilkinsona commented on #14231
Thanks for the sample but I have been unable to reproduce the problem with it. It seems to require Redis, Kafka, and Mongo but there are no instruction on how to set those up and I don't have time to figure it out from your code and configuration. Can you please provide a minimal sample (the smallest amount of code and configure required to reproduce the problem)?

[2018-09-11 09:01] toonborgers commented on #14075
@cppwfs I'd like to take a look at this. From some quick looking around in the code, I think the solution should be something similar to `org.springframework.boot.autoconfigure.batch.JobExecutionExitCodeGenerator`, but then with the configurable property as result code instead of using the ordinal of the `BatchStatus`, correct?

[2018-09-11 09:12] bclozel opened #14407 "Upgrade to Spring Security 5.1.0.RC2"

[2018-09-11 09:14] #14332 closed

[2018-09-11 09:42] #14333 closed

[2018-09-11 09:42] #14407 closed

[2018-09-11 11:41] #13798 closed

[2018-09-11 11:50] wilkinsona commented on #14066
@jkschneider Could you take a look at the comment [above] please?

[2018-09-11 12:54] jkschneider commented on #14066
I think if you eliminate summing altogether, you'll also inadvertently eliminate dimensional aggregation. The max is necessary for dimensional aggregation.

[2018-09-11 13:22] bclozel opened #14408 "Upgrade to Tomcat 9.0.12"

[2018-09-11 13:23] bclozel opened #14409 "Upgrade to Spring AMQP 2.1.0.M3"

[2018-09-11 13:25] #14408 closed, assigned to nobody

[2018-09-11 13:25] #14409 closed, assigned to nobody

[2018-09-11 13:35] radistao commented on #4424
So, is `@DirtiesContext` the only one possible solution now for the integration tests with the same context?

[2018-09-11 13:54] mickknutson commented on #12280
Can someone please suggest to me how and where I can open a ticket that seems the exact same issue, but this issue is with:

- Spring Boot 2.0.4 (and tested with 2.1.0.M2)
- Spring Batch 4
- Spring Web (and tested with webflux)
- H2 DB
- With batch config extending DefaultBatchConfigurer

I have tested this and it does not happen with HSQL nor Derby.
As soon as I move the dataSource configuration

[2018-09-11 14:13] wilkinsona commented on #12280
@mickknutson Thanks for asking. Let's start with a Boot issue. We can move to another project if that turns out to be necessary, but it sounds like some initial diagnosis at the Boot level will be needed at least. If/when you open an issue, please provide a minimal sample that reproduces the behaviour you've described.

[2018-09-11 15:03] douglyuckling commented on #14306
The Tomcat issue is fixed for 9.0.13 and 8.5.35. (See https://bz.apache.org/bugzilla/show_bug.cgi?id=62687#c1.)

[2018-09-11 15:11] esfomeado opened #14410 "SimpleXsdSchema - NullPointerException"
When creating a SimpleXsdSchema i get an NullPointerException.

    @Bean
    public DefaultWsdl11Definition defaultWsdl11Definition() throws Exception
    {
        SimpleXsdSchema userschema = new SimpleXsdSchema();

       ...
    }

Using spring-boot 2.0.4

[2018-09-11 15:17] wilkinsona commented on #14410
Thanks for the report, but `SimpleXsdSchema` is part of Spring Web Services. Its issue tracker is [here](https://jira.spring.io/projects/SWS).

The `toString()` of `SimpleXsdSchema` relies on its `schemeElement` having been initialised. This happens when `afterPropertiesSet()` is called as part of the standard bean lifecycle. If you call `toString()` before then, for example within your `@Bean` me

[2018-09-11 15:17] #14410 closed

[2018-09-11 15:17] wilkinsona commented on #14410
/cc @gregturn

[2018-09-11 15:28] rdifrango opened #14411 "Upgrade to plexus-archiver to 3.6.0"
Currently the `plexus-archiver` is at 2.8.1 which has the following know vulnerabilities:

* https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-1002200
* https://cwe.mitre.org/data/definitions/29.html
* https://snyk.io/vuln/SNYK-JAVA-ORGCODEHAUSPLEXUS-31680

The fix should simply be a matter of updating it to:

[code]

[2018-09-11 15:35] wilkinsona commented on #14411
Thanks for the report. We should upgrade anyway, but I don't think the vulnerabilities are of concern. The only archive that Spring Boot's Maven plugin reads the entries from is the jar archive for the user's application that's just been built.

[2018-09-11 16:17] philwebb commented on #7627
Looks like [1.1.1](https://issues.apache.org/jira/projects/MRESOLVER/versions/12341378) has been released.

[2018-09-11 16:35] michael-o commented on #7627
Anyhow I can help?

[2018-09-11 16:39] philwebb commented on #12649
Logback 1.3 is still in alpha so I think we should push this back to Spring Boot 2.2

[2018-09-11 17:07] fabriziocucci commented on #14395
Thanks everyone for your feedback! 👍

I've attached the link of this issue to the [StackOverflow question mentioned above](https://stackoverflow.com/questions/45425594/spring-boot-maven-plugin-spring-bootrun-and-production).

[2018-09-11 17:45] philwebb commented on #7627
@michael-o Thanks for the offer but I think we've got everything we need now.

[2018-09-11 18:06] philwebb opened #14412 "Refactor security auto-configuration package structure"
The current structure is a bit messed up. We could do with a `web` package in there somewhere.

[2018-09-11 18:11] jimlgx opened #14413 "When using Spring Data REST, spring.data.rest.* properties much be used rather than spring.data.web.pageable.* and spring.data.web.sort.*"
https://github.com/spring-projects/spring-boot/blob/ca0de4385c01cbbd120e96ec9f83427fb48c9a15/spring-boot-project/spring-boot-autoconfigure/src/main/java/org/springframework/boot/autoconfigure/data/web/SpringDataWebAutoConfiguration.java#L54

[2018-09-11 18:30] wilkinsona commented on #14413
Thanks for the report, but I'm not sure that your analysis is correct. The `PageableHandlerMethodArgumentResolverCustomizer` is consumed by `org.springframework.data.web.config.SpringDataWebConfiguration` which is imported via `@EnableSpringDataWebConfiguration` with which `SpringDataWebAutoConfiguration` is annotated. I'm not sure that `RepositoryRestMvcAutoConfiguration` is relevant. I may be wr

[2018-09-11 18:31] rdifrango commented on #14411
@wilkinsona thanks for the update, I figured as much just wanted to validate it.  I was planning on attempting to submit a PR to upgrade.

[2018-09-11 18:43] ivange94 commented on #14158
@philwebb is this issue only about changing this line

`binCopySpec.setFileMode(0x755);`

to

`binCopySpec.setFileMode(0755);`

[2018-09-11 18:59] philwebb commented on #14158
@ivange94 Pretty much. Also trying to add a test if we can.

[2018-09-11 19:04] wilkinsona opened #14414 "Upgrade to Spring Cloud Connectors 2.0.3.RELEASE"

[2018-09-11 19:06] wilkinsona opened #14415 "Upgrade to Infinispan 9.3.3.Final"

[2018-09-11 19:06] wilkinsona opened #14416 "Upgrade to Junit Jupiter 5.3.1"

[2018-09-11 19:07] #14414 closed

[2018-09-11 19:07] #14415 closed

[2018-09-11 19:07] #14416 closed

[2018-09-11 19:14] wilkinsona commented on #14158
@ivange94 Thanks for your interest in fixing this. I should have assigned this issue to myself as I already have a fix in progress. Sorry. My work in progress is [here](https://github.com/wilkinsona/spring-boot/tree/gh-14158).

[2018-09-11 19:20] wilkinsona opened #14417 "Test the Gradle plugin against Gradle 4.10"

[2018-09-11 19:27] jimlgx commented on #14413
I found it through debugging,In SpringDataWebConfiguration that
`private @Autowired Optional<PageableHandlerMethodArgumentResolverCustomizer> pageableResolverCustomizer;`
the value is null,No injection succeeds,I can write a unit test later

[2018-09-11 19:30] wilkinsona opened #14418 "Raise the minimum supported version of Gradle to 4.4"
Since 2.0.0, we've supported Gradle 4.x (that currently spans 4.0 - 4.10 inclusive). For Boot 2.1, I think we should consider raising the minimum supported version. 4.10 may be a bit extreme but somewhere near that version should hopefully be reasonable.

@eriwen If you have a moment, any suggestions you have for a reasonable minimum version to support would be much appreciated.

[2018-09-11 19:34] #14417 closed

[2018-09-11 19:40] wilkinsona commented on #14413
Thanks. Either a unit test or a small sample that reproduces the problem will give us what we need to make some progress on this one.

[2018-09-11 19:51] #14313 closed

[2018-09-11 19:53] mbhave commented on #14352
We could provide a `WebClientCustomizer` that adds the `ExchangeFilterFunction` to the builder if OAuth is present.

[2018-09-11 20:29] #13632 closed

[2018-09-11 20:47] philwebb commented on #14014
I'm wondering if we can close this issue now? @spencergibb Are you aware of any downstream projects that are still broken?

[2018-09-11 21:05] spencergibb commented on #14014
Not on the spring-cloud core side.

[2018-09-11 21:09] philwebb commented on #14014
I'm going to close this one then for now. If we find other project that have problems we can reopen it.

[2018-09-11 21:09] #14014 closed

[2018-09-11 21:29] #12148 closed

[2018-09-11 22:01] gregturn commented on #14410
Thanks @wilkinsona. I opened https://jira.spring.io/browse/SWS-1037 to track this.

[2018-09-11 22:05] philwebb opened #14421 "Add support for logging groups"
We fixed #14310 by backing out the devtools logging configuration but it would be nice to offer a way to switch on related logging items easily. In this specific case `org.springframework.web`, `org.springframework.core.codec` and `org.springframework.http`.

[2018-09-11 22:15] philwebb opened #14422 "Upgrade plexus-utils to 3.1.0"

[2018-09-12 00:02] philwebb commented on #7627
There's unfortunately still a Guava dependency, but it appears to be unnecessary. I've raise https://issues.apache.org/jira/browse/MNG-6475

[2018-09-12 00:04] #14148 closed

[2018-09-12 01:09] #14422 closed

[2018-09-12 01:09] #7627 closed

[2018-09-12 01:09] #14411 closed